.payment{
	float:left;
	width: 100%;
	margin-top:86px;
}

.thanks{
	float:left;
	width: 100%;
	margin-top:87px;
}

.three-step{
	float:left;
	width: 100%;
	background:#f1f1f1;
}

.three-step .mini{
	width: 990px;
	position:relative;
	margin:0px auto;
}

.three-step .one:nth-of-type(1){
	background:#ffffff;
}
.three-step .one:nth-of-type(2){
	background:#f8f8f8;
}

.three-step .mini > img{
	float:left;
	position:absolute;
	top:30px !important;
	left:20px !important;
}
.three-step .one{
	float:left;
	padding-top:30px;
	padding-bottom:30px;
	width: 33.3333333333%;
}
.three-step .one img{
	float:left;
	margin-left:20px;
}
.three-step .one p{
	float:left;
	padding-left:10px;
	padding-right:10px;
	margin-top:3px;
	padding-top:6px;
}

.three-step .one .arrow{
	padding-top:6px;
}

.left{
	float:left;
	width: 600px;
	margin-top:40px;
}



.left > h1{
	float:left;
	width: 100%;
	font-weight: bold;
	padding-bottom:10px;
	color:#5f5f5f;
}

.left > p{
	float:left;
	width: 100%;
	padding-bottom:20px;
}

.dep{
	float:left;
	padding-top:30px;
	width: 100%;
}

.dep .one{
	float:left;
	width: 100%;
	margin-top:20px;
}

.dep .one{
	font-size:14px;
	padding-left:5px;
}
.dep .one p a{
	color:#000000;
	font-size:14px;
}

.dep img{
	float:left;
	padding-right:4px;
}

.dep p{
	float:left;
}

.pro{
	float:left;
	padding-top:30px;
	width: 100%;
}

.pro p{
	line-height: 22px;
}

.pro a{
	float:right;
	display:block;
	margin-top:20px;
	text-decoration: none;
	color:#ffffff;
	background:#fa6125;
	padding:10px 20px 10px 20px;
}

.rightside{
	margin-top:40px;
	float:right;
	
	width: 299px;
	
}

.rightside > h1,.diseases > h1{
	float:left;
	width: 100%;
	padding-bottom:20px;
	line-height: 30px;
	font-weight: 500;
	font-size: 25px;
	color: #5f5f5f;
}

.rightside > p,.diseases > p{
	float:left;
	line-height:22px;
	width: 100%;

}

.rightside .slider{
	float:left;
	width: 100%;
	border-left:1px solid #d8d8d8;
	min-height: 447px;
	margin-top:20px;
	padding-left:10px;
}

.diseases{
	border-left:1px solid #d8d8d8;
	float:left;
	width: 100%;
	margin-top:165px;
	padding-left:10px;
	padding-bottom:50px;
	padding-top:50px;
}

.diseases .two{
	float:left;
}

.diseases .two h1{
	float:left;
	font-family: 'roboto';
	font-weight: 400;
}

.diseases .two  p{
	float:left;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size:16px;
	color:#4c4c4c;
}

.diseases .two p{
	width: 100%;
line-height: 20px;
}
.diseases .two  span{
	float:right;
	font-weight: 400;
	font-size:18px;
	color:#5f5e67;
	font-family: 'roboto';
	text-align: center;
	display:none;
}

.diseases .two .one{
	float: left;
	width: 100%;
	margin-bottom:10px;
	background:#e6e6e6;
	padding:7px;
}

.rightside .slider img{
	display:block;
	margin:0px auto;
	width: 250px;
	-webkit-border-radius: 250px;
	-moz-border-radius: 250px;
	border-radius: 250px;
}

.rightside .slider h1{
	float:left;
	width: 100%;
	padding-top:20px;
	color:#5f5f5f;
	font-family: 'Roboto';
	font-weight: 600;
	padding-bottom:10px;
	font-size:20px;
}

.rightside .slider p{
	float:left;
	width: 100%;
	padding-bottom:20px;
	font-family: 'Roboto';
	font-weight: 300;
	color:#5f5f5f;
	line-height: 22px;
}

.rightside .slider ul{
	float:left;
	width: 100%;
}

.rightside .slider ul li{
	float:left;
	padding-bottom:5px;
	font-size:18px;
	line-height: 22px;
	width: 100%;
	font-family: 'Roboto';
}


/* ADD QUESTION PANEL:; */



#dd{
	font-family: 'Roboto';
	float:left;
	width: 100%;
	background:#ffffff;
	border:1px solid #b6bac0;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:5%;
	color:#000;
	padding-right:5%;
	font-size:18px;
	  -webkit-transition: all .1s ease-in-out;
	  -moz-transition: all .1s ease-in-out;
	  -o-transition: all .1s ease-in-out;
	  transition: all .1s ease-in-out;
}

#dd span{
	font-size:17px;	
	font-family: 'roboto';
	color:#5f5f5f;
	font-weight: 400;
}

#dd a{
	color:#5f5f5f;
}

.dropdown li:hover a{
	color:white !important;
}

#dd:hover{
	box-shadow: 0 0 3px #2b4772;
	  -webkit-transition: all .1s ease-in-out;
	  -moz-transition: all .1s ease-in-out;
	  -o-transition: all .1s ease-in-out;
	  transition: all .1s ease-in-out;
}

.dropdown li{
	background:#f2f2f2;
	border-bottom:1px solid #bbbbbc;
}
.dropdown{
	z-index:5000;
}

.aq-wrap{
	float:left;
	width: 100%;
}

.aq-heading{
	float:left;
	width: 100%;
	height: 351px;
	background:url(../images/aq-heading.jpg) no-repeat center center;
}

.adq-ct #HeaderContainer{
	padding-top:12px;
}

.aq-heading .text-wrap{
	width: 990px;
	position:relative;
	overflow:hidden;
	margin:0px auto;
	height: 350px;
}

.aq-heading .text-wrap h1{
	float:left;
	font-size:56px;
	padding-bottom:15px;
	width: 340px;
	color:#294255;
	left:2370px;
	position:absolute;
	line-height: 58px;
	margin-top:46px;
	text-align: right;
	  -webkit-transition: all 1.5s ease-in-out;	
	  -moz-transition: all 1.5s ease-in-out;	
	  -o-transition: all 1.5s ease-in-out;	
	  transition: all 1.5s ease-in-out;	
}

.aq-heading .text-wrap img{
	float:left;
	position:absolute;
	  -webkit-transition: all 1s ease-out;
	  -moz-transition: all 1s ease-in-out;	
	  -o-transition: all 1s ease-in-out;	
	  transition: all 1s ease-in-out;	
	  left:-1000px;
	  top:0px;

}

.aq-heading .text-wrap h2{
	float:left;
	font-size:24px;
	text-align: right;
	color:#294255;

	margin-left:0px;
	display:none;
	left:650px;
	position:absolute;
	padding-bottom:15px;
	top:240px;
	width: 340px;
	  -webkit-transition: all 2s ease-out;
	  -moz-transition: all 2s ease-out;	
	  -o-transition: all 2s ease-out;
	  transition: all 2s ease-out;
}

.aq-heading .text-wrap p{
	float:left;
	font-size:16px;
	line-height: 20px;
	margin-left:0px;
}


.aq-heading .text-wrap a{
	font-size:16px;
	color:#155585;
	text-decoration: underline;
}

input { 
  -moz-user-select: auto !important;
}
::selection {
    background: #2b4772 !important;
    color:#ffffff;
}
.add-question select{
	-webkit-appearance: menulist-button;
	line-height: 50px;
}
.add-question .final-confirm{
	float:left;
	width: 100%;
	margin-bottom:30px;
}

.add-question .final-confirm > p{
	float:right;
	font-size:16px;
	color:#8d8d8d;
	padding-top:11px;
	margin-right:10px;
	padding-bottom:5px;
}

.add-question .final-confirm .conf{
	float:right;
	background:#fa6125;
	height: 36px;
	cursor:pointer;
}

.add-question .final-confirm .conf img{
	float:left;
	padding-left:13px;
	padding-top:5px;
	padding-right:5px;
	padding-bottom:5px;
	margin-top:5px;
	  -webkit-transition: all .2s ease-in-out;
	  -moz-transition: all .2s ease-in-out;
	  -o-transition: all .2s ease-in-out;
	  transition: all .2s ease-in-out;
}

.conf:hover img {
	margin-right:10px;
}


.add-question .final-confirm .conf p{
	float:left;
	font-size:16px;
	color:#8d8d8d;
	color:#ffffff;
	padding:10px 75px;	
	background:#f7931d;
	font-family: 'roboto';
	font-weight: 400;
	font-size:18px;

}
.add-question .final-confirm .conf p:hover{
	opacity:0.8;
}
.ask-from-doctor{
	float:left;
	width: 100%;
	padding-top:15px;
	padding-bottom:15px;
}

.ask-from-doctor h1{
	float:left;
	padding-left:10px;
	padding-top:5px;
	font-size:20px;
	line-height: 20px;
}
.ask-from-doctor input{
	margin-top:17px;
}
.ask-from-doctor h1 p{
	float:left;
	font-size:14px;
	line-height: 20px;
}
.doc-pad{
	border-bottom:1px solid #969697;
}

.add-question-wrap{
	width: 600px;
	float:left;

}

.wrap-take-picture{
	float:left;
	width: 100%;
}

.wrap-take-picture .take-picture{
	float:left;
	
}

.wrap-take-picture img{
	display:none;
}

.wrap-take-picture p{
	float:left;
	font-size:16px;
	color:#ffffff;
	padding-top:11px;
	padding-bottom:9px;
}

.wrap-take-picture div{
	background:#2b4772;
}

.wrap-take-picture .attach-files{
	float:left;
}

.tp,.af{
	float:left;
}

.tp{
}

.af{
	cursor:pointer;

}

.af p{
	padding:10px 20px;
	  -webkit-transition: all .1s ease-in-out;
	  -moz-transition: all .1s ease-in-out;
	  -o-transition: all .1s ease-in-out;
	  transition: all .1s ease-in-out;
}


.autocomplete-suggestion{
	padding-top:10px;
	padding-bottom:10px;
	width: 600px;
	line-height: 19px;
	font-size:16px;
	font-family: 'Roboto';
	background:#f2f2f2;
	border-bottom:1px solid #bbbbbc;
	padding-left:20px;
	cursor:pointer;
}

.autocomplete-suggestion:hover, .dropdown li a:hover{
	background:#2b4772;
	color:#fff;
	  -webkit-transition: all .1s ease-in-out;
	  -moz-transition: all .1s ease-in-out;
	  -o-transition: all .1s ease-in-out;
	  transition: all .1s ease-in-out;
}

.autocomplete-suggestions{
	float:left !important;
	width: 990px !important;

}

.add-question{
	float:left;
	width: 100%;
	background:#ffffff;
}

.add-question .single{
	float:left;
	width: 100%;
	padding-top:40px;
	padding-bottom:20px;
}

input{
	border:1px solid #b6bac0 !important;
}

.add-question .single span{
	float:left;
	display:block;
	color:#5f5f5f;
	font-size:26px;
	padding-right:10px;
	margin-right:10px;
	border-right:1px solid #000000;
	padding-top:2px;
	padding-bottom:2px;
	font-weight: 600;
	font-family: 'roboto';
}



.add-question .single h1,.popuplogin h1{
	font-size:22px;
	color:#5f5f5f;
	line-height: 24px;
	font-weight: 400;
	padding-top:4px;
	float:left;
}
.popuplogin h1{
	color:#ffffff;
}

.popuplogin{
	float:left;
	width: 100%;
	background:#2b4772 ;
	padding:20px;
	margin-top:20px;
	display:none;
	margin-bottom:20px;
}


.add-question > p,.popuplogin p{
	float:left;
	padding-top:35px;
	padding-bottom:10px;
	font-size:18px;
	line-height: 23px;
	color:#5f5f5f;

}
.popuplogin p{
	padding-top:0px !important;
		color:#ffffff;

	margin-top:5px;
}

.first-height{
	height: 140px;
}

.first-single{
	padding-bottom:5px !important;
}

.paddd{
	padding-left:35px;	
	padding-top:0px !important;
}
.dropdown li a{
	font-size:18px;
}

.f-b{
	float:left;
	width: 100%;
	margin-top:20px;
	margin-bottom:10px;
	position: relative;
	top: 43px;
	z-index: 100;
}

.f-b .wrap-labels{
	width: 400px;
	margin:0px auto;

}

.f-b .wrap-labels label{
	float:left;
	width: 200px;
	border:1px solid #2b4772 !important;
	  -webkit-transition: all .3s ease-in-out;
	  -moz-transition: all .3s ease-in-out;
	  -o-transition: all .3s ease-in-out;
	  transition: all .3s ease-in-out;
}
.f-b .wrap-labels label:hover{
	box-shadow: 0 0 3px #2b4772;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}




.flabel{
	background:#2b4772;
}

.slabel{
}
.flabel p{
	color:#ffffff;
}

.slabel p{
	color:#2b4772;
}

.f-b .wrap-labels label input{
	display:none;
}

.f-b .wrap-labels label{
	cursor:pointer;
}

.f-b .wrap-labels label p{
	float:left;
	width: 100%;
	text-align: center;
	font-size:20px;
	padding-top:5px;
	padding-bottom:5px;
}

.star{
	color:red !important;
	float:left;
	padding-left:5px;
	font-size:25px;
}


.body-parts{
	padding-top:100px;
	padding-bottom:30px;
	float:left;
	background:#ffffff;
	width: 100%;
	height: 550px;
	margin-bottom:10px;
}


.body-parts .head{
	position:absolute;
	top:3px;
	left:0px;
	float:left;
	width: 224px;
	height: 64px;
	display:inline;
	background:url(../images/bodyparts/head.png) no-repeat 0px 0px;
}


.body-parts .head:hover{
	-webkit-filter: brightness(65%);
}


.body-parts .leftarm{
	position:absolute;
	top: 70px;
	left: 4px;
	float:left;
	width: 60px;
	height: 130px;
	background:url(../images/bodyparts/leftarm.png) no-repeat 0px 0px;
}

.body-parts .leftarm:hover{
	-webkit-filter: brightness(65%);
}

.body-parts .chestleft{
	position:absolute;
	top: 68px;
	left: 61px;
	float:left;
	width: 54px;
	height: 66px;
	background:url(../images/bodyparts/chestleft.png) no-repeat 0px 0px;
}

.body-parts .chestleft:hover{
	-webkit-filter: brightness(65%);
}

.body-parts .chestright{
	position:absolute;
top: 68px;
left: 114px;
	float:left;
	width: 54px;
	height: 66px;
	background:url(../images/bodyparts/chestright.png) no-repeat 0px 0px;
}

.body-parts .chestright:hover{
	-webkit-filter: brightness(65%);
}

.body-parts .rightarm{
	position:absolute;
	top: 68px;
	left: 166px;
	float:left;
	width: 75px;
	height: 130px;
	background:url(../images/bodyparts/rightarm.png) no-repeat 0px 0px;
}
.body-parts .rightarm:hover{
	-webkit-filter: brightness(65%);
}

.body-parts .stomachleft{
	position:absolute;
	top: 134px;
	left: 60px;
	float:left;
	width: 54px;
	height: 64px;
	background:url(../images/bodyparts/stomachleft.png) no-repeat 0px 0px;
}

.body-parts .stomachleft:hover{
	-webkit-filter: brightness(65%);
}


.body-parts .stomachright{
	position:absolute;
top: 134px;
left: 115px;
	float:left;
	width: 52px;
	height: 64px;
	background:url(../images/bodyparts/stomachright.png) no-repeat 0px 0px;
}

.body-parts .stomachright:hover{
	-webkit-filter: brightness(65%);
}

.body-parts .lefthand{
	position:absolute;
top: 197px;
left: 5px;
	float:left;
	width: 60px;
	height: 35px;
	background:url(../images/bodyparts/lefthand.png) no-repeat 0px 0px;
}

.body-parts .lefthand:hover{
	-webkit-filter: brightness(65%);
}


.body-parts .lowerabdom{
	position:absolute;
top: 200px;
left: 61px;
	float:left;
	width: 108px;
	height: 35px;
	background:url(../images/bodyparts/lowerabdom.png) no-repeat 0px 0px;
}

.body-parts .lowerabdom:hover{
	-webkit-filter: brightness(65%);
}

.body-parts .righthand{
	position:absolute;
top: 196px;
left: 166px;
	float:left;
	width: 55px;
	height: 35px;
	background:url(../images/bodyparts/righthand.png) no-repeat 0px 0px;
}

.body-parts .righthand:hover{
	-webkit-filter: brightness(65%);
}


.body-parts .lefttight{
	position:absolute;
top: 239px;
left: 2px;
	float:left;
	width: 114px;
	height: 53px;
	background:url(../images/bodyparts/lefttigh.png) no-repeat 0px 0px;
}

.body-parts .lefttight:hover{
	-webkit-filter: brightness(65%);
}


.body-parts .righttight{
	position:absolute;
top: 239px;
left: 115px;
	float:left;
	width: 109px;
	height: 53px;
	background:url(../images/bodyparts/righttigh.png) no-repeat 0px 0px;
}

.body-parts .righttight:hover{
	-webkit-filter: brightness(65%);
}

.body-parts .shinboneleft{
	position:absolute;
top: 292px;
left: 2px;
	float:left;
	width: 114px;
	height: 92px;
	background:url(../images/bodyparts/shinboneleft.png) no-repeat 0px 0px;
}

.body-parts .shinboneleft:hover{
	-webkit-filter: brightness(65%);
}

.body-parts .shinboneright{
	position:absolute;
top: 292px;
left: 115px;
	float:left;
	width: 109px;
	height: 92px;
	background:url(../images/bodyparts/shinboneright.png) no-repeat 0px 0px;
}

.body-parts .shinboneright:hover{
	-webkit-filter: brightness(65%);
}

.body-parts .leftfeet{
	position:absolute;
top: 384px;
left: 2px;
	float:left;
	width: 114px;
	height: 38px;
	background:url(../images/bodyparts/leftfeet.png) no-repeat 0px 0px;
}

.body-parts .leftfeet:hover{
	-webkit-filter: brightness(65%);
}

.body-parts .rightfeet{
	position:absolute;
top: 384px;
left: 115px;
	float:left;
	width: 109px;
	height: 38px;
	background:url(../images/bodyparts/rightfeet.png) no-repeat 0px 0px;
}

.body-parts .rightfeet:hover{
	-webkit-filter: brightness(65%);
}

.wrap-ins-body-pts{
	margin:0px auto;
	width: 224px;
	position:relative;
	font-family: 'Roboto' !important;
}
.wrap-ins-body-pts div{
	font-family: 'Roboto' !important;
}

.tooltipsy{
	font-family: 'Roboto' !important;
}
.add-question > input,.add-question textarea,.add-question select,.boxes input{
	float:left;
	width: 90%;
	padding-left:5%;
	padding-right:5%;
	height: 40px !important;
	background:#ffffff;
	border:none;
	outline:none;
	color:#3d3d3d;
	font-family: 'roboto';
	font-size:18px;
	border:1px solid #b6bac0;
}

.popuplogin input{
	float:left !important;
	width: 175px;
	padding-left:5%;
	padding-right:5%;
	height: 32px !important;
	margin-top:6px;
	background:#ffffff;
	border:none;
	outline:none;
	color:#3d3d3d;
	font-family: 'roboto';
	font-size:14px;
	border:1px solid #b6bac0;
}

.popuplogin .on {
	float:left;
	width: 50%;
	margin-top:20px;
}

.popuplogin .on p{
	float:left;
	margin-top:10px;
	margin-right:14px;
}
.add-question textarea{
	padding-top:18px;
}

.add-question select{
	width: 100% !important;
}
.add-question input ,.add-question textarea{
	float:left;
}

.wrap-trauma{
	float:left;
	width: 100%;
}
.wrap-trauma label{
	  -webkit-transition: all .1s ease-in-out;
	  -moz-transition: all .1s ease-in-out;
	  -o-transition: all .1s ease-in-out;
	  transition: all .1s ease-in-out;
	float:left;
	height: 40px;
	width: 21%;
	background:#ffffff;
	border:1px solid #b6bac0;
	position:relative;
}

.wrap-trauma label:hover{
	 box-shadow: 0 0 3px #2b4772;
	  -webkit-transition: all .1s ease-in-out;
	  -moz-transition: all .1s ease-in-out;
	  -o-transition: all .1s ease-in-out;
	  transition: all .1s ease-in-out;
}
.fake-radio{
	position:absolute;
	left:190px;
	top:9px;
	width: 20px;
	height: 22px;
	  -webkit-transition: all .2s ease-in-out;
	  -moz-transition: all .2s ease-in-out;
	  -o-transition: all .2s ease-in-out;
	  transition: all .2s ease-in-out;
}

.ad-fk{
	left: 76px !important;
}


.active-fake{
	background:#2b4772 !important

}
.active-fake p{
	color:#ffffff !important;
}
.wrap-trauma label span{
	float:left;
	display:block;
	width:100%;
}

.tyes{
	
}
.tno{
	
}

.wrap-trauma label input{
	float:left;
	opacity:0;
	display:none;
	margin-top:16px;
}

.wrap-trauma label p{
	float:left;
	color:#000000;
	font-family: 'roboto';
	font-size:16px;
	padding-top:12px;
	padding-bottom:15px;
	width: 100%;
	text-align: center;
	line-height: 14px;
}

.wrap-trauma label:nth-of-type(2){
	margin-left:20px;
}


#itemlist{
	width: 100%;
	float:left;
	position:relative;
}

#itemlist #symptominput,#itemlist #autocompletemedication,#itemlist #autocompletehistory{
	float:left;
	height: 40px !important;
	background:#ffffff;
	border:none;
	outline:none;
	color:#3d3d3d;
	font-size:16px;
	width: 89% !important;
	padding-left:5% !important;
	padding-right:5% !important;
	border:1px solid #b6bac0;
}

.add-question textarea{
	height: 200px !important;
	width: 100% !important;
	margin-bottom:10px;
	padding-bottom:20px;
	padding-left:5% !important;
	padding-right:5% !important;	
	
	  -webkit-transition: all .1s ease-in-out;
	  -moz-transition: all .1s ease-in-out;
	  -o-transition: all .1s ease-in-out;
	  transition: all .1s ease-in-out;
}

.add-question textarea:hover, input:hover{
	box-shadow: 0 0 3px #2b4772;
	  -webkit-transition: all .1s ease-in-out;
	  -moz-transition: all .1s ease-in-out;
	  -o-transition: all .1s ease-in-out;
	  transition: all .1s ease-in-out;
}

@-moz-document url-prefix() {
	#dd span{
		color:#7c818b;
	}
}

input{
	  -webkit-transition: all .3s ease-in-out;
	  -moz-transition: all .3s ease-in-out;
	  -o-transition: all .3s ease-in-out;
	  transition: all .3s ease-in-out;
}
.image-panel{
	display:none;
	float:left;
	width: 100%;
	padding-top:30px;
	padding-bottom:30px;
	border-top:1px solid #e1e1e1;
	border-bottom:1px solid #e1e1e1;
	background :#fbfbfb;
}

.image-panel .s-image{
	padding:7px;
	background:white;
	overflow:hidden;
	float:left;
	position:relative;
	margin-left:20px;
  -moz-box-shadow:    0px 3px 3px rgba(0,0,0,0.5) ;
  -webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.5) ;
  box-shadow:         0px 3px 3px rgba(0,0,0,0.5) ;
  		height: 154px;

}

.ss-image{
	height: 140px;
	overflow: hidden;
	float: left;
	position: relative;
}

.image-panel .s-image img{
	width: 140px;
	height: auto;
	float:left;
	margin-top:0px !important;

}

#itemlist #addbutton{
	-webkit-appearance: none !important;
	cursor:pointer;
	border:none;
	border:1px solid #2b4772;
	background:#2b4772;
	color:#ffffff;
	position:absolute;
	padding-top:12px;
	top:-1px;
	padding-bottom:12px;
	padding-left:17px;
	padding-right:17px;
	right:0px;
	border:none;
	outline:none;
}

#resultList{
	margin:0px auto;
	width: 990px;
	margin-top:10px;
}

.floater{
	float:left;
	width: 100%;
	padding-top:10px;
	line-height: 22px;
}


#resultList li{
	float:left;
	font-size:16px;
	padding-top:9px;
	padding-bottom:9px;
	width: 600px;
	color:#000000;
	background:#ffffff;
	position:relative;
	border-left:1px solid #b6bac0;
	border-top:1px solid #b6bac0;
	border-right:1px solid #b6bac0;
}
#resultList li:last-of-type{
	border-bottom:1px solid #b6bac0;
}

.biginput{
	margin-bottom:10px;
}

#resultList li img{
	float:left;
	padding-left:10px;
	padding-right:5px;
	padding-top:4px;
}
#resultList li{
	list-style:none;
}
#resultList li p{
	float:none;
	font-size:16px;
	line-height: 20px;
	padding-top:0px;
}
#medenginesymptoms,#enginev2{
	float:left;
	width: 100%;
	margin-top:10px;
}

#medenginesymptoms li ,#enginev2 li{
	float:left;
	font-size:16px;
	padding-top:9px;
	padding-bottom:9px;
	width: 100%;
	padding-left:2%;
	padding-right:2%;
	color:#4c4c4c;
	background:#ffffff;
	position:relative;
	border-left:1px solid #b6bac0;
	border-top:1px solid #b6bac0;
	border-right:1px solid #b6bac0;
	  -webkit-transition: all .3s ease-in-out;
	  -moz-transition: all .3s ease-in-out;
	  -o-transition: all .3s ease-in-out;
	  transition: all .3s ease-in-out;
}
#enginev2 {
	margin-top:-10px !important;
	position:absolute;
	z-index:300;
	background:#EFF4F9;
	
}
#enginev2 li{
}

#medenginesymptoms li:last-of-type, #enginev2 li:last-of-type{
	border-bottom:1px solid #b6bac0;
}

.sticker{
	float:left;
	width: 100%;
	position:relative;
}

#medenginesymptoms li img, #enginev2 li img{
	float:left;
	padding-left:10px;
	padding-right:5px;
	padding-top:4px;
}
#medenginesymptoms li,#enginev2 li{
	list-style:none;
}

#medenginesymptoms li, #enginev2 li{
	float:none;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size:16px;
	line-height: 20px;
	width: 100%;
	background:url(../images/addquestion/bigplus.png) no-repeat 0px 0px ;
	background-size: 25px 25px;
	background-position-y: 7px;
	background-position-x: 110%;
}

#medenginesymptoms li:hover , #enginev2 li:hover{
	color:#ffffff;
	cursor:pointer;
	  -webkit-transition: all .3s ease-in-out;
	  -moz-transition: all .3s ease-in-out;
	  -o-transition: all .3s ease-in-out;
	  transition: all .3s ease-in-out;
	background:url(../images/addquestion/bigplus.png) no-repeat  0px 0px #2b4772;
	background-size: 25px 25px;
	background-position: 96% 7px;
}


#resultList #hidden-li{
	display:none;
}

.deletetheinput{
	position:absolute;
	top:0px;
	right:-60px;
	display:block;
	height: 38px;
	width: 60px;
	cursor:pointer;
	background:#484848;
	  -webkit-transition: all .1s ease-in-out;
	  -moz-transition: all .1s ease-in-out;
	  -o-transition: all .1s ease-in-out;
	  transition: all .1s ease-in-out;
}

.deletetheinput img{
	padding-left:21px !important;
	padding-top:9px !important;
}

#resultList li{
	overflow:hidden;
}
#resultList li:hover .deletetheinput{
	right:0px;
	  -webkit-transition: all .2s ease-in-out;
	  -moz-transition: all .2s ease-in-out;
	  -o-transition: all .2s ease-in-out;
	  transition: all .2s ease-in-out;
}

.back-bb{
	display:none;
}

.after-q{
	background:#f2f2f2;
}

.af p{
}

.red-care{
	float:left;
	width:100%;
}

.red-care label{
	cursor:pointer;
}

#ytrauma,#ntrauma{
	cursor:pointer;
}


.send-btn{
	background:#2b4772;
	float:right;	
	margin-bottom:40px;
	padding-bottom:3px;
}

.send-btn img{
	float:left;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	margin-top:5px;
}

.send-btn p{
	float:left;
	font-size:16px;
	color:#8d8d8d;
	padding-top:11px;
	padding-right:14px;
	padding-left:3px;
	color:#ffffff;
	padding-bottom:5px;	
}


.npfile{
	width: 130px;
	height: 63px;
	position:relative;
	float:left;
	right:130px;
	outline:none;
	top:-23px;
	cursor:pointer;
	opacity:0;
}

.ss-wrap{
	float:left;
	width: 100%;
}



.trash-image{
	width: 20px;
	height: 20px;
	position:absolute;
	background:url(../iconss/trash.png) no-repeat;
	top:-60px;
	left:94px;
	opacity:0;
	  -webkit-transition: all .3s ease-in-out;
	  -moz-transition: all .3s ease-in-out;
	  -o-transition: all .3s ease-in-out;
	  transition: all .3s ease-in-out
}

.s-image:hover{
	
}

.overlay-delete{
	float:left;
	width: 200px;
	position:absolute;
	cursor:pointer;
	top:7px;
	left:7px;
	height:140px;
	background:rgba(91, 166, 223, 0);
	  -webkit-transition: all .3s ease-in-out;
	  -moz-transition: all .3s ease-in-out;
	  -o-transition: all .3s ease-in-out;
	  transition: all .3s ease-in-out
}

.overlay-delete:hover{
	background:rgba(91, 166, 223, .7);
	  -webkit-transition: all .3s ease-in-out;
	  -moz-transition: all .3s ease-in-out;
	  -o-transition: all .3s ease-in-out;
	  transition: all .3s ease-in-out
}

.overlay-delete:hover .trash-image{
	opacity:1;
	top:60px;
	  -webkit-transition: all .6 s ease-in-out;
	  -moz-transition: all .6 s ease-in-out;
	  -o-transition: all .6 s ease-in-out;
	  transition: all .6 s ease-in-out;
}



.boxes{
	float:left;
	width: 50%;
	margin-bottom:20px;
}
.boxes input{
	width: 70% !important;
	margin-top:27px;
}
.boxes p{
	float:left;
	width: 20%;
	padding-top:35px;
	padding-bottom:10px;
	font-size:18px;
	line-height: 23px;
	color:#000000;
}
#coupon{
	width: 100%;
}
#name{
	float:right !important;
}

.agree{
	float:left;
	margin-top:20px;
	width: 100%;
}
.block{
	cursor:pointer;
}

.agree p{
	width: 100%;
	color:#5f5f5f;
	font-family: 'roboto';
	line-height: 21px;
	padding-top:2px;
	cursor:pointer;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

.agree a:hover{
	color:#f7931d;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}
.agree a{
	padding-top:2px;
	text-decoration: underline;
	color:#5f5f5f;
	font-size:16px;
	
}

.agree .block{
	float:left;
	width: 25px;
	height: 98px;
	margin-right:10px;
	position:relative;
}

.agree .block img{
	width: 25px;
	padding:0px;
	margin:0px;
	height: 25px;
}
.payment-checked{
	position:absolute;
	top:0px;
	left:0px;
	opacity:0;
}
/*MEDIA QUERIES*/

/*pagewidth =  748*/
@media only screen 
and (min-width : 768px) 
and (max-width : 1023px){
	.left{
		width: 440px;
	}
	.add-question-wrap{
		width: 440px;
	}
	.rightside{
		padding-left:27px;
	}
	.autocomplete-suggestion{
		width: 440px;
	}
	#resultList{
		width: 440px;
	}
	#resultList li{
		width: 440px;
	}
	.image-panel .s-image{
		margin-top:20px;

	}
	.image-panel .s-image img{
		width: 180px !important;
		
	}
	.boxes p{
		width: 100%;
		padding-left:0px !important;
	}
	.boxes input{
		margin-top:0px;
	}
	#name{
		float:left !important;
	}
	.three-step{
		display:none;
	}
}




/*pagewidth =  460*/
@media only screen 
and (min-width : 480px) 
and (max-width : 767px){
	.left{
		width: 460px;
	}
	.add-question-wrap{
		width: 460px;
	}
	.rightside{
		padding-left:27px;
	}
	.autocomplete-suggestion{
		width: 460px;
	}
	#resultList{
		width: 460px;
	}
	#resultList li{
		width: 460px;
	}
	.image-panel .s-image{
		margin-top:20px;
	}
	.image-panel .s-image img{
		width: 180px !important;
		height: 180px !important;
	}
	.rightside{
		width: 460px;
		border-left:0px;
		padding-left:0px;
	}
	.rightside .slider h1{
		text-align: center;
	}
	.rightside .slider p{
		text-align: center;
	}
	.rightside .slider p{
		text-align: center;
	}
	.rightside{
		display:none !important;
	}
	#itemlist #symptominput,#itemlist #autocompletemedication,#itemlist #autocompletehistory{
		width: 86% !important;
	}
	.boxes p{
		width: 100%;
		padding-left:0px !important;
	}
	.boxes input{
		margin-top:0px;
	}
	#name{
		float:left !important;
	}
	.three-step{
		display:none;
	}
}
/*pagewidth =  280*/
@media only screen 
and (max-width : 479px){
	.left{
		width: 280px;
	}
	.add-question-wrap{
		width: 280px;
	}
	.rightside{
		padding-left:27px;
	}
	.autocomplete-suggestion{
		width: 280px;
	}
	#resultList{
		width: 280px;
	}
	#resultList li{
		width: 280px;
	}
	.image-panel .s-image{
		margin-top:20px;
	}
	.image-panel .s-image img{
		width: 100px !important;
		height: 100px !important;
	}
	.add-question .single h1{
		float:none;
		font-size: 20px;
	}
	.star{
		display:none;
	}
	.f-b .wrap-labels{
		width: 280px;
	}
	.f-b .wrap-labels label{
		width: 140px;
	}
	.image-panel .s-image{
		margin-left:17px;
	}
	.rightside{
		border-left:none;
		width: 280px;
		padding-left:0px;
	}	
	.tooltipsy{
		display:none;
	}
	.body-parts{
		padding-top:120px;
		margin-top:30px;
	}
	.rightside{
		display:none !important;
	}
	#itemlist #symptominput,#itemlist #autocompletemedication,#itemlist #autocompletehistory{
		width: 77% !important;
	}
	.boxes p{
		width: 100%;
		padding-left:0px !important;
	}
	.boxes input{
		margin-top:0px;
	}
	#name{
		float:left !important;
	}
	.three-step{
		display:none;
	}
}