.not-active {
   pointer-events: none;
   cursor: default;
   color : gray !important ;
}


#pictureFile {

	display :none ;
}

.nav-layout {

	margin-bottom: 20px ;
}


.search-asset{

	margin-top: 7px;

}


.add-asset-button 
{

	margin-top: -70px;
	float: right;
}

/*Charts */

.charts-holder{
    width: 650px !important;
    margin: 0 auto;
    height: 550px !important;
}

.charts-holder h3 {
	padding: 20px ;
}



.select-picture{

width: 85%;

}


.select-picture-button 
{

	float: right ; 
	margin-top: -34px;
}


textarea{

	resize:none;
}

.add-bullet-button {

	width: 9% !important;
float: right;
margin: -34px 0px;
}

.delete-bullet-button {

	width: 9% !important;
float: right;
margin: -34px 0px;
}


.bullet-input {

	width : 90% !important ;
}


.note-editor {
position: relative;
border: 1px solid #a9a9a9;
border-radius: 3px;
margin-top: 5px;
}



.page-search {

border-radius: 5px ; 
margin-left: 5px ; 

}

.page-dropdown {


height: auto  ;
max-height :200px ;
width: 800px;
overflow: auto;

}


.alert-success {

background-color: #4cae4c ;
color : white;
font-weight: bold ; 

}


.btn {

margin-bottom: 5px !important ; 	
}

.panel-heading{

cursor : pointer ; 

}
.navbar-brand{
padding:2px;
margin-top: -5px;
margin-right: 10px;
}

.login-container {
float: none;
width: 450px !important;
margin: 300px auto;
border: 1px solid #d8d8d8;
background-color: #f8f8f8;
height: 279px;


}


.centered {
float: none;
width: 350px;
margin: 0 auto;
}

.centered img {

display: block;
vertical-align: middle;
width: 190px;
margin: 18px auto;
}


.centered span {

display: block;
vertical-align: middle;
width: 180px;
margin: 18px auto;
font-family: arial ;
color : ;
}

.container {

height: auto ; 
width : 100% ;

}

.dropdown {

	padding-top: 6px ;
}

.well {

background-color: transparent !important ; 	
}

a {

cursor: pointer ; 
}

.dropdown-menu {

margin-left: 10px ;

}

.btn-default {

margin-left: 10px ;


}

.glyphicon {

	top : 2px ;
}


.brand-logo 
{

	width: 190px;
margin-top: 6px;
}

/*assets loader picture 
*/
 #loader {

 	margin-top: 15px ;
 	margin-bottom: 10px
 	 }

 	 .assetSquare:hover {

 	 	background-color: red ; 
 	 	opacity: 0.7 ; 
 	 }

.checkbox{

	float: left !important ; 
} 	 