p{
	margin-bottom: 0.25rem !important ;
}
small{

	font-size: 75% !important ;
}

input {
    background-color: transparent;
    border: 0px solid;
    height: 20px;
    width: 160px;
    color: #CCC;
}
*:focus {
    outline: 0;
}

textarea {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

h1{

	color : #48b1a4 !important; 
}

h1.page-title {
  padding: 16rem 2rem 0px 0px;
  float: right; 
}
h2{

	color : #48b1a4 !important; 
	font-size: 2rem !important ;

}

.content-bullets{

  	margin-left: 3.1rem !important;
  	list-style: square;
}

/*Structure*/

.heading{
	
margin:auto;
height: 332px ;
background-repeat: no-repeat;
background-size:cover ;
-webkit-background-size:cover ;
-moz-background-size:cover ;
-o-background-size:cover ;
background-position: 20%;
}
.panel {
	margin-bottom: 0px !important ; 
}

.main-column {

	padding-right: 1px !important ; 
	padding-left:  0px !important;
}

.main-row {
	width : 100% !important ;
	margin-left: 0px !important ; 
}

.container{
  border-width: 1px !important;
  border-color: #EDEDED !important;
  background: #FFF !important;
  box-shadow: 0px 1px 1px #888888;

}

.ask-container{
  border-width: 0px !important;
  background: #FFF !important;
  padding-top: 0 !important ;
  box-shadow: 0px 1px 1px #888888;


}

  .bread-crumb{

  	font-size: 12px !important;
    color : #48b1a4 !important ;

  }

  /*no padding for containers*/

  .no-padding {
  	padding-top: 0px !important;
  	 padding-bottom: 0px !important;
  }

 	
/*Buttons*/
.ask-btn{

	margin-top: 0px !important ;
}

.blue-btn{
	background-color: #48b1a4 !important;
}

.orange-btn{
	background-color: #f99f7a !important;
}

.button:hover {
	opacity: 0.8 !important;
}

.active-button{

box-shadow: 0px 4px 14px #B3B3B3

}

/*Texts*/

.blue-text {
	color :#48b1a4!important ;
}

.gray-text{
	color :gray!important ;
}

/*Doctor sidebar*/
.doc-img{

	border-radius: 50% 50% ;
	height: 85px ;
	width:85px ;
	display: block;
	margin: 0 auto;
}

.doc-img-small{

	border-radius: 50% 50% ;
	margin-right: 25px ;
}
.doc-text{

	display: block ; 
	text-align: center; 
}

.stars{

	width:98px ;
	display: block;
	margin: 0 auto;
}

.doc-title{

	width:191px ;
	display: block;
	margin: 0 auto;
}

.question_text{

	border : 0 !important;
	border-bottom: 1px solid #f99f7a !important ;
	background-color: #fff !important ;
	color : #f99f7a !important ;
	box-shadow: none !important ; 
	resize: none !important ;
	padding-top: 20px !important ; 
}


::-webkit-input-placeholder { /* WebKit browsers */
    color:    #f99f7a;

}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #f99f7a;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #f99f7a;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #f99f7a;
}


.side-nav li.divider{

	border-top-color: #EDEDED !important ; 
}


.links-list{
	  background: url(../img/arrow.png) 90% 11px no-repeat;
}

.links-list:hover{
	  background: url(../img/arrow.png) 90% 11px no-repeat;
}

.links-icon{
	margin-right: 10px ;

}

/*Header*/

.top-bar{

	background-color: white !important ; 
}

.top-bar:not(.top-bar.expanded){

	height: 3.8125rem !important ;
}

.top-bar-section ul li > a{
color :gray!important ;

}

.top-bar-section ul li > a:hover{
color : #48b1a4 !important ;

}


.top-bar-section ul li > a.active-menu{
color : #48b1a4 !important;

}


.top-bar-section li:not(.has-form) a:not(.button){
	background-color: #fff !important ;
}

.top-bar-section ul li{
	background-color: #fff !important ;
}


.top-bar-section ul{

	padding-top: 12px !important ;
}



.top-bar .toggle-topbar.menu-icon a span::after{

	box-shadow: 0 0 0 1px #48b1a4, 0 7px 0 1px #48b1a4, 0 14px 0 1px #48b1a4 !important ;
}

.top-bar.expanded .title-area {

	background-color: #fff !important ;
}

.search-icon {
      float: left ; 
	  margin: 13px !important ;
	  cursor : pointer ;
}

.search-input input {
	padding-top: 0px !important;
	float: left ;
	outline : 0 !important ;
	border: 0 !important ;
	box-shadow: none !important ; 
	border-bottom: 1px solid gray !important ;
}

.menu-min * {

	display : none ;
}

.page-title-min   {
  		display: none ;

	}

/*responsive menu for content*/

@media only screen and (max-width: 40em) {

	.side-menu * {
		display: none ; 
	}
	.menu-min *  {

		display: block ; 
		margin-bottom: 25px !important ;
	}

	.menu-min div.min-section  {

		color : gray;
		display: none ; 
	}



	.menu-min div.min-section p  {

		color : gray;
		margin : 10px ; 
	}

		.menu-min a {

		color : gray;
		margin : 10px ; 
	}
	.main-content * {

		display: none ; 
	}

	/*Page title Responsive*/

	  	.page-title-min   {
  		padding: 16rem 0rem 0px 0px;
  	 	float: right; 
  	 	display: block ; 


	}

	  	.page-title-min span  {

		background-color: #48b1a4 ;
		padding: 15px ;
		color:white ;
		font-style: normal !important;
		font-size : 30px !important ;


	}

	.page-title {
	display : none;
}

  }

