


#container
{
	background:#fff;
	border:1px solid #ccc;
	margin:120px auto;
	text-align:left;
	width:647px;
	border: 1px solid  #d8d8d8;
	border-radius: 5px ; 
/*box-shadow: 4px 4px 5px #888888;*/

}


#wrapper {


	width : 100% ;
	height: auto ; 
		background:#fffff;
	font-family:helvetica;
	font-size:small;
	margin:8px 0 16px;
	text-align:center;
	color : #13315e;
}



#back_link{

margin-top : 10px ;

}

#back
{
	
	font-family:helvetica;
	font-size:13px;
	font-weight: bold ;
	margin:8px 0 16px !important;
	text-align:center;
	color : #13315e;
	text-decoration: none ;


}


#back:hover {

    
	color : #e75000;
}


#logo{

	margin : 10px auto;



}

#error-message {

	font-family:helvetica;
	font-size:18px;
	font-weight: bold ;
	text-align:center;
	color : #13315e;
	margin-left: 15px ; 



}

small {

font-size: 12px ; 

}

.links {


text-align: center !important ; 
padding-top: 20px;


}



.error-text{

margin: 30px ; 


}

.causes {


margin: 30px 0px 30px 34px;
	list-style: inherit; 

}

.causes li {


 margin-top: 4px ;

}

.image-404 {

	background-image: url(../images/404-doctor.jpg) ;

 width: 500px  ;
 margin : auto 50px;
height :250px;

}