.about{
	float:left;
	width: 100%;
	margin-top:86px;
}

.heading{
	float:left;
	width: 100%;
	height: 450px;
	overflow:hidden;
	position:relative;
}

.heading img{
	float:left;
	width: 100%;
	height: auto;
	position:absolute;
}

.heading h1 b{
	font-weight: normal !important;
	padding-bottom:10px;
	display:block;
		line-height:30px;
	font-size:50px !important;
}

.heading h1{
	line-height:45px !important	;
	position:relative;
	z-index:300;
	float:left;
	text-align: left;
	width: 700px;
	font-size:45px;
	color:#5f5f5f;
	margin-top:100px;
	font-weight: 300;
	line-height: 30px;
}

.about .one{
	float:left;
	width: 100%;
	padding-top:30px;
}

.about .one p{
	float:left;
	width: 100%;
	color:#5f5f5f;
	line-height: 22px;
}

.about .one h1{
	float:left;
	font-size:45px;
	color:#5f5f5f;
	padding-bottom:15px;
}


/*MEDIA QUERIES*/

/*pagewidth =  748*/
@media only screen 
and (min-width : 768px) 
and (max-width : 1023px){
	.heading img{
		height: 300px;
	}
	.heading{
		height: 300px;
		position:relative;
	}
	.heading h1{
		margin-top:29px;
	}
	

}



/*pagewidth =  460*/
@media only screen 
and (min-width : 480px) 
and (max-width : 767px){

	.heading{
		height: 200px;
		position:relative;
	}
	.heading img{
		height: 300px;
	}
	.heading h1{
		position:absolute;
		bottom:0px;
		left:0px;
		width: 96% !important;
		padding-left:2% !important;
		padding-right:2% !important;
		font-size:18px !important;
		line-height: 19px !important;
		padding-top:10px !important;
		padding-bottom:10px !important;
		background:rgba(19, 49, 94, .6);
		color:#ffffff !important;
		text-align: left;
	}
	.heading h1 b{
		font-size:26px !important;

	}
	.about .one h1{
		font-size:26px;
	}
}
/*pagewidth =  280*/
@media only screen 
and (max-width : 479px){
	.heading img{
		height: 200px;
	}
	.heading{
		height: 200px;
		position:relative;
	}
	.heading h1{
		position:absolute;
		bottom:0px;
		left:0px;
		width: 96% !important;
		padding-left:2% !important;
		padding-right:2% !important;
		font-size:18px !important;
		line-height: 19px !important;
		padding-top:10px !important;
		padding-bottom:10px !important;
		background:rgba(19, 49, 94, .6);
		color:#ffffff !important;
		text-align: left;
	}

	.heading h1 b{
		font-size:26px !important;
	}
	.about .one h1{
		font-size:26px;
	}
}