.left{
	margin-top:70px;
	float:right;
}

.rightside{
	margin-top:70px;
	float:left;
	border-right: 1px solid #d5d5d5;
	min-height: 500px
}
.left  p{
	line-height: 25px;
	float:left;
	width: 100%;
}

.left  h1 , .left  h2{
	line-height: 25px;
	font-size:20px;
	margin-top:10px;
float: left;
width: 100%;
font-weight: bold;
padding-bottom: 10px;
color: #5f5f5f;
}


.left  ul{
	float:left;
	margin-left:23px;
		margin-bottom:30px;
		margin-top:20px;
}

.left ul li{
	float:left;
	width: 100%;
	font-family: "roboto";
	font-size:16px;
	padding-bottom:5px;
	line-height:18px;
	list-style-type: circle;
	color:#5f5f5f;
}


.left .two{
	float:left;
	margin-top:30px;
	width: 100%;
}

.left .two .l{
	float:left;
	margin-right:50px;
}

.left .two .l a{
	float:left;
}

.left .two .l a img{
	float:left;
	margin-right:10px;
}

.left .two .l a p{
	margin-top:8px;
	float:left;
	color:#1a1a1a;
	text-decoration: none;
	font-weight: bold;
}

.left .two .l a:hover p{
	text-decoration: underline;
}

.prelim{
	font-weight: bold;
	color:#b6b6b6;
	text-align: right;
	float:left;
	line-height: 22px;
}

.combine img{
	margin-left:20px;
	margin-top:17px;
	float:left;
}

.combine{
	float:left;
	margin-top:100px;
}
.top{
	float:left;
	margin-top:87px;
	background:#68981e;
	width: 100%;
	height: 60px;
}

.top .mid{
	width: 250px;
	margin:0px auto;
}

.top h1{
	font-size:30px;
	float:left;
	margin-left:20px;
	margin-top:16px;
	color:#ffffff;
}

.top img{
	float:left;
	margin-top:12px;
}
.left p{
	width: auto !important;
}

#box {
  margin: 0px;
  padding: 10px;
  background-color: #74a02f;  
  color:#ffffff;
  border-radius:6px;
  font-family: 'roboto';
}



.one a{
	float:left;
	display:block;
	width: 415px;
	height: 60px;
	cursor:pointer;
	background:#f7931d;
	text-decoration: none;
}
.one a:hover{
	opacity:0.9;
}
.one a p{
font-size: 21px;
font-family: 'roboto';
font-weight: 500;
float: left;
margin-top: 18px;
color: #ffffff;
margin-left: 23px;
}

.one a img{
	margin-top:14px;
	margin-left:10px;
	float:left;
}

.deine{
	font-size:10px;
	font-weight: 600;
	width: 100%;
	float:left;
	font-family: 'roboto';
	opacity:.8;
	margin-top:5px;
	display:block;
}

