.career{
	float:left;
	width: 100%;
}

.career .mainslide{
	float:left;
	width: 100%;
	height: 550px;
	overflow:hidden;
}

.career .mainslide li .slideimg{
	float:left;
	width: 100%;
	height: 100%;
}

.head{
	float:left;
	width: 100%;
	padding-top:10px;
	padding-bottom:10px;
	background:#13315e;
}

.head h1{
	float:left;
	width: 100%;
	text-align: center;
	font-size:45px;
	color:#ffffff;
}

.sub-menu{
	width: 100%;
	float:left;
	background:#13315e;;
}

.sub-menu .swrap{
	width: 990px;
	margin:0px auto;
}

.sub-menu ul{
	float:left;
}

.sub-menu ul li{
	float:left;
	color:#ffffff;
	border-right:1px solid #ffffff;
	margin-top:15px;
	margin-bottom:15px;
	font-size:18px;
	font-family: 'roboto';
	padding-right:10px;
	padding-left:10px;
	cursor:pointer;
}

.sub-menu ul li:last-of-type{
	border-right:none;
}

.sub-menu ul li:first-of-type{
	padding-left:0px;
}


.sub-menu ul li:hover{
	text-decoration: underline;
}

.sub-menu .sm{
	float:right;
}

.sub-menu .sm a{
	text-decoration: none;
	float:left;
	margin-left:10px;
	margin-top:13px;
}

.sub-menu .sm a img{
	float:left;
	width: 24px;
	height: 24px;
}


.career .sub-wrap > h1{
	width: 100%;
	color:#5f5f5f;
	float:left;
	line-height: 50px;
	font-size: 45px;
	padding-bottom:5px;
	margin-top:30px;
}
.career .sub-wrap > p{
	width: 100%;
	color:#5f5f5f;
	float:left;
	width: 100%;
	line-height: 23px;
	padding-top:10px;
}

.vision{
	float:left;
	width: 100%;
}


.vision .one{
	float:left;
	width: 49%;
	background:#13315e;
	margin-top:20px;
	height: 200px;
}

.vision .right{
	float:right;
}

.vision .one h1{
	float:left;
	width: 100%;
	text-align: center;
	padding-top:25px;
	padding-bottom:25px;
	color:#ffffff;
	font-size:30px;
	line-height: 20px;
}

.vision .one p{
	float:left;
	width: 100%;
	text-align: center;
	padding-bottom:25px;
	color:#ffffff;
	line-height: 20px;
	font-size:16px;
}

.perks{
	float:left;
	width: 100%;	
}

.perks .one{
	float:left;
	width: 50%;
	margin-top:40px;
}

.perks .one img{
	float:left;
	width: 50px;
	height: 50px;
}

.perks .one p{
	float:left;
	padding-left:10px;
	width: 400px;
	line-height: 25px;
}


.emp{
	float:left;
	width: 100%;
}

.emp ul{
	float:left;
	margin-top:30px;
	width: 100%;
}

.emp ul li{
	float:left;
	margin-right:120px;
	width: 250px;
}

.emp ul li:last-of-type{
	margin-right:0px;
}
.emp ul li img{
	float:left;
	width: 100%;
	height: 245px;
	margin-bottom:10px;
}
.emp ul li p{
	float:left;
	width: 100%;
	color:#13315e;
	line-height: 25px;
}

.positions{
	float:left;
	width: 100%;
	margin-bottom:30px;
}

.positions .one{
	float:left;
	width: 100%;
	margin-top:20px;
}

.positions .one p{
	color:#314b75;
	margin-top:10px;
}

.positions .one a{
	float:left;
	width: 100%;
	color: #3fa3cd;
	font-size:16px;
	line-height:24px;
	margin-top:10px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.positions .one a:hover{
	color:#314b75;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

.positions .one .p1{
	width: 200px;
	float:left;
}

.positions .one .p2{
	float:left;
	width: 400px;
	margin-left:140px;
}

.positions .one .p3{
	width: 160px;
	float:right;
}

.positions .one .p3 p{
	text-align: right;
}


.cult{
	float:left;
	width: 100%;
	margin-top:25px;
}

.cult .main{
	float:left;
	width: 100%;
	height: auto;
}

.cult .smalls{
	float:left;
	width: 100%;
	margin-top:20px;
}
.cult .smalls a{
	width: 320px;
	height: auto;
	margin-right:15px;
	float:left;
	height: 200px;
	display:block;
	overflow:hidden;
	margin-top:15px;	
}

.cult .smalls img{
	float:left;
	width: 100%;
}


.cult .smalls .right{
	margin-right:0px;
}


.follow-me-sm{
	position: fixed;
	top: 87px;
	z-index: 600;
	left: 0px;
}



/*MEDIA QUERIES*/

/*pagewidth =  748*/
@media only screen 
and (min-width : 768px) 
and (max-width : 1023px){

	.mainslide{
		height:auto !important;
	}
	.sub-menu .swrap{
		width: 748px;
	}
	.follow-me-sm{
		top:0px;
	}
	.perks .one p{
		width: 300px;
	}
	.emp ul li {
		float: left;
		margin-right: 15px;
		width: 239px;
	}
	.positions .one .p2{
		width: 350px;
		margin-left:0px;
	}
	.positions .one .p3{
		float:left;
		width: 190px;
	}
	.cult .smalls img{
		width: 239px;
	}
	.vision .one{
		height: 203px;
	}
}



/*pagewidth =  460*/
@media only screen 
and (min-width : 480px) 
and (max-width : 767px){
	.mainslide{
		height:auto !important;
	}
	.sub-menu .swrap{
		width: 460px;
	}
	.follow-me-sm{
		top:0px;
	}
	.perks .one p{
		font-family: 'roboto';
		line-height: 22px;
		width: 300px;
	}
	.emp ul li {
		float: left;
		margin-right: 15px;
		width: 239px;
	}
	.positions .one .p2{
		width: 350px;
		margin-left:0px;
	}
	.positions .one .p3{
		float:left;
		width: 190px;
	}
	.cult .smalls img{
		width: 239px;
	}
	.head h1{
		font-size:25px;
	}
	.sub-menu ul{
		float:none;
		margin:0px auto;
	}
	.sub-menu ul li{
		font-size:13px;
		margin-bottom:0px;
	}
	.sub-menu .sm {
		width: 114px;
		padding-bottom:10px;
		float: none;
		margin: 0px auto;
	}
	.follow-me-sm{
		top:0px;
	}
	.sub-menu .sm a img{
		margin-bottom:10px;
	}
	.career .sub-wrap > h1{
		font-size:25px;
		color:#5f5f5f;
	}
	.vision .one{
		height: 190px;
	}
	.perks .one p{
		width: 140px;
	}
	.emp ul li img {
		float: left;
		width: 100%;
		 height: auto; 
		margin-bottom: 10px;
	}
	.emp ul li {
		float: left;
		margin-right: 5px;
		width: 149px;
	}
	.positions .one .p1 {
		width: 119px;
		float: left;
	}
	.positions .one .p2 {
		width: 205px;
		margin-left: 10px;
	}
	.positions .one .p3 {
		float: left;
		width: 115px;
	}
	.cult .smalls .right{
		margin-right:15px;
	}
	.cult .smalls img:nth-of-type(even){
		margin-right:0px;
	}
	.cult .smalls img{
		width: 222px;
	}
}	
/*pagewidth =  280*/
@media only screen 
and (max-width : 479px){
	.mainslide{
		height:auto !important;
	}

	.sub-menu .swrap{
		width: 280px;
	}
	.follow-me-sm{
		top:73px;
	}
	.perks .one p{
		width: 300px;
	}
	.emp ul li {
		float: left;
		margin-right: 15px;
		width: 239px;
	}
	.sub-menu ul li{
		border-right:none;
	}
	.positions .one .p2{
		width: 350px;
		margin-left:0px;
	}
	.positions .one .p3{
		float:left;
		width: 190px;
	}
	.cult .smalls img{
		width: 239px;
	}
	.head h1{
		font-size:25px;
	}
	.sub-menu ul{
		float:left;
		margin-left:18px;
	}
	.sub-menu ul li{
		font-size:16px;
		margin-bottom:0px;
	}
	.sub-menu .sm {
		width: 114px;
		padding-bottom:10px;
		float: none;
		margin: 0px auto;
	}
	.follow-me-sm{
		top:0px;
	}
	.sub-menu .sm a img{
		margin-bottom:10px;
	}
	.career .sub-wrap > h1{
		font-size:25px;
		color:#5f5f5f;
	}
	.vision .one{
		height: 270px;
	}
	.perks .one p{
		width: 140px;
		margin-top:10px;
		padding-left:0px;
		width: 100%;
	}
	.perks .one img{
		margin-left:43px;
	}
	.perks .one{
		width: 48%;
		margin-right:4%;
	}

	.perks .one:nth-of-type(even){
		margin-right:0%;
	}

	.vision .one p{
		width: 90%;
		padding-left:5%;
		font-size:16px;
	}
	.vision .one h1{
		width: 90%;
		font-size: 18px;
		padding-left:5%;
	}
	.vision .one p{
		font-size:15px;
	}
	.emp ul li img {
		float: left;
		width: 100%;
		 height: auto; 
		margin-bottom: 10px;
	}
	.emp ul li {
		float: left;
		width: 100%;
		margin-top:10px;
	}
	.positions .one .p1 {
		width: 100%;
		float: left;
	}
	.positions .one .p2 {
		width: 100%;
		margin-left: 0px;
	}
	.positions .one .p3 {
		float: left;
		width: 115px;
		display:none;
	}
	.cult .smalls .right{
		margin-right:15px;
	}
	.cult .smalls img:nth-of-type(even){
		margin-right:0px;
	}
	.cult .smalls img{
		width: 100%;
		margin-right:0px;
	}
}