.contact{
	float:left;
	width: 100%;
	margin-top:65px;
}

#popup{
	float:left;
	display:block;
	width: 61.5%;
	padding:16px 0px;
	background:#13315e;
	color:#ffffff;
	position:absolute;
	text-align: center;
	left:-1200px;
	bottom:0px;
}
.heading{
	float:left;
	width: 100%;
	height: 450px;
	background: url(../images/contact/contact.jpg) no-repeat center center;
}

.heading h1{
	float:left;
	text-align: left;
	width: 500px !important;
	font-size:50px !important;
	color:#13315e !important;
	margin-top:140px !important;
}

.inp{
	position:relative;
}

.contact .sub-wrap > h1{
	width: 100%;
	color:#13315e;
	float:left;
	font-size: 45px;
	padding-bottom:5px;
	margin-top:30px;
	font-family: 'robotolight';
}
p,h1{

	font-family: 'robotolight';
}
.contact .sub-wrap > p{
	width: 100%;
	color:#13315e;
	float:left;
	width: 100%;
	line-height: 23px;
	margin-top:10px;
}

.contact .one {
	float:left;
	background:#13315e;
	width: 300px;
	padding:20px;
	margin-right:20px;
	margin-top:20px;
	height: 205px;
}

.contact .one .t{
	float:left;
	width: 100%;
	padding-bottom:20px;
}

.contact .one .t img{
	float:left;
	margin-right:20px;
}

.contact .one .t p{
	float:left;
	color:#ffffff;
	padding-top:20px;
}

.contact .one h1{
	color:#ffffff;
}

.contact .one p{
	color:#ffffff;
}

.toll{
	font-size:10px;
	padding-bottom:10px;
	padding-top:5px;
}
.contact .one a{
	color:#ffffff;
	float:left;
	width: 100%;
	text-decoration: none;
	font-size:12px;
	margin-top:10px;
}

.cform{
	float:left;
	width: 100%;
	margin-top:30px;
	margin-bottom:50px;
}

.pars{
	float:left;
	width: 10%;
}

.cform p{
	float:left;
	width: 100%;
	color:#13315e;
	height: 25px;
	margin-top:28px;
}

.inp{
	float:left;
	width: 80%;
	height: 340px;
}

.inp input,.inp textarea{
	font-family: 'robotolight';
	display:block;
	margin-top:20px;
	padding:5px;
	border:1px solid #d8d8d8;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.inp input:hover,.inp textarea:hover{
	border:1px solid #13315e;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
	-moz-box-shadow: 0 0 1px 1px #13315e;
	-webkit-box-shadow: 0 0 1px 1px#13315e;
	box-shadow: 0 0 1px 1px #13315e;
}

.inp input:focus,.inp textarea:focus{
	outline:none;
	border:1px solid #13315e;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	-moz-box-shadow: 0 0 1px 1px #13315e;
	-webkit-box-shadow: 0 0 1px 1px#13315e;
	box-shadow: 0 0 1px 1px #13315e;
}

.inp input:focus{
	width: 33%;
}



.inp input{
	width: 30%;
	height: 20px;

}



.inp textarea{
	width: 60%;
	max-width: 60%;
	min-width: 60%;
	height: 100px;
	min-height: 100px;
	max-height: 100px;
}
.inp textarea:focus{
	height: 130px !important;
	max-height: 130px;
}

.inp .sub{
	float:left;
	width: 100%;
}

.inp .sub input{
	background:#13315e;
	color:#ffffff;
	cursor:pointer;
	width: 100px;
	height: 30px;
}





/*MEDIA QUERIES*/

/*pagewidth =  748*/
@media only screen 
and (min-width : 768px) 
and (max-width : 1023px){
	.heading{
		height: 300px;
		position:relative;
	}
	.heading h1{
		margin-top:69px !important;
	}
	.pars{
		width: 14%;
	}


}



/*pagewidth =  460*/
@media only screen 
and (min-width : 480px) 
and (max-width : 767px){

	.heading{
		height: 200px;
		position:relative;
	}
	.heading h1{
		position:absolute;
		bottom:0px;
		left:0px;
		width: 96% !important;
		padding-left:2% !important;
		padding-right:2% !important;
		font-size:18px !important;
		line-height: 19px !important;
		padding-top:10px !important;
		padding-bottom:10px !important;
		background:rgba(19, 49, 94, .6);
		color:#ffffff !important;
		text-align: left;
	}
	.contact .sub-wrap > h1{
		font-size:26px;
	}

	.pars{
		width: 30%;
	}
	.inp{
		width: 70%;
	}
	.inp input{
		width: 80%;
		padding-left:0px !important;
		padding-right:0px !important;
	}
	.inp input:focus{
		width: 80%;
	}

	.inp  textarea{
		width: 100%;
		max-width: 100%;
		min-width: 100%;
		padding-left:0px !important;
		padding-right:0px !important;
	}

}
/*pagewidth =  280*/
@media only screen 
and (max-width : 479px){

	.heading{
		height: 200px;
		position:relative;
	}
	.heading h1{
		position:absolute;
		bottom:0px;
		left:0px;
		width: 96% !important;
		padding-left:2% !important;
		padding-right:2% !important;
		font-size:18px !important;
		line-height: 19px !important;
		padding-top:10px !important;
		padding-bottom:10px !important;
		background:rgba(19, 49, 94, .6);
		color:#ffffff !important;
		text-align: left;
	}
	.contact .sub-wrap > h1{
		font-size:26px;
	}
	.pars{
		width: 30%;
	}
	.inp{
		width: 70%;
	}
	.inp input{
		width: 80%;
		padding-left:0px !important;
		padding-right:0px !important;
	}
	.inp input:focus{
		width: 80%;
	}

	.inp  textarea{
		width: 100%;
		max-width: 100%;
		min-width: 100%;
		padding-left:0px !important;
		padding-right:0px !important;
	}
	.contact .one{
		width: 90%;
		padding:5%;
	}
}