.sidebar .p1 h2@import url('source/jquery.fancybox.css');
@import url('jquery.bxslider.css');
@import url('source/helpers/jquery.fancybox-buttons.css');
 
 
 { background:url(source/jquery.fancybox.css)}
	.autocomplete-suggestion{
		width: 600px !important;
	}
	div#HeaderContainer{
		width: 100% !important;
		height: 95px !important;
		box-shadow: 0px 1px 30px 0px rgba(0,0,0,0.2);
	}
	div#HeaderContainer .hdrBtm{
		width: 990px !important;
	}
	.fancybox-lock .fancybox-overlay{
		overflow:hidden !important;
	}
	.bx-pager{
		display:none !important;
	}
	.first-height{
		height: 226px !important;
	}
			.displout{
		opacity:0;
		float:left;
		position:absolute;
		top:0px;
		left:0px;
		width: 100%;
		height: 100px;
		background:#2b4772;
		
-webkit-transition: all 3s ease-in-out;
  -moz-transition: all 3s ease-in-out;
  -o-transition: all 3s ease-in-out;
  transition: all .3s ease-in-out;
	}
	.displout h1{
		width: 100%;
		padding-top:38px;
		color:white;
		font-size: 20px;
		font-family: 'latolight';
		text-align: center;
	}
	.wf-inputpos{
		width: 300px;
	}
	#resultList{
		width: 600px !important; 
	}
	.deletetheinput  img{
		padding-top:31px !important;
	}
	.autocomplete-suggestion:hover, .dropdown li a:hover{
		background:#2b4772 !important;
	}
	.m-wrap{
		right:10px !important;
	}

	.content a {
		font-weight: bold ; 
margin-top: 45px ;
      color : #13315e  ;
      text-decoration: none ; 


	}


		.content a.bread-crumb :hover {

            color : #e75000 ;


		}


	.content a.bread-crumb 
{


font-weight: bold;
font-family: helvetica;
margin-top: 45px;
color: #13315e;
text-decoration: none;
font-size: 12px;

}


		.content a:hover {

            color : #e75000 ;


		}

	

		.content_lo{
	float:left;
		margin-top:85px;
	width: 100%;
}



section{
	float:left;

}

.bb17{
	float:left;
	width: 100%;
}



.in17 .content section > table {

float: left;
width: 99%;
padding-left: .5%;
font-family: arial;
font-size: 14px;
color: #13315e;
line-height: 24px;
padding-bottom: 20px;


}






.migraine_heading {

	background:url(../images/17/heading_migraine.jpg)no-repeat center center;


}
.asthma_heading {

	background:url(../images/17/heading_asthma.jpg)no-repeat center center;


}
.cellulitis_heading {

	background:url(../images/17/heading_cellulitis.jpg)no-repeat center center;


}
.anemia_heading {

	background:url(../images/17/heading_anemia.jpg)no-repeat center center;


}
.diarrhea_heading {

	background:url(../images/17/heading_diarrhea.jpg)no-repeat center center;


}
.bronchitis_heading {

	background:url(../images/17/heading_bronchitis.jpg)no-repeat center center;


}

.pinkeye_heading {

	background:url(../images/17/heading_pinkeye.jpg)no-repeat center center;


}

.fatigue_heading {

	background:url(../images/17/heading_fatigue.jpg)no-repeat center center;


}

.congestion_heading {

	background:url(../images/17/heading_congestion.jpg)no-repeat center center;


}

.cough_heading {

	background:url(../images/17/heading_cough.jpg)no-repeat center center;


}

.fever_heading {

	background:url(../images/17/heading_fever.jpg)no-repeat center center;


}


.headache_heading {

	background:url(../images/17/heading_headache.jpg)no-repeat center center;


}



.gout_heading {

	background:url(../images/17/heading_gout.jpg)no-repeat center center;


}

.acid_heading {

	background:url(../images/17/heading_acid.jpg)no-repeat center center;


}


.sexual_heading {

	background:url(../images/17/heading_sexual.jpg)no-repeat center center;


}


.premature_heading {

	background:url(../images/17/heading_premature.jpg)no-repeat center center;


}

.female_disorder_heading {

	background:url(../images/17/heading_female_disorder.jpg)no-repeat center center;


}

.erectile_heading {

	background:url(../images/17/heading_erectile.jpg)no-repeat center center;


}




.follow-me {
    position: fixed;
    float: left;
    top: 170px;
    width: 300px;
}


/*second add question with a sidebar*/

.small-adq-wrap {
	width: 990px;
	margin: 0px auto;
}
.small-adq-wrap .left {
	float: left;
	width: 600px;
}
.small-adq-wrap .add-question-wrap {
	width: 100%;
}
.small-adq-wrap .sidebar {
	width: 300px;
	float: right;
}
.small-adq-wrap .add-question .final-confirm .conf p {
	padding-right: 15px;
}
.small-adq-wrap .wrap-trauma label {
	width: 33%;
}
.small-adq-wrap .body-parts {
	background: #fff;
}
.small-adq-wrap #dd {
	background: #f8f8f8;
	border: 1px solid #d8d8d8;
}
.small-adq-wrap .dropdown li {
	background: #f8f8f8;
}
.sidebar .sidebar .bx-wrapper .bx-viewport {
	box-shadow: none !important;
	float: left;
}
.bslide {
	list-style: none !important;
}
.sidebar .sidebar .bx-wrapper .bx-viewport ul {
	list-style : none
}
.small-adq-wrap input, .small-adq-wrap textarea {
	background: #f8f8f8;
	border: 1px solid #d8d8d8;
}
.small-adq-wrap #itemlist #symptominput, .small-adq-wrap #itemlist #autocompletemedication, .small-adq-wrap #itemlist #autocompletehistory {
	background: #f8f8f8;
}
.small-adq-wrap .body-parts .head {
	background: url(../images/bodypartsv2/head.png) no-repeat 0px 0px;
}
.small-adq-wrap .body-parts .leftarm {
	background: url(../images/bodypartsv2/leftarm.png) no-repeat 0px 0px;
}
.small-adq-wrap .body-parts .chestleft {
	background: url(../images/bodypartsv2/chestleft.png) no-repeat 0px 0px;
}
.small-adq-wrap .body-parts .chestright {
	background: url(../images/bodypartsv2/chestright.png) no-repeat 0px 0px;
}
.small-adq-wrap .body-parts .rightarm {
	background: url(../images/bodypartsv2/rightarm.png) no-repeat 0px 0px;
}
.small-adq-wrap .body-parts .stomachleft {
	background: url(../images/bodypartsv2/stomachleft.png) no-repeat 0px 0px;
}
.small-adq-wrap .body-parts .stomachright {
	background: url(../images/bodypartsv2/stomachright.png) no-repeat 0px 0px;
}
.small-adq-wrap .body-parts .lefthand {
	background: url(../images/bodypartsv2/lefthand.png) no-repeat 0px 0px;
}
.small-adq-wrap .body-parts .lowerabdom {
	background: url(../images/bodypartsv2/lowerabdom.png) no-repeat 0px 0px;
}
.small-adq-wrap .body-parts .righthand {
	background: url(../images/bodypartsv2/righthand.png) no-repeat 0px 0px;
}
.small-adq-wrap .body-parts .lefttight {
	background: url(../images/bodypartsv2/lefttigh.png) no-repeat 0px 0px;
}
.small-adq-wrap .body-parts .righttight {
	background: url(../images/bodypartsv2/righttigh.png) no-repeat 0px 0px;
}
.small-adq-wrap .body-parts .shinboneleft {
	background: url(../images/bodypartsv2/shinboneleft.png) no-repeat 0px 0px;
}
.small-adq-wrap .body-parts .shinboneright {
	background: url(../images/bodypartsv2/shinboneright.png) no-repeat 0px 0px;
}
.small-adq-wrap .body-parts .leftfeet {
	background: url(../images/bodypartsv2/leftfeet.png) no-repeat 0px 0px;
}
.small-adq-wrap .body-parts .rightfeet {
	background: url(../images/bodypartsv2/rightfeet.png) no-repeat 0px 0px;
}
.small-adq-wrap .add-question .final-confirm .conf img {
	padding-left: 15px;
	margin-top: 7px;
}
.small-adq-wrap .add-question .single span {
	color: #ffffff;
}
.small-adq-wrap #itemlist #addbutton {
	background: #13315e;
}
.small-adq-wrap .wrap-take-picture div {
	background: #13315e;
}
.small-adq-wrap .f-b .wrap-labels label {
	border: 1px solid #13315e;
	color: #13315e;
}
.small-adq-wrap .add-question .final-confirm .conf, .small-adq-wrap .wrap-take-picture div {
	border-radius : 0px !important;
}
.small-adq-wrap .add-question textarea, .small-adq-wrap .wrap-trauma label, .small-adq-wrap #dd, .small-adq-wrap #itemlist #symptominput, .small-adq-wrap #itemlist #autocompletemedication, .small-adq-wrap #itemlist #autocompletehistory {
	border-radius : 0px !important;
}
.small-adq-wrap #itemlist #addbutton, .small-adq-wrap .flabel, .small-adq-wrap .slabel {
	border-radius : 0px !important;
}
.small-adq-wrap .flabel {
	background: #13315e;
}
.small-adq-wrap .slabel p {
	color: #13315e;
}
.small-adq-wrap .f-b .wrap-labels label {
	border: 1px solid #13315e;
	color: #13315e;
}
.small-adq-wrap input:hover {
	box-shadow: 0 0 10px #13315e;
}
.small-adq-wrap textarea:hover {
	box-shadow: 0 0 10px #13315e;
}
.small-adq-wrap .wrap-trauma label:hover, .small-adq-wrap #dd:hover {
	box-shadow: 0 0 10px #13315e;
}
.small-adq-wrap .autocomplete-suggestion:hover, .dropdown li a:hover {
	background: #13315e;
}
.small-adq-wrap .autocomplete-suggestion {
	width: 650px !important;
}
.small-adq-wrap .sidebar {
	margin-top: 60px;
}
.small-adq-wrap .sidebar .one {
	float: left;
	width: 100%;
	padding: 15px 10px 15px 10px;
	background : #f1f1f1;
	border-bottom: 8px solid #e0e0e0;
}
.small-adq-wrap .sidebar .one:last-of-type {
	border-bottom: 3px solid #8c8c8c;
}
.small-adq-wrap .sidebar .one > a {
	float: left;
	font-family: 'latobold';
	font-weight: 700;
	font-size: 14px;
	color: #70a241;
	text-decoration: none;
}
.small-adq-wrap .sidebar .one > a:hover {
	text-decoration: underline;
}
.small-adq-wrap .sidebar .one ul {
	float: left;
	width: 100%;
	list-style: none;
}
.small-adq-wrap .sidebar .one ul li {
	float: left;
	width: 100%;
	padding-bottom: 5px;
}
.small-adq-wrap .sidebar .one ul img {
	float: left;
	display: block;
	margin-top: 2px;
	margin-right: 10px;
}
.small-adq-wrap .sidebar .one ul a {
	float: left;
	font-family: 'latolight';
	font-weight: 700;
	font-size: 14px;
	color: #505050;
	text-decoration: none;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}
.small-adq-wrap .sidebar .one ul a:hover {
	padding-left: 5px;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}
.small-adq-wrap .fake-radio {
	background: url(../images/ns1.png) 0px -21px;
}
.small-adq-wrap .active-fake {
	background: url(../images/ns1.png) 0px 0px;
}
.small-adq-wrap .body-parts {
	width: 100%;
}
.small-adq-wrap .f-b {
	width: 101%;
}
.bslid {
	float: left;
	width: 100%;
}
.bslid h2 {
	float: left;
	color: #13315e;
	width: 100%;
	font-size: 27px;
	font-family: 'latoregular';
	padding-bottom: 20px;
}
.bslid p {
	float: left;
	color: #13315e;
	width: 95%;
	padding-left: 1%;
	font-size: 18px;
	line-height: 25px;
	font-family: 'latolight';
	padding-bottom: 25px;
}
.bslide {
	float: left;
	width: 100%;
	height: auto !important;
	background: #f8f8f8;
}
.bslide li {
	float: left;
	background: #f8f8f8;
	width: 300px !important;
	padding: 15px;
	min-height: 900px;
}
.bslide li img {
	float: left;
	display: block;
	margin: 10px;
}
.sidebar .bx-pager {
	display: none !important;
}
.sidebar .bx-wrapper .bx-viewport {
	height: 900px !important;
	float: left;
}
.bslide li > h1 {
	float: left;
	width: 100%;
	text-align: center;
	font-family: 'latoregular';
	color: #13315e;
	font-size: 32px;
	padding-bottom: 15px;
}
.bslide li > h2 {
	float: left;
	width: 100%;
	text-align: center;
	font-family: 'latolight';
	color: #13315e;
	font-size: 32px;
	padding-bottom: 15px;
}
.bslide li > h3 {
	float: left;
	width: 100%;
	text-align: center;
	font-family: 'latolight';
	color: #13315e;
	font-size: 22px;
	padding-bottom: 15px;
}
.bslide li > p {
	float: left;
	width: 100%;
	text-align: center;
	font-family: 'latolight';
	color: #13315e;
	font-size: 22px;
	padding-bottom: 15px;
}
.bslide li > h4 {
	float: left;
	width: 100%;
	text-align: center;
	font-family: 'latolight';
	color: #13315e;
	font-size: 22px;
	padding-bottom: 15px;
}
.bslide li .two {
	float: left;
	width: 100%;
	padding: 20px 0px 20px 0px;
}
.bslide li .two h1 {
	float: left;
	width: 100%;
	font-family: 'latoregular';
	color: #13315e;
	font-size: 18px;
	padding-bottom: 5px;
}
.bslide li .two h4 {
	float: left;
	width: 100%;
	font-family: 'latolight';
	color: #13315e;
	font-size: 18px;
	line-height: 28px;
}
.bslide li .two h5 {
	float: left;
	width: 100%;
	font-family: 'latolight';
	color: #13315e;
	font-size: 18px;
	line-height: 28px;
}
.bslide li .two h3 {
	float: left;
	width: 100%;
	font-family: 'latolight';
	color: #13315e;
	font-size: 18px;
	line-height: 28px;
}
.bslide li .two p {
	float: left;
	width: 100%;
	font-family: 'latolight';
	color: #13315e;
	font-size: 18px;
	line-height: 28px;
}
/*end second add question with a sidebar*/

.sidebar {
float: left;
width: 0px;
margin-top: 59px;
}


.sidebar .p1 {
float: left;
width: 224px;
border-radius: 3px;
background: url(../images/top_content2.png) no-repeat -1px 0px;
padding: 20px;
/* padding-right: 25px; */
margin-bottom: 30px;
box-shadow: 0px 1px 1px #888888;
}
.sidebar .p1 .sidebar-title {
float: left;
width: 100%;
margin-bottom: 25px;
margin-top: -12px;
font-size: 15px;
font-family: 'latoregular';
color: white;
}
.sidebar .p1 ul {
	list-style-image: url(../images/17/bullet.png);
	float: left;
	width: 230px;
	margin-left: 20px;
}
.sidebar .p1 ul li {
	float: left;
	width: 100%;
	margin-bottom: 5px;
}
.sidebar .p1 ul li a {
	text-decoration: none;
	width: 100%;
	margin-top: 2px;
	font-size: 16px;
	font-family: 'latolight';
	color: #13315e;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}
.sidebar .p1 ul li a:hover {
	padding-left: 5px;
	text-decoration: underline;
	cursor: pointer;
}
.sidebar .p1 h2 {
	float: left;
	width: 100%;

	margin-bottom: 25px;
	margin-top: -12px;
	font-size: 15px;
	font-family: 'latoregular';
	color: white;
}
.sidebar .p1 p {
	font-size: 16px;
	font-family: 'latolight';
	float: left;
	width: 100%;
	color: #13315e;
	text-align: justify;
}
.sidebar .p1 .pan {
	border-top: 1px solid #ddd;
	float: left;
	width: 100%;
	padding-top: 10px;
}
.sidebar .p1 .pan img {
	float: left;
	margin-right: 15px;
}
.sidebar .p1 a {
	text-decoration: none;
	font-size: 15px;
	font-family: 'latoregular';
	color: white;
}
.sidebar .p1 a:hover {
	text-decoration: underline;
}
.sidebar .p1 > a {
	width: 100%;
	float: left;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #ddd;
}
.sidebar .p1 .one {
	width: 110px;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
.sidebar .p1 .one:first-of-type {
	margin-right: 37px;
}
.sidebar .p1 .one img {
	float: left;
}
.sidebar .p1 .one p {
	float: left;
	padding-top: 5px;
	width: 100%;
	text-align: center;
	font-size: 14px;
	font-family: 'latolight';
	color: #13315e;
}
}
/* Left side bar */
.sidebar_left {
	width: 20px;
	margin-top: 20px;
		margin-left: 174px;

}
.sidebar_left .p1 {
	background: url(../images/top_content.png) no-repeat;
	float: left;
	width: 200px;
	/*	border:1px solid #d8d8d8;
-moz-border-radius: 0px;
-webkit-border-radius: 4px 4px 0px 0px;
border-radius: 4px 4px 0px 0px; */
	padding: 20px;
	margin-bottom: 10px;
}
.sidebar_left .p1 h1 {
	float: left;
	width: 100%;
	font-size: 24px;
	font-family: 'latoregular';
	color: #13315e;
	margin-bottom: 15px;
}
.sidebar_left .p1 ul {
	list-style-image: url(../images/17/bullet.png);
	float: left;
	width: 230px;
	margin-left: 10px;
}
.sidebar_left .p1 ul li {
	float: left;
	width: 100%;
	margin-bottom: 12px;
}
.sidebar_left .p1 ul li a {
	text-decoration: none;
	width: 100%;
	margin-top: 2px;
	font-size: 16px;
	font-family: 'latolight';
	color: #13315e;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}
.sidebar_left .p1 ul li a:hover {
	padding-left: 5px;
	text-decoration: underline;
	cursor: pointer;
}
.sidebar_left .p1 h2 {
	float: left;
	width: 100%;
	font-size: 16px;
	font-family: 'latoregular';
	color: white;
	margin-bottom: 16px;
	margin-top: -12px;
}
.sidebar_left .p1 p {
	font-size: 16px;
	font-family: 'latolight';
	float: left;
	width: 100%;
	color: #13315e;
	text-align: justify;
}
.sidebar_left .p1 .pan {
	border-top: 1px solid #ddd;
	float: left;
	width: 100%;
	padding-top: 10px;
}
.sidebar_left .p1 .pan img {
	float: left;
	margin-right: 15px;
}
.sidebar_left .p1 a {
	text-decoration: none;
	font-size: 15px;
	font-family: 'latoregular';
	color: #13315e;
}
.sidebar_left .p1 a:hover {
	text-decoration: underline;
}
.sidebar_left .p1 > a {
	width: 100%;
	float: left;
	margin-bottom: 5px;
	margin-top: 5px;
	padding-top: 10px;
	border-top: 1px solid #ddd;
}
.sidebar_left .p1 .one {
	width: 110px;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
.sidebar_left .p1 .one:first-of-type {
	margin-right: 37px;
}
.sidebar_left .p1 .one img {
	float: left;
}
.sidebar_left .p1 .one p {
	float: left;
	padding-top: 5px;
	width: 100%;
	text-align: center;
	font-size: 14px;
	font-family: 'latolight';
	color: #13315e;
}


.ask_doc_box {
    width: 282px;
    height: 306px;
    margin-top: -307px;
    background-color: white;
    border: 2px solid #d8d8d8;
    margin-left: 10px;
    float: right;
}
#ask_cta {
    float: left;
    margin-top: 5px;
    background: #e75000;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 272px;
    height: 38px;
    margin-left: 10px ;
}



#doc_img {
border-radius: 50% 50%;
width: 70px;
height: 70px;
margin-top: 20px;
float: left;
}
.doc_box_content {
margin-top: -17px !important;
margin-left: 18px !important;
padding-top: 7px;
width: 260px;
}
.doc_box_title {
    margin-top: 4px !important;
    margin-left: 29px !important;
    font-family: 'latoregular';
    color: #13315e;
    font-size: 14px;
}
.overview_title {
    line-height: 40px !important;
    margin-left: 2px !important;
    font-family: 'latoregular';
    color: #13315e;
    font-size: 16px;
}
.overview_sub {
    margin-left: 2px !important;
    font-family: 'latolight';
    color: #13315e;
    font-size: 16px;
}
.doc_box_trust {
    margin-left: 8px !important;
    font-family: 'latoregular';
    color: #13315e;
    font-size: 14px;
}
.doc_box_trust li {
    margin-top: 16px !important;
}
.doc_box_online {
    margin-top: 6px !important;
    font-family: 'latoregular';
    text-decoration: underline;
    color: #13315e;
    font-size: 14px;
    cursor: pointer;
    padding-left: 5px;
}
.doc_box_text {
    margin-top: 2px !important;
    margin-left: 5px !important;
    font-family: 'latoregular';
    color: #13315e;
    font-size: 12px;
}
.doc_box_dt #specialty_img {
    margin-top: 2px;
    margin-left: 6px;
}
#baseDiv {
    margin-left: 60px;
}
#baseDiv_a {
    margin-left: 60px;
}
.star_img {
    width: 12px;
    height: 12px;
    margin-left: 5px !important;
}
.trust_img {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -3px !important;
}

.ask_text_box {
font-size: 15px;
padding: 20px;
font-family: helvetica;
color: #13315e;
width: 178px;
height: 123px;
border: 1px solid #d8d8d8;
resize: none;
overflow: auto;
margin-top: 16px;
margin-bottom: 5px;
}
.ask_text_box:hover {
    box-shadow: 0 0 10px #9ecaed;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.ask_text_field {
    width: 206px;
    height: 30px;
    border: 2px solid #d8d8d8;
}



.subm{
	float:left;
	width: 100%;
	background: #13315e;
	margin-top: -44px;
}

.subm ul{
	width: 990px;
	margin:20px auto;
}

.subm ul li{
	float:left;
	font-size:18px;
	font-family: 'latoregular';
	color:#fff;
	cursor:pointer;
	margin-right:23px;
	padding-right:24px;
	border-right:1px solid #fff;
	margin-bottom: 15px;
}

.subm ul li:hover{
	text-decoration: underline;
}

.subm ul li:last-of-type{
	padding-right:0px;
	border-right:none;
	margin-right:0px;
}


.follow-me-sm {
    position: fixed;
    top: 130px;
    z-index: 600;
    left: 0px;
}


.follow-me-not {
	margin-top : 0px !important;
}



@media   (max-width: 1680px)  {


	.follow-me-not {
	margin-top : -270px !important;
}
}

.CSSTableGenerator {
	margin:112px 0px 30px 0px ;padding:0px;
	width:692px;
	box-shadow: 3px 1px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#f8f8f8; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:15px;
	font-family:Helvetica;
	font-weight:bold;
	color:#13315e;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #13315e 5%, #13315e 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #13315e), color-stop(1, #13315e) );
	background:-moz-linear-gradient( center top, #13315e 5%, #13315e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#13315e", endColorstr="#13315e");	background: -o-linear-gradient(top,#13315e,13315e);

	background-color:#13315e;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #13315e 5%, #13315e 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #13315e), color-stop(1, #13315e) );
	background:-moz-linear-gradient( center top, #13315e 5%, #13315e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#13315e", endColorstr="#13315e");	background: -o-linear-gradient(top,#13315e,13315e);

	background-color:#13315e;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
