

p,span,li,h1,h2,h3,a {

  font-family: 'Roboto' !important ;
}


p{
  margin-bottom: 0.25rem !important ;
}
small{

  font-size: 75% !important ;
}

input {
    background-color: transparent;
    border: 0px solid;
    height: 20px;
    width: 160px;
    color: #CCC;
}
*:focus {
    outline: 0;
}

body{
  background-color: #f1f1f1!important ; 
}
.top-bar .title-area{
  margin: 6px !important; 
}
.top-bar{
    height: 4.8125rem !important;
 
}

.top-bar-section ul{
  margin-right: 20px !important ; 
}
textarea {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.bc-container {
  margin-bottom: 15px ; 
}

h1{

  color : white !important; 
}

h1.page-title {
  padding: 16rem 2rem 0px 48px;
  float: left; 
  font-size: 1.75rem !important ;


}
h2{

  font-size: 1.25rem !important ;
  color : #757575 !important ; 
  margin-bottom: 25px ;
  margin-top: 25px !important ;

}



h3{

  color : #689FC5 !important; 
  font-size: 15px !important ;
  margin-bottom: 25px !important ;
  margin-top: 25px !important ;

}

p,ul,li {
  font-size: 1rem !important ;
}

.content-bullets{

    margin-left: 3.1rem !important;
    list-style: square;
}

/*Structure*/

@media only screen {
  .row .columns, .row .column {
    padding-left: 0.5px; 
    padding-right: 0.5px;
  }
}

.content-column{

}
.questions-column{

  height: 592px;
  overflow-y: scroll;
  border-top : 1px solid #EDEDED !important; 
  border-bottom: 1px solid #EDEDED !important; 
    box-shadow: 0px 1px 1px #888888;

}

/*style of inside scrollbar */
div::-webkit-scrollbar {
    width: 4px;
}
div::-webkit-scrollbar-track {
    display: none ;
    border-radius : 50px;
    border : none !important;

}
div::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius : 50px;

}
div::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}
p::-webkit-scrollbar {
    width: 6px;
}
p::-webkit-scrollbar-track {
    display: none ;
    border-radius : 50px;
    border : none !important;

}
p::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius : 50px;

}
p::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}


.scrollable{
  overflow-y : auto;
  height: 205px !important;
  padding-right : 5px ;
}
.heading{
  
height: 332px;
background-repeat: no-repeat;
background-size:cover ;
-webkit-background-size:cover ;
-moz-background-size:cover ;
-o-background-size:cover ;
  box-shadow: inset -25px -123px 103px -29px rgba(0,0,0,0.3);
 -moz-box-shadow:    inset -25px -123px 103px -29px rgba(0,0,0,0.3);
-webkit-box-shadow: inset -25px -123px 103px -29px rgba(0,0,0,0.3);

}

.heading-question{
    height: 332px;
    background-repeat: no-repeat;
    /* -webkit-background-size: contain; */
    -moz-background-size: cover;
    -o-background-size: cover;
/*    background-position: 15%;
    background-color: white;*/
    

}
.panel {
  margin-bottom: 0px !important ; 
}

.main-column {
  padding-left :0px !important;
  padding-right:0px !important ;

}



.main-row{
  padding-left :0px !important;
  padding-right: 0px !important ;

}
.container{
  border-width: 1px !important;
  border-color: #EDEDED !important;
  background: #FFF !important;
  box-shadow:  1px 2px 3px -2px #7d7d7d;
   padding: 30px !important;

}

.ask-container{
  border-width: 0px !important;
  background: #FFF !important;
  padding-top: 0 !important ;
  box-shadow:  1px 2px 3px -2px #7d7d7d;


}

  .bread-crumb{

    font-size: 12px !important;
    color : #689FC5 !important ;

  }



  
/*Buttons*/
.ask-btn{

  margin-top: 0px !important ;
}

.expand{
  height: 80px !important ;
  padding-top: 2rem !important;
}
.blue-btn{
  background-color: white !important ; 
  color: #757575 !important;
    border-bottom: 5px solid #689FC5 !important ;
      box-shadow:  1px 2px 3px -2px #7d7d7d;



}
.white-btn{
  background-color: white !important ; 
  color: #757575 !important;
    box-shadow:  1px 2px 3px -2px #7d7d7d;

}
.white-btn:hover{
border-bottom: 5px solid #689FC5 ;
}
.orange-btn{
  background-color: white !important ; 
  color: #757575 !important;
  border-bottom: 5px solid #f26c4f !important ;
    box-shadow:  1px 2px 3px -2px #7d7d7d;


}

/*.orange-btn p {
  background: #f26c4f !important;
    width: 169px;
    margin: -9px auto;
    padding: 6px;
}*/

/*.orange-btn p.ask-bubble:after {

  content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 143px;
    top: 50px;
    border: 15px solid;
    border-color: #fff transparent transparent #fff;
    border-left: 17px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f26c4f;
}*/


.button:hover {
  opacity: 0.8 !important;
}
/*
.active-button{

box-shadow: 0px 4px 14px #B3B3B3

}
*/
/*Texts*/

.blue-text {
  color :#689FC5 !important ;
}

.gray-text{
  color :gray!important ;
}

/*Doctor sidebar*/
.doc-img{

  border-radius: 50% 50%;
  height: 65px;
  width: 65px;
  margin-right: 12px;
  float: left;
}

.doc-img-big{

    border-radius: 50% 50%;
    height: 90px;
    width: 90px;
    background-size: 90px 90px;
    margin: 0 auto;
}

.doc-img-small{

  border-radius: 50% 50% ;
  margin-right: 5px ;
}



.doc-text{

  display: block ; 
  text-align: left; 
}

.stars{

  width:98px ;
  display: block;
  margin: 0 auto;
}

.doc-title{
  line-height: 29px !important ; 
  text-align: center; 
  width:250px ;
  display: block;
  margin: 0px auto 15px auto;
  font-size: 19px !important;
}
.ask-bubble{
      background-color: #f26c4f;
    height: 34px;
    padding: 4px;
    width: 100%;
    margin: -5px auto;
    color: white !important;
}

.ask-bubble-right{
      background-color: #f26c4f;
    height: 34px;
    padding: 4px;
    width: 291px;
    margin: -5px auto;
    float: right;
    color: white !important;
}

.askdoc-btn{
  background-color: white !important ; 
  border: 0 !important ;
}

.question_text{

border: 0 !important;
    border-top: 3px solid #f99f7a !important;
    background-color: #fff !important;
     color: grey !important; 
    resize: none !important;
    padding-top: 25px !important;
    padding-left: 20px !important;
    margin-top: 20px;
   -webkit-box-shadow: inset 0px 0px 10px -4px rgba(168,168,168,1);
-moz-box-shadow: inset 0px 0px 10px -4px rgba(168,168,168,1);
box-shadow: inset 0px 0px 10px -4px rgba(168,168,168,1);



}


::-webkit-input-placeholder { /* WebKit browsers */
    color:   grey;

}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:   grey;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:   grey;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:   grey;
}


.side-nav li.divider{

  border-top-color: #EDEDED !important ; 
}


.links-list{
    background: url(../img/arrow.png) 90% 11px no-repeat;
}

.links-list:hover{
    background: url(../img/arrow.png) 90% 11px no-repeat;
}

.links-icon{
  margin-right: 10px ;

}

/*Header*/

.top-bar{

  background-color: white !important ; 
}

.top-bar:not(.top-bar.expanded){

  height: 3.8125rem !important ;
}

.top-bar-section ul li > a{
color :gray!important ;

}

.top-bar-section ul li > a:hover{
color : #689FC5 !important ;

}


.top-bar-section ul li > a.active-menu{
color : #689FC5 !important;

}


.top-bar-section li:not(.has-form) a:not(.button){
  background-color: #fff !important ;
}

.top-bar-section ul li{
  background-color: #fff !important ;
}


.top-bar-section ul{

  padding-top: 12px !important ;
}



.top-bar .toggle-topbar.menu-icon a span::after{

  box-shadow: 0 0 0 1px #48b1a4, 0 7px 0 1px #48b1a4, 0 14px 0 1px #689FC5 !important ;
}

.top-bar.expanded .title-area {

  background-color: #fff !important ;
}

.search-icon {
      float: left ; 
    margin: 13px !important ;
    cursor : pointer ;
}

.search-input input {
  padding-top: 0px !important;
  float: left ;
  outline : 0 !important ;
  border: 0 !important ;
  box-shadow: none !important ; 
  border-bottom: 1px solid gray !important ;
}

.menu-min * {

  display : none ;
}

.page-title-min   {
      display: none ;

  }

/*responsive menu for content*/
.menu-min{
  display: none ;
}


.portal-condition-title{
  margin-bottom:35px ;
}
@media only screen and (max-width: 40em) {

  .side-menu * {
    display: none ; 
  }

  .menu-min{
    display: block;
  }
  .menu-min *  {

    display: block ; 
  }

  .menu-min div.min-section  {

    color : gray;
    margin : 5px ; 
    display: none ; 
  }

  .menu-min div.min-section p  {

    color : gray;
    margin : 10px ; 
  }
  .main-content * {

    display: none ; 
  }

  /*Page title Responsive*/

      .page-title-min   {
      padding: 16rem 0rem 0px 0px;
      float: right; 
      display: block ; 


  }

      .page-title-min span  {

    background-color: #689FC5 ;
    padding: 23px;
    color:white ;
    font-style: normal !important;
    font-size : 30px !important ;


  }

  .page-title {
  display : none;
}

  h1.portal-title {
    display : none;

}

  }


.treatments-list,.diagnosis-list,.related-list,.risk-factors-list,.symptoms-list li{

list-style: none ;
}


.related-list-portal{
  padding :26px;
  list-style: none ;
  margin-bottom:20px;
  overflow:hidden;
}


@media only screen and (max-width: 40em) {
.related-list-portal li{
  display:block;
}


  }

.related-list-portal li{
  line-height:1.5em;
  float:left;
  font-size: 15px !important ;
  display:inline;
}


.related-list-portal li a{
  font-size: 12px !important ;
}
#triple li  { width:33.333%; } <span class="code-comment">/* 3 col */</span>

/*details page*/



h1.questions-header {

  color: gray !important;
  font-size: 28px !important;
  padding-top: 120px !important;
  margin-right: 20%;
  max-width: 420px;
  word-wrap: break-word;
}

.questions-links-list{
    background: url(../img/arrow-right.png) 90% 11px no-repeat;
}

.questions-links-list:hover{
    background: url(../img/arrow-right.png) 90% 11px no-repeat;
}

a.question-link{
  text-decoration: none ; 
  color : #689FC5 !important;
}

.right-links {

  color :gray !important;
  box-shadow: 1px 2px 5px #888888
}

.right-links li  {

  margin : 10px !important;


}


.right-links li a {

  color :gray !important;
  padding : 10px !important;


}

/*Portals*/


.separation-row{

  margin : -10px -22px 0 -22px !important;
  padding-bottom: 0px !important ;
}
.blue-separation {

  height:2px ;
  background-color: #689FC5 ;
  border:none !important;
    margin: 15px 0px 0px !important
}
.top-separation {

  height:3px ;
  background-color: #689FC5 ;
  border:none !important;
    margin: 15px 0px 0px !important
}
.portal-image {
  border-radius: 50% 50% ;
  float: left !important;
  top: -16px;
  position: relative;
  margin-right: 4px;
}

.portal-text{

  font-size: 12px !important;
  padding: 0 !important;


}
.portal-readmore{
    font-size: 12px !important;

}

h1.portal-title {
  padding: 8rem 2rem 0px 0px;
  width: 445px;
  float: right;
  font-size: 34px !important;
}

.portal-container{

  border: -1px #EDEDED !important;
  border-left: none !important;
  border-color: #EDEDED !important;
  background: #FFF !important;
  box-shadow: 1px 3px 4px #EDEDED;
  margin: 0 !important;
  overflow: hidden;
  height:285px ;

}

.last-container {

  margin-right: -6px !important ;

}
.portals-column {
  padding : 0 !important;
}

.realted-questions-column{

height: 204px ; 
overflow-y : scroll ; 
}


/*Side menu*/ 
.side-nav{
  padding: 30px !important ;
}
.side-nav
.side-menu li {
  background-color: white ;
}

.side-menu li a {

  color :gray !important  ;
}

.side-menu li:hover {
  border-left: 5px solid #689FC5 ; 

}


.side-menu li:focus {
  background-color: #689FC5 !important;
    color :white  !important ;

}

.related-title {

    font-size: 14px !important;
    color: #757575 !important;
    border-bottom: 4px solid #689FC5 ;
    padding: 20px 0px 20px 45px;


}

.related-questions-title {

    font-size: 14px !important;
    color: #757575 !important;
    border-bottom: 3px solid #689FC5 ;
    background-color: white ; 
    padding: 20px 0px 20px 45px;
    margin-top: 3px ;


}

.related-nav-container,.side-nav-container{

  padding : 0 !important ;
}

.related-nav-container{
  margin-top: 3px !important ; 
}


/*Blog */

h1.blog-title{
  font-family: 'Roboto' !important; 
  font-size: 1.65rem;
  color : gray !important ;
  margin-bottom: 0px !important ;
}


h1.blog-title2{
  font-family: 'Roboto' !important; 
  font-size: 1.75rem;
  color : gray !important ;
  margin-bottom: 20px !important ; 
}
.top-row{
  background-color: white !important ; 
}

.blog-author{

  color: #689FC5 ;
  font-style: italic; ;

}

.blog-details{
  padding-top: 15px !important ;
  padding-bottom: 15px !important ;
  padding-left: 15px !important ;
  padding-right: 40px !important ;
}

.blog-details-overview{
  padding-top: 20px !important ;
  padding-left: 40px !important ;
  padding-right: 40px !important ;
}

.blog-no-results{
padding : 60px !important;
}


.example-orbit-content li{
  padding-left: 15px !important;
}
.blogSlider h2.sub-heading {
  margin-top :0px !important;
  margin-bottom:  :15px !important;
}
.heading-blog{

    height: 332px;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.heading-blogSlider{

    height: 475px;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.heading-blog2{

    height: 255px;
    margin-right: 20px ;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.main-row-blog {
  padding-left :0px !important;
  padding-right: 0px !important ;


}


.blog-post{
  padding: 4%;
    background-color: white;
}
.blogSlider{
  padding-left: 50px !important ;
  padding-right: 50px !important ;
  padding-top: 50px !important ;

    background-color: white;
}


.orbit-container .slide {
    background-size: contain;
}

.orbit-container .orbit-prev{
  left: 0px !important ;
}
.blog-post p {
  margin-bottom: 20px !important;
}

.blogSlider p {
  margin-bottom: 0px !important;
}

.blog-tags{
  list-style: none;
  margin-top: 20px ;
}


.blog-tags img {
  margin-right: 10px ;
}


.pagination-list{
  margin : 0 auto !important;
  width:59%;
  text-align : center ;
}


.pagination-list li{
  line-height:1.5em;
  display:inline;
}



.blogSlider-tags{
  margin-bottom : 0.50em !important;
 margin-left :0px !important ;
  list-style: none ;
  width:470px;
  overflow:hidden;
}

@media only screen and (max-width: 40em) {
.blogSlider-tags{
  width:300px;
}

  }


.blogSlider-tags li{
  line-height:1.5em;
  float:left;
  display:inline;
  margin-right: 10px ;
  font-size: 12px !important;
}

.blogSlider-tags-long{
  padding-top: 10px ;
  margin-left :0px !important ;
  list-style: none ;
  width:800px;
  overflow:hidden;
}

.blogSlider-tags-long li{
  line-height:1.5em;
  float:left;
  display:inline;
    margin-right: 10px ;
      font-size: 12px !important;

}

#triple-tags li  { width:33.333%; } 

.blogSlider-intro 
{
  padding-bottom : 15px !important ; 
}


.blogSlider-ending 
{
  padding-top: 20px !important ; 

}

.overview-p {
  line-height:1.2em;
    height:auto;
    overflow:hidden;
}

/*Search bar*/
#custom-search-input {
        margin:0;
        padding: 0;
    }
 
    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 20px;
        padding-left: 4px \9;
        margin-left: 1%;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border-color: #E3E3E3 ;
    }
        #custom-search-input .search-query:focus {
          z-index : 0 ; 
      }
 
    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#689FC5;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }

    .search-container,#search-container{
      width : 100% !important;
    }

    /*Search bar*/



.blog-overview-row{
/*  margin-top: 25px !important ;
*/  margin-bottom: 25px !important ;
}

.filter-buttons-row{
  margin-top: 5px !important ;
}

ul.social-network {
  margin-top: 0.50em !important ;
    list-style: none;
    display: -webkit-inline-box !important;
    display: inline ; 
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network span {
  height: 20px !important ;
}

.social-circle li a {
    background: #CCCCCC;
    color: white ;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 10px 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 25px;
    height: 25px;
    font-size: 15px;
}



/*Social network buttons */
/* footer social icons */
.social-network a.icoRss:hover {
  background-color: #F56505;
}
.social-network a.icoFacebook:hover {
  background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
  background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
  background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
  background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
  background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i, 
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
  color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
  color:#44BCDD;
}


.social-circle li i {
  margin:0;
  text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}


/*Slider*/


/*.example-orbit-content {
   height: auto !important ;
}*/
/*.orbit-container .orbit-slides-container{
  height: 665px !important ;
}
*/
.example-orbit-content li div {
    background-size: 888px !important;
    background: white;
    padding-top: 8px !important;

}


.orbit-container .orbit-prev, .orbit-container .orbit-next{
  top: 260px !important;
}

.orbit-container .orbit-next:hover  {
   opacity: 0.5 ;
   background-color: transparent !important; ; 
 }

 .orbit-container .orbit-prev:hover  {
   opacity: 0.5 ;
   background-color: transparent !important; 
 }


.blogSlider-row{
  margin-left: 20px !important ;
  margin-right : 20px !important;
}

.orbit-next  {
   content: url("../images/next-arrow.png");
   width: 33px !important;
   height: 58px !important;
   margin-right: 2px ;
}

.orbit-prev  {
   content: url("../images/back-arrow.png");
   width: 33px !important;
   height: 58px !important;
  margin-left: 2px ;

}



.orbit-slide-number{
    color: gray !important;
    font-size: 15px !important;
    top: 510px !important;
    left: 91% !important;
}





.question-details-box{
/*      height:5em;
*/    overflow:hidden;
}


/*CRM FORM*/

#crmWebToEntityForm *{
      font-family: 'Roboto' !important;
      color: gray !important ;

}

#crmWebToEntityForm{
  margin: 25px auto !important ;
}

#crmWebToEntityForm input[type='submit']{
  font-size: 18px !important ; 
  cursor: pointer ;
  height: 50px !important ;
  background-color: white !important ; 
  color: #757575 !important;
  box-shadow:  1px 3px 14px -1px #7d7d7d ;
  margin-bottom: 25px !important ;
    border-bottom: 5px solid #f26c4f !important ;

}

#crmWebToEntityForm input[type='submit']:hover{
    border-bottom: 2px solid #f26c4f !important ;

      -ms-transform: translate(0px,5px); /* IE 9 */
    -webkit-transform: translate(0px,5px); /* Safari */
    transform: translate(0px,5px);

}

#crmWebToEntityForm input[type='reset']{
  display: none ;
  font-size: 18px !important ; 
  cursor: pointer ;
  height: 50px !important ;
  background-color: white !important ; 
  color: #757575 !important;
  border-bottom: 5px solid #689FC5 !important ;
  box-shadow:  1px 2px 3px -2px #7d7d7d;

}

#submit-modal .title {
  margin: 0 auto !important;
  color: gray !important ;
  display: block;
  width: 50%;
}

#submit-modal .lead {
  margin: 0 auto !important;
  color: gray !important ;
  display: block;
  width: 70%;
}

#submit-modal.small{

  width: 25%!important ;
} 


/*Header*/

 .header{
    list-style: none;
    margin-right: 30px;
 }

/*Blog Ask a doctor box */
 .askadoctor-box
{
  background-color: white ; 
  padding: 25px 70px !important; 
}

.askadoctor-row{

  margin-top: 20px !important;
}

.doc-image-row{
margin: 20px 0px 0px 0px !important ;
}

.doc-image-title{
margin: 5px 0px 0px 0px  !important ;
}

.doc-text2{
  text-align: center !important ;
}
.doc-border{
    height: 3px;
    width: 30px;
    margin: 0 auto;
    background-color: #689FC5 !important;
}