body {
	    background: #e8eeee;
	     font-family: Roboto, Arial;
}
.left{
	width: 650px;
	float:left;

}

.head{
	float:left;
	width: 100%;
}

.head p {
    color: #3e4545;
    font: 700 15px Roboto light, sans-serif;
    float: left;
    margin-top: -2px;
    margin-left: 80px;
}
.header-wrapper {
    background: #fff;
    padding-top: 30px;
    padding-bottom: 40px;
}
.header-wrapper .left {
	width: 400px;
}
.header-wrapper .right {
  float: right;
  width: 600px;
}
.header-wrapper .right .one {
	float: none;
}
.header-wrapper .right .one img {
	display: block;
}
.header-wrapper .right .one {
	margin-top: 0;
}
.header-wrapper .right .one .btn {
	background: rgba(255,255,255, 0.5);
	font-size: 12px;
	color: #3e4545;
	text-decoration: none;
	padding: 5px 25px;
	float: right;
	margin-top: 5px;
	margin-right: 60px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #e5e6e6;
}
.below{
	float:left;
	width: 100%;
	margin-top:60px;
}

.below p{
	float:left;
	width: 100%;
	font-size:18px;
	text-align: center;
}

.below p b{
	color:#f46200;
	font-weight: bold;
}

.tooltip{
	cursor:pointer;
}
.right{
	float:right;
	width: 260px;
}

.right{
	float:right;
	width: 260px;
}

.right > p{
	font-weight: bold;
	font-size:14px;
}

.right .one {
    margin-top: 245px;
    float: left;
    padding: 10px;
    position: relative;
}
.doc {
    width: 252px;
    height: auto;
    position: absolute;
}
.right .one h3 {
    margin-bottom: 20px;
    padding-left: 8px;
}
.right .one p {
    float: left;
    color: #0065a2;
    font-family: Roboto light, Arial;
    font-weight: 500;
    font-size: 17px;
    padding-left: 5px;
}
.right .one img{
	float:left;
	display: none;
}

.right .one .two{
	width: 100%;
	margin-bottom: 15px;
    margin-top: 5px;
    text-align: center;
    padding: 5px 15px 5px 60px;
    display: table-cell;
    vertical-align: bottom;
    position: relative;
}
.right .one .two:first-of-type:before {
    background: url(../images/payment-how-it-works.png) 0 0px;
}
.right .one .two:last-of-type:before {
    border: none;
    background: url(../images/payment-how-it-works.png) 0 -116px;
}
.right .one .two:before {
    top: 5px;
    left: 20px;
    margin-left: 0;
    content: " ";
    position: absolute;
    width: 30px;
    height: 30px;
    background: url(../images/payment-how-it-works.png) 0 -60px;
}

.steps{
	float:left;
	width: 100%;
	margin-top:20px;
}

.obox{
	float:left;
	width: 100%;
	position:relative;
}

.obox h1{
	float:left;
	color:#3e4545;
	font-weight: 700;
	font-size:32px;
	font-family: roboto light, sans-serif;
	width: 100%;
	margin-top:0px;
	margin-bottom:20px;
}

.obox p{
	float:left;
	width: 100%;
	font-size:17px;
}
.obox > p{
	margin-bottom:28px;
}
.obox > a{
	margin-left:161px;
}

.obox img{
	position:absolute;
	top:35px;
	right:0px;
}
.icon_s {
    width: 12px;
    height: 12px;
}
.star {
    fill: #ff9009;
}
.docpanel{
	position:relative;
	padding:20px 10px;
	float:left;
	width: 100%;
	background:#fff;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
}
.docpanel .profile-img {
	float: left;
	width: 104px;
	margin-left: 5px;
}

.depositdoctor {
	max-height: 64px;
	max-width: 64px;
}

.docpanel .profile-desc {
	float: left;
	width: 160px;
}

.docpanel > h1{
	font-size:14px;
}
.docpanel .profile-desc  > p{
	font-size:15px;
	font-weight: 400;
}

.watch{

	float:right;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	position:absolute;
	right:15px;
	top:20px;
	border: 2px solid #ffa200;
	width: 315px;
	height: 80px;
	padding-left:30px;
	background:url(../images/appointment_stopwatch.gif) no-repeat 16px 6px;
	background-size: 52px;
	background-color:#ffffff;
}
.watch p{
	text-align: center;
	width: 100%;
	color:#1366a4;
	font-family: roboto light, sans-serif;
	font-size: 16px;
	margin-top: 6px;
}

.paymentswap{
	float:left;
	width: 100%;
	margin-top:20px;
}

.paymentswap .one{
	float:left;
	margin-top:10px;
	width: 100%;
	position: relative;
	margin-bottom: 10px;
}

.paymentswap .one p{
	float:left;
	width: 170px;
	font-size:16px;
	background: #1366a4;
	color: #fff;
	font-family: roboto light, sans-serif;
	text-align: center;
	padding: 8px 0;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
}

.paymentswap .one input{
	height: 35px;
	float:left;
	border: 0;
	padding: 0 10px;
	font-size: 15px;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
}

.paymentswap .one select{
	height: 35px;
	float:left;
	border: 0;
	padding: 0 5px;
	font-size: 15px;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
}

.helper{
	float:left;
	margin-left:20px;
	margin-top:5px;
}

.paymentswap .two{
	float:left;
	margin-top:10px;
	width: 100%;
	margin-bottom:20px;
}

.paymentswap .two p{
	font-size:15px;
	float:left;
}

.paymentswap .two p a{
	color:#1366a4;
	text-decoration: underline;
}

.paymentswap .two p a:hover{
	color:#f90;
}

.paymentswap .two img{
	float:left;
	margin-right:10px;
}

.obox a{
	color:#1B92AB;
}

.obox a:hover{
	color:#f90;
}

.endcta{
	float:left;
	width: 100%;
	margin-bottom: 40px;
}

.endcta a,
.submitBtnClass{
	float:left;
	display:block;
	width: 250px;
	height: 40px;
	line-height: 39px;
	background:#ffa200;
	overflow:hidden;
	margin-top:20px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
}

.endcta a:hover,
.submitBtnClass:hover{
	opacity:0.8;
}




.endcta img{
	float:right;
}

.right .two{
	float:left;

	padding:5px;
}
.doc{
	width: 252px;
	height: auto;
}

.right .how{
	float:left;
	width: 280px;
	padding:20px;
	background:#eaf9fc;
	margin-top:20px;
}

.right .how h1{
	font-size:16px;
	font-weight: bold;
	margin-bottom:10px;
}

.right .how p{
	font-size:12px;
	font-weight: bold;
}

.right .how p a{
	color:#1B92AB;
}

.right .how span{
	font-size:11px;
}

.right .how p a:hover{
	color:#f90;
}


.right .who{
	float:left;
	width: 280px;
	padding:20px;
	background:#F4EFE0;
	margin-top:20px;
}
.right .who img{
	display:block;
	margin:0px auto;
}

.right .who p{
	font-size:12px;
	float:left;
	width: 100%;
	margin-top:10px;
	margin-bottom:10px;
}

.right .who h1{
	font-weight: bold;
	font-size:12px;
	font-style:italic;
}


.right .what{
	float:left;
	width: 280px;
	padding:20px;
	position:relative;
	background:#F4EFE0;
	margin-top:20px;
}
.right .what img{
	position:absolute;
}

.right .what p{
	font-size:12px;
	float:left;
	margin-top:10px;
	margin-bottom:10px;
	width: 250px;
	margin-left:20px;
	margin-right:20px;
}

.right .what h1{
	font-weight: bold;
	font-size:12px;
	font-style:italic;
	float:right;
	width: 100%;
	text-align: right;
}

.testimonial{
	width:100%;
	float:left;
	padding-top:10px;
}

.testimonial p:nth-child(2) {
    font-weight: bold;
}
.testimonial p:nth-child(3) {
    font-weight: bold;
}


.bx-controls-auto {
	display:none !important;
}

.bx-next, .bx-prev  {
	text-decoration: underline;
	display: inline;
	padding: 0;
	margin: 0;
	border: 0;
	font-size: 12px;
}
.bimage{
	width: 150px !important;
}
.bimage div{
	width: 200px !important;
}
.helpop{
	width: 400px;
	position:relative;
}
.helpop h2{
	font-weight: bold;
	font-size:14px;
}
.txts{width: 200px !important;
margin-left:20px;}
.helpop p{
	font-size:13px;
}
.ones{
	margin-top:20px;
	width: 100%;
	float:left;
	margin-bottom:20px;
}

.ones div{
	width: 100%;
	float:left;
}

.ttr{
	text-align: right !important;
	margin:0px !important;
}

.satisfaction img {
	margin-left: -89px;
	float: left;
}

.trustseal img {
	float: right;
	margin-top: -50px;
}




.paymentswap .cvc-tooltip {
	position: fixed;
	bottom: 20px;
	left: 0;
	background: #fff;
	z-index: 10;
	border: 1px solid #336699;
	padding: 20px;
	border-radius: 5px;
	width: 470px;
	display: none;
	color: #336699;
}



.paymentswap .cvc-tooltip h3 {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
}

.paymentswap .cvc-tooltip h4 {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 10px;
}

.paymentswap .cvc-tooltip p {
	font-size: 14px;
	width: 100%;
	color: #1366a4;
	font-weight: normal;
	background: none;
	text-align: left;
}

.paymentswap .cvc-tooltip .left {
	float: left;
	clear: both;
	margin-top: 20px;
	width: auto;
}

.paymentswap .cvc-tooltip .right {
	float: right;
	width: 260px;
	margin-top: 20px;
}
.paymentswap .showit p{
	width: 100%;
	text-align: left;
	background: none;
	color: black;
	font-size: 14px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.fineprint {
	font-size: 12px;
	font-family: roboto, sans-serif;
}

.fineprint a {
	color: #1366a4;
}
