.docsignup{
	float:left;
	width: 100%;
	margin-top:86px;
}

.half{
	float:left;
	width: 50%;
	margin-top:40px;
	
}

.half:first-of-type{
	border-right: 1px solid #dddddd;
}

.confirmbox{
	float:left;
	width: 100%;
}

.confirmbox img{
	display:block;
	margin:0px auto;
}

.confirmbox p{
	float:left;
	width: 100%;
	text-align: center;
	font-weight: 500;
	font-size:18px;
	line-height: 22px;
	margin-top:10px;
}

p,h1,span{
	color:#5f5f5f;
	font-family: 'roboto';
}

.one{
	float:left;
	width: 100%;
	margin-top:20px;
	margin-bottom:30px;
}

.one input{
	float:left;
	width: 330px;
	height: 40px;
	padding-left:8px;
	padding-right:8px;
	font-family: 'roboto';
	font-size:18px;
	color:#5f5f5f;
	margin-bottom:15px;
}

.smaller-wrap{
	width: 350px;
	margin:0px auto;
}

.one a{
	float:left;
	cursor:pointer;
	display:block;
	width: 100%;
	height: 60px;
	background:#f7931d;
	text-decoration: none;
}
.one a:hover{
	opacity:.8;
}

.one a p{
	font-size:21px;
	font-family:'roboto';
	font-weight: 500;
	float:left;
	margin-top:19px;
	color:#ffffff;
	margin-left:105px;
}

.one a img{
	margin-top:14px;
	margin-left:10px;
	float:left;
}
span{
	font-size:10px;
	font-weight: 600;
}

.halfright h1{
	float:left;
	margin-top:40px;
	width: 100%;
	font-weight: 300;
	font-size:38px;
	line-height: 50px;
}

.halfright p{
	float:left;
	width: 100%;
	font-size:18px;
	line-height: 25px;
	margin-top:25px;
}

.halfright{
	width: 49%;
}


.two input{
	float:left;
	width: 150px;
	height: 40px;
	padding-left:8px;
	padding-right:8px;
	font-family: 'roboto';
	font-size:18px;
	color:#5f5f5f;
	margin-bottom:15px;
}

.two input:nth-of-type(2){
	float:right;
}

.two{
	float:left;
	width: 100%;
}


.agree{
	float:left;
	margin-top:20px;
	width: 100%;
}
.block{
	cursor:pointer;
}

.agree p{
	width: 100%;
	color:#5f5f5f;
	font-family: 'roboto';
	line-height: 21px;
	padding-top:2px;
	cursor:pointer;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

.agree a:hover{
	color:#5f5f5f;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}
.agree a{
	padding-top:2px;
	text-decoration: underline;
	color:#5f5f5f;
	font-size:16px;
	
}

.agree .block{
	float:left;
	width: 25px;
	height: 60px;
	margin-right:10px;
	position:relative;
}

.agree .block img{
	width: 25px;
	padding:0px;
	margin:0px;
	height: 25px;
}

.payment-checked{
	position:absolute;
	top:0px;
	left:0px;
	opacity:0;
}

.gender{
	float:left;
}

.gender p{
	float:left;
	width: 163px;
	height: 29px;
	font-size:18px;
	font-family: 'roboto';
	border:1px solid #b2b8be;
	background:#ffffff;
	color:#5f5f5f;
	text-align: center;
	display:block;
	padding-top:13px;
	cursor:pointer;
	font-weight: 400;
}

.gender p:first-of-type{
	margin-right:20px;
	background:#729f2d;
	color:#ffffff;
}