.docsignup{
	float:left;
	width: 100%;
	margin-top:86px;
}

.half{
	float:left;
	width: 50%;
	margin-top:40px;
}

.confirmbox{
	float:left;
	width: 100%;
}

.confirmbox img{
	display:block;
	margin:0px auto;
}

.confirmbox p{
	float:left;
	width: 100%;
	text-align: center;
	font-weight: 500;
	font-size:18px;
	line-height: 22px;
	margin-top:10px;
}

p,h1,span{
	color:#5f5f5f;
	font-family: 'roboto';
}

.one{
	float:left;
	width: 100%;
	margin-top:20px;
}

.one input{
	float:left;
	width: 330px;
	height: 40px;
	padding-left:8px;
	padding-right:8px;
	font-family: 'roboto';
	font-size:18px;
	color:#5f5f5f;
	margin-bottom:15px;
}

.smaller-wrap{
	width: 350px;
	margin:0px auto;
}

.one a{
	float:left;
	display:block;
	width: 100%;
	height: 60px;
	background:#f7931d;
	text-decoration: none;
}

.one a p{
	font-size:21px;
	font-family:'roboto';
	font-weight: 500;
	float:left;
	margin-top:19px;
	color:#ffffff;
	margin-left:105px;
}

.one a img{
	margin-top:14px;
	margin-left:10px;
	float:left;
}
span{
	font-size:10px;
	font-weight: 600;
}

.halfright h1{
	float:left;
	margin-top:40px;
	width: 100%;
	font-weight: 300;
	font-size:38px;
	line-height: 50px;
}

.halfright p{
	float:left;
	width: 100%;
	font-size:18px;
	line-height: 25px;
	margin-top:25px;
}

.halfright{
	width: 49%;
	border-left:1px solid #dddddd;
}