.doctor{
	float:left;
	width: 100%;
	margin-top:86px;
}

.doctor .heading{
	float:left;
	position:relative;
	height: 450px;
	width: 100%;
	overflow:hidden;
	background:url(../images/doctors/heading.jpg) no-repeat center center;
}




.doctor .heading h1{
	float:right;
	width: 500px;
	margin-top:140px;
	font-size:45px;
	text-align: right;
	z-index:300;
	position:relative;
	line-height: 50px;
	font-weight: 300;
}

.doctor h1{
	color:#5f5f5f;
	padding-bottom:10px;
	float:left;
	width: 100%;
	margin-top:40px;
	font-size:45px;	
}
.doctor p{
	color:#5f5f5f;
	 line-height: 22px;
	 float:left;
}
.doctor > p{
	float:left;
	color:#5f5f5f;
}

.doctor .types{
	float:left;
	width: 100%;
	margin-top:30px;
}

.doctor .types .one{
	float:left;
	width: 100%;
	margin-bottom:25px;
}
.doctor .types .one .left{
	float:left;
	width: 80px;
}
.doctor .types .one .left img{
	float:left;
	width: 80px;
	height: 80px;
}
.doctor .types .one .right{
	float:right;
	width: 890px;
	padding-top:8px;
	padding-left:20px;
}
.doctor .types .one .right p{
	float:left;
	width: 100%;
}
.doctor .types .one p b{
	float:left;
	padding-bottom:5px;
}

.docs{
	float:left;
	width: 100%;
}

.docs .ind{
	float:left;
	width: 33.3%;
	min-height: 360px;
}

.docs .ind img{
	width: 250px;
	height: 250px;
	margin:0px auto;
	margin-top:30px !important;
	display:block;
	-webkit-border-radius: 250px;
	-moz-border-radius: 250px;
	border-radius: 250px;
}

.docs .ind p{
	float:left;
	width: 100%;
	text-align: center;
	padding-top:5px;
	color:#5f5f5f;
}


.docs .ind p:first-of-type{
	font-weight: 500;
}

/*MEDIA QUERIES*/

/*pagewidth =  748*/
@media only screen 
and (min-width : 768px) 
and (max-width : 1023px){

	.doctor .heading{
		height: 300px;
		background-position: -548px -1px;
	}
	.doctor .heading h1{
		margin-top:69px;
		

	}
	.doctor .types .one .right{
		width: 86%;
	}
	.docs .ind img{
		width: 80%;
		height: auto;
	}
	.docs .ind{
		height: 300px;
	}
}



/*pagewidth =  460*/
@media only screen 
and (min-width : 480px) 
and (max-width : 767px){

	.doctor .heading{
		height: 200px;
		background-position: -440px -73px;
	}

	.doctor .heading h1{
		
		margin-top:69px;
		background:rgba(19, 49, 94, .6);
		color:#ffffff;
		float:left;
		text-align: left;
		font-size:18px;
		position:absolute;
		left:0px;
		bottom:200px;
		width: 96%;
		padding-left:2%;
		line-height: 19px;
		padding-top:10px;
		padding-bottom:10px;
		padding-right:2%;
	}
	.doctor h1{
		font-size:26px;
	}
	.docs .ind img{
		width: 80%;
		height: auto;
	}
	.doctor .types .one .right{
		width: 78%;
	}
	.docs .ind{
		height: 252px;
	}

}
/*pagewidth =  280*/
@media only screen 
and (max-width : 479px){

	.doctor .heading{
		height: 200px;
		background-position: -640px -73px;
	}

	.doctor .heading h1{
		margin-top:69px;
	}
	.doctor .heading h1{
		margin-top:69px;
		background:rgba(19, 49, 94, .6);
		color:#ffffff;
		float:left;
		text-align: left;
		font-size:18px;
		position:absolute;
		left:0px;
		bottom:200px;
		width: 96%;
		padding-left:2%;
		line-height: 19px;
		padding-top:10px;
		padding-bottom:10px;
		padding-right:2%;
	}
	.doctor h1{
		font-size:26px;
	}
	.docs .ind img{
		width: 80%;
		height: auto;
	}
	.docs .ind{
		width: 50%;
	}
	.doctor .types .one .right{
		width: 64%;
	}
	.docs .ind{
		height: 240px;
	}
}