.faq{
	float:left;
	width: 100%;
	margin-top:86px;
}

.heading{
	float:left;
	width: 100%;
	height: 450px;
	background: url(../images/faq/FAQ.jpg) no-repeat center center;
}

.heading h1{
	float:right;
	text-align: right;
	width: 500px;
	font-size:50px;
	color:#5f5f5f;
	margin-top:140px;
	font-weight: 300;
}

.text{
	margin-top:30px;
	float:left;
	padding-bottom:30px;
	width: 100%;
}
.text h1{
	color:#5f5f5f;
	float:left;
	font-size: 45px;
	padding-bottom:15px;
}
.text p{
	color:#5f5f5f;
	float:left;
	width: 100%;
	line-height: 23px;
}

/*tabs*/

/*start tabs */



#faqtabs{
	float:left;
	width: 100%;
}

#faqtabs li{	
	float:left;
	width: 243.7px;
	margin-right:5px;
	padding-bottom:45px;
}

#faqtabs li:hover{	
	outline:none;
	background:url(../images/index/tab-active-bg.png) no-repeat 3px 74px;
}

#faqtabs > div{
	float:left;
	padding-top:10px;
}

#faqtabs > div p{
	color:#5f5f5f;
    line-height: 20px;
}

#faqtabs > div p{
	padding-top:5px;
	padding-bottom:5px;
}
#faqtabs > div .one{
	float:left;
	width: 100%;
	padding-top:10px;
	padding-bottom:10px;
}

#faqtabs li:hover a{
	background-color:#13315e;
	color:#ffffff;
}

#faqtabs li:last-of-type{
	margin-right:0px;	
}
#faqtabs li a{
	margin:0px;	
	padding:20px 0px 20px 20px;
	font-size:24px;
	color:#13315e;
	display:block;
	width: 221px;
	float:left;
	text-decoration: none;
	border:1px solid #13315e;
}

#faqtabs .ui-tabs-active{	
	outline:none;
	background:url(../images/index/tab-active-bg.png) no-repeat 3px 74px;
}

#faqtabs .ui-tabs-active a{
	color:#ffffff;
	outline:none;
}

#faqtabs li:nth-of-type(1) a{
	background:url(../images/faq/medic.png) no-repeat;
	background-position: 175px 5px;
}
#faqtabs li:nth-of-type(2) a{
	background:url(../images/faq/lock.png) no-repeat;
	background-position: 175px 5px;
}
#faqtabs li:nth-of-type(3) a{
	background:url(../images/faq/pay.png) no-repeat;
	background-position: 162px 12px;
}
#faqtabs li:nth-of-type(4) a{
	background:url(../images/faq/leaf.png) no-repeat;
	background-position: 175px 11px;
}

#faqtabs li:nth-of-type(1):hover a{
	background-color:#13315e;
	background-position: 175px -140px;
}
#faqtabs li:nth-of-type(2):hover a{
	background-color:#13315e;
	background-position: 175px -140px;
}
#faqtabs li:nth-of-type(3):hover a{
	background-color:#13315e;
	background-position: 162px -147px;
}
#faqtabs li:nth-of-type(4):hover a{
	background-color:#13315e;
	background-position: 175px -97px;
}

#faqtabs .ui-tabs-active .tab1{
	background-color:#13315e;
	background-position: 175px -140px;
}

#faqtabs .ui-tabs-active .tab2{
	background-color:#13315e;
	background-position: 175px -140px;
}

#faqtabs .ui-tabs-active .tab3{
	background-color:#13315e;
	background-position: 162px -147px;
}

#faqtabs .ui-tabs-active .tab4{
	background-color:#13315e;
	background-position: 175px -97px;
}




/*MEDIA QUERIES*/

/*pagewidth =  748*/
@media only screen 
and (min-width : 768px) 
and (max-width : 1023px){
	.doctor .heading img{
		height: 300px;
	}
	.heading{
		height: 300px;
		position:relative;
	}
	.heading h1{
		margin-top:99px;
	}
	#faqtabs li a{
		width: 135px;
		font-size:18px;
	}
	#faqtabs li{
		margin-right:38px;
		width: 158px;
	}
	#faqtabs li:last-of-type{
		margin-right:0px;
	}

}



/*pagewidth =  460*/
@media only screen 
and (min-width : 480px) 
and (max-width : 767px){
	.doctor .heading img{
		height: 200px;
	}
	.heading{
		height: 200px;
		position:relative;
	}
	.heading h1{
		position:absolute;
		bottom:0px;
		left:0px;
		width: 96%;
		padding-left:2%;
		padding-right:2%;
		font-size:18px;
		line-height: 19px;
		padding-top:10px;
		padding-bottom:10px;
		background:rgba(19, 49, 94, .6);
		color:#ffffff;
		text-align: left;
	}
	.text h1{
		font-size:26px;
	}
	#faqtabs li a{
		width: 205px;
		font-size:23px;
	}
	#faqtabs li{
		width: 225px;
		padding-bottom:5px;
	}
	.index .tab > h1{
		font-size:25px;
	}
	#faqtabs .ui-tabs-active .tab1{
		background-position: 150px -140px;
	}
	#faqtabs li:nth-of-type(1):hover a{
		background-position: 150px -140px;
	}
	#faqtabs li:nth-of-type(1) a{
		background-position: 150px 5px;
	}

}
/*pagewidth =  280*/
@media only screen 
and (max-width : 479px){

	.heading{
		height: 200px;
		position:relative;
	}
	.heading h1{
		position:absolute;
		bottom:0px;
		left:0px;
		width: 96%;
		padding-left:2%;
		padding-right:2%;
		font-size:18px;
		line-height: 19px;
		padding-top:10px;
		padding-bottom:10px;
		background:rgba(19, 49, 94, .6);
		color:#ffffff;
		text-align: left;
	}
	.text h1{
		font-size:26px;
	}
	#faqtabs li a{
		width: 205px;
		font-size:18px;
	}
	#faqtabs li{
		width: 225px;
		padding-bottom:1px;
		margin-left:2px;
		margin-right:2px;
	}
	.tab > h1{
		font-size:25px;
	}
	.tab > h1{
		font-size:18px;
	}
	#faqtabs li a{
		width: 116px;
	}
	#faqtabs li{
		width: 135px;
	}
}