.content-full-wrap {
    float: left;
    width: 100%;
    margin-top: 0px;
}
.small-adq-wrap .left {
    margin-top: 15px;
}
/*.fullwrap {
    float: left;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #d8d8d8;
    z-index: 99999;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #fff;
}
.fullwrap header {
    width: 990px;
    margin: 0px auto;
}
.fullwrap header .logo {
    float: left;
    display: block;
    margin: 20px 20px 20px 0;
    background: url(../images/log2o.png) no-repeat;
    width: 291px;
    height: 66px;
    text-indent: -9999px;
    overflow: hidden;
}
.fullwrap header ul {
    list-style: none;
    float: right;
    margin-top: 45px;
}
.fullwrap header ul li {
    float: left;
    padding: 5px 0px 5px 20px;
}
.fullwrap header ul li a {
    font-size: 18px;
    padding-right: 15px;
    border-right: 1px solid #13315e;
    font-family: 'latoregular';
    float: left;
    text-decoration: none;
    color: #13315e;
}
.fullwrap header ul li a:hover {
    text-decoration: underline;
}
.fullwrap header ul li .last {
    border-right: none;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px ; 
}
.fullwrap header ul li:last-of-type:hover {
    opacity: 0.8;
}
.fullwrap header ul li .last:hover {
    text-decoration: none;
}
.fullwrap header ul li .last a:hover {
    text-decoration: none
}
.fullwrap header ul li:nth-of-type(5) a {
    border-right: none !important;
}
.fullwrap header ul li:last-of-type {
    background: #e75000;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all .3 ease-in-out;
    -moz-transition: all .3 ease-in-out;
    -o-transition: all .3 ease-in-out;
    transition: all .3 ease-in-out;
}*/
#cta-now h1 {
    margin-bottom: 20px;
}
.lp-new-wrap .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    width: 227px !important;
}
.index {
    float: left;
    margin-top: 75px;
    width: 100%;
}
.index #aboutus-tab {
    float: left;
    height: 290px;
}
#MainContainer {
    float: left;
    width: 100%;
}
.threestepprocess {
    float: left;
    width: 100%;
    margin-top: 55px;
}
.threestepprocess .mini {
    width: 990px;
    margin: 0px auto;
    position: relative;
}
.threestepprocess .mini .step {
    margin: 0px auto;
    display: block;
}
.threestepprocess .mini h3 {
    width: 330px;
    text-align: center;
    float: left;
    font-size: 16px;
    margin-top: 15px;
    color: #13315e;
    font-family: 'latoregular';
}
.p3sp .check {
    position: absolute;
    left: 474px;
    top: -1px;
}
.thx3sp .check {
    position: absolute;
    left: 800px;
    top: 0px;
}
.follow-me {
    position: fixed;
    float: left;
    top: 170px;
    width: 300px;
}
.margin-top {
    float: left;
    width: 100%;
    margin-top: 150px;
}
.follow-me-not {
    margin-top : 0px !important;
}



@media   (max-width: 1680px)  {


    .follow-me-not {
    margin-top : -270px !important;
}
}

#b_f91216c3_395 {
    position: absolute;
    display: none;
}
b {
    font-family: 'latoregular';
}
.about {
    margin-top: 85px;
}
.follow-me-sm {
    position: fixed;
    top: 100px;
    z-index: 600;
    left: 0px;
}

.inpwrp {
    width: 990px;
    margin: 0px auto;
}
.inpwrp p {
    float: left;
    width: 100%;
    text-align: left;
}
