#itemlist #symptominput,#itemlist #autocompletemedication,#itemlist #autocompletehistory{
	width: 83% !important;
}

.doctor .heading h1{
	letter-spacing: -3px !important;
}


.usecases h1{
	padding-top:29px !important;
}






/*pagewidth =  460*/
@media only screen 
and (max-width : 479px){
	.service .sub-menu ul{
		width: 300px !important;
	}
	.service #why{
		float:right !important;
	}

	.service #price{
		float:right !important;
	}
	.service #use{
		margin-right:0px !important;
	}

	.service .usecases h1{
		padding-top:28px !important;
	}
}


@media only screen 
and (min-width : 480px) 
and (max-width : 767px){
	.sub-menu ul {
		width: 100% !important;
		padding-left:4px !important;
	}

}

@media only screen 
and (max-width : 479px){
	.pad-this-on-ger{
		padding-bottom:31px !important;
	}
}


