/*DEFINE FONTS*/
/*  300 light
    400 medium
    700 bold*/

@font-face {
  font-family: 'robotobold';
  src: url('../fonts/roboto-bold-webfont.eot');
  src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-bold-webfont.woff2') format('woff2'), url('../fonts/roboto-bold-webfont.woff') format('woff'), url('../fonts/roboto-bold-webfont.ttf') format('truetype'), url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotomedium';
  src: url('../fonts/roboto-medium-webfont.eot');
  src: url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-medium-webfont.woff2') format('woff2'), url('../fonts/roboto-medium-webfont.woff') format('woff'), url('../fonts/roboto-medium-webfont.ttf') format('truetype'), url('../fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/roboto-regular-webfont.eot');
  src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-regular-webfont.woff2') format('woff2'), url('../fonts/roboto-regular-webfont.woff') format('woff'), url('../fonts/roboto-regular-webfont.ttf') format('truetype'), url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotolighitalic';
  src: url('../fonts/roboto-lightitalic-webfont.eot');
  src: url('../fonts/roboto-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-lightitalic-webfont.woff2') format('woff2'),
  url('../fonts/roboto-lightitalic-webfont.woff') format('woff'),
  url('../fonts/roboto-lightitalic-webfont.ttf') format('truetype'), url('../fonts/roboto-lightitalic-webfont.svg#robotolighitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotomediumitalic';
  src: url('../fonts/roboto-mediumitalic-webfont.eot');
  src: url('../fonts/roboto-mediumitalic-webfont.e@ot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-mediumitalic-webfont.woff2') format('woff2'),
  url('../fonts/roboto-mediumitalic-webfont.woff') format('woff'),
  url('../fonts/roboto-mediumitalic-webfont.ttf') format('truetype'), url('../fonts/roboto-mediumitalic-webfont.svg#robotomediumitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

body,html {
  font-family: robotoregular;
  color: #373540;
  float:left;
  width: 100%;
}

p, h1, h2, h3, h4, h5, li, a {
  /*font-family: 'Roboto', sans-serif;*/
  color: #3b3b3b;
}

h1 {
  font-weight: 400;
  line-height: 125%;
}

p {
  font-weight: 300;
  line-height: 135%;
}

nav ul li a {
  font-size: 16px;
  font-weight: 700;
  color: #373540;
}

h4{
  margin-bottom:10px !important;
}
h2{
/*  margin-bottom:10px !important;*/

}
/*DEFINE FONTS END*/
            
     .diseases-dropdown  {
      position: absolute;
        display: none;
        top: 72px;
        z-index: 2;
        cursor: pointer;
        padding: 20px;
        background-color: white;
        border-radius: 5px;
        overflow: hidden;
        left: 58%;
    }
    
    .diseases-dropdown ul  {
        float: left;
        width: 166px;
    
    }
    .diseases-dropdown ul li {
        margin-left: 0px;
        line-height:1.5em;
        float: left;
          margin-left: 54px;
    }

    .diseases-dropdown ul  li a {
        font-size: 10px;
    }
/* DEFINE CONTENT WRAPS START */

/* FOOTER END */

/* CLEARFIX END*/
.mobslider .flex-control-nav{
  display:none;
}
.mobslider .flex-direction-nav{
  display:none;
}

.flex-container a:hover,
.flex-slider a:hover,
.flex-container a:focus,
.flex-slider a:focus {
  outline: none;
}

.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex-pauseplay span {
  text-transform: capitalize;
}

.flexslider {
  margin: 0;
  padding: 0;
  position: relative;
}

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
  position: relative;
}

.flexslider .slides img {
  width: 100%;
  display: block;
}

.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.flex-direction-nav {
  position: absolute;
  z-index: 5;
  top: 50%;
  width: 100%;
}
html[xmlns] .flexslider .slides {
  display: block;
}

* html .flexslider .slides {
  height: 1%;
}

.no-js .flexslider .slides > li:first-child {
  display: block;
}

.flexslider .flex-direction-nav a {
  position: absolute;
  top: 50%;
  margin-top: -24px;
  height: 48px;
  width: 26px;
  display: block;

}
.flexslider .flex-next,
.flexslider .flex-prev{
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}
.flexslider .flex-next:hover,
.flexslider .flex-prev:hover {
  opacity: 0.3
}

.flexslider .flex-prev {
  background-image: url('../img/tmp/index-arrow-slider-right.png');
  left: 35px;
}

.flexslider .flex-next {
  background-image: url('../img/tmp/index-arrow-slider-left.png');
  right: 35px;
}

/* FLEXSLIDER END*/

.heading-image > img {
  width: 100%;
}


.main-img > img {
  width: 100%;
}

@media (max-width: 767px) {
  h1{
    text-align: left;
    width: 100%;
    padding-left:20px;
    padding-right:20px;
    font-size:25px !important;
    margin-top:20px;
  }
  .bigwrap .desc br{
    display:none;
  }
  .heading-image > img{
    display:none;
  }

  .flexslider .slides img {
    display: none;
  }

  .flexslider .flex-direction-nav a{
    height: 26px;
    width: 14px;
    background-size: cover;
  }

  .flexslider .flex-prev{
    left: 15px;
  }

  .flexslider .flex-next{
    right: 15px;
  }


  h2 {
    font-size: 24px;
    color: #2884bf;
    font-family: robotomedium;
    line-height: 30px;
    margin-bottom: 10px;
  }

  .cta {
    display: inline-block;
    color: #fff;
    text-align: center;
    font-size: 13px;
    text-decoration: none;
    border: 2px solid #2884bf;
    padding: 13px 0;
    width: 280px;
    background: #2884bf;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
  }

  .content {
    float: left;
    width: 100%;
  }

  .bigwrap {
    width: 100%;
    margin: 0px auto;
    clear: both;
  }

  .middlewrap {
    width: 100%;
    margin: 0px auto;
    clear: both;
  }

  .minwrap {
    width: 100%;
    margin: 0px auto;
    clear: both;
  }

  .wrap {
    width: 100%;
    margin: 0px auto;
    clear: both;
    padding-left:20px;
    padding-right:20px;
  }


  .full {
    float: left;
    width: 100%;
  }

  /* DEFINE CONTENT WRAPS END */
  /* HEADER START */
  header {
    float: left;
    width: 100%;
    height: 65px;
    border-bottom:1px solid #d3d3d3;
    background-color: white ; 
  }

  header .logo {
    float: left;
    margin-top: 20px;
    margin-left:20px;
  }

  header .logo a {
    float: left;
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    width: 279px;
    height: 64px;
    background: url(../img/header/logo.png) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
  }

  header nav {
    float: right;
    margin-top: 20px;
    position: relative;
    z-index: 7;
    background: #fff;
    display: none;
    width: 100%;
    overflow: visible!important;
  }
  header nav li{
    float:left;
    width: 100%;
  } 
  header nav li a{
    float:left;
    display:block;
    width: 100%;
  } 

  .diseases-dropdown {
    left: 0;
  }
    
    .diseases-dropdown ul  {
      width: 100%;
    
    }
    .diseases-dropdown ul li {
      width: 50%;
      margin-left: 0;
    }

    .diseases-dropdown ul  li a {
      
    }

  .humb.active span {
    opacity: 0;
  }

  .humb.active:before {
    content: '';
    position: absolute;
    top: 0px;
    width: 30px;
    height: 3px;
    background: #000;
    transform: rotate(-45deg);
  }

  .humb.active:after {
    content: '';
    position: absolute;
    top: 0px;
    width: 30px;
    height: 3px;
    background: #000;
    transform: rotate(45deg);
  }

  .humb {
    position: absolute;
    top: 32px;
    right: 20px;
    display: block;
  }

  .humb span {
    width: 30px;
    height: 3px;
    background: #000;
    display: block;
    position: relative;
  }

  .humb:before {
    content: '';
    position: absolute;
    top: -7px;
    width: 30px;
    height: 3px;
    background: #000;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }

  .humb:after {
    content: '';
    position: absolute;
    top: 7px;
    width: 30px;
    height: 3px;
    background: #000;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }

  header nav ul {
    float: left;
  }

  header nav ul li {
    display: block;
    padding: 8px 20px;
    border-bottom: 1px solid #DADADA;
  }

  header nav ul li a {
    padding-bottom: 5px;
    text-decoration: none;
    display: block;

  }


  /* HEADER END */
  /* FOOTER START */
  footer {
    float: left;
    width: 100%;
  }

  footer nav {
    float: left;
    width: 100%;
    background: #f5f5f5;
  }

  footer nav ul {
    display: block;
    text-align: center;
    width: 100%;
    padding-left:20px;
    padding-right:20px;
  }

  footer nav ul li {
    display: inline-block;
    padding: 5px 5px;
    border-top: 3px solid rgba(0, 0, 0, 0);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    float:left;
  }

  footer nav ul li:hover {
    border-top: 3px solid #2884bf;
  }

  footer nav ul li a:hover {
    color: #2884bf;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
  }
  .footer-image-wrap{
    width: 270px;
    margin:0px auto;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:10px;
  }
  .footer-image-wrap img{
    width: 100px;
  }
  .footer-image-wrap img:nth-of-type(2){
    margin-right:0px;
    float:right;
  }
  footer nav ul .active:hover a {
    color: #373540;
  }

  footer nav ul .active {
   /* border-top: 3px solid #2884bf;*/
  }

  footer nav ul li a {
    text-decoration: none;
    float: left;
    display: block;
  }
  .mobhide{
    display:none !important;
  }
  .mobshow{
    display:block !important;
  }
  footer .logoterms {
    width: 100%;
    margin: 0px auto;
    clear: both;
    padding: 20px 0;
    text-align: center;
  }

  footer .logoterms img {
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
    float:left;
    margin-bottom:10px;
  }

  footer .logoterms p {
    font-weight: 300;
    display: inline-block;
    color: #939297;
    float:left;
    width: 100%;
    text-align: center;
    font-size:17px;
    padding-bottom:20px;
  }

}


@media (min-width: 768px) and (max-width: 1600px) {

  h2 {
    font-size: 36px;
    color: #2884bf;
    font-family: robotomedium;
    line-height: 38px;
    margin-bottom: 25px;
  }

  .cta {
    display: inline-block;
    color: #fff;
    text-align: center;
    font-size: 19px;
    text-decoration: none;
    border: 2px solid #2884bf;
    padding: 13px 0;
    width: 460px;
    background: #2884bf;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
  }

  .cta:hover {
    opacity: 0.7;
  }

  .content {
    float: left;
    width: 100%;
  }

  .bigwrap {
    max-width: 1600px;
    float:left;
    width: 100%;
  }

  .middlewrap {
    width: 1100px;
    margin: 0px auto;
    clear: both;
  }

  .minwrap {
    width: 100%;
    float:left;
    margin: 0px auto;
    clear: both;
  }

  .wrap {
    width: 990px;
    margin: 0px auto;
    clear: both;
  }



  .full {
    float: left;
    width: 100%;
  }

  /* DEFINE CONTENT WRAPS END */
  /* HEADER START */
  header {
    float: left;
    width: 100%;
    height: 110px;
        background-color: white ; 


    padding-left:20px;
    padding-right:20px;

  }

  header .logo {
    float: left;
    margin-top: 38px;
    margin-top: 41px;
    margin-left: 35px;
  }

  header .logo a {
    float: left;
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    width: 279px;
    height: 64px;
    background: url(../img/header/logo.png) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
  }

  header nav {
    margin-top: 44px;
    display: block !important;
    float: right;
  }

  header nav ul {
    float: left;
  }

  header nav ul li {
    float: left;
    margin-left: 25px;
    border-bottom: 2px solid #ffffff;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }

  header nav ul li:hover {
    border-bottom: 2px solid rgba(40, 132, 191, .55);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
  }

  header nav ul .active:hover {
    border-bottom: 2px solid rgba(40, 132, 191, 1);
  }

  header nav ul .active {
    border-bottom: 2px solid #2884bf;
  }

  header nav ul li a {
    padding-bottom: 5px;
    text-decoration: none;
    float: left;
    display: block;
  }


  
           
     .diseases-dropdown  {
    position: absolute;
      display: none;
      top: 72px;
      z-index: 2;
      cursor: pointer;
      padding: 23px;
      background-color: white;
      overflow: hidden;
      left: 58%;
    }
    
    .diseases-dropdown ul  {
      margin-left: 0px !important ;
        float: left;
        width: 167px;
    
    }
    .diseases-dropdown ul li {
      margin-left: 0px !important;
      line-height:1.5em;
      float: left;
      margin-left: 54px !important;
    }

    .diseases-dropdown ul  li a {
      font-size: 12px !important ;
    }
    
  /* HEADER END */
  /* FOOTER START */
  footer {
    float: left;
    width: 100%;
  }

  footer nav {
    float: left;
    width: 100%;
    background: #f5f5f5;
  }

  footer nav ul {
    display: block;
    text-align: center;
  }
  .footer-image-wrap{
    width: 385px;
    margin:0px auto;
    float:none;
  }
  footer .logoterms p{
    width: 100%;
    float:left;
    text-align: center;
    margin-top:20px;
    padding-bottom:30px;
  }
  footer nav ul li {
    display: inline-block;
    padding: 50px 19px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    position: relative;
  }

  footer nav ul li a:hover span,
  footer nav ul .active a span {
    width: 100%;
    display: block;
    position: absolute;
    border-top: 3px solid #2884bf;
    top: 0;
    left: 0;
  } 

  footer nav ul li a:hover {
    color: #2884bf;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
  }

  footer nav ul .active:hover a {
    color: #373540;
  }

  footer nav ul li a {
    text-decoration: none;
    float: left;
    display: block;
  }

  footer .logoterms {
    width: 800px;
    margin: 0px auto;
    clear: both;
    padding: 30px 0;
  }

  footer .logoterms img {
    display: inline-block;
    margin-right: 50px;
    vertical-align: middle;
  }

  footer .logoterms p {
    font-weight: 300;
    display: inline-block;
    color: #939297;
    vertical-align: middle;
  }
}


@media (min-width: 1601px){
  h2 {
    font-size: 36px;
    color: #2884bf;
    font-family: robotomedium;
    line-height: 38px;
    margin-bottom: 25px;
  }

  .cta {
    display: inline-block;
    color: #fff;
    text-align: center;
    font-size: 19px;
    text-decoration: none;
    border: 2px solid #2884bf;
    padding: 13px 0;
    width: 460px;
    background: #2884bf;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
  }

  .cta:hover {
    opacity: 0.7;
  }

  .content {
    float: left;
    width: 100%;
  }
  

  .bigwrap {
    max-width: 1350px;
    margin: 0px auto;

    clear: both;
  }

  .middlewrap {
    width: 1100px;
    margin: 0px auto;
    clear: both;
  }

  .minwrap {
    width: 860px;
    margin: 0px auto;
    clear: both;
  }

  .wrap {
    width: 990px;
    margin: 0px auto;
    clear: both;
  }



  .full {
    float: left;
    width: 100%;
  }

  /* DEFINE CONTENT WRAPS END */
  /* HEADER START */
  header {
    float: left;
    width: 100%;
    height: 110px;
        background-color: white ; 

  }

  header .logo {
    float: left;
    margin-top: 38px;
    margin-top: 41px;
    margin-left: 35px;
  }

  header .logo a {
    float: left;
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    width: 279px;
    height: 64px;
    background: url(../img/header/logo.png) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
  }

  header nav {
    float: right;
    margin-top: 45px;
    display: block !important;
  }

  header nav ul {
    float: left;
  }

  header nav ul li {
    float: left;
    margin-left: 25px;
    border-bottom: 2px solid #ffffff;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }

  header nav ul li:hover {
    border-bottom: 2px solid rgba(40, 132, 191, .55);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
  }

  header nav ul .active:hover {
    border-bottom: 2px solid rgba(40, 132, 191, 1);
  }

  header nav ul .active {
    border-bottom: 2px solid #2884bf;
  }

  header nav ul li a {
    padding-bottom: 5px;
    text-decoration: none;
    float: left;
    display: block;
  }

  /* HEADER END */
  /* FOOTER START */
  footer {
    float: left;
    width: 100%;
  }

  footer nav {
    float: left;
    width: 100%;
    background: #f5f5f5;
  }

  footer nav ul {
    display: block;
    text-align: center;
  }

  footer nav ul li {
    display: inline-block;
    padding: 50px 19px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    position: relative;
  }

  footer nav ul li a:hover span,
  footer nav ul .active a span {
    width: 100%;
    display: block;
    position: absolute;
    border-top: 3px solid #2884bf;
    top: 0;
    left: 0;
  } 

  footer nav ul li a:hover {
    color: #2884bf;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
  }

  footer nav ul .active:hover a {
    color: #373540;
  }

  footer nav ul li a {
    text-decoration: none;
    float: left;
    display: block;
  }

  footer .logoterms {
    width: 800px;
    margin: 0px auto;
    clear: both;
    padding: 30px 0;
  }

  footer .logoterms img {
    display: inline-block;
    margin-right: 50px;
    vertical-align: middle;
  }

  footer .logoterms p {
    font-weight: 300;
    display: inline-block;
    color: #939297;
    vertical-align: middle;
  }


  .logo{
  margin-left:0px;

}
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

  header nav {
    float: right;
    margin-top: 40px;
    position: relative;
    z-index: 7;
    background: #fff;
    display: none;
    width: 70%;
    overflow: visible!important;
  }

  header nav ul li {
    margin-left: 13px;
  }
  .diseases-dropdown {
    left: 0;
  }

}













  @media (min-width: 768px) and  (max-width: 1024px){

    .wrap{
      width: 100%;
      padding-left:20px;
      padding-right:20px;
    }
    footer nav ul li{
      padding:50px 5px;
    }
    footer .logoterms img:nth-of-type(2){
      margin-right:0px;
    }
    .footer-image-wrap{
      width: 334px;
    }
    footer .logoterms{
      width: 100%;
    }
  }
