
/*-webkit-box-shadow: 2px 2px 5px 4px rgba(46,46,46,1);
-moz-box-shadow: 2px 2px 5px 4px rgba(46,46,46,1);
box-shadow: 2px 2px 5px 4px rgba(46,46,46,1);*/



/*GLOBALS*/
/*fonts*/
@font-face {
    font-family: 'robotolight';
    src: url('fonts/roboto-light-webfont.eot');
    src: url('fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-light-webfont.woff') format('woff'),
         url('fonts/roboto-light-webfont.ttf') format('truetype'),
         url('fonts/roboto-light-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('fonts/roboto-medium-webfont.eot');
    src: url('fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('fonts/roboto-medium-webfont.woff') format('woff'),
         url('fonts/roboto-medium-webfont.ttf') format('truetype'),
         url('fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*end fonts*/

/*resetters*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end resetters*/



/* Different color for some fields */

.whiteplace::-webkit-input-placeholder {
    color: #ffffff
}
.bx-wrapper{
    float:left !important;
    width: 100% !important;
}

/*globals*/

/*    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;*/


b{
	font-weight: bold;
}


.sub-wrap{
    width: 990px;
    margin:0px auto;
}

.content{
    float:left;
    width: 100%;
}
input,textarea {
    -webkit-appearance: none;
    border-radius: 0;
}

/*header*/

header{
    float:left;
    width: 100%;
    padding-top:10px;
    padding-bottom:10px;
    position:absolute;
    top:0px;
    background:#ffffff;
    border-bottom:1px solid #efefef;
    position:fixed;
    left:0px;
    top:0px;
    z-index:999999;
}

header .logo{
float: left;
display: block;
width: 281px;
height: 48px;
background: url(../images/global/logo.png) no-repeat left center;
text-indent: -9999px;
overflow: hidden;
background-size: 217px auto;

}

header .text{
    float:right;
    width: 434px;
}
header .text p{
    font-family: 'roboto';
    font-size:16px;
    color:#5f5f5f;
}
header .text p b{
    font-family: 'roboto';
}

header .text img{
    position:relative;
    top:-17px;
}
.supportcall{
    top:2px !important;
    margin-right:5px;
}

.index .heading{
    float:left;
    width: 100%;
    background:url(../images/global/heading.jpg) no-repeat center center;
    background-size: 100%;
    height: 738px;
}

.index .heading .sub-wrap{
    margin-top:120px;
}

.index .heading .sub-wrap > h1{
    float:left;
    width: 100%;
    font-family: "roboto";
    font-size:40px;
    color:#5f5f5f;
}

.index .heading .sub-wrap > p{
    float:left;
    width: 700px;
    font-family: "roboto";
    font-size:18px;
    color:#5f5f5f;
    line-height: 26px;
    padding-top:20px;
}

.index .heading .sub-wrap > h2 {
  float: left;
  width: 700px;
  font-family: "roboto";
  font-size: 18px;
  color: #5f5f5f;
  line-height: 26px;
  padding-top: 20px;


}

.index .heading .sub-wrap > p b{
    font-family: 'roboto';
}
.heading .box{
    float:left;
    width: 600px;
    margin-top:30px;
}

.heading .box  textarea{
    float:left;
    width: 555px;
    padding:20px;
    height: 160px;
    font-size:18px;
    font-family: "roboto";
    color:#5f5f5f;
    outline:none;
    border:2px solid #f7931d;
    background:rgba(255,255,255,1);
}

.heading .box input{
    float:left;
    width: 297px;
    padding:15px;
    font-family: "roboto";
    color:#5f5f5f;
    font-size:18px;
    outline:none;
    border:2px solid #f7931d;
    padding-bottom:19px;
}
.heading .box .one{
    float:left;
    width: 100%;
    margin-top:20px;
}

.heading .box img {
    margin: 0 0 40px 0;
}

.heading .cta{
    float:right;
    width: 229px;
    cursor:pointer;
    font-size:20px;
    padding:20px;
    background:#f7931d;
    height: 20px;
}
.heading .cta p{
    font-family: "roboto";
    color:#ffffff;  
    float:left; 
    margin-top:0px;
}
.shadow{
    float:left;
    width: 100%;
    background:rgba(0,0,0,0);
    -webkit-box-shadow: 1px 1px 44px rgba(0,0,0,0.45);
    -moz-box-shadow: 1px 1px 44px rgba(0,0,0,0.45);
    box-shadow: 1px 1px 44px rgba(0,0,0,0.45);
}

.heading .cta img{
    float:right;
    font-size:20px;
    margin-top:-6px;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.heading .cta:hover img{
     -moz-transition: all .2s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    padding-right:5px;
}

.heading .box .one > p{
    font-size:11px;
    text-align: right;
    font-family: 'roboto';
    width: 100%;
    color:#5f5f5f;
    margin-top:5px;
    float:left;
}
.heading .box .one > img{
    float:left;
    margin-top:22px;
}



.concept{
    float:left;
    width: 100%;
    padding-bottom:15px;
    margin-top:0px;
}
.concept p{
    float:left;
    font-size:18px;
    color:#ababab;
    padding-bottom:10px;
    font-family: 'roboto';
}

.concept img{
    width: 100%;
    float:left;
}
.lists{
    float:left;
    margin-top:50px;
    margin-bottom: 60px;
    width: 100%;
}

.lists .one > p{
    float:left;
    width: 100%;
    font-size:18px;
    color:#ababab;
    padding-bottom:20px;
    font-family: 'roboto';
}

.lists .one > h2 {
  float: left;
  width: 100%;
  font-size: 18px;
  padding-bottom: 20px;
  font-family: 'roboto';
}

.lists .one{
    float:left;
    width: 30%;
    background :#fafafa;
    padding:1%;
    min-height: 256px;
}
.lists .one:last-of-type{
    float:right;
}

.lists .one:first-of-type{
    margin-right:20px;
}
.lists .one ul{
    float:left;
    width: 96%;
}

.lists .one ul li{
    float:left;
    width: 100%;

}
.lists .one ul li{
    float:left;
}

.lists .one ul li > img{
    width: 80px;
    float:left;
}

.lists .one ul li .right{
    float:right;
    width: 195px;
}

.lists .one ul li .right p{
   float:left;
    width: 100%;
    font-size:14px;
    line-height: 22px;
    color:#ababab;
    padding-bottom:20px;
    font-family: 'roboto'; 
}

.lists .one ul li .right p:last-of-type{
    padding-bottom:0px;
}

.sb img{
    float:left !important;
    padding-right:10px !important;
}

.sb p{
    float:none !important;
    line-height: 13px !important;
    padding-bottom:10px !important;
}


/*footer*/
.fwrap{
    width: 990px;
    margin:0px auto;
}

footer{
    float:left;
    padding-top:10px;
    padding-bottom:30px;
    width: 100%;
}

footer ul{
    float:left;
    width: 280px;
    margin-top:10px;
}

footer ul li{
    float:left;
    width: 100%;
    margin-top:10px;
}
footer ul li a{
    float:left;
    text-decoration: none;
    color:#ababab;
    font-size:14px;
    font-family: 'roboto'; 
}
footer ul li a:hover{
    text-decoration: underline;
}

footer .one{
    float:right;
    margin-top:10px;
    width: 425px;
}
footer .one p{
    float:left;
    font-size:13px;
    color:#ababab;
     font-family: 'roboto'; 
     margin-top:10px;
     margin-right:45px;
}
.copyrights{
    float:left;
    width: 100%;
    color:#13315e;
    margin-top:30px;
    font-size:13px;
}
footer .bot{
    float:left;
    width: 100%;
}
footer .bot p{
    font-family: 'roboto';
    font-size: 14px;
    color:#ababab;
    width: 100%;
    text-align: center;
}
footer .bot img{
    margin:30px auto;
    display:block;
    margin-bottom:6px;
}

.fullend{
    float:left;
    width: 100%;
    padding-bottom:20px;
}

.fullend .fwrap{
    border-bottom: 1px solid #d8d8d8;
    border-top: 1px solid #d8d8d8;
    padding-top:8px;
    height: 124px;
}


    .mobconcept{
        display:none !important;
    }

.whatever ul li h2{
  font-size: 14px;
  line-height: 22px;
  color: #696969;
  font-family: 'roboto';
}
/*end footer*/



/*MEDIA QUERIES*/


@media only screen 
and (min-width : 1024px) 
and (max-width : 1200px){
    .index .heading{
        background: url(../images/global/heading.jpg) no-repeat 60% center;
    }
}
/*pagewidth =  748*/
@media only screen 
and (min-width : 768px) 
and (max-width : 1023px){
    .sub-wrap{
        width: 748px;
    }
    header{
        position:absolute;
        top:0px;
        left:0px;
    }
    .index .heading .sub-wrap{
        margin-top:85px;
    }
    .index .heading .sub-wrap > h1{
        font-size:35px;
    }
    .heading .box{
        width: 100%;
    }
    .heading .box textarea{
        width: 94%;
    }
    .heading .box input{
        width: 445px;
    }
    .index .heading{
        background: url(../images/global/heading.jpg) no-repeat 16% 64%;
        height: 800px;
    }
    .heading .box .one > img{
        display:block;
        float:none;
        margin:0px auto;
        padding-top:22px;
    }
    .index .concept{
        margin-top:-110px;
    }
    .lists {
        margin-top:0px;
    }

    .lists .one{
        width: 734px;
        margin-right:0px !important;
    }
    .lists .one ul li .right{
        float:left;
        width: 600px;
    }
    .lists .one ul li > img{
        margin-right:20px;
    }
    .lists .one{
        min-height: 100px;
        margin-top:0px;
    }
    .lists .one:last-of-type{
        float:left;
    }
    .fwrap{
        width: 748px;
    }
    footer ul{
        width: 205px;
    }
    footer .one{
        width: 327px;
    }
    footer .one p{
        padding-bottom:10px;
        margin-top:0px;
        padding-top:0px;
    }
    .fullend .fwrap{
        padding-bottom:36px;
    }
    .shadow{
        -webkit-box-shadow: 1px 1px 44px rgba(0,0,0,0); 
        -moz-box-shadow: 1px 1px 44px rgba(0,0,0,0);
        box-shadow: 1px 1px 44px rgba(0,0,0,0);
    }
}



/*pagewidth =  460*/
@media only screen 
and (min-width : 480px) 
and (max-width : 767px){
    .sub-wrap{
        width: 460px;
    }
    header{
        position:absolute;
        top:0px;
        left:0px;
    }
    .lists .one:last-of-type{
        float:left;
    }
    .index .heading .sub-wrap{
        margin-top:85px;
    }
    header .text{
        display:none;
    }
    .index .heading .sub-wrap > h1{
        font-size:37px;
    }
    .index .heading .sub-wrap > p{
        width: 100%;
    }
    .heading .box{
        width: 100%;
    }
    .heading .box textarea{
        width: 90%;

    }
    .heading .box input{
        width: 196px;
    }
    .index .heading{
        background: url(../images/global/heading.jpg) no-repeat 16% 80%;
    }
    .heading .box .one > img{
        display:block;
        float:none;
        margin:0px auto;
        padding-top:40px;
        width: 100%;
    }
    .index .concept{
        margin-top:-80px;
    }
    .heading .cta{
        width: 210px;
        padding:20px 10px;
    }
    .lists .one{
        width: 100%;
        margin-top:20px;
    }
    .lists .one ul li .right{
        float:left;
        width: 76%;
    }
    .lists .one ul li > img{
        margin-right:20px;
    }
    .lists .one{
        min-height: 100px;
    }
    .fwrap{
        width: 460px;
    }
    footer ul{
        width: 205px;
    }
    footer .one{
        width: 100%;
        margin-top:28px;
    }
    footer .one p{
        padding-bottom:10px;    }
    .fullend .fwrap{
        padding-bottom:36px;
        height: 195px;
    }
    .shadow{
        -webkit-box-shadow: 1px 1px 44px rgba(0,0,0,0); 
        -moz-box-shadow: 1px 1px 44px rgba(0,0,0,0);
        box-shadow: 1px 1px 44px rgba(0,0,0,0);
    }
    .mobconcept{
        display:block !important;
        width: 80% !important;
        margin-top:20px !important;
    }
    .bigconcept{
        display:none !important;
    }
}
/*pagewidth =  280*/
@media only screen 
and (max-width : 479px){
    .sub-wrap{
        width: 280px;
    }
    .index .heading .sub-wrap{
        margin-top:85px;
    }
    header{
        position:absolute;
        top:0px;
        left:0px;
    }
    header .text{
        display:none;
    }
    .index .heading .sub-wrap > h1{
        font-size:22px;
    }
    .index .heading{
        height: 560px;
    }
    header .logo{
        background-size:170px auto;
    }
    .index .heading .sub-wrap > p{
        width: 100%;
        padding-top:10px;
        line-height: 21px;
        font-size:16px;
    }
    .heading .cta p{
        margin-left:6px;
    }
    header .logo{
        width: 170px;
        display:block;
        float:none;
        margin:0px auto;
        height: 33px;
    }
    .index .heading .sub-wrap{
        margin-top:68px;
    }
    .index .concept{
        margin-top:50px !important;
    }
    .bigconcept{
        display:none !important;
    }

    .mobconcept{
        display:block !important;
        width: 100% !important;
        margin-top:10px !important;
    }
    .heading .box{
        width: 100%;
    }
    .heading .box textarea{
        width: 84%;
        height: 60px;
        font-size:16px;
        padding-top:10px;
        padding-bottom:10px;
    }
    .heading .cta p{
        font-size:16px;
    }
    .heading .box{
        margin-top:20px;
    }
    .heading .cta img{
        height: 20px;
        margin-top:-1px;
    }
    .heading .cta{
        padding-top:10px !important;
        padding-bottom:10px !important;
    }
    .heading .box input{
        width: 88%;
        font-size:16px;
        padding-top:10px;
        padding-bottom:10px;
    }
    .index .heading{
        background: url(../images/global/heading.jpg) no-repeat 16% 80%;
    }
    .heading .box .one > img{
        display:block;
        float:none;
        margin:0px auto;
        padding-top:40px;
        width: 100%;
    }
    .index .concept{
        margin-top:105px;
    }
    .heading .cta{
        width: 260px;
        padding:20px 10px;
    }
    .lists .one{
        width: 100%;
    }
    .lists{
        margin-top:0px !important;
    }
    .lists .one ul li .right{
        float:left;
        width: 100%;
        margin-top:10px;
    }
    .lists .one ul li .right img{
        display:block;
        float:none;
        margin:0px auto;
    }
    .lists .one ul li .right p{
        text-align: center;
    }
    .lists .one > p{
        text-align: center;
    }
    .sb img{
        float:none !important;
        padding-right:0px !important;
    }
    .lists .one ul li > img{
        float:none;
        display:block;
        margin:0px auto;
    }
    .lists .one{
        min-height: 100px;
        margin-top:20px;
    }
    .fwrap{
        width: 280px;
    }
    footer ul{
        width: 205px;
    }
    footer .one{
        width: 100%;
        margin-top:28px;
    }
    footer .one p{
        padding-bottom:10px;
        width: 100%;
    }
    .fullend .fwrap{
        padding-bottom:36px;
        height: 302px;
    }
    .fullend{
        padding-bottom:0px;
    }
    footer ul li a{
        text-align: center;
        display:block;
        width: 100%;
    }
    footer ul{
        width: 100%;
    }
    footer ul li{
        width: 100%;
    }
    footer .one img{
        display:block;
        margin:0px auto;
    }
    footer .one p{
        text-align: center;
    }
    .heading .box .one > p{
        font-size:10px;
    }
    .heading .box .one > img{
        padding-top:15px;
    }
    .index .heading{
        height: 468px;
    }
    .shadow{
        -webkit-box-shadow: 1px 1px 44px rgba(0,0,0,0); 
        -moz-box-shadow: 1px 1px 44px rgba(0,0,0,0);
        box-shadow: 1px 1px 44px rgba(0,0,0,0);
    }
}


@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .heading .cta{
    /*margin-top:2px;*/
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
    .heading .cta{
    /*margin-top:2px;*/
  }
}