.imprint{
	float:left;
	width: 100%;	
	margin-top:65px;
}

.imprint h1{
	color:#5f5f5f;
	padding-bottom:10px;
	float:left;
	width: 100%;
	margin-top:30px;
	font-size:45px;	
	font-family: 'robotolight';
}
.imprint p b{
	padding-bottom:10px;
	padding-top:10px;
	float:left;
	width: 100%;
}
.imprint p{
	padding-top:5px;
	color:#5f5f5f;
	line-height: 22px;
	font-family: 'roboto';
}

.imprint .one{
	padding-top:10px;
	padding-bottom:10px;
	float:left;
	width: 100%;
}

.imprint .two{
	float:left;
	width: 100%;
	padding-bottom:30px;
	border-bottom:1px solid #d8d8d8; 
}