
.heading{
	float:left;
	width: 100%;
	height: 665px;
	background:url(../images/index/heading.jpg) no-repeat ;
}

.heading h1{
	float:left;
	width: 100%;
	font-weight: 300;
	font-size:48px;
	color:#5f5f5f;
	line-height: 60px;
	margin-top:40px;
}

.heading p{
	width: 100%;
	float:left;
	font-size:18px;
	font-weight: 500;
	color:#5f5f5f;
	margin-top:10px;
	line-height: 26px;
}
.mobconcept{
    display:none;
}

.heading a{
	float:left;
	display:block;
	width: 390px;
	background:#f7931d;
	height: 70px;
	margin-top:40px;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.heading a:hover{
	opacity:.8;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.adq p{
	color:#ffffff;
	font-size:21px;
	width: auto !important;
	margin-top:23px;
	margin-left:89px;
}
.adq img{
	float:left;
	margin-top:20px;
	margin-left:20px;
}

.small{
	font-size:10px !important;
	font-weight: 600 !important;
	margin-top:3px !important;
	width: 392px !important;
	text-align: right;
}

.heading .one{
	float:left;
	width: 100%;
}

.heading .one img{
	margin-top:30px;
}




.concept{
    float:left;
    width: 100%;
    padding-bottom:15px;
    margin-top:65px;
}
.concept p{
    float:left;
    font-size:18px;
    color:#ababab;
    padding-bottom:10px;
    font-family: 'roboto';
    font-weight: 300;
}

.concept img{
    width: 100%;
    float:left;
}
.lists{
    float:left;
    margin-top:50px;
    margin-bottom: 10px;
    width: 100%;
}

.lists .one > p{
    float:left;
    width: 100%;
    font-size:18px;
    color:#ababab;
    padding-bottom:20px;
    font-family: 'roboto';
    font-weight: 400;
}

.lists .one{
    float:left;
    width: 30%;
    background :#fafafa;
    padding:1%;
    min-height: 232px;
}
.lists .one:last-of-type{
    float:right;
}

.lists .one:first-of-type{
    margin-right:20px;
}
.lists .one ul{
    float:left;
    width: 96%;
}

.lists .one ul li{
    float:left;
    width: 100%;

}
.lists .one ul li{
    float:left;
}

.lists .one ul li > img{
    width: 80px;
    float:left;
}

.lists .one ul li .right{
    float:right;
    width: 195px;
}

.lists .one ul li .right p{
   float:left;
    width: 100%;
    font-size:14px;
    line-height: 22px;
    color:#ababab;
    padding-bottom:20px;
    font-family: 'roboto';
    font-weight: 300;
}

.lists .one ul li .right p:last-of-type{
    padding-bottom:0px;
}

.sb img{
    float:left !important;
    padding-right:10px !important;
}

.sb p{
    padding-top:2px;
    float:none !important;
    line-height: 13px !important;
    padding-bottom:10px !important;
}


@media only screen 
and (min-width : 1345px) 
and (max-width : 1600px){

    .index .mainslide .center p{
        margin-top:15px !important;
    }
    .index .cta{
        top:218px !important;
    }

    .heading{
       
        background-position: -323px 0px;
    }
}




/*MEDIA QUERIES*/


@media only screen 
and (min-width : 1024px) 
and (max-width : 1344px){
    .heading{
        background-position: -523px 0px;
    }
    
}


/*pagewidth =  748*/
@media only screen 
and (min-width : 768px) 
and (max-width : 1023px){
    .usecase .big{
        display:block;
        margin-bottom:50px;
    }
    .sub-wrapr{
        width: 768px;
    }
        .heading{
       
        background-position: -612px 0px;
    }
    .index .cta{
        top:155px;
        right:12px;
    }
    .index .mainslide .center .in{
        width: 748px;
    }

    .index .mainslide .center p{
        margin-top:35px;
        width: 100%;
        text-align: right;
        font-size:30px;
        line-height: 35px;
    }
    .index .mainslide{
        height: auto;
    }
    .index .concept > img{
        display:block;
        float:left;
        width: 100%;
    }

    .index .concept p{
        width: 80%;
        padding-top:34px;
        padding-left:10px;
        padding-bottom:15px;
    }
    .lists .one > p{
        text-align: center;
    }
    .index .concept .right img{
        margin-left:10px;
        margin-right:10px;
        float:left;
        display:none;
    }
    .index .concept .right{
        display:block;
        float:left;
        width: 80%;
    }
    .lists .one ul li > img{
        display:block;
        margin:0px auto;
        float:none;
        margin-bottom:10px;
    }
    .people{
        display:none;
    }
    .index .usecase > h1{
        display:none;
    }
    #indextabs li a{
        width: 135px;
        font-size:18px;
    }
    #indextabs li{
        margin-right:38px;
        width: 158px;
    }
    #indextabs li:last-of-type{
        margin-right:0px;
    }

    .mobconcept{
        display:none !important;
    }
    .lists .one{
        min-height: 312px;
    }
}



/*pagewidth =  460*/
@media only screen 
and (min-width : 480px) 
and (max-width : 767px){
        .heading h1{
        font-size:25px;
        line-height: 32px;
    }
    .heading a{
        width: 100%;
        margin-top:20px;
        height: 45px;

    }
    .heading{
        height: 364px;
    }

    .index .concept p{
        width: 100%;
    }
    .adq p{
    margin-top: 11px;
    margin-left: 96px;
    }
    .adq img{
        margin-top:8px;
    }
    .lists .one ul li .right{
        width: 100%;
    }
    .lists .one{
        width: 100%;
    }
    .lists .one > p{
        text-align: center;
    }
    .lists .one ul li > img{
        display:block;
        margin:10px auto;
        float:none;
    }
    .lists .one ul li .right p{
        width: 80%;
        text-align: center;
        float:none;
        display:block;
        margin:0px auto;
    }
    .sb img{
        display:none;
    }
    .lists .one ul li .right > img{
        display:none;
    }
    .bigconcept{
        display:none !important;
    }
    .mobconcept{
        display:block !important;
        width:auto !important;
    }
    .lists .one:last-of-type{
        float:left;
    }
}
/*pagewidth =  280*/
@media only screen 
and (max-width : 479px){


    .heading h1{
        font-size:25px;
        line-height: 32px;
    }
    .heading a{
        width: 100%;
        margin-top:20px;
        height: 45px;

    }

    .index .concept p{
        width: 100%;
    }
    .adq p{
    margin-top: 11px;
    margin-left: 96px;
    }
    .adq img{
        margin-top:8px;
    }
    .lists .one ul li .right{
        width: 100%;
    }
    .lists .one{
        margin-top:20px;
        width: 100%;
    }
    .lists .one > p{
        text-align: center;
    }

    .lists .one ul li > img{
        display:block;
        margin:10px auto;
        float:none;
    }
    .lists .one ul li .right p{
        width: 80%;
        text-align: center;
        float:none;
        display:block;
        margin:0px auto;
    }
    .sb img{
        display:none;
    }
    .lists .one ul li .right > img{
        display:none;
    }

    .index .cta p{
        font-size:14px;
    }

    .usecase .small{
        display:block;
    }
    .index .mainslide .center .in{
        width: 280px;
    }
    .usecase .small .text p {
        float: left;
        padding-left: 5px;
        background: #75a108;
        height: 115px;
        padding-top: 10px;
        padding-right: 4px;
        margin-bottom: 10px;
        color: #ffffff;
        font-size:14px;
        line-height: 14px;
    }
    .usecase .small .text {
        float: left;
        width: 156px;
    }
    .sub-wrapr{
        width: 100%;
    }
    .sub-wrapr .small-wrap{
        width: 236px;
        margin:0px auto;
    }
    .index .cta{
        top:0px;
        width:80%;
        padding-left:10%;
        padding-right:10%;
        right:0px;
    }
    .index .mainslide{
        margin-top:42px;
    }
    .index .mainslide .center p{
        margin-top:65px;
        width: 100%;
        text-align: right;
        font-size:25px;
        line-height: 22px;
    }
    .index .mainslide{
        height: auto;
    }
    .index .concept img{
        width: 100%;
        margin-top:7px;
    }
    .people{
        display:none;
    }
    .index .usecase > h1{
        display:none;
    }
    #indextabs li a{
        width: 205px;
        font-size:18px;
    }
    #indextabs li{
        width: 225px;
        padding-bottom:2px;
        margin-left:2px;
        margin-right:2px;
    }
    .index .tab > h1{
        font-size:25px;
    }
    .index .concept{
        padding-top:0px;
        padding-bottom:15px;
    }
    .index .usecase{
        margin-top:0px;
    }
    .index .tab > h1{
        font-size:18px;
    }
    #indextabs li a{
        width: 116px;
    }
    #indextabs li{
        width: 135px;
    }
    #indextabs{
        height: 260px;
    }
    .index .mainslide li .slideimg{
        width: 200% !important;
    }
    .index .mainslide .center .in{
        float:left;
        width: 100%;
    }
    .index .mainslide .center p{
        float:left;
        text-align: left;
        background:rgba(19, 49, 94, .6);
        color:#ffffff;
        padding:10px;
        font-size:18px;
    }

    .index .mainslide .center{
        bottom:0px;
    }

    .index .concept p{
        width: 100%;
    }
    .index .concept .right img{
        float:left;
    }
    .small{
        display:none;
    }
    .index .concept .right{
        display:block;
        float:left;
        width: 100%;
    }
    .rightside{
        display:none !important;
    }

    .heading{
        height: 431px;
    }
    .fullend .fwrap{
        border-bottom:none;
    }
    .adq p{
        margin-left:53px;
        font-size: 16px;
    }
    footer ul{
        width: 98px;
    }
    .bigconcept{
        display:none !important;
    }
    .mobconcept{
        display:block !important;
        width:100% !important;
    }
    .lists .one:last-of-type{
        float:left;
    }
}