
.exclude-banners .FooterContainer-logo{
	display:none;
}

.overlay{
	position:absolute;
	width: 100%;
	height: 2961px;
	z-index:999999;
	background:rgba(255,255,255,.8);
	display:none;
}

.overlay img{
	position:absolute;
	display:block;
	top:80%;
	left:47.5%;
}
div#HeaderContainer .hdrTop ul li{
	margin:0px !important;
}
div#HeaderContainer .hdrTop ul li a{
float: left !important;
display: block !important;
width: 22px !important;
height: 16px !important;
}
div#HeaderContainer .hdrBtm{
	width: 970px !important;
}

div#HeaderContainer .hdrTop{
	width: 970px !important;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* change it for a div that has a similar background-color to the light blue tap color */
div,a,span,p,h1,label{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*add-question css*/

#dd{
	
	float:left;
	width: 100%;
	background:#f2f2f2;
	border:none;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:5%;
	color:#000;
	padding-right:5%;
	font-size:17px;
	font-family: 'latolight';
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	  -webkit-transition: all .1s ease-in-out;
	  -moz-transition: all .1s ease-in-out;
	  -o-transition: all .1s ease-in-out;
	  transition: all .1s ease-in-out;
}

#dd span{
	font-size:17px;
	font-family: 'latolight' !important;	
}

#dd a{
	color:#000;
}

.dropdown li:hover a{
	color:white !important;
}

#dd:hover{
	box-shadow: 0 0 10px #9ecaed;
	  -webkit-transition: all .1s ease-in-out;
	  -moz-transition: all .1s ease-in-out;
	  -o-transition: all .1s ease-in-out;
	  transition: all .1s ease-in-out;
}

.dropdown li{
	background:#f2f2f2;
	border-bottom:1px solid #bbbbbc;
}
.dropdown{
	z-index:5000;
}

.aq-wrap{
	overflow: hidden;
	float:left;
	width: 100%;
}

.aq-heading{
	float:left;
	width: 100%;
	height: 351px;
	background:url(../images/aq-heading.jpg) no-repeat center center;
}

.adq-ct #HeaderContainer{
	/*padding-top:12px;*/
}

.aq-heading .text-wrap{
	width: 990px;
	position:relative;
	overflow:hidden;
	margin:0px auto;
	height: 350px;
}

.aq-heading .text-wrap h1{
	float:left;
	font-size:56px;
	font-family: 'latolight';
	padding-bottom:15px;
	width: 340px;
	color:#294255;
	left:2370px;
	position:absolute;
	line-height: 58px;
	margin-top:46px;
	text-align: right;
	  -webkit-transition: all 1.5s ease-in-out;	
	  -moz-transition: all 1.5s ease-in-out;	
	  -o-transition: all 1.5s ease-in-out;	
	  transition: all 1.5s ease-in-out;	
}

.aq-heading .text-wrap img{
	float:left;
	position:absolute;
	  -webkit-transition: all 1s ease-out;
	  -moz-transition: all 1s ease-in-out;	
	  -o-transition: all 1s ease-in-out;	
	  transition: all 1s ease-in-out;	
	  left:-1000px;
	  top:0px;

}

.aq-heading .text-wrap h2{
	float:left;
	font-size:24px;
	text-align: right;
	color:#294255;

	font-family: 'latolight';
	margin-left:0px;
	display:none;
	left:650px;
	position:absolute;
	padding-bottom:15px;
	top:240px;
	width: 340px;
	  -webkit-transition: all 2s ease-out;
	  -moz-transition: all 2s ease-out;	
	  -o-transition: all 2s ease-out;
	  transition: all 2s ease-out;
}

.aq-heading .text-wrap p{
	float:left;
	font-size:16px;
	font-family: 'latolight';
	line-height: 20px;
	margin-left:0px;
}


.aq-heading .text-wrap a{
	font-size:16px;
	font-family: 'latolight';
	color:#155585;
	text-decoration: underline;
}


.add-question select{
	-webkit-appearance: menulist-button;
	line-height: 50px;
}
.add-question .final-confirm{
	float:left;
	width: 100%;
	margin-top:20px;
	margin-bottom:30px;
}

.add-question .final-confirm > p{
	float:right;
	font-family:'latolight';
	font-size:16px;
	color:#8d8d8d;
	padding-top:11px;
	margin-right:10px;
	padding-bottom:5px;
}

.add-question .final-confirm .conf{
	float:right;
	background:#5ba6df;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	height: 36px;
	cursor:pointer;
}

.add-question .final-confirm .conf img{
	float:left;
	padding-left:13px;
	padding-top:5px;
	padding-right:5px;
	padding-bottom:5px;
	margin-top:5px;
	  -webkit-transition: all .2s ease-in-out;
	  -moz-transition: all .2s ease-in-out;
	  -o-transition: all .2s ease-in-out;
	  transition: all .2s ease-in-out;
}

.conf:hover img {
	margin-right:10px;
}

.npfile:hover .attach-files{
	margin-left:20px;
}

.add-question .final-confirm .conf p{
	float:left;
	font-family:'latolight';
	font-size:16px;
	color:#8d8d8d;
	padding-top:10px;
	padding-right:14px;
	padding-left:3px;
	color:#ffffff;
	padding-bottom:5px;	
}
.ask-from-doctor{
	float:left;
	width: 100%;
	padding-top:15px;
	padding-bottom:15px;
}

.ask-from-doctor h1{
	float:left;
	padding-left:10px;
	padding-top:5px;
	font-family: 'latoregularular';
	font-size:20px;
	line-height: 20px;
}
.ask-from-doctor input{
	margin-top:17px;
}
.ask-from-doctor h1 p{
	float:left;
	font-family: 'latolight';
	font-size:14px;
	line-height: 20px;
}
.doc-pad{
	border-bottom:1px solid #969697;
}

.add-question-wrap{
	width: 990px;
	margin:0px auto;

}

.wrap-take-picture{
	float:left;
	width: 100%;
}

.wrap-take-picture .take-picture{
	float:left;
	
}

.wrap-take-picture img{
	float:left;
	margin-right:2px;
	margin-left:15px;
	padding-top:23px;
}

.wrap-take-picture p{
	float:left;
	font-size:16px;
	color:#ffffff;
	font-family: 'latoregularular';
	padding-top:11px;
	padding-bottom:9px;
}

.wrap-take-picture div{
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background:#5ba6df;
}

.wrap-take-picture .attach-files{
	float:left;
}

.tp,.af{
	float:left;
}

.tp{
}

.af{
	cursor:pointer;

}

.af p{
	margin-right:15px;
	padding-left:6px;
	  -webkit-transition: all .1s ease-in-out;
	  -moz-transition: all .1s ease-in-out;
	  -o-transition: all .1s ease-in-out;
	  transition: all .1s ease-in-out;
}

.autocomplete-suggestion{
	padding-top:10px;
	padding-bottom:10px;
	width: 100%;
	line-height: 19px;
	font-size:16px;
	font-family: 'latolight';
	background:#f2f2f2;
	border-bottom:1px solid #bbbbbc;
	padding-left:20px;
	cursor:pointer;
}

.autocomplete-suggestion:hover, .dropdown li a:hover{
	background:#83bce7;
	color:#fff;
	  -webkit-transition: all .1s ease-in-out;
	  -moz-transition: all .1s ease-in-out;
	  -o-transition: all .1s ease-in-out;
	  transition: all .1s ease-in-out;
}

.autocomplete-suggestions{
	float:left !important;
	width: 990px !important;

}

.add-question{
	float:left;
	width: 100%;
	background:#ffffff;
}

.add-question .single{
	float:left;
	width: 100%;
	padding-top:40px;
	padding-bottom:20px;
}

.add-question .single span{
	float:left;
	display:block;
	color:#03b4dc;
	font-size:26px;
	font-family: 'latobold';
	padding-right:10px;
	margin-right:10px;
	border-right:1px solid #f2f2f2;
	padding-top:2px;
	padding-bottom:2px;
}



.add-question .single h1{
	font-size:22px;
	float:left;
	color:#000000;
	font-family: 'latoregular';
	line-height: 24px;
	padding-top:8px;
}

.add-question > p{
	float:left;
	padding-top:35px;
	padding-bottom:10px;
	font-family: 'latolight';
	font-size:20px;
	line-height: 20px;
	color:rgba(0,0,0,.7);
}

.first-height{
	height: 140px;
}

.first-single{
	padding-bottom:5px !important;
}

.paddd{
	padding-left:35px;	
	padding-top:0px !important;
}

.f-b{
	float:left;
	width: 100%;
	margin-top:20px;
	margin-bottom:10px;
position: relative;
top: 43px;
z-index: 100;
}

.f-b .wrap-labels{
	width: 400px;
	margin:0px auto;

}

.f-b .wrap-labels label{
	float:left;
	width: 200px;
	border:1px solid #5ba6df;
	  -webkit-transition: all .3s ease-in-out;
	  -moz-transition: all .3s ease-in-out;
	  -o-transition: all .3s ease-in-out;
	  transition: all .3s ease-in-out;
}
.f-b .wrap-labels label:hover{
	box-shadow: 0 0 10px #9ecaed;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}




.flabel{
	background:#5ba6df;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.slabel{
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
.flabel p{
	color:#ffffff;
}

.slabel p{
	color:#5ba6df;
}

.f-b .wrap-labels label input{
	display:none;
}

.f-b .wrap-labels label{
	cursor:pointer;
}

.f-b .wrap-labels label p{
	float:left;
	width: 100%;
	text-align: center;
	font-size:20px;
	padding-top:5px;
	padding-bottom:5px;
}



.body-parts{
	padding-top:100px;
	padding-bottom:30px;
	float:left;
	background:#d9d9d9;
	width: 100%;
	height: 550px;
	margin-bottom:10px;
}


.body-parts .head{
	position:absolute;
	top:3px;
	left:0px;
	float:left;
	width: 224px;
	height: 64px;
	display:inline;
	background:url(../images/bodyparts/head.png) no-repeat 0px 0px;
}


.body-parts .head:hover{
	-webkit-filter: brightness(65%);
}


.body-parts .leftarm{
	position:absolute;
	top: 70px;
	left: 4px;
	float:left;
	width: 60px;
	height: 130px;
	background:url(../images/bodyparts/leftarm.png) no-repeat 0px 0px;
}

.body-parts .leftarm:hover{
	-webkit-filter: brightness(65%);
}

.body-parts .chestleft{
	position:absolute;
	top: 68px;
	left: 61px;
	float:left;
	width: 54px;
	height: 66px;
	background:url(../images/bodyparts/chestleft.png) no-repeat 0px 0px;
}

.body-parts .chestleft:hover{
	-webkit-filter: brightness(65%);
}

.body-parts .chestright{
	position:absolute;
top: 68px;
left: 114px;
	float:left;
	width: 54px;
	height: 66px;
	background:url(../images/bodyparts/chestright.png) no-repeat 0px 0px;
}

.body-parts .chestright:hover{
	-webkit-filter: brightness(65%);
}

.body-parts .rightarm{
	position:absolute;
	top: 68px;
	left: 166px;
	float:left;
	width: 75px;
	height: 130px;
	background:url(../images/bodyparts/rightarm.png) no-repeat 0px 0px;
}
.body-parts .rightarm:hover{
	-webkit-filter: brightness(65%);
}

.body-parts .stomachleft{
	position:absolute;
	top: 134px;
	left: 60px;
	float:left;
	width: 54px;
	height: 64px;
	background:url(../images/bodyparts/stomachleft.png) no-repeat 0px 0px;
}

.body-parts .stomachleft:hover{
	-webkit-filter: brightness(65%);
}


.body-parts .stomachright{
	position:absolute;
top: 134px;
left: 115px;
	float:left;
	width: 52px;
	height: 64px;
	background:url(../images/bodyparts/stomachright.png) no-repeat 0px 0px;
}

.body-parts .stomachright:hover{
	-webkit-filter: brightness(65%);
}

.body-parts .lefthand{
	position:absolute;
top: 197px;
left: 5px;
	float:left;
	width: 60px;
	height: 35px;
	background:url(../images/bodyparts/lefthand.png) no-repeat 0px 0px;
}

.body-parts .lefthand:hover{
	-webkit-filter: brightness(65%);
}


.body-parts .lowerabdom{
	position:absolute;
top: 200px;
left: 61px;
	float:left;
	width: 108px;
	height: 35px;
	background:url(../images/bodyparts/lowerabdom.png) no-repeat 0px 0px;
}

.body-parts .lowerabdom:hover{
	-webkit-filter: brightness(65%);
}

.body-parts .righthand{
	position:absolute;
top: 196px;
left: 166px;
	float:left;
	width: 55px;
	height: 35px;
	background:url(../images/bodyparts/righthand.png) no-repeat 0px 0px;
}

.body-parts .righthand:hover{
	-webkit-filter: brightness(65%);
}


.body-parts .lefttight{
	position:absolute;
top: 239px;
left: 2px;
	float:left;
	width: 114px;
	height: 53px;
	background:url(../images/bodyparts/lefttigh.png) no-repeat 0px 0px;
}

.body-parts .lefttight:hover{
	-webkit-filter: brightness(65%);
}


.body-parts .righttight{
	position:absolute;
top: 239px;
left: 115px;
	float:left;
	width: 109px;
	height: 53px;
	background:url(../images/bodyparts/righttigh.png) no-repeat 0px 0px;
}

.body-parts .righttight:hover{
	-webkit-filter: brightness(65%);
}

.body-parts .shinboneleft{
	position:absolute;
top: 292px;
left: 2px;
	float:left;
	width: 114px;
	height: 92px;
	background:url(../images/bodyparts/shinboneleft.png) no-repeat 0px 0px;
}

.body-parts .shinboneleft:hover{
	-webkit-filter: brightness(65%);
}

.body-parts .shinboneright{
	position:absolute;
top: 292px;
left: 115px;
	float:left;
	width: 109px;
	height: 92px;
	background:url(../images/bodyparts/shinboneright.png) no-repeat 0px 0px;
}

.body-parts .shinboneright:hover{
	-webkit-filter: brightness(65%);
}

.body-parts .leftfeet{
	position:absolute;
top: 384px;
left: 2px;
	float:left;
	width: 114px;
	height: 38px;
	background:url(../images/bodyparts/leftfeet.png) no-repeat 0px 0px;
}

.body-parts .leftfeet:hover{
	-webkit-filter: brightness(65%);
}

.body-parts .rightfeet{
	position:absolute;
top: 384px;
left: 115px;
	float:left;
	width: 109px;
	height: 38px;
	background:url(../images/bodyparts/rightfeet.png) no-repeat 0px 0px;
}

.body-parts .rightfeet:hover{
	-webkit-filter: brightness(65%);
}

.wrap-ins-body-pts{
	margin:0px auto;
	width: 224px;
	position:relative;
}

.add-question > input,.add-question textarea,.add-question select{
	float:left;
	width: 90%;
	padding-left:5%;
	padding-right:5%;
	height: 40px !important;
	background:#f2f2f2;
	border:none;
	outline:none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color:#3d3d3d;
	font-family: 'latolight';
	font-size:18px;
}

.add-question textarea{
	padding-top:18px;
}

.add-question select{
	width: 100% !important;
}
.add-question input ,.add-question textarea{
	float:left;
}

.wrap-trauma{
	float:left;
	width: 100%;
}
.wrap-trauma label{
	  -webkit-transition: all .1s ease-in-out;
	  -moz-transition: all .1s ease-in-out;
	  -o-transition: all .1s ease-in-out;
	  transition: all .1s ease-in-out;
	float:left;
	height: 40px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	width: 21%;
	background:#f2f2f2;
	position:relative;
}

.wrap-trauma label:hover{
	 box-shadow: 0 0 10px #9ecaed;
	  -webkit-transition: all .1s ease-in-out;
	  -moz-transition: all .1s ease-in-out;
	  -o-transition: all .1s ease-in-out;
	  transition: all .1s ease-in-out;
}
.fake-radio{
	position:absolute;
	left:190px;
	top:9px;
	width: 20px;
	height: 22px;
	  -webkit-transition: all .2s ease-in-out;
	  -moz-transition: all .2s ease-in-out;
	  -o-transition: all .2s ease-in-out;
	  transition: all .2s ease-in-out;
	background:url(../images/ns.png) 0px -21px;
}

.ad-fk{
	left: 76px !important;
}

.active-fake{
	background:url(../images/ns.png) 0px 0px;
}

.wrap-trauma label span{
	margin:0px auto;
	display:block;
}

.tyes{
	width: 56px;
}
.tno{
	width: 60px;
}

.wrap-trauma label input{
	float:left;
	opacity:0;
	margin-top:16px;
}

.wrap-trauma label p{
	float:left;
	padding-left:18px;
	color:#000000;
	font-family: 'latolight';
	font-size:16px;
	padding-top:12px;
	padding-bottom:15px;
}

.wrap-trauma label:nth-of-type(2){
	margin-left:20px;
}


#itemlist{
	width: 100%;
	float:left;
	position:relative;
}

#itemlist #symptominput,#itemlist #autocompletemedication,#itemlist #autocompletehistory{
	float:left;
	height: 40px !important;
	background:#f2f2f2;
	border:none;
	outline:none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color:#3d3d3d;
	font-family: 'latolight';
	font-size:18px;
	width: 100% !important;
	padding-left:5% !important;
	padding-right:5% !important;
}

.add-question textarea{
	height: 120px !important;
	width: 100% !important;
	margin-bottom:10px;
	padding-bottom:20px;
	padding-left:5% !important;
	padding-right:5% !important;	
	
	  -webkit-transition: all .1s ease-in-out;
	  -moz-transition: all .1s ease-in-out;
	  -o-transition: all .1s ease-in-out;
	  transition: all .1s ease-in-out;
}

.add-question textarea:hover, input:hover{
	box-shadow: 0 0 10px #9ecaed;
	  -webkit-transition: all .1s ease-in-out;
	  -moz-transition: all .1s ease-in-out;
	  -o-transition: all .1s ease-in-out;
	  transition: all .1s ease-in-out;
}

@-moz-document url-prefix() {
	#dd span{
		color:#7c818b;
	}
}

input{
	  -webkit-transition: all .3s ease-in-out;
	  -moz-transition: all .3s ease-in-out;
	  -o-transition: all .3s ease-in-out;
	  transition: all .3s ease-in-out;
}
.image-panel{
	display:none;
	float:left;
	width: 100%;
	padding-top:30px;
	padding-bottom:30px;
	border-top:1px solid #e1e1e1;
	border-bottom:1px solid #e1e1e1;
	background :#fbfbfb;
}

.image-panel .s-image{
	padding:7px;
	background:white;
	overflow:hidden;
	float:left;
	position:relative;
	margin-left:20px;
  -moz-box-shadow:    0px 3px 3px rgba(0,0,0,0.5) ;
  -webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.5) ;
  box-shadow:         0px 3px 3px rgba(0,0,0,0.5) ;

}

.image-panel .s-image img{
	width: 140px;
	height: auto;
	float:left;
	margin-top:0px !important;

}

#itemlist #addbutton{
	cursor:pointer;
	border:none;
	border:1px solid #5ba6df;
	background:#5ba6df;
	color:#ffffff;
	position:absolute;
	top:6px;
	padding-top:6px;
	padding-bottom:6px;
	padding-left:10px;
	padding-right:10px;
	right:10px;
	-webkit-border-radius: 36px;
	-moz-border-radius: 36px;
	border-radius: 36px;
	border:none;
	outline:none;
}

#resultList{
	margin:0px auto;
	width: 990px;
	margin-top:10px;
}


#resultList li{
	float:left;
	font-size:16px;
	padding-top:15px;
	padding-bottom:15px;
	width: 100%;
	color:#4c4c4c;
	background:#f2f3f3;
	position:relative;
	border-bottom:1px solid #bbbbbc;
	border-top:1px solid #ffffff;
}

.biginput{
	margin-bottom:10px;
}

#resultList li img{
	float:left;
	padding-left:10px;
	padding-right:5px;
	padding-top:16px;
}
#resultList li{
	list-style:none;
}
#resultList li p{
	float:none;
	font-size:18px;
	line-height: 20px;
	font-family: 'latolight';
	padding-top:2px;
}



#resultList #hidden-li{
	display:none;
}

.deletetheinput{
	position:absolute;
	top:0px;
	right:-60px;
	display:block;
	height: 52px;
	width: 60px;
	cursor:pointer;
	background:#484848;
	  -webkit-transition: all .1s ease-in-out;
	  -moz-transition: all .1s ease-in-out;
	  -o-transition: all .1s ease-in-out;
	  transition: all .1s ease-in-out;
}

.deletetheinput img{
	padding-left:21px !important;
	padding-top:17px !important;
}

#resultList li{
	overflow:hidden;
}
#resultList li:hover .deletetheinput{
	right:0px;
	  -webkit-transition: all .2s ease-in-out;
	  -moz-transition: all .2s ease-in-out;
	  -o-transition: all .2s ease-in-out;
	  transition: all .2s ease-in-out;
}

.back-bb{
	display:none;
}

.after-q{
	background:#f2f2f2;
}

.af p{
	font-family: 'latolight';
}

.red-care{
	float:left;
	width:100%;
}

.red-care label{
	cursor:pointer;
}

#ytrauma,#ntrauma{
	cursor:pointer;
}


.send-btn{
	background:#5ba6df;
	float:right;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;	
	margin-bottom:40px;
	padding-bottom:3px;
}

.send-btn img{
	float:left;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	margin-top:5px;
}

.send-btn p{
	float:left;
	font-family:'latolight';
	font-size:16px;
	color:#8d8d8d;
	padding-top:11px;
	padding-right:14px;
	padding-left:3px;
	color:#ffffff;
	padding-bottom:5px;	
}


/*sign up css*/

.sign-up-btn-lg{
	position:absolute;
	width: 100%;
	text-align: center;
	bottom:0px;
	left:0px;
	font-size:18px;
	font-family: 'latolight';
	padding-bottom:20px;
}


.signup{
	width: 990px;
	margin:0px auto;
}

.signup > h1{
	color:#0d3757;
	float:left;
	margin-top:60px;
	width: 100%;
	font-size:26px;
	font-family: 'latolight';
	padding-bottom:5px;
}


.signup > p{
	color:#0d3757;
	float:left;
	margin-top:40px;
	width: 100%;
	font-size:18px;
	font-family: 'latolight';
	margin-bottom:30px;
}


.signup > input,.signup select ,.signup .optional input{
	 width: 100%;
	 margin-bottom:10px;
	 padding-left:5%;
	 float:left;
	 padding-right:5%;
	 font-size:18px;
	 font-family: 'latoregular';
	 background:#f2f2f2;
	 border:none;
	 outline:none;
	 padding-top:10px;
	 padding-bottom:10px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border:1px solid #fff;
}

.signup > input{
	width: 100% !important;	
}

.signup .optional input{
	margin-bottom:60px;
	width: 100% !important;
}
.signup select{
	color:#0d3757;
	-webkit-appearance: none;
	padding-bottom:0px !important;
	padding-top:0px !important;
	height: 40px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	width:100% !important;
	padding-left:5% !important;
	padding-right: 0% !important;
}

.sup-dd{
	margin-bottom:10px !important;
}

::-webkit-input-placeholder {
   color: red;
	color:#000;
	 font-family: 'latolight';
}

:-moz-placeholder { /* Firefox 18- */
   color: red;  
	 font-family: 'latolight';
 	color:#000;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
	 font-family: 'latolight';
	 color:#000;
}

:-ms-input-placeholder {  
   color: red;  
	 font-family: 'latolight';
	 color:#000;
}

.signup > label{
	position:relative;
	float:left;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	width: 47%;
	margin-right:6%;
	background:#f2f2f2;
	cursor:pointer;
	 padding-top:10px;
	 padding-bottom:10px;

}

.signup > label:nth-of-type(2) {
    margin-right:0% !important;
}

.signup > label input{
	float:left;
	width: 20px;
	opacity:0;
	height: 20px;
	border: 1px solid white;

}

.signup > label p{
	float:left;
	padding-top:2px;
	margin-left:5px;
	font-size:17px;
	color:#0d3757;
	font-family: 'latoregular';
}

.imale{
	width: 80px;
	display:block;
	margin:0px auto;
}

.ifemale{
	width: 82px;
	display:block;
	margin:0px auto;
}

.signup .optional p{
	float:left;
	width: 100%;
	padding-bottom:15px;
	padding-top:60px;
	font-family: 'latoregular';
	font-size:26px;
	color:#0d3757;
}

.agreements{
	float:left;
	width: 100%;
	margin-bottom:50px;
}

.agreements label{
	float:left;
	width: 100%;
	margin-bottom:15px;
}

.agreements label input{
	width: 20px;
	height: 20px;
	float:left;
	margin-right:10px;
}

.agreements label p{
	font-family: 'latoregular';
	font-size:18px;
	line-height: 22px;
	color:#0d3757;
	padding-top:3px;
}

.signup .agreements label p{
	padding-top:1px ;
}

.agreements label a{
	font-family: 'latoregular';
	font-size:18px;
	color:#0d3757;
	text-decoration: underline;
}
.agreements p {
	float:none !important;
}
.signup .save-signup{
	margin-top:50px;
}

.signup .save-signup  p{
	margin:0px !important;
	padding-top:10px;
	padding-bottom:10px;
	width: 100%;
	text-align: center;
	padding-left:0px !important;
	padding-right:0px !important;
}

.sign-h2 h2{
	width: 100%;
	padding:5px 0px 5px 0px;
	font-size:17px;
	font-family: 'latolight';
	color:red;
	position:relative;
	float:left;
	left:0px;
	display:none;

}

#su-7{
	padding-bottom:15px;
}



.ccta{
	margin-bottom:0px !important;
}

.ccta a{

	padding-top:15px;
	padding-bottom:15px;
}

.ccta a p{
	margin:0px !important;
	padding-left: 0px !important;
	text-align: center;
	width: 100%;
}


.cta{
	float:none;
	width: 300px;
	margin:100px auto;
}

.cta > p{
	float:left;
	width: 100%;
	font-size:18px;
	font-family: 'latolight';
	color:#0d3757;
	line-height: 36px;
	margin-bottom:30px;
}

.cta h1{
	float:right;
	padding-right:10px;
	font-size:18px;
	color:#5ba6df;
	font-family: 'latoregular';
}

.cta .ask-doctor{
	float:left;
	width: 100%;
	text-decoration: none;
	background:#5ba6df;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	margin-bottom:10px;
}

.cta .ask-doctor img{
	float:left;
	margin:15px 0px 15px 27px;
}
.ask-doctor{
	cursor:pointer;
	  -webkit-transition: all .3s ease-in-out;
	  -moz-transition: all .3s ease-in-out;
	  -o-transition: all .3s ease-in-out;
	  transition: all .3s ease-in-out;
}

.ask-doctor:hover{
	  -webkit-transition: all .1s ease-in-out;
	  -moz-transition: all .1s ease-in-out;
	  -o-transition: all .1s ease-in-out;
	  transition: all .1s ease-in-out;
	  -moz-box-shadow:    0px 3px 3px rgba(0,0,0,0.2) inset ;
  -webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2)  inset ;
  box-shadow:         0px 3px 3px rgba(0,0,0,0.2) inset ;
}

.cta .ask-doctor p{
	float:left;
	padding-left:20px;
	font-size:18px;
	font-family: 'latoregular';
	color:#ffffff;
	margin-top:19px;
}



/*payment options*/

.paypal{
	float:left;
	display:block;
	width: 100%;
	padding-top:15px;
	padding-bottom:15px;
	  -webkit-transition: all .5s ease-in-out;
	  -moz-transition: all .5s ease-in-out;
	  -o-transition: all .5s ease-in-out;
	  transition: all .5s ease-in-out;
	height: 72px;
	background: url(../images/paypal.png)  center center no-repeat;
}

.paypal:hover .fake-radio,.mastercard:hover .fake-radio{
	left:30px;
}

.choose label input{
	float:left;
	margin-top:30px;
	margin-right:15px;
}

.mastercard input{
	margin-top:66px !important;
}

.mastercard{
	padding-top:15px;
	  -webkit-transition: all .5s ease-in-out;
	  -moz-transition: all .5s ease-in-out;
	  -o-transition: all .5s ease-in-out;
	  transition: all .5s ease-in-out;
	padding-bottom:15px;
	float:left;
	display:block;
	width: 100%;
	height: 135px;
	background: url(../images/mastercard.png) center center no-repeat;
}

.choose{
	float:left;
	width: 100%;
}
.payments{
	background:white !important;
	padding-top:40px !important;
	padding-bottom:0px !important;
	padding-left:0% !important;
	padding-right:0% !important;
	width: 100% !important;
}

.payments-wrap{
	margin:0px auto;
	width: 990px;
	display:block;
}

.inc-f{
	font-size:18px !important;
}

.inc-ff{
	margin-top:30px;
	font-size:18px;
	font-family: 'latolight';
	width: 100%;
	text-align: center;
}
.buy-it{
	width: 240px !important;
}

.mtop{
	margin-top: 20px !important;
}


.notifications{
	background:#ffffff !important;
} 

.pp-wrap{
	float:left;
	margin-top:40px;
	width: 100%;
}

.choose label{
	cursor:pointer;
	position:relative;
}

.choose label input{
	opacity:0;
}

.pm-pp{
	top:41px;
	left:20px;
}

.pm-cc{
	top:77px;
	left:20px;

}

.fancybox-title{
	display:none !important;
}

.privacy-terms{
	padding:20px;
	margin-bottom:40px;
	float:left;
	background:#f2f2f2;
}

.privacy-terms  h1{
	float:left;
	width: 100%;
	line-height: 22px;
	padding-bottom:15px;
	font-size:18px;
	font-family: 'latolight';
	color:#0d3757;
}

.privacy-terms >  h1{
	font-size:23px  !important;
	font-family: 'latolight';
	color:#0d3757;
	line-height: 28px;
	padding-bottom:25px !important;
}

.privacy-terms >  h2{
	font-size:16px  !important;
	font-family: 'latoregular';
	color:#0d3757;
	line-height: 28px;
	padding-bottom:25px !important;
}

.privacy-terms ul{
	float:left;
	padding-left:20px;
	list-style-image:url('../iconss/list-ico.png');
}

.privacy-terms ul li{
	width: 100%;
	padding-bottom:10px;
	line-height: 22px;
	font-size:14px;
	font-family: 'latolight';
	color:#0d3757;
}

.privacy-terms .one{
	float:left;
	width: 100%;
	padding-bottom:20px;
}

.privacy-terms .one h1{
	color:#000 !important;
}

.privacy-terms .one p{
	float:left;
	width: 100%;
	padding-bottom:10px;
	line-height: 22px;
	font-size:14px;
	font-family: 'latolight';
	color:#0d3757;
}

.npfile{
	width: 130px;
	height: 63px;
	position:relative;
	float:left;
	right:130px;
	outline:none;
	top:-23px;
	cursor:pointer;
	opacity:0;
}

.ss-wrap{
	float:left;
	width: 100%;
}



.trash-image{
	width: 20px;
	height: 20px;
	position:absolute;
	background:url(../iconss/trash.png) no-repeat;
	top:-60px;
	left:94px;
	opacity:0;
	  -webkit-transition: all .3s ease-in-out;
	  -moz-transition: all .3s ease-in-out;
	  -o-transition: all .3s ease-in-out;
	  transition: all .3s ease-in-out
}

.s-image:hover{
	
}

.overlay-delete{
	float:left;
	width: 200px;
	position:absolute;
	cursor:pointer;
	top:7px;
	left:7px;
	height:140px;
	background:rgba(91, 166, 223, 0);
	  -webkit-transition: all .3s ease-in-out;
	  -moz-transition: all .3s ease-in-out;
	  -o-transition: all .3s ease-in-out;
	  transition: all .3s ease-in-out
}

.overlay-delete:hover{
	background:rgba(91, 166, 223, .7);
	  -webkit-transition: all .3s ease-in-out;
	  -moz-transition: all .3s ease-in-out;
	  -o-transition: all .3s ease-in-out;
	  transition: all .3s ease-in-out
}

.overlay-delete:hover .trash-image{
	opacity:1;
	top:60px;
	  -webkit-transition: all .6 s ease-in-out;
	  -moz-transition: all .6 s ease-in-out;
	  -o-transition: all .6 s ease-in-out;
	  transition: all .6 s ease-in-out;
}


/*question sent*/

.tyt{
	margin-top:60px;
	height: 400px;

}

.tyt h1{
	padding-bottom:45px;

}

.mlty{

}

.mlty img{
	float:left;
	margin-bottom:60px;
	margin-left:60px;
}

.mlty .wrap-text{
	float:left;
	margin-left:40px;
	width: 610px;
	margin-top:40px;
}
.mlty .wrap-text h1{
	float:left;
	padding-bottom:10px;
	margin-top:10px;
	font-size:72px;
	margin-left:30px;
	color:#2d4558;
	font-family: 'latolight';
}
.mlty .wrap-text h2{
	float:left;
	padding-bottom:20px;
	font-size:48px;
	color:#2d4558;
	font-family: 'latolight';
}
.mlty .wrap-text p{
	float:left;
	padding-top:10px;
	padding-bottom:20px;
	font-size:20px;
	color:#2d4558;
	font-family: 'latolight';
}




.fancybox-close{
	top:-25px !important;
	right:-22px !important;
}

.hidden{
     opacity:0;
}
.visible{
     opacity:1;
}

input{
	position:relative;
}




.wrap-circles{
	margin:0px auto;
	width: 180px;
}

.loading-1{

	width: 100% !important;
	margin-left:0px !important;
}

.loading-1 h2{
	font-size:36px !important;
	width: 100%;
	padding-top:100px;
	text-align: center;
}
.wrap-txt-img img{
	margin-left:0px !important;
	margin-bottom:0px !important;
}
.loading-2{
	width: 610px !important;
	margin:0px auto !important;
	float:none !important;
	position:relative;
	top:0px;
}

.wrap-txt-img{
	padding-left:145px;
}

.loading-2 h2, .loading-2 p{
	display:none;
	  -webkit-transition: all 2s ease-in-out;
	  -moz-transition: all 2s ease-in-out;
	  -o-transition: all 2s ease-in-out;
	  transition: all 2s ease-in-out;
}

.loading-2 .wrap-txt-img{
	display:none;
	float:left;
	margin-top:35px;
	  -webkit-transition: all 1s ease-in-out;
	  -moz-transition: all 1s ease-in-out;
	  -o-transition: all 1s ease-in-out;
	  transition: all 1s ease-in-out;
}


.bar {
    width: 85px;
    height: 85px;
    -webkit-border-radius: 7.5em;
    -moz-border-radius: 7.5em;
    border-radius: 7.5em;
    margin-right: 2px;
    position: absolute;
}
#shapeblue {
    background: #77961c;
    z-index: 1;
}
#shapepink {
    background: #87bb17;
    z-index: 0;
}

.star{
	color:red !important;
	float:left;
	padding-left:5px;
	font-size:25px;
}

.tooltipsy{    
	font-family: 'latolight';
	font-size:16px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}




.text-wrap .video{
	float:left;
	width: 590px;
	height: auto;
	position:absolute;
	top:13px;
	left:0px;
}

@-moz-document url-prefix() {
	.aq-heading .text-wrap h1{
		font-size:55px;
	}
	.tyes{
		width: 58px;
	}

}

/*LANDING PAGE CSS*/

/*header*/
.mrg-top{
	margin-top:25px;
}

.lp-wrap{
	float:left;
	width: 100%;
}

/*header end*/
.special-bg-1{
	background:url(../images/landingpage/panorama-Womanbis.jpg) center center no-repeat;
}

.special-bg-2{
	background:url(../images/landingpage/Panorama-Family.jpg) center center no-repeat;
}

.special-bg-3{
	background:url(../images/landingpage/Panorama-Baby.jpg) center center no-repeat;
}

.lp-wrap .top-heading{
	float:left;
	width: 100%;
	height: 465px;
	
	  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom:80px;
}

.lp-wrap .top-heading .tp-wrap{
	margin:0px auto;
	width: 950px;
}

.lp-wrap .top-heading .tp-wrap img{
	margin-top:0px !important;
	float:left;
}

.lp-wrap .top-heading .tp-wrap .text{
	float:right;
	width: 530px;
}

.lp-wrap .top-heading .tp-wrap .text > h1{
	float:left;
	width: 100%;
	text-align: right;
	font-size:50px;
	font-family: 'latoregular';
	color:#1d3859;
	line-height: 65px;
	padding-top:85px;
	padding-bottom:20px;
}
.lp-wrap .top-heading .tp-wrap .text > p{
	float:left;
	width: 100%;
	text-align: right;
	font-size:30px;
	font-family: 'latolight';
	color:#1d3859;
}

.lp-wrap .top-heading .tp-wrap .text .zta {
	float:left;
	width: 100%;
}

.lp-wrap .top-heading .tp-wrap .text .zta .zcta{
	float:right;
	margin-top:40px;
	background:url(../images/landingpage/top-button.png) no-repeat;
	width: 390px;
	height: 48px;
}

.lp-wrap .top-heading .tp-wrap .text .zta .zcta h1{
	float:left;
	width: 100%;
	color:#fff;
	text-align: center;
	font-family: 'latoregular';
	font-size:30px;
	padding-top:8px;
	-webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.lp-wrap .top-heading .tp-wrap .text .zta .zcta:hover h1{
	padding-left:15px;
	-webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.lp-wrap .top-heading .tp-wrap .text .zta .one{
	float:right;
	width: 100px;
	padding-top:10px;

}
.lp-wrap .top-heading .tp-wrap .text .zta .wwrp{
	float:left;
	width: 100%;
}
.lp-wrap .top-heading .tp-wrap .text .zta .one img{float:left;}
.lp-wrap .top-heading .tp-wrap .text .zta p{
	float:left;
	padding-top:6px;
	padding-left:6px;
	font-size:11px;
	font-family: 'latolight';
	color:#06033d;
}

.lp-wrap .btm-heading{
	margin:0px auto;
	width: 950px;
}

.lp-wrap .btm-heading .steps{
	float:left;
	width: 100%;
	margin-bottom:40px;
	margin-top:60px;
}
.lp-wrap .btm-heading .steps h1{
	float:left;
	line-height: 30px;
	font-size:27px;
	padding-top:16px;
	font-family: 'latolight';
	color:#06033d;
	width: 365px;
	margin-right:30px;
}
.lp-wrap .btm-heading .steps .st{
	float:left;
	width: 550px;
	position:relative;
}
.lp-wrap .btm-heading .steps .st .one{
	float:left;
	width: 150px;
	margin-right:30px;
}
.lp-wrap .btm-heading .steps .st .one:last-of-type{
	margin-right:0px !important;
	float:right !important;
}
.lp-wrap .btm-heading .steps .st .two{
	float:left;
	position:absolute;
}
.lp-wrap .btm-heading .steps .st .one img{
	display:block;
	margin:0px auto;
}
.lp-wrap .btm-heading .steps .st .one p{
	float:left;
	width: 100%;
	font-size:14px;
	color:#3c3c3c;
	font-family: 'latolight';
	text-align: center;
	padding-bottom:15px;
}



.lp-list{
	float:left;
	width: 100%;
	margin-top:40px;
}

.lp-list li{
	float:left;
	width: 290px;
		list-style:none;
}

.lp-list li h1{
	float:left;
	font-size:30px;
	font-family: 'latoregular';
	color:#1d3859;
	padding-bottom:15px;
}

.lp-list li p{
	float:left;
	font-size:18px;
	font-family: 'latolight';
	color:#1d3859;	
	line-height: 27px;
}

.lp-list li:first-of-type{
	margin-right:45px;
}

.lp-list li:last-of-type{
	float:right;
}


.lp-wrap .concept{
	float:left;
	width: 100%;
	margin-top:85px;
	margin-bottom:100px;
}

.lp-wrap .concept p{
	float:left;
	width: 110px;
	font-size:14px;
	font-family: 'latolight';
	color:#1d3859;
}

.lp-wrap .concept img{
	float:left;
}


.lp-wrap .dul{
	float:left;
	margin-bottom:125px;
	width: 100%;
}

.lp-wrap .dul li{
	float:left;
	list-style:none;
	position:relative;
	height: 246px;
	width: 290px;
	background:#f5f5f5;
}

.lp-wrap .dul li:first-of-type{
	margin-right:39px;
}

.lp-wrap .dul li:last-of-type{
	float:right;
}

.lp-wrap .dul li img{
	float:left;
	margin-top:0px !important;
	display:inline-block;
	padding:20px 10px 10px 20px;
}
.lp-wrap .dul li p{
	float:left;
	font-size:14px;
	line-height: 22px;
	padding:20px;
	padding-top:0px !important;
	font-family: 'latolight';
	color:#1d3859;
}
.lp-wrap .dul li h1{
	font-size:20px;
	padding-top:19px;
	font-family: 'latoregular';
	color:#1d3859;
}
.lp-wrap .dul li h2{
	font-size:20px;
	font-family: 'latolight';
	color:#1d3859;
}


.aq-heading{
	margin-top:-12px;
}
.pitdown{
	position:absolute;
	bottom:0px;
	right:0px;
}

.big-it{
	font-size:30px !important;
	float:left;
	padding-right:0px !important;
	width: 85%;
	padding-top:20px !important;
}

.pitdown a{
	text-decoration: none;
	color: #1d3859;
	font-family: 'latoregular';
	float:left;
}

.pitdown:hover img{
	padding-right:10px !important;
	-webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.pitdown img{
	padding:5px !important;
	float:left;
	-webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}
/*LANDING PAGE CSS END*/


.lp-wrap .btm-heading .steps .st .two img{
	margin-top:0px !important;
}

.bxslider li{
	position:relative;
	width: 100%;
}


.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{
	text-align: center !important;
	width: 100% !important;
}

.bx-wrapper .bx-viewport{
	border:none !important;
	height: 450px !important;
}


/*LANDING PAGE NR2*/

.lp2-wrap .top-heading{
	float:left;
	width: 100%;
	height: 844px;
	position:absolute;
	top:0px;
	left:0px;
	background: url(../images/landingpage/heading1.jpg)no-repeat;
	  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom:80px;
}

#HeaderContainer{
	position:relative;
	z-index:2000;
}

.lp2-wrap .top-heading .tp-wrap{
	margin:0px auto;
	width: 1000px;
}

.lp2-wrap .top-heading .tp-wrap img{
	margin-top:0px !important;
	float:left;
}

.lp2-wrap .top-heading .tp-wrap .text{
	float:right;
	width: 650px;
}

.lp2-wrap .top-heading .tp-wrap .text > h1{
	float:left;
	line-height: 100px;
	width: 100%;
	text-align: right;
	font-size:80px;
	font-family: 'latolight';
	color:#1d3859;
	padding-top:175px;
}
.lp2-wrap .top-heading .tp-wrap .text > p{
	float:left;
	width: 100%;
	text-align: right;
	font-size:38px;
	font-family: 'latolight';
	color:#1d3859;
}

.lp2-wrap .top-heading .tp-wrap .text .zta {
	float:left;
	width: 100%;
}

.lp2-wrap .top-heading .tp-wrap .text .zta .zcta{
	float:right;
	margin-top:40px;
	background:url(../images/landingpage/top-button.jpg) no-repeat;
	width: 390px;
	height: 48px;
}

.lp2-wrap .top-heading .tp-wrap .text .zta .zcta h1{
	float:left;
	width: 100%;
	color:#fff;
	text-align: center;
	font-family: 'latoregular';
	font-size:30px;
	padding-top:8px;
	-webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.lp2-wrap .top-heading .tp-wrap .text .zta .zcta:hover h1{
	padding-left:15px;
	-webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.lp2-wrap .top-heading .tp-wrap .text .zta .one{
	float:right;
	width: 155px;
	padding-top:30px;

}
.lp2-wrap .top-heading .tp-wrap .text .zta .wwrp{
	float:left;
	width: 100%;
}
.lp2-wrap .top-heading .tp-wrap .text .zta .one img{float:left;}
.lp2-wrap .top-heading .tp-wrap .text .zta p{
	float:left;
	padding-left:6px;
	font-size:8px;
	font-family: 'latoregular';
	color:#06033d;
}
.bigit-now{
	font-size:15px !important;
	line-height: 13px;
}

.lp2-wrap .people{
	float:left;
	background:url(../images/landingpage/customers1.jpg) no-repeat;
	width: 100%;
	height: 260px;
	position:relative;
	padding-bottom:60px;
}

.wrap-l2-content{
	width: 990px;
	margin:0px auto;
	padding-top:900px;

}

.wrap-l2-content .people p{
	width: 230px;
	font-family: 'latoregular';
	font-size:14px;
	float:left;
	position:absolute;
	color:#ffffff;
	top:16px;
	line-height: 20px;
	right:251px;

}

.wrap-l2-content .border-it b{
	font-family: 'latoregular';
}
.wrap-l2-content .border-it{
	float:left;
	width: 100%;
	font-family: 'latolight';
	font-size:28px;
	color:#13315e;
	background:url(../images/landingpage/border-it.png) no-repeat  center right;
}


.wrap-l2-content .ui-tabs .ui-tabs-nav .ui-tabs-anchor{
	border:none !important;
	margin-top:40px;
	margin-left:11px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active, .ui-tabs .ui-tabs-nav li.ui-state-hover{
	background: url(../images/tab-active-bg.png) no-repeat 13px bottom;
}

#aboutus-tab .ui-tabs-nav li #ui-id-1 { background: url(../images/icn-clock.png) no-repeat 14px 13px !important;  }
#aboutus-tab .ui-tabs-nav li #ui-id-1:hover { background: #2b4772 url(../images/icn-clock.png) no-repeat 14px -93px !important; color: #fff; }
#aboutus-tab .ui-tabs-nav li.ui-tabs-active #ui-id-1 { background: #2b4772 url(../images/icn-clock.png) no-repeat 14px -93px !important; color: #fff; }


#aboutus-tab .ui-tabs-nav li #ui-id-2 { background: url(../images/icn-saving.png) no-repeat 14px 8px !important; }
#aboutus-tab .ui-tabs-nav li #ui-id-2:hover { background: #2b4772 url(../images/icn-saving.png) no-repeat 14px -138px !important; color: #fff; }
#aboutus-tab .ui-tabs-nav li.ui-tabs-active #ui-id-2 { background: #2b4772 url(../images/icn-saving.png) no-repeat 14px -138px !important; color: #fff; }



#aboutus-tab .ui-tabs-nav li #ui-id-3 { background: url(../images/icn-sequ.png) no-repeat 14px 8px !important; }
#aboutus-tab .ui-tabs-nav li #ui-id-3:hover { background: #2b4772 url(../images/icn-sequ.png) no-repeat 14px -136px !important; color: #fff; }
#aboutus-tab .ui-tabs-nav li.ui-tabs-active #ui-id-3 { background: #2b4772 url(../images/icn-sequ.png) no-repeat 14px -136px !important; color: #fff; }



#aboutus-tab .ui-tabs-nav li #ui-id-4 { background: url(../images/icn-smile.png) no-repeat 14px 15px !important; }
#aboutus-tab .ui-tabs-nav li #ui-id-4:hover { background: #2b4772 url(../images/icn-smile.png) no-repeat 14px -143px !important; color: #fff; }
#aboutus-tab .ui-tabs-nav li.ui-tabs-active #ui-id-4 { background: #2b4772 url(../images/icn-smile.png) no-repeat 14px -143px !important; color: #fff; }

#aboutus-tab .ui-tabs-nav li{
	text-align: right;
}

.wrap-l2-content .aboutus-tabContent{
	font-size:18px;
	line-height: 30px;
	color:#1d3859;
	font-family: 'latolight';
	height: 100px;
}



.nobgb{
	background:none !important;
	font-size:24px !important;
	margin-bottom:40px;
}

.nobgb b{
	padding-left:57px;
}

.nobgb b:first-of-type{
	padding-left:0px !important;
}

.single-1000-wrap{
	width: 1000px;
	margin:0px auto;
	position:relative;
}

.m-wrap{
	position:absolute;
	top:0px;
	right:0px;
	z-index: 3000
}

.customdrpmenu {
  text-align: left;
  display: inline;
  margin: 0;
  
  list-style: none;
}

.customdrpmenu .giveme-image {
	padding-left:15px;
	border-left:none !important;
	background:url(../images/landingpage/btt-dwn.png) no-repeat center left !important;
}

.customdrpmenu li {
  display: inline-block;
  margin-bottom:3px;
  margin-right: -4px;
  padding:5px;
  position: relative;
  cursor: pointer;
  background: #eeeeee; 
  border-left:3px solid #eeeeee;
    color:#0b2243;
  font-family: 'latoregular';
  font-size:16px;
  -webkit-transiton: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -transition: opacity 0.5s;
}
.customdrpmenu li a{
	text-decoration: none;
  color:#0b2243;
  font-family: 'latoregular';
  font-size:16px;

}
.customdrpmenu li ul {
  padding: 0;
  position: absolute;
  top: 25px;
  left: -92px;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -transition: opacity 0.5s;
}
.customdrpmenu li ul li { 
  display: block; 
  text-align: right;

}
.customdrpmenu li ul li:hover {
  -webkit-transiton: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -transition: opacity 0.5s;
   border-left:3px solid #0b2243; }
.customdrpmenu li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}


/* Careers page css start*/




/*Careers page css end*/


.careers{
	position: relative;
	float:left;
	width: 100%;
}
.careers .career-content-menu-wrapper{
	overflow: hidden;
	background: #113351;
}
.careers .career-content-menu-wrapper .career-content-menu,
.careers .career-content-menu-wrapper .career-content-menu ul{
	overflow: hidden;
}
.careers .career-content-menu-wrapper .career-content-menu,
.careers .carwrap{
	width: 950px;
	margin:0px auto;
}
.careers .bx-wrapper .bx-viewport{
	height: 635px !important;
}
.careers .bx-wrapper{
	margin-bottom:0px !important;
}
.careers .heading{
	float:left;
	width: 100%;
	height: 635px;	

}

.careers .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{
	display:none !important;
}

.careers .bx-wrapper .bx-viewport{
	overflow:visible !important;
	display:block !important;
	position: static !important;
}

.careers .special-bg-1{
	background:url(../images/img/1.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.careers .special-bg-2{
	background:url(../images/img/2.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.careers .special-bg-3{
	background:url(../images/img/3.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.careers .special-bg-4{
	background:url(../images/img/4.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.careers .special-bg-5{
	background:url(../images/img/5.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.careers .special-bg-6{
	background:url(../images/img/6.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.careers .special-bg-7{
	background:url(../images/img/7.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.careers .special-bg-8{
		background:url(../images/img/8.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.careers .heading-scroll-block{
	position:absolute; 
	display:block; 
	top:0px; 
	width:100%; 
	z-index:9999;
}
.careers .heading-scroll-block h1{
	float:left;
	width: 100%;
	font-size:80px;
	font-family: 'latobold';
	font-weight: bold;
	text-align: center;
	padding-top:11px !important;
	padding-bottom:11px !important;
	
	color:#fff;
	background: #dfdfdf;
	/*background:#7e7e7e;
	filter: alpha(opacity=51);
	-moz-opacity:0.51;
	-khtml-opacity: 0.51;
  opacity: 0.51;*/
}

.carwrap .tab-container{
	float:left;
}

.etabs li img{
	width: 24px;
	height: auto;
	position:relative;
	top:5px;
}

.sm-tab a{ 
	padding:0px !important;
	float:left !important;
	margin:0px 10px 0px 10px;
}

.sm-tab{
	margin-top:20px;
	background:none !important;
}

.sm-tab:hover ,.sm-tab a:hover{
	background:none !important;

}
.careers .etabs {
 margin: 0;
 padding: 0 !important;
 float:left;
 padding: 0; 
 background:#113351;
 width: 100%;
 list-style:none;
	-webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.careers .tab { 
	display: block; 
	float: left;
	zoom:1; 
	background: #113351; 
	border-bottom: none; ;
 }
.careers .tab.social{
	border-right: none;
	margin-top: 0px;
	margin-left: 76px;
	float: none;
	display: inline-block;
	clear: both;
	margin-top: 15px;
}
.iqtab{
	min-height: 400px !important;
	margin-bottom:80px;
}

.careers .tab a:hover {
 text-decoration: underline;
 cursor:pointer;
 color:#fff;
 background: #699826; 
  }
.careers .tab.active {
 background: #699826; 
 position: relative; 
  }
.careers .tab a.active {
	color:#fff;

}
.bfcw{
	float:left;
	width: 100%;
}
.careers .tab-container .panel-container {
 background: #fff; 
 border: solid #666 1px; 
 padding: 10px; 
}

.careers .tab a{
	-webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
	padding:7px 25px 7px 25px;
	font-size:18px;
	font-family: 'latoregular';
	color:#fff;
	text-decoration:none !important;
	display:inline-block;
}
.careers .tab .tab-inner-border{
	display: inline-block;
	width: 1px;
	height: 21px;
	vertical-align: middle;
	margin-bottom: 4px;
	border-right: 1px solid #fff;
}

.iqtab{
	float:left;
	width: 100%;
}

.iqtab > h1{
	width: 100%;
	float:left;
	margin-top:60px;
	font-size:38px;
	font-family: 'latoregular';
	color:#2b4772;
	line-height: 50px;
}

.iqtab > p{
	margin-top:30px;
	font-size:18px;
	line-height: 28px;
	font-family: 'latoregular';
	color:#2b4772;
	float:left;
}

.iqtab .in-wrap{
	float:left;
	width: 100%;
	margin-top:40px;
	margin-bottom:40px;
}

.iqtab .in-wrap .pad-it{
	margin-bottom:10px;
	margin-right:10px;
}

.iqtab .in-wrap .pad-at{
	margin-bottom:10px;
	
}

.iqtab .in-wrap .one{
	float:left;
	width: 466px;
	background:#113351;
	height: 170px;
}
.iqtab .in-wrap .one p{
	color: #fff;
	font-size:30px;
	padding-left:30px;
	font-family:'latoregular';
	padding-bottom:15px;
}

.iqtab .perks{
	float:left;
	width: 100%;
}

.iqtab .perks ul{
	float:left;
	list-style:none;
	width: 440px;
	margin-top:40px;
	margin-right:24px;
	margin-bottom:70px;
}
#no-marg{
	margin-right:0px !important;
	float:right;
}

.iqtab .perks ul li{
	float:left;
	width: 100%;
	height: 110px;
}
.iqtab .perks ul img{
	float:left;
	display:block;
	margin-top:6px;
	width: 50px;
	height: auto;
}
.iqtab .perks ul p{
float: left;
line-height: 24px;
color: #1d3859;
font-size: 16px;
width: 374px;
padding-left: 10px;
padding-top: 9px;
font-family: 'latolight';
}


.iqtab .positions{
	float:left;
	width: 100%;
	padding-top:60px;
}
.iqtab .positions .one{
	float:left;
	width: 100%;
	margin-bottom:40px;
}
.iqtab .positions p{
	font-size:18px;
	font-family: 'latoregular';
	color:#314b75;
	margin-bottom:15px;
}
.iqtab .positions a{
	font-size:18px;
	font-family: 'latoregular';
	color:#3fa3cd;
	display :block;
	margin-bottom:15px;
	text-decoration: underline;
}

.iqtab .positions a:hover{
	opacity:0.7;
}
.iqtab .positions .p1{
	float:left;
	width: 200px;
	margin-right:80px;
	margin-bottom:15px;
	font-weight: bold !important;
}
.iqtab .positions .p2{
	float:left;
	width: 400px;
    margin-bottom:15px;
}
.iqtab .positions .p3{
	float:right;
	width: 160px;
	padding-right:75px;
	margin-bottom:15px;
}

.iqtab .stories{
	float:left;
	width: 100%;
	margin-top:60px;
}
.iqtab .stories .one{
	float:left;
	width:265px;
}
.iqtab .stories p{
	padding-top:20px;
	font-family: 'latoregular';
	font-size: 18px;
	color:#1d3859;
	font-style: 'italic';
	line-height: 30px;
}

.iqtab .stories p b{
	padding-top:10px;
}

.iqtab .stories img{
	margin-left:10px;
}
.iqtab .go-right{
	float:right !important;
}

.iqtab .location{
	float:left;
	margin-top:60px;
}
.iqtab .location img{
	float:left;
	margin-top:0px !important;
	display:block;
}

.iqtab .location .single-image{
	float:left;
	margin-right:15px;
	margin-bottom:15px;
}

.sticky-nav{
	position:fixed;
	top:0px;
	padding-top:10px !important;
	padding-bottom:10px !important;
	-webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.sticky-nav-menu{
	position: fixed;
	top: 118px;
}

#faq-tab.ui-tabs .ui-tabs-nav li #ui-id-4 {
    background: url(../images/icn-clock.png) no-repeat 14px 13px !important;
}
#faq-tab.ui-tabs .ui-tabs-nav li #ui-id-4:hover {
    background: #2b4772 url(../images/icn-clock.png) no-repeat 14px -93px !important;
    color: #fff;
}
#faq-tab.ui-tabs .ui-tabs-nav li.ui-tabs-active #ui-id-4 {
    background: #2b4772 url(../images/icn-clock.png) no-repeat 14px -93px !important;
    color: #fff;
}
#faq-tab.ui-tabs .ui-tabs-nav li #ui-id-1 {
    background: url(../images/icn-saving.png) no-repeat 14px 8px !important;
}
#faq-tab.ui-tabs .ui-tabs-nav li #ui-id-1:hover {
    background: #2b4772 url(../images/icn-saving.png) no-repeat 14px -138px !important;
    color: #fff;
}
#faq-tab.ui-tabs .ui-tabs-nav li.ui-tabs-active #ui-id-1 {
    background: #2b4772 url(../images/icn-saving.png) no-repeat 14px -138px !important;
    color: #fff;
}
#faq-tab.ui-tabs .ui-tabs-nav li #ui-id-2 {
    background: url(../images/icn-sequ.png) no-repeat 14px 8px !important;
}
#faq-tab.ui-tabs .ui-tabs-nav li #ui-id-2:hover {
    background: #2b4772 url(../images/icn-sequ.png) no-repeat 14px -136px !important;
    color: #fff;
}
#faq-tab.ui-tabs .ui-tabs-nav li.ui-tabs-active #ui-id-2 {
    background: #2b4772 url(../images/icn-sequ.png) no-repeat 14px -136px !important;
    color: #fff;
}
#faq-tab.ui-tabs .ui-tabs-nav li #ui-id-3 {
    background: url(../images/icn-smile.png) no-repeat 14px 15px !important;
}
#faq-tab.ui-tabs .ui-tabs-nav li #ui-id-3:hover {
    background: #2b4772 url(../images/icn-smile.png) no-repeat 14px -143px !important;
    color: #fff;
}
#faq-tab.ui-tabs .ui-tabs-nav li.ui-tabs-active #ui-id-3 {
    background: #2b4772 url(../images/icn-smile.png) no-repeat 14px -143px !important;
    color: #fff;
}

#faq-tab .ui-tabs-nav li{
	text-align: right;
}


/*global style header*/
.header_border{
	border-bottom: 1px solid #dbe0e5;

}
.header_wrapper.global{
	overflow: hidden;
	margin-bottom: 6px;
}
/*end global style header*/



#aboutus-tab ul li a{
	text-align: left !important;
	padding-left:68px !important;
}

.wrap-l2-content .ui-tabs .ui-tabs-nav .ui-tabs-anchor{
	width: 166px !important;
}

.ui-tabs{
	padding:0px !important;
}

#aboutus-tab.about-menu .ui-tabs-nav li:last-of-type{
	margin-right:0px !important;
	padding-right:0px !important;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor{
	width: 154px !important;
}

#faq-tab ul li a{
	text-align: left !important;
	padding-left:75px !important;
	width: 148px !important;
}

#faq-tab{
	padding:0px !important;
}

#faq-tab ul{
	padding:0px !important;
}

#faq-tab ul li:last-of-type{
	padding-right:0px !important;
	margin-right:0px !important;
}


div#MainBodyContainer .contact-form ul li label{
	font-family: 'latolight';
}

div#MainBodyContainer .contact-form ul li .txtInput,textarea{
	font-family: 'latolight';
	font-size:18px;
}