

.add-question textarea{
    width: 90% !important;
}


#symptominput {
    width: 90% !important;
}


.f-b .wrap-labels label{
    width: 198px !important;
}

.body-parts{
    padding-top:0px !important;
    height: 430px !important;
}

.small-adq-wrap #dd{
    width: 90% !important;
}


#itemlist #symptominput,#itemlist #autocompletemedication,#itemlist #autocompletehistory{
    float:left;
    height: 40px !important;
    background:#f8f8f8;
    border: 1px solid #d8d8d8;
    outline:none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color:#13315e;
    font-family: 'latolight';
    font-size:18px;
    width: 89.4% !important;
    padding-left:5% !important;
    padding-right:5% !important;
}

.deletetheinput img{
    padding-top:18px !important;
}


	.autocomplete-suggestion{
		width: 600px !important;
	}
	div#HeaderContainer{
		width: 990px !important;
		height: 95px !important;
	}
	div#HeaderContainer .hdrBtm{
		width: 990px !important;
	}
	.fancybox-lock .fancybox-overlay{
		overflow:hidden !important;
	}
	.bx-pager{
		display:none !important;
	}
	.first-height{
		height: 226px !important;
	}
			.displout{
		opacity:0;
		float:left;
		position:absolute;
		top:0px;
		left:0px;
		width: 100%;
		height: 100px;
		background:#13315e;
		
-webkit-transition: all 3s ease-in-out;
  -moz-transition: all 3s ease-in-out;
  -o-transition: all 3s ease-in-out;
  transition: all .3s ease-in-out;
	}
	.displout h1{
		width: 100%;
		padding-top:38px;
		color:white;
		font-size: 20px;
		font-family: 'latolight';
		text-align: center;
	}
	.wf-inputpos{
		width: 300px;
	}
	#resultList{
		width: 600px !important; 
	}
	.autocomplete-suggestion:hover, .dropdown li a:hover{
		background:#13315e !important;
	}
	.langde .lp2-wrap .top-heading .tp-wrap .text{
		width: 560px !important;
	}
	.langde .landing-3-bg2 .text{
		padding-top:0px !important;
	}

	.langde .lp2-wrap .top-heading .tp-wrap .text > h1{
		font-size:41px !important;
	}
	.langde .nobgb b:first-of-type{
		padding-left: 0px !important;
	}
	.nobgb b{
		padding-left:56px !important;
	}

	.concept p{
		margin-top:14px;
	}
.langde .lp2-wrap .top-heading .tp-wrap .text{
	position:relative;
}


.bx-viewport{
	border-bottom:1px solid #ddd !important;
}
	.relative-h1{
		position:relative;
	}

    .relative-h1 span{
    	position:relative;
    	top:50px;
    	float:left;
    	width: 100%;
    	color:#fff !important;
    }

	.langde .nobgb b{
		padding-left:66px !important;
	}


	@-moz-document url-prefix() {
    .langde .lp2-wrap .top-heading .tp-wrap .text > h1{
        font-size:37px !important;
    }
    .nobgb b{
    	padding-left:50px !important;
    }
}

.lp-new-wrap .ui-tabs .ui-tabs-nav .ui-tabs-anchor{
	width: 243px !important;	
}

#aboutus-tab ul li{
	margin-right:5px !important;
}

#aboutus-tab ul li:last-of-type{
	margin-right:0px !important;
}