
.left{
	float:left;
	width: 550px;
	margin-top:120px;
	margin-bottom:60px;
}
.fourhund{
	font-weight: normal;
}

.rightside .doc img {
  margin-bottom: 5px;
  float: left;
  padding-right: 5px;
}

.doc > img {
  border-radius: 50%;
}

.left > h1{
	float:left;
	width: 100%;
	padding-bottom:10px;
	line-height: 22px;
	font-size:30px;
	font-family: 'roboto';
}

.left > p{
	float:left;
	width: 100%;
	padding-bottom:20px;
	line-height: 24px;
		color:#5f5f5f;
}


.rightside{
	margin-top:120px;
	float:right;
	border-left:1px solid #d8d8d8;
	width: 410px;
	padding-left:50px;
}

.rightside > h1{
	float:left;
	width: 100%;
	padding-bottom:20px;
	font-weight: bold;
	font-size:24px;
}

.rightside > p{
	float:left;
	line-height:22px;
	width: 100%;
}

.rightside .slider{
	float:left;
	width: 100%;
	margin-top:20px;
}

.rightside .slider img{
	display:block;
	margin:0px auto;
	width: 250px;
	-webkit-border-radius: 250px;
	-moz-border-radius: 250px;
	border-radius: 250px;
}

.rightside .slider h1{
	float:left;
	width: 100%;
	padding-top:20px;
	font-weight: bold;
	padding-bottom:10px;
}

.rightside .slider p{
	float:left;
	width: 100%;
	padding-bottom:20px;
}

.rightside .slider ul{
	float:left;
	width: 100%;
}

.rightside .slider ul li{
	float:left;
	padding-bottom:5px;
	font-size:18px;
	line-height: 20px;
	width: 100%;
}

.rightside .one{
	float:left;
	width: 100%;
	padding-bottom:7px;
}

.rightside > .beg img{
	float:left;
	padding-right:10px;
	margin-top:9px;
} 
.rightside .beg h2 {
	float:none;
	color:#4db1a4;
	font-size:19px;
	font-family: 'roboto';
	padding-top:7px;
}

.rightside .doc{
	float:left;
	width: 100%;
	margin-top:15px;
}

.rightside .doc .one{
	padding-top:5px;
}

.rightside .doc .one p{
	float:left;
	font-size:16px;
	color:#5f5f5f;
	font-family: 'roboto';
	padding-bottom:10px;
	width: 100%;
	padding-top:3px;
}
.rightside .doc .one h2{
	font-size:16px;
	color:#5f5f5f;
	line-height: 20px;
	font-family: 'roboto';
	padding-bottom:10px;
}
.rightside .doc img{
	float:left;
	padding-right:5px;
	margin-top:2px;
}

.rightside .doc .r{
	float: left;
	width: 200px;
	padding-left: 8px;

}





p,h1,a,span{
	font-family: 'roboto';
}
p{
	color:#5f5f5f;
}
h1{
	color:#5f5f5f;
}



::selection {
  background: #f7931d !important; /* WebKit/Blink Browsers */
  color:#fff;
}
::-moz-selection {
  background: #f7931d !important; /* Gecko Browsers */
  color:#fff;
}




.left .one{
	float:left;
	width: 100%;
	margin-bottom:20px;
}

.left .one p {
	float:left;
	font-size:16px;
	margin-top:9px;
	margin-right:15px;
	color:#5f5f5f;
}
.left .one input{
	float:left;
	padding:7px 5px;
	outline:1px solid #f7931d;
	border:none;
	font-family: 'roboto';
	font-size:16px;
	color:#5f5f5f;
	font-weight: 300;
	 -webkit-transition: all .1s ease-in-out;
	  -moz-transition: all .1s ease-in-out;
	  -o-transition: all .1s ease-in-out;
	  transition: all .1s ease-in-out;
	  border-bottom:1px solid #ffffff;
}

.left .one input:focus{
	border:none;
	outline:1px solid #ffffff;
	border-bottom:1px solid #f7931d;
 -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#dd span{
	color:#5f5f5f;
}

.left .img{
	float:left;
	width: 200px;
	border:1px solid #f7931d;
	cursor:pointer;
	margin-bottom:20px;

}
.left .img:hover p{
	color :#f7931d;
}
.left .img img{
	float:left;
	margin:10px 10px;
}

.left .img p{
	float:left;
 -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
	margin-left:3px;
	margin-top:10px;
}

.nameinput input{
	width: 400px;
}

.ageinput input{
	width: 80px;
	text-align: center;
}

.medicsinput input{
	width: 100%;
}

.cta{
	float:left;
	width: 100%;
}

.cta .skip{
	float:right;
	text-decoration: underline;
	color:#5f5f5f;
	display:block;
	margin-top:22px;
	margin-right:40px;
 -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.cta .skip:hover,.cta .continue:hover{
	opacity:0.8;
 -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.cta .continue{
	float:right;
	text-decoration: none;
	color:#ffffff;
	display:block;
	background:#f7931d;
	font-size:18px;
 -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;

}

.cta .continue p{
	float:left;
	color:#ffffff;
	font-size:18px;
	margin:22px 0px 0px 30px;
}

.cta .continue img{
	float:left;
	margin:15px 30px 15px 20px
}









/* File upload */

.left .uploadbox p {
	float: none;
	margin: 0;
	padding-bottom: 20px;
}

.left .uploadbox .img-limit {
  display: inline;
  padding-bottom: 0;
	display: inline-block;
 }

.left .uploadbox input {
	border: none;

}

.uploadbox .uploadFile {
  border: 1px solid #f7931d;
  width: auto;
  padding: 0 10px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  cursor: pointer;
  color: #5f5f5f;
  margin-right: 15px;
  display: inline-block;

}

.uploadbox .folder {
    width: 25px;
    height: 21px;
    fill: #f7931d;
    position: relative;
    top: 6px;
    margin-right: 3px;
}

.uploadbox  .file-preview .close {
  float: none;
  text-align: right;
  font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .4;
    text-align: right;
  }
.uploadbox  .file-preview .close:hover {
  	color: #000;
  	text-decoration: none;
  	cursor: pointer;
  	filter: alpha(opacity=50);
  	opacity: .7;
  }

.uploadbox  .file-preview-image {
  height: auto;
  max-height: 100px;
  max-width: 470px;
  }

.progressFile {
	font-size: 14px;
	padding-top: 20px;
	display: none;
}

.uploadbox  .progress {
  width: 77%;
  border-radius: 0;
  display: none;
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.uploadbox .progress-bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: #f7931d;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease;
}

 .uploadbox  .file-preview {
  border: 1px solid #f7931d;
  margin-bottom: 5px;
  margin-top: 20px;
  padding: 5px;
  width: 77%;
  overflow: hidden;
  display: none;
}

.uploadbox  .file-error {
  color: red;
  padding: 5px;
  text-align: center;
  margin: 0 4px 4px;
  }

.uploadbox  .file-preview-frame {
  border: 1px solid #ddd;
  display: table;
  float: left;
  height: auto;
  margin: 0 4px 4px;
  max-height: 100px;
  padding: 6px;
  text-align: center;
  vertical-align: middle;


  }



 .hidden {
 	display: none;
 }


 /* End File upload */

.clearfix {
	display: block;
	content: '';
	clear: both;
}



/*MEDIA QUERIES*/

/*pagewidth =  748*/
@media only screen 
and (min-width : 768px) 
and (max-width : 1023px){
	.thanks{
		display:none;
	}
	.left{
		margin-top:100px;
		width: 360px;
		margin-left:20px;
	}
	.rightside{
		width: 285px;
		border-left:none;
		margin-top:95px;
		margin-right:20px;
	}
	.left > h1{
		line-height: 30px;
	}
	.left .one p {
		padding-bottom: 20px;
	}
	.nameinput input{
		width: 100%;
	}
	.rightside .beg h2{
		padding-top:0px;
		line-height:20px;
	}
	.rightside .doc img{
		float:none;
		display:block;
		margin:0px auto;
		padding:5px;
	}
	.rightside .doc .r{
		width: 100%;
		padding-left:0px;
	}
	.rightside .doc .one h2,.rightside .doc .one p{
		text-align: center;
	}
	.rightside > .beg img{
		width: 20px;
	}
}



/*pagewidth =  460*/
@media only screen 
and (min-width : 480px) 
and (max-width : 767px){
	.thanks{
		display:none;
	}
	.left{
		float:right;
		margin-top:100px;
		width: 94%;
		margin-left:20px;
	}
	.rightside{
		display:none;
	}
	.left > h1{
		line-height: 30px;
	}

}
/*pagewidth =  280*/
@media only screen 
and (max-width : 479px){
	.thanks{
		display:none;
	}
	.left{
		float:left;
		width: 260px;
		margin-top:70px;
		margin-left:10px;
		margin-bottom:10px;
	}
	.rightside{
		display:none;
	}
	.left > h1{
		line-height: 30px;
		font-size:24px;
		padding-bottom:5px;
	}
	.left .one .two{
		width: 45%;
		margin-right:5%;
	}
	.left > p{
		padding-bottom:0px;
		line-height: 20px;

	}
	.left .one .two .text{
		width: 66px;
	}
	.fourhund{
		width: 260px !important;
		margin-top:-40px;
	}
	.btn{
		width: 260px;
		padding-right:0px;
		background-size:260px auto;
	}
	.left .one{
		margin-top:15px;
	}
	.dep{
		padding-top:10px;
	}
	.dep .one{
		padding-left:0px;
	}
	.dep .one img{
		width: 100%;
	}
	.left .one .two > p{
		padding-bottom:20px;
	}
	.left .one{
		margin-top:0px !important;
	}
	.concept{
		margin-top:5px;
	}
	.left .one .two{
		margin-top:13px;
	}

}