.payment{
	float:left;
	width: 100%;
}

.thanks{
float: left;
margin-top:69px !important;
background: #f1f1f1;
width: 100%;
}

.wetrust{
	width: 290px;
}
.curmarg{
	margin-top:20px !important;
}

.three-step{
	float:left;
	width: 100%;
	background:#f1f1f1;
}

.three-step .mini{
	width: 990px;
	position:relative;
	margin:-1px auto;
}

.three-step .one:nth-of-type(2){
	background:#ffffff;
}
.three-step .one:nth-of-type(3){
	/*background:#f8f8f8;*/
}

.fourhund{
	min-height: 44px;
	width: 100% !important;
}

.btn{
	background:url(../images/payment/paypal.jpg) no-repeat;
	display:block;
	width: 298px;
	height: 50px;
}

.three-step .mini > img{
	float:left;
	position:absolute;
	top:19px;
	left:349px;
}
.three-step .one{
	float:left;
	padding-top:20px;
	padding-bottom:20px;
	width: 33.3333333333%;
}
.three-step .one img{
	float:left;
	margin-left:20px;
}
.three-step .one p{
	float:left;
	padding-left:10px;
	padding-right:10px;
	padding-top:6px;
}

.three-step .one .arrow{
	padding-top:4px;
}

.left{
	float:left;
	width: 570px;
	margin-top:120px;
	margin-bottom:60px;
}
.fourhund{
	font-weight: normal;
}


.left > h1{
	float:left;
	width: 100%;
	padding-bottom:10px;
	line-height: 22px;
	font-size:30px;
	font-family: 'roboto';
}

.left > p{
	float:left;
	width: 100%;
	padding-bottom:20px;
	line-height: 24px;
}
b{
	font-weight: bold;
}
.dep{
	float:left;
	padding-top:15px;
	width: 100%;
}

.dep .one{
	float:left;
	width: 100%;
	margin-top:20px;
}

.dep .one{
	font-size:14px;
	padding-left:5px;
}
.dep .one p a{
	color:#000000;
	font-size:14px;
}

.dep img{
	float:left;
	padding-right:4px;
	margin-top:2px;
}

.dep p{
	float:left;
}
.paypal{
	margin-top:-8px !important;
	margin-left:10px !important;
}
.pro{
	float:left;
	padding-top:30px;
	width: 100%;
}

.pro p{
	line-height: 22px;
}

.pro a{
	float:right;
	display:block;
	margin-top:20px;
	text-decoration: none;
	color:#ffffff;
	background:#fa6125;
	padding:10px 20px 10px 20px;
}

.rightside{
	margin-top:120px;
	float:right;
	border-left:1px solid #d8d8d8;
	width: 410px;
	padding-left:50px;
}

.rightside > h1{
	float:left;
	width: 100%;
	padding-bottom:20px;
	font-weight: bold;
	font-size:24px;
}

.rightside > p{
	float:left;
	line-height:22px;
	width: 100%;
}

.rightside .slider{
	float:left;
	width: 100%;
	margin-top:20px;
}

.rightside .slider img{
	display:block;
	margin:0px auto;
	width: 250px;
	-webkit-border-radius: 250px;
	-moz-border-radius: 250px;
	border-radius: 250px;
}

.rightside .slider h1{
	float:left;
	width: 100%;
	padding-top:20px;
	font-weight: bold;
	padding-bottom:10px;
}

.rightside .slider p{
	float:left;
	width: 100%;
	padding-bottom:20px;
}

.rightside .slider ul{
	float:left;
	width: 100%;
}

.rightside .slider ul li{
	float:left;
	padding-bottom:5px;
	font-size:18px;
	line-height: 20px;
	width: 100%;
}

.rightside .one{
	float:left;
	width: 100%;
	padding-bottom:7px;
}

.rightside > .beg img{
	float:left;
	padding-right:10px;
} 
.rightside .beg h2 {
	float:none;
	color:#4db1a4;
	font-size:19px;
	font-family: 'roboto';
	padding-top:7px;
}

.rightside .doc{
	float:left;
	width: 100%;
	margin-top:15px;
}

.doc > img {
  border-radius: 50%;
}

.rightside .doc .one{
	padding-top:5px;
}

.rightside .doc .one p{
	float:left;
	font-size:16px;
	color:#5f5f5f;
	font-family: 'roboto';
	padding-bottom:10px;
	width: 100%;
	padding-top:3px;
}
.rightside .doc .one h2{
	font-size:16px;
	color:#5f5f5f;
	font-family: 'roboto';
	padding-bottom:10px;
}
.rightside .doc img{
	margin-bottom: 5px;
	float:left;
	padding-right:5px;
}

.rightside .doc .r{
	float: left;
	width: 200px;
	padding-left: 8px;

}


.rightside .doc img {
  margin-bottom: 5px;
  float: left;
  padding-right: 5px;
}
.doc > img {
  border-radius: 50%;
}


.left .one {
	float:left;
	width: 100%;/*
	padding-bottom:45px;*/
	margin-top:15px;
}

.left .one .two{
	float:left;
	position:relative;
	width: 50%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.left .one .two > p{
	padding-bottom:30px;
}

.left .one .two #range-one{
	margin: 25px 0px 25px 0px;
	float:left;
	width: 6px;
	border-radius:0px !important;

}

.left .one .two #range-two{
	margin: 25px 0px 25px 0px;
	float:left;
	width: 6px;
	border-radius:0px !important;
}


.left .one .two .text{
	float: left;
	margin-top: -9px;
	margin-left: 20px;
}
.noUi-base{
	cursor:pointer;
}

.left .one .two .text p{
	float:left;
	cursor:pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	padding-bottom:55px;
	margin-top:3px;
	color:#888888;
	font-weight: normal !important;
}
.counters{
	display:none;
}

form .button:hover{
	opacity:0.9;
 -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}
form{
	float:left;
	margin-top:0px;
}

form input{
	border:none;
	outline:none;
}

form .button{
	float:left;
	cursor:pointer;
	border:none;
	outline:none;
	font-size:18px;
	font-family: 'robotolight';
	padding:10px 20px 10px 0px;
	color:#ffffff;
 -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}


.agree{
	float:left;
	margin-top:20px;
	width: 100%;
}
.block{
	cursor:pointer;
}

.agree p{
	width: 100%;
	color:#5f5f5f;
	font-family: 'robotolight';
	line-height: 21px;
	padding-top:2px;
	cursor:pointer;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

.agree a:hover{
	color:#5f5f5f;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}
.agree a{
	padding-top:2px;
	text-decoration: underline;
	color:#5f5f5f;
	font-size:16px;
	
}

.agree .block{
	float:left;
	width: 25px;
	height: 70px;
	margin-right:10px;
	position:relative;
}

.agree .block img{
	width: 25px;
	padding:0px;
	margin:0px;
	height: 25px;
}
.payment-checked{
	position:absolute;
	top:0px;
	left:0px;
	opacity:0;
}


p,h1,a,span{
	font-family: 'roboto';
}
p{
	color:#5f5f5f;
}
h1{
	color:#5f5f5f;
}



::selection {
  background: #f7931d !important; /* WebKit/Blink Browsers */
  color:#fff;
}
::-moz-selection {
  background: #f7931d !important; /* Gecko Browsers */
  color:#fff;
}

.left .one input{
	float:left;
	padding:7px 5px;
	outline:1px solid #f7931d;
	border:none;
	font-family: 'roboto';
	font-size:16px;
	color:#5f5f5f;
	font-weight: 300;
	 -webkit-transition: all .1s ease-in-out;
	  -moz-transition: all .1s ease-in-out;
	  -o-transition: all .1s ease-in-out;
	  transition: all .1s ease-in-out;
	  border-bottom:1px solid #ffffff;
}

.left .one > p{
	float:left;
	margin-right:10px;
	min-width: 150px;
	margin-top:9px;
}

.left .one input,.left .one select{
	float:left;

}

.left .one .month{
	margin-right:10px;
}

.left .one input:focus{
	border:none;
	outline:1px solid #ffffff;
	border-bottom:1px solid #f7931d;
 -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.left .one img{
	float:left;
	margin-top:7px;
	margin-right:10px;
}

.left .one > a{
	float:left;
	color:#f7931d;
	margin-top:9px;
 -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.left .one a:hover{
	opacity: .8;
}

.sq{
	width: 70px;
	text-align:center;
}



#dd span{
	color:#5f5f5f;
}
.wrapper-dropdown-3 .dropdown li a{
	background:#ffffff;
	top:120%;
	padding:5px;
}

.questionmark{
	float:left;
	display:block;
	margin-left:15px;
	color:#f7931d;
	font-size:25px;
	cursor:pointer;
	font-weight: bold;
	margin-top:5px;
}

.endcta{
	float:left;
	width: 100%;
}

.endcta form{
	float:left;
}
.error{
	color:red;
	float:left;
	width:100%;
}

.continue, #continuePaypal, .bankbtn{
	float:right;
	border:none;
	text-decoration: none;
	width: 190px;
	text-align: center;
	color: #ffffff;
	display: block;
	background: #f7931d;
	font-family: "roboto";
	font-size: 22px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	padding:20px 30px;
	cursor:pointer;
	background-image:none;
	
}

.continue:hover,#continuePaypal:hover, .bankbtn:hover{
	opacity:0.8;
}
.endcta form{
	width: 100%;
}

.polp {
	display: none;
}


.showit, .hideit, .continue, #continuePaypal, .bankbtn {
	display:none;
}

.paypal-msg {
	color: #000;
}

#wrform {
	display: none;
}

/*MEDIA QUERIES*/

/*pagewidth =  748*/
@media only screen 
and (min-width : 768px) 
and (max-width : 1023px){
	.thanks{
		display:none;
	}
	.left{
		margin-top:100px;
		width: 360px;
		margin-left:20px;
	}
	.rightside{
		width: 285px;
		border-left:none;
		margin-top:95px;
		margin-right:20px;
	}
	.left > h1{
		line-height: 30px;
	}
	.rightside .beg h2{
		padding-top:0px;
		line-height:20px;
	}
	.rightside .doc img{
		float:none;
		display:block;
		margin:0px auto;
		padding:5px;
	}
	.rightside .doc .r{
		width: 100%;
		padding-left:0px;
	}
	.rightside .doc .one h2,.rightside .doc .one p{
		text-align: center;
	}
	.rightside > .beg img{
		width: 20px;
	}
}



/*pagewidth =  460*/
@media only screen 
and (min-width : 480px) 
and (max-width : 767px){
	.thanks{
		display:none;
	}
	.left{
		float:right;
		margin-top:100px;
		width: 94%;
		margin-left:20px;
	}
	.rightside{
		display:none;
	}
	.left > h1{
		line-height: 30px;
	}

}
/*pagewidth =  280*/
@media only screen 
and (max-width : 479px){
	.thanks{
		display:none;
	}
	.left{
		float:left;
		width: 260px;
		margin-top:70px;
		margin-left:10px;
		margin-bottom:10px;
	}
	.rightside{
		display:none;
	}
	.left > h1{
		line-height: 30px;
		font-size:24px;
		padding-bottom:5px;
	}
	.left .one .two{
		width: 45%;
		margin-right:5%;
	}
	.left > p{
		padding-bottom:0px;
		line-height: 20px;
	}
	.left .one .two .text{
		width: 66px;
	}
	.fourhund{
		width: 260px !important;
		margin-top:-40px;
	}
	.btn{
		width: 260px;
		padding-right:0px;
		background-size:260px auto;
	}
	.left .one{
		margin-top:15px;
	}
	.dep{
		padding-top:10px;
	}
	.dep .one{
		padding-left:0px;
	}
	.dep .one img{
		width: 100%;
	}
	.left .one .two > p{
		padding-bottom:20px;
	}
	.left .one{
		margin-top:0px !important;
	}
	.concept{
		margin-top:5px;
	}
	.left .one .two{
		margin-top:13px;
	}

}


