@import url('source/jquery.fancybox.css');
@import url('jquery.bxslider.css');
@import url('source/helpers/jquery.fancybox-buttons.css');
 
 
 { background:url(source/jquery.fancybox.css)}
	.autocomplete-suggestion{
		width: 600px !important;
	}
	div#HeaderContainer{
		width: 100% !important;
		height: 95px !important;
		box-shadow: 0px 1px 30px 0px rgba(0,0,0,0.2);
	}
	div#HeaderContainer .hdrBtm{
		width: 990px !important;
	}
	.fancybox-lock .fancybox-overlay{
		overflow:hidden !important;
	}
	.bx-pager{
		display:none !important;
	}
	.first-height{
		height: 226px !important;
	}
			.displout{
		opacity:0;
		float:left;
		position:absolute;
		top:0px;
		left:0px;
		width: 100%;
		height: 100px;
		background:#2b4772;
		
-webkit-transition: all 3s ease-in-out;
  -moz-transition: all 3s ease-in-out;
  -o-transition: all 3s ease-in-out;
  transition: all .3s ease-in-out;
	}
	.displout h1{
		width: 100%;
		padding-top:38px;
		color:white;
		font-size: 20px;
		font-family: 'latolight';
		text-align: center;
	}
	.wf-inputpos{
		width: 300px;
	}
	#resultList{
		width: 600px !important; 
	}
	.deletetheinput  img{
		padding-top:31px !important;
	}
	.autocomplete-suggestion:hover, .dropdown li a:hover{
		background:#2b4772 !important;
	}
	.m-wrap{
		right:10px !important;
	}

.content_lo{
	float:left;
		margin-top:85px;
	width: 100%;
}



section{
	float:left;

}

.bb17{
	float:left;
	width: 100%;
}










.sexual_heading {

	background:url(../images/17/heading_sexual2.jpg)no-repeat center center;


}



.follow-me {
    position: fixed;
    float: left;
    top: 170px;
    width: 300px;
}


/*second add question with a sidebar*/

.small-adq-wrap {
	width: 990px;
	margin: 0px auto;
}
.small-adq-wrap .left {
	float: left;
	width: 600px;
}
.small-adq-wrap .add-question-wrap {
	width: 100%;
}
.small-adq-wrap .sidebar {
	width: 300px;
	float: right;
}
.small-adq-wrap .add-question .final-confirm .conf p {
	padding-right: 15px;
}
.small-adq-wrap .wrap-trauma label {
	width: 33%;
}
.small-adq-wrap .body-parts {
	background: #fff;
}
.small-adq-wrap #dd {
	background: #f8f8f8;
	border: 1px solid #d8d8d8;
}
.small-adq-wrap .dropdown li {
	background: #f8f8f8;
}
.sidebar .sidebar .bx-wrapper .bx-viewport {
	box-shadow: none !important;
	float: left;
}
.bslide {
	list-style: none !important;
}
.sidebar .sidebar .bx-wrapper .bx-viewport ul {
	list-style : none
}
.small-adq-wrap input, .small-adq-wrap textarea {
	background: #f8f8f8;
	border: 1px solid #d8d8d8;
}
.small-adq-wrap #itemlist #symptominput, .small-adq-wrap #itemlist #autocompletemedication, .small-adq-wrap #itemlist #autocompletehistory {
	background: #f8f8f8;
}
.small-adq-wrap .body-parts .head {
	background: url(../images/bodypartsv2/head.png) no-repeat 0px 0px;
}
.small-adq-wrap .body-parts .leftarm {
	background: url(../images/bodypartsv2/leftarm.png) no-repeat 0px 0px;
}
.small-adq-wrap .body-parts .chestleft {
	background: url(../images/bodypartsv2/chestleft.png) no-repeat 0px 0px;
}
.small-adq-wrap .body-parts .chestright {
	background: url(../images/bodypartsv2/chestright.png) no-repeat 0px 0px;
}
.small-adq-wrap .body-parts .rightarm {
	background: url(../images/bodypartsv2/rightarm.png) no-repeat 0px 0px;
}
.small-adq-wrap .body-parts .stomachleft {
	background: url(../images/bodypartsv2/stomachleft.png) no-repeat 0px 0px;
}
.small-adq-wrap .body-parts .stomachright {
	background: url(../images/bodypartsv2/stomachright.png) no-repeat 0px 0px;
}
.small-adq-wrap .body-parts .lefthand {
	background: url(../images/bodypartsv2/lefthand.png) no-repeat 0px 0px;
}
.small-adq-wrap .body-parts .lowerabdom {
	background: url(../images/bodypartsv2/lowerabdom.png) no-repeat 0px 0px;
}
.small-adq-wrap .body-parts .righthand {
	background: url(../images/bodypartsv2/righthand.png) no-repeat 0px 0px;
}
.small-adq-wrap .body-parts .lefttight {
	background: url(../images/bodypartsv2/lefttigh.png) no-repeat 0px 0px;
}
.small-adq-wrap .body-parts .righttight {
	background: url(../images/bodypartsv2/righttigh.png) no-repeat 0px 0px;
}
.small-adq-wrap .body-parts .shinboneleft {
	background: url(../images/bodypartsv2/shinboneleft.png) no-repeat 0px 0px;
}
.small-adq-wrap .body-parts .shinboneright {
	background: url(../images/bodypartsv2/shinboneright.png) no-repeat 0px 0px;
}
.small-adq-wrap .body-parts .leftfeet {
	background: url(../images/bodypartsv2/leftfeet.png) no-repeat 0px 0px;
}
.small-adq-wrap .body-parts .rightfeet {
	background: url(../images/bodypartsv2/rightfeet.png) no-repeat 0px 0px;
}
.small-adq-wrap .add-question .final-confirm .conf img {
	padding-left: 15px;
	margin-top: 7px;
}
.small-adq-wrap .add-question .single span {
	color: #ffffff;
}
.small-adq-wrap #itemlist #addbutton {
	background: #13315e;
}
.small-adq-wrap .wrap-take-picture div {
	background: #13315e;
}
.small-adq-wrap .f-b .wrap-labels label {
	border: 1px solid #13315e;
	color: #13315e;
}
.small-adq-wrap .add-question .final-confirm .conf, .small-adq-wrap .wrap-take-picture div {
	border-radius : 0px !important;
}
.small-adq-wrap .add-question textarea, .small-adq-wrap .wrap-trauma label, .small-adq-wrap #dd, .small-adq-wrap #itemlist #symptominput, .small-adq-wrap #itemlist #autocompletemedication, .small-adq-wrap #itemlist #autocompletehistory {
	border-radius : 0px !important;
}
.small-adq-wrap #itemlist #addbutton, .small-adq-wrap .flabel, .small-adq-wrap .slabel {
	border-radius : 0px !important;
}
.small-adq-wrap .flabel {
	background: #13315e;
}
.small-adq-wrap .slabel p {
	color: #13315e;
}
.small-adq-wrap .f-b .wrap-labels label {
	border: 1px solid #13315e;
	color: #13315e;
}
.small-adq-wrap input:hover {
	box-shadow: 0 0 10px #13315e;
}
.small-adq-wrap textarea:hover {
	box-shadow: 0 0 10px #13315e;
}
.small-adq-wrap .wrap-trauma label:hover, .small-adq-wrap #dd:hover {
	box-shadow: 0 0 10px #13315e;
}
.small-adq-wrap .autocomplete-suggestion:hover, .dropdown li a:hover {
	background: #13315e;
}
.small-adq-wrap .autocomplete-suggestion {
	width: 650px !important;
}
.small-adq-wrap .sidebar {
	margin-top: 60px;
}
.small-adq-wrap .sidebar .one {
	float: left;
	width: 100%;
	padding: 15px 10px 15px 10px;
	background : #f1f1f1;
	border-bottom: 8px solid #e0e0e0;
}
.small-adq-wrap .sidebar .one:last-of-type {
	border-bottom: 3px solid #8c8c8c;
}
.small-adq-wrap .sidebar .one > a {
	float: left;
	font-family: 'latobold';
	font-weight: 700;
	font-size: 14px;
	color: #70a241;
	text-decoration: none;
}
.small-adq-wrap .sidebar .one > a:hover {
	text-decoration: underline;
}
.small-adq-wrap .sidebar .one ul {
	float: left;
	width: 100%;
	list-style: none;
}
.small-adq-wrap .sidebar .one ul li {
	float: left;
	width: 100%;
	padding-bottom: 5px;
}
.small-adq-wrap .sidebar .one ul img {
	float: left;
	display: block;
	margin-top: 2px;
	margin-right: 10px;
}
.small-adq-wrap .sidebar .one ul a {
	float: left;
	font-family: 'latolight';
	font-weight: 700;
	font-size: 14px;
	color: #505050;
	text-decoration: none;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}
.small-adq-wrap .sidebar .one ul a:hover {
	padding-left: 5px;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}
.small-adq-wrap .fake-radio {
	background: url(../images/ns1.png) 0px -21px;
}
.small-adq-wrap .active-fake {
	background: url(../images/ns1.png) 0px 0px;
}
.small-adq-wrap .body-parts {
	width: 100%;
}
.small-adq-wrap .f-b {
	width: 101%;
}
.bslid {
	float: left;
	width: 100%;
}
.bslid h2 {
	float: left;
	color: #13315e;
	width: 100%;
	font-size: 27px;
	font-family: 'latoregular';
	padding-bottom: 20px;
}
.bslid p {
	float: left;
	color: #13315e;
	width: 95%;
	padding-left: 1%;
	font-size: 18px;
	line-height: 25px;
	font-family: 'latolight';
	padding-bottom: 25px;
}
.bslide {
	float: left;
	width: 100%;
	height: auto !important;
	background: #f8f8f8;
}
.bslide li {
	float: left;
	background: #f8f8f8;
	width: 300px !important;
	padding: 15px;
	min-height: 900px;
}
.bslide li img {
	float: left;
	display: block;
	margin: 10px;
}
.sidebar .bx-pager {
	display: none !important;
}
.sidebar .bx-wrapper .bx-viewport {
	height: 900px !important;
	float: left;
}
.bslide li > h1 {
	float: left;
	width: 100%;
	text-align: center;
	font-family: 'latoregular';
	color: #13315e;
	font-size: 32px;
	padding-bottom: 15px;
}
.bslide li > h2 {
	float: left;
	width: 100%;
	text-align: center;
	font-family: 'latolight';
	color: #13315e;
	font-size: 32px;
	padding-bottom: 15px;
}
.bslide li > h3 {
	float: left;
	width: 100%;
	text-align: center;
	font-family: 'latolight';
	color: #13315e;
	font-size: 22px;
	padding-bottom: 15px;
}
.bslide li > p {
	float: left;
	width: 100%;
	text-align: center;
	font-family: 'latolight';
	color: #13315e;
	font-size: 22px;
	padding-bottom: 15px;
}
.bslide li > h4 {
	float: left;
	width: 100%;
	text-align: center;
	font-family: 'latolight';
	color: #13315e;
	font-size: 22px;
	padding-bottom: 15px;
}
.bslide li .two {
	float: left;
	width: 100%;
	padding: 20px 0px 20px 0px;
}
.bslide li .two h1 {
	float: left;
	width: 100%;
	font-family: 'latoregular';
	color: #13315e;
	font-size: 18px;
	padding-bottom: 5px;
}
.bslide li .two h4 {
	float: left;
	width: 100%;
	font-family: 'latolight';
	color: #13315e;
	font-size: 18px;
	line-height: 28px;
}
.bslide li .two h5 {
	float: left;
	width: 100%;
	font-family: 'latolight';
	color: #13315e;
	font-size: 18px;
	line-height: 28px;
}
.bslide li .two h3 {
	float: left;
	width: 100%;
	font-family: 'latolight';
	color: #13315e;
	font-size: 18px;
	line-height: 28px;
}
.bslide li .two p {
	float: left;
	width: 100%;
	font-family: 'latolight';
	color: #13315e;
	font-size: 18px;
	line-height: 28px;
}
/*end second add question with a sidebar*/

.sidebar {
float: left;
width: auto;
margin-top: 30px;
}
.sidebar .p1 {
float: left;
width: 224px;
border-radius: 3px;
background: url(../images/top_content2.png) no-repeat -1px 0px;
padding: 20px;
/* padding-right: 25px; */
margin-bottom: 30px;
box-shadow: 0px 1px 1px #888888;
}


.sidebar .p1 .sidebar-title {
float: left;
width: 100%;
margin-bottom: 25px;
margin-top: -12px;
font-size: 15px;
font-family: 'latoregular';
color: white;
}

.sidebar .p1 ul {
	list-style-image: url(../images/17/bullet.png);
	float: left;
	width: 230px;
	margin-left: 20px;
}
.sidebar .p1 ul li {
	float: left;
	width: 100%;
	margin-bottom: 5px;
}
.sidebar .p1 ul li a {
	text-decoration: none;
	width: 100%;
	margin-top: 2px;
	font-size: 16px;
	font-family: 'latolight';
	color: #13315e;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}
.sidebar .p1 ul li a:hover {
	padding-left: 5px;
	text-decoration: underline;
	cursor: pointer;
}
.sidebar .p1 h2 {
	float: left;
	width: 100%;

	margin-bottom: 7px;
	margin-top: -12px;
	font-size: 15px;
	font-family: 'latoregular';
	color: white;
}
}
.sidebar .p1 p {
	font-size: 16px;
	font-family: 'latolight';
	float: left;
	width: 100%;
	color: #13315e;
	text-align: justify;
}
.sidebar .p1 .pan {
	border-top: 1px solid #ddd;
	float: left;
	width: 100%;
	padding-top: 10px;
}
.sidebar .p1 .pan img {
	float: left;
	margin-right: 15px;
}

.sidebar .p1 .error {
	color: red;
	font-weight: bold;
	text-align: center;
}

.sidebar .p1 .p1cta {
	border: none;
	cursor: pointer;
	width: 100%;
	float: left;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #ddd;
}

.sidebar .p1 a, .sidebar .p1 .p1cta {
	text-decoration: none;
	font-size: 15px;
	font-family: 'latoregular';
	color: white;
}
.sidebar .p1 a:hover, .sidebar .p1 .p1cta:hover {
	text-decoration: underline;
}
.sidebar .p1 > a {
	width: 100%;
	float: left;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #ddd;
}
.sidebar .p1 .one {
	width: 110px;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
.sidebar .p1 .one:first-of-type {
	margin-right: 37px;
}
.sidebar .p1 .one img {
	float: left;
}
.sidebar .p1 .one p {
	float: left;
	padding-top: 5px;
	width: 100%;
	text-align: center;
	font-size: 14px;
	font-family: 'latolight';
	color: #13315e;
}
/* link side bar */



/*end links sidebar */

.sidebar_icon {
box-shadow: none;
margin: -11px auto !important;
padding-right: 9px;

}

.ask_doc_box {
    width: 282px;
    height: 306px;
    margin-top: -307px;
    background-color: white;
    border: 2px solid #d8d8d8;
    margin-left: 10px;
    float: right;
}
#ask_cta {
    float: left;
    margin-top: 5px;
    background: #e75000;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 272px;
    height: 38px;
    margin-left: 10px ;
}



#doc_img {
border-radius: 50% 50%;
width: 70px;
height: 70px;
margin-top: 20px;
float: left;
}
.doc_box_content {
margin-top: -17px !important;
margin-left: 18px !important;
padding-top: 7px;
width: 260px;
}
.doc_box_title {
    margin-top: 4px !important;
    margin-left: 29px !important;
    font-family: 'latoregular';
    color: #13315e;
    font-size: 14px;
}
.overview_title {
    line-height: 40px !important;
    margin-left: 2px !important;
    font-family: 'latoregular';
    color: #13315e;
    font-size: 16px;
}
.overview_sub {
    margin-left: 2px !important;
    font-family: 'latolight';
    color: #13315e;
    font-size: 16px;
}
.doc_box_trust {
    margin-left: 8px !important;
    font-family: 'latoregular';
    color: #13315e;
    font-size: 14px;
}
.doc_box_trust li {
    margin-top: 16px !important;
}
.doc_box_online {
    margin-top: 6px !important;
    font-family: 'latoregular';
    text-decoration: underline;
    color: #13315e;
    font-size: 14px;
    cursor: pointer;
    padding-left: 5px;
}
.doc_box_text {
    margin-top: 2px !important;
    margin-left: 5px !important;
    font-family: 'latoregular';
    color: #13315e;
    font-size: 12px;
}
.doc_box_dt #specialty_img {
    margin-top: 2px;
    margin-left: 6px;
}
#baseDiv {
    margin-left: 60px;
}
#baseDiv_a {
    margin-left: 60px;
}
.star_img {
    width: 12px;
    height: 12px;
    margin-left: 5px !important;
}
.trust_img {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -3px !important;
}

.ask_text_box {
font-size: 15px;
padding: 20px;
font-family: helvetica;
color: #13315e;
width: 178px;
height: 123px;
border: 1px solid #d8d8d8;
resize: none;
overflow: auto;
margin-top: 16px;
margin-bottom: 5px;
}
.ask_text_box:hover {
    box-shadow: 0 0 10px #9ecaed;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.ask_text_field {
    width: 206px;
    height: 30px;
    border: 2px solid #d8d8d8;
}


.wf-inputpos2 input {
width: 220px;
margin-left: 0px;
height: 35px;
color: #13315e !important;
font-size: 15px;
font-family: Helvetica;
border: 1px solid #d8d8d8;
float: left;
}
::-webkit-input-placeholder {
	font-family: helvetica ;
    margin-top: 10px;
    margin-left: 25px;
    color: #13315e !important;
    font-size: 17px;
    padding-left: 10px ;
}
:-moz-placeholder {
    /* Firefox 18- */
    margin-top: 10px;
    margin-left: 10px;
    color: #13315e !important;
    font-size: 14px;
        padding-left: 10px ;

}
::-moz-placeholder {
    /* Firefox 19+ */
    margin-top: 10px;
    margin-left: 10px;
    color: #13315e !important;
    font-size: 14px;
        padding-left: 10px ;

}
:-ms-input-placeholder {
    margin-top: 10px;
    margin-left: 10px;
    color: #13315e !important;
    font-size: 14px;
        padding-left: 10px ;

}


.sidebar h2 {

	float: left;
	color: #13315e;
	width: 100%;
	font-size: 27px;
	font-family: 'latoregular';
	padding-bottom: 20px;
    width: 300px;




}




.side_box {

width: 261px;
margin-bottom: 10px ;
height: 100px;
border: 1px solid #d8d8d8;


	
}


.other_portals 

{

float : left;

}



.top_condition{


float: left;
width: 305px;
margin-bottom: 30px;
height: 200px;
margin-right: 31px;
border: 1px solid #d8d8d8;


	
}

.top_condition h3{



	float: left;
	color: #13315e;
	width: 100%;
	font-size: 20px;
	font-family: 'latoregular';
	margin: 15px 15px 2px 15px;
    width: 300px;


	
}


.top_condition h3:hover{


text-decoration: underline; ; 


	
}


.top_condition img{
/*HIDE IMAGE CHANGE*/
display:none;
float: left;
margin-left : 9px !important;
margin-right: 8px !important;
margin-top: 8px !important;
	
}
.top_condition p{

padding-left: 5px;
width: 270px;
color: #13315e;
font-size: 14px;
line-height: 20px;
text-decoration: none;
font-family: helvetica;
padding-top: 50px;
	
}



 .symptoms ul {
    float: left;
    width: 150px;
    margin-right: 50px ;
}
.symptoms ul li {
    float: left;
    width: 150px;
    list-style: none;
    margin-bottom: 10px;
}
.symptoms ul li a {
float: left;
width: 150px;
color: #13315e;
font-size: 12px;
line-height: 16px;
text-decoration: none;
font-family: helvetica;
}
.symptoms ul li a:hover {
    text-decoration: underline;
}



.symptoms h2 {



width: 500px;
color: #13315e;
font-size: 36px;
line-height: 16px;
text-decoration: none;
font-family: 'latoregular';
padding-bottom: 30px;

}


.conditions_wrapper {

margin-top: 80px ;




}


.h17 .one h1 {

	margin-top: 90px !important;

}

.top_condition a {

font-weight: bold;
color: #13315e;
font-size: 13px;
text-decoration: none;
font-family: 'latoregular';



}

.top_condition a:hover {


color: #e75000;
font-size: 13px;
text-decoration: none;
font-family: 'latoregular';



}

