.service{
	float:left;
	width: 100%;
	margin-top:86px;
}

.heading{
	float:left;
	width: 100%;
	height: 450px;
	background: url(../images/service/service2.jpg) no-repeat center center;
}

.heading h1{
	float:right !important;
	text-align: right !important;
	width: 525px !important;
	font-size:50px !important;
	color:#5f5f5f !important;
	margin-top:140px !important;
	font-weight: 300 !important;
}

.sub-menu{
	width: 100%;
	float:left;
	background:#13315e;;
}

.sub-menu ul{
	width: 990px;
	margin:0px auto;
}

.sub-menu ul li{
	float:left;
	color:#ffffff;
	border-right:1px solid #ffffff;
	margin-top:15px;
	margin-bottom:15px;
	font-size:18px;
	font-family: 'roboto';
	font-weight: 300;
	padding-right:10px;
	padding-left:10px;
	cursor:pointer;
}

.sub-menu ul li:last-of-type{
	border-right:none;
}

.sub-menu ul li:first-of-type{
	padding-left:0px;
}


.sub-menu ul li:hover{
	text-decoration: underline;
}


.service .sub-wrap > h1{
	width: 100%;
	color:#5f5f5f;
	float:left;
	font-size: 45px;
	padding-bottom:10px;
	margin-top:50px;
}
.service .sub-wrap > p{
	width: 100%;
	color:#5f5f5f;
	float:left;
	width: 100%;
	line-height: 23px;
}

.service .sub-wrap .how{
	float:left;
	width: 100%;
	margin-top:50px;
	margin-bottom:30px;
}

.service .sub-wrap .how img{
	display:block;
	margin:0px auto;
}

.service .sub-wrap .how li{
	float:left;
	width: 28%;
}
.service .sub-wrap .how li:last-of-type{
	float:right;
}

.service .sub-wrap .how li:nth-of-type(2){
	margin-left:76px;
}

.service .sub-wrap .how h1{
	width: 100%;
	color:#5f5f5f;
	float:left;
	font-size: 35px;
	padding-bottom:5px;
	margin-top:10px;
	text-align: left;
}
.service .sub-wrap .how p{
	width: 100%;
	color:#5f5f5f;
	float:left;
	margin-top:10px;
	width: 100%;
	line-height: 23px;
}

.service .sub-wrap .why {
	float:left;
	width: 100%;
	margin-top:10px;
	margin-bottom:30px;
}

.service .sub-wrap .why .one{
	float:left;
	width: 50%;
	margin-top:15px;	
}

.service .sub-wrap .why h1{
	color:#5f5f5f;
	float:left;
	font-size: 45px;
	padding-bottom:5px;
	margin-top:10px;
	width: 40%;
}
.service .sub-wrap .why p{
	color:#5f5f5f;
	float:left;
	margin-top:10px;
	width: 100%;
	line-height: 23px;
	width: 40%;
}




/*start tabs */



#servicetabs{
	float:left;
	width: 100%;
	margin-top:25px;
}
.tab{
	float:left;
	width: 100%;
	padding-bottom:30px;
}

#servicetabs li{	
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	float:left;
	width: 243.7px;
	margin-right:5px;
	padding-bottom:45px;
}

#servicetabs li:hover{	
	outline:none;
	-webkit-transition: all 0s ease-in-out;
	-moz-transition: all 0s ease-in-out;
	-o-transition: all 0s ease-in-out;
	transition: all 0s ease-in-out;
	background:url(../images/index/tab-active-bg.png) no-repeat 3px 74px;
}

#servicetabs > div{
	float:left;
	padding-top:10px;
	height: 40px;
}

#servicetabs > div p{
	color:#5f5f5f;
    line-height: 20px;
}

#servicetabs li:hover a{
	background-color:#13315e;
	color:#ffffff;
}

#servicetabs li:last-of-type{
	margin-right:0px;	
}
#servicetabs li a{
	margin:0px;
	padding:20px 0px 20px 20px;
	font-size:24px;
	color:#13315e;
	display:block;
	width: 221px;
	float:left;
	text-decoration: none;
	border:1px solid #13315e;
}

#servicetabs .ui-tabs-active{	
	outline:none;
	background:url(../images/index/tab-active-bg.png) no-repeat 3px 74px;
}

#servicetabs .ui-tabs-active a{
	color:#ffffff;
	outline:none;
}

#servicetabs li:nth-of-type(1) a{
	background:url(../images/index/clock.png) no-repeat;
	background-position: 175px 11px;

}
#servicetabs li:nth-of-type(2) a{
	background:url(../images/index/pig.png) no-repeat;
	background-position: 162px 8px;
}
#servicetabs li:nth-of-type(3) a{
	background:url(../images/index/joga.png) no-repeat;
	background-position: 175px 5px;

}
#servicetabs li:nth-of-type(4) a{
	background:url(../images/index/smile.png) no-repeat;
	background-position: 175px 13px;
}

#servicetabs li:nth-of-type(1):hover a{
	background-color:#13315e;
	background-position: 175px -146px;
	
}
#servicetabs li:nth-of-type(2):hover a{
	background-color:#13315e;
	background-position: 162px -140px;
}
#servicetabs li:nth-of-type(3):hover a{
	background-color:#13315e;
	background-position: 175px -140px;
}
#servicetabs li:nth-of-type(4):hover a{
	background-color:#13315e;
	background-position: 175px -146px;
}

#servicetabs .ui-tabs-active .tab1{
	background-color:#13315e;
	background-position: 175px -146px;
}

#servicetabs .ui-tabs-active .tab2{
	background-color:#13315e;
	background-position: 162px -140px;
}

#servicetabs .ui-tabs-active .tab3{
	background-color:#13315e;
	background-position: 175px -140px;
}

#servicetabs .ui-tabs-active .tab4{
	background-color:#13315e;
	background-position: 175px -146px;
}


.always{
	float:left;
	width: 100%;
	margin-bottom:30px;
}

.always .one{
	float:left;
	width: 50%;
	margin-top:50px;
}

.always .one img{
	float:left;
	width: 100px;
}

.always .one .right{
	float:left;
	width: 320px;
	margin-left:20px;
}

.always .one .right h2{
	width: 100%;
	color:#5f5f5f;
	float:left;
	font-size: 25px;
	padding-bottom:5px;
}
.always .one .right p{
	width: 100%;
	color:#5f5f5f;
	float:left;
	width: 100%;
	line-height: 23px;
}

.usecases{
	margin-top:30px;
	float:left;
	width: 100%;
	background:#13315e;
	height: 135px;
}

.usecases h1{
	float:left;
	font-size:40px;
	color :#ffffff;
	padding-left:20px;
	padding-top:46px;
	width: 336px;
}

.usecases p{
	float:left;
	color :#ffffff;
	padding-left:40px;
	margin-top:33px;
	width: 400px;
	line-height: 24px;
}

.usecases h2{
	float: left;
	color: #ffffff;
	padding-left: 80px;
	margin-top: 57px;
	width: 50px;
	font-size: 45px;
	line-height: 24px;
	font-family: 'robotolight';
}


/*usecases*/



.wrappone {
	float: left;
	position: relative;
}
.fade-in-now {
	z-index: 9999 !important;
	opacity: 1 !important;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.people .two {
	right: 123px;
}
.people p {
	width: 230px;
	padding-top: 10px;
	padding-left: 10px;
	font-size: 13px;
	float: left;
	color: #ffffff;
	line-height: 20px;
}
.people .person {
	float: left;
	width: 123.75px;
	position: relative;
	height: 125px;
	z-index: 400;
}


.people {
	float: left;
	background: url(../images/index/customers4.jpg) no-repeat;
	width: 100%;
	height: 260px;
	margin-top: 25px;
	position: relative;
	padding-bottom: 60px;
	z-index: 100;
}


.people {
	overflow: hidden;
	cursor: pointer;
}
.people .one {
	background : #699826;
	float: left;
	width: 247.3px;
	position: relative;
	z-index: 100;
	opacity: 0;
	height: 125px;
	position: absolute;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
.fl{
	right: -248px;
}
.fr{
	right: 123px;
}
.wrappone {
	float: left;
	position: relative;
}

/*end usecases*/

.follow-me-sm{
	position: fixed;
	top: 86px;
	z-index: 600;
	left: 0px;
}






/*MEDIA QUERIES*/

/*pagewidth =  748*/
@media only screen 
and (min-width : 768px) 
and (max-width : 1023px){
	.follow-me-sm{
		top:0px;
	}
	.sub-menu ul{
		width: 524px;
	}
	.service .sub-wrap .how h1{
		font-size:25px;
	}
	.service .sub-wrap .how li:nth-of-type(2){
		margin-left:59px;
	}
	.service .sub-wrap .why h1{
		width: 40%;
		font-size:35px;
	}
	#servicetabs li a{
		width: 135px;
		font-size:18px;
	}
	#servicetabs li{
		margin-right:38px;
		width: 158px;
	}
	#servicetabs li:last-of-type{
		margin-right:0px;
	}
	.always .one .right{
		width: 246px;
	}
	.usecases{
		height: 173px;
	}
	.usecases h1{
		width: 100%;
		text-align: center;
		padding-left:0px;
		padding-right:0px;
		margin-top:15px;
		padding-top:0px;
	}
	.usecases p{
		width: 100%;
		text-align: center;
		padding-left:0px;
		padding-right:0px;
		margin-top:5px;
	}
	.usecases h2{
		width: 100%;
		text-align: center;
		padding-left:0px;
		padding-right:0px;
		padding-bottom:15px;
		margin-top:15px;
	}
	.people{
		display:none;
	}
	.heading h1{
		margin-top:95px !important;
	}
	.heading{
		height: 300px;
	}
	.sub-menu ul{
		width: 90%;
		padding-left:0%;
	}
}



/*pagewidth =  460*/
@media only screen 
and (min-width : 480px) 
and (max-width : 767px){
	.follow-me-sm{
		top:0px;
	}
	.sub-menu ul{
		width: 445px;
	}
	.service .sub-wrap .how h1{
		font-size:25px;
	}
	.service .sub-wrap .how li:nth-of-type(2){
		margin-left:42px;
	}
	.service .sub-wrap .why h1{
		width: 40%;
		font-size:35px;
	}
	#servicetabs li a{
		width: 135px;
		font-size:18px;
	}
	#servicetabs li{
		margin-right:38px;
		width: 158px;
	}
	#servicetabs li:last-of-type{
		margin-right:0px;
	}
	.always .one .right{
		width: 246px;
		min-height: 255px;
	}
	.usecases{
		height: 194px;
	}
	.usecases h1{
		width: 100%;
		text-align: center;
		padding-left:0px;
		padding-right:0px;
		margin-top:15px;
		padding-top:0px;
	}
	.usecases p{
		width: 100%;
		text-align: center;
		padding-left:0px;
		padding-right:0px;
		margin-top:5px;
	}
	.usecases h2{
		width: 100%;
		text-align: center;
		padding-left:0px;
		padding-right:0px;
		padding-bottom:15px;
		margin-top:15px;
	}
	.people{
		display:none;
	}
	.heading h1{
		margin-top:95px !important;
	}
	.heading{
		height: 200px;
		position:relative;
	}
	.heading h1{
		position:absolute;
		bottom:0px;
		text-align: left !important;
		left:0px;
		width:90% !important;
		padding-left:5% !important;
		padding-right:5% !important;
		background: rgba(19, 49, 94, .6) !important;
		color:#ffffff !important;
		font-size:18px !important;
		line-height: 19px !important;
		padding-top:10px;
		padding-bottom:10px;
	}
	.service .sub-wrap > h1 br{
		display:none;
	}
	.sub-menu ul li{
		margin-left:0px;
		margin-right:0px;
		border-right:none;
		font-size:16px;
		font-family: 'roboto';
	}
	.sub-menu ul li:last-of-type{
		padding-right:0px;
	}
	#servicetabs li a{
		width: 205px;
		font-size:23px;
	}
	#servicetabs li{
		width: 225px;
		margin-right:5px;
		padding-bottom:3px;
	}
	.service .tab > h1{
		font-size:25px;
	}
	#servicetabs li{
		margin-right:5px;
	}
	#servicetabs .ui-tabs-active .tab1 {
		background-color: #13315e;
		background-position: 175px -147px;
	}
	.always .one img{
		display:block;
		float:none;
		margin:0px auto;
	}
	.always .one .right h2{
		padding-top:5px;
		text-align: center;
	}
	.always .one .right{
		width: 85%;
	}
	.sub-menu ul{
		width: 96%;
		padding-left:2%;
	}
	.sub-menu ul li{
		padding-right:0px;
	}
	.service .sub-wrap .how li{
		width: 100%;
		margin-top:20px;
	}
	.service .sub-wrap .how h1{
		text-align: center;

	}
	.service .sub-wrap .how li:nth-of-type(2){
		margin-left:0px;
	}
}
/*pagewidth =  280*/
@media only screen 
and (max-width : 479px){
	.follow-me-sm{
		top:0px;
	}
	.sub-menu ul{
		width: 237px;
	}
	.service .sub-wrap .how h1{
		font-size:25px;
	}
	.service .sub-wrap .how li:nth-of-type(2){
		margin-left:42px;
	}
	.service .sub-wrap .why h1{
		width: 40%;
		font-size:35px;
	}
	#servicetabs li a{
		width: 135px;
		font-size:18px;
	}
	#servicetabs li{
		margin-right:38px;
		width: 158px;
	}
	#servicetabs li:last-of-type{
		margin-right:0px;
	}
	.always .one .right{
		width: 246px;
	}
	.usecases{
		height: 258px;
	}
	.usecases h1{
		width: 100%;
		text-align: center;
		padding-left:0px;
		padding-right:0px;
		margin-top:15px;
		padding-top:0px;
	}
	.usecases p{
		width: 100%;
		text-align: center;
		padding-left:0px;
		padding-right:0px;
		margin-top:5px;
	}
	.usecases h2{
		width: 100%;
		text-align: center;
		padding-left:0px;
		padding-right:0px;
		padding-bottom:15px;
		margin-top:15px;
	}
	.people{
		display:none;
	}
	.heading h1{
		margin-top:95px !important;
	}
	.heading{
		height: 200px;
		position:relative;
	}
	.heading h1{
		position:absolute;
		bottom:200px;
		text-align: left !important;
		left:0px;
		width:90% !important;
		padding-left:5% !important;
		padding-right:5% !important;
		background: rgba(19, 49, 94, .6) !important;
		color:#ffffff !important;
		font-size:18px !important;
		line-height: 19px !important;
		padding-top:10px;
		padding-bottom:10px;
	}
	.service .sub-wrap > h1 br{
		display:none;
	}
	.sub-menu ul li{
		margin-left:0px;
		margin-right:0px;
		border-right:none;
		font-size:16px;
		padding-right:0px;
		margin-top:5px;
		margin-bottom:5px;
	}
	.sub-menu ul li:last-of-type{
		padding-right:0px;
	}
	#use{
		margin-right: 24px;
		padding-left: 0px;
	}
	#servicetabs li a{
		width: 205px;
		font-size:23px;
	}
	#servicetabs li{
		width: 225px;
		padding-bottom:10px;
	}
	.service .tab > h1{
		font-size:25px;
	}
	#servicetabs li{
		margin-right:0px;
	}
	#servicetabs .ui-tabs-active .tab1 {
		background-color: #13315e;
		background-position: 175px -147px;
	}
	.always .one img{
		display:block;
		float:none;
		margin:0px auto;
		margin-bottom:15px;
	}
	.always .one .right h2{
		padding-top:5px;
		text-align: center;
	}
	.always .one .right{
		width: 85%;
	}
	.service .sub-wrap > h1{
		font-size:25px;
	}
	.service .sub-wrap .how li:nth-of-type(2){
		margin-left:0px;
	}
	.service .sub-wrap .how li{
		width: 100%;
		margin-top:20px;
	}
	.service .sub-wrap .why p{
		width: 80%;
	}
	.service .sub-wrap .why h1{
		width: 100%;
	}
	.service .sub-wrap .why .one{
		height: 170px;
	}
	.service .sub-wrap .why{
		padding-bottom:40px;
	}
	#servicetabs li a{
		width: 205px;
		font-size:18px;
	}
	#servicetabs li{
		width: 225px;
		padding-bottom:1px;
		margin-left:2px;
		margin-right:2px;
	}
	.service .tab > h1{
		font-size:25px;
	}
	.service .tab > h1{
		font-size:18px;
	}
	#servicetabs li a{
		width: 116px;
	}
	#servicetabs li{
		width: 135px;
	}
	#servicetabs{
		height: 260px;
	}
	.tab{
		padding-bottom:70px;
	}
	.always .one{
		width: 100%;
	}
	.always .one .right h2{
		text-align: left;
	}
}

