.terms{
	float:left;
	width: 100%;	
	margin-top:65px;
}

.terms h1{
	color:#5f5f5f;
	padding-bottom:30px;
	float:left;
	width: 100%;
	margin-top:30px;
	font-size:45px;	
	font-family: 'roboto';
}
.terms p b{
	padding-bottom:10px;
	padding-top:10px;
	float:left;
	width: 100%;
}
.terms p{
	padding-top:5px;
	color:#5f5f5f;
	line-height: 22px;
	font-family: 'robotolight';
}

.terms .one{
	padding-top:10px;
	padding-bottom:10px;
	float:left;
	width: 100%;
}
