.thankyou{
	float:left;
	width: 100%;
}

.thankyou .panel{
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.45);
    -moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.45);
    box-shadow: 1px 1px 4px rgba(0,0,0,0.45);
    width: 930px;
    margin:40px auto;
    height: 210px;
}

.thankyou .panel > img{
	display:block;
	float:left;
	margin-top:54px;
	margin-left:30px;
	margin-right:85px;
}

.thankyou .panel .right{
	float:left;
	width: 650px;
}

.panel .right h1{
	font-size:18px;
	font-family: 'roboto';
	color:#ff9009;
	padding-top:28px;
	padding-bottom:30px;
}
.panel .right .one{
	float:left;
	width: 100%;
	margin-bottom:20px;
}

.panel .right .one img{
	float:left;
	margin-right:10px;
	padding-bottom:5px;
}
.panel .right .one p{
	color:#727272;
	font-size:18px;
	line-height: 22px;
	font-family: 'roboto';
}
.two{
	float:left;
	width: 45%;
	margin-top:50px;
	margin-bottom:60px;
}
.three-step .mini > img{
	left:679px !important;
}

.smaller-wrap{
	width: 930px;
	margin:0px auto;
}

.two:last-of-type{
	float:right;
}

.two p{
	color:#727272;
	font-size:18px;
	line-height: 22px;
	font-family: 'roboto';
}


/*MEDIA QUERIES*/

/*pagewidth =  748*/
@media only screen 
and (min-width : 768px) 
and (max-width : 1023px){
	.thankyou .panel{
		margin-top:100px;
		width: 100%;
		margin-bottom:0px;
	}
	.thankyou .panel .right{
		width: 500px;
	}
	.smaller-wrap{
		width: 600px;
	}
}



/*pagewidth =  460*/
@media only screen 
and (min-width : 480px) 
and (max-width : 767px){
	.thankyou .panel{
		margin-top:100px;
		width: 100%;
		margin-bottom:0px;
		height: 368px;
	}
	.thankyou .panel .right{
		width: 90%;
		padding-left:5%;
	}
	.thankyou .panel > img{
		display:block;
		float:none;
		padding-top:20px;
		margin:0px auto;
	}
	.smaller-wrap{
		width: 400px;
	}
	.panel .right .one img{
		padding-bottom:24px;
	}
	.two p b{
		padding-left:0px !important;
	}
	.two{
		width: 100%;
		margin-top: 21px;
		margin-bottom: 10px;
	}

}
/*pagewidth =  280*/
@media only screen 
and (max-width : 479px){
	.thankyou .panel{
		margin-top:100px;
		width: 100%;
		margin-bottom:0px;
		height: 408px;
	}
	.thankyou .panel{
		margin-top:75px;
	}
	.thankyou .panel .right{
		width: 90%;
		padding-left:5%;
	}
	.thankyou .panel > img{
		display:block;
		float:none;
		padding-top:20px;
		margin:0px auto;
	}
	.smaller-wrap{
		width: 280px;
	}
	.panel .right .one img{
		padding-bottom:46px;
	}
	.two p b{
		padding-left:0px !important;
	}
	.two{
		width: 100%;
		margin-top: 21px;
		margin-bottom: 10px;
	}
}