.news img{
	background-size: 300%!important;
}

.img-circle {
    border-radius: 50%;
    height: 80px !important;
    width: 80px !important;
}

.img-square {
    height: 80px !important;
    width: 80px !important;
}

.pull-left {
    float: left;
}

.news #sl1 {  
    background: url(../../images/index/pl/news.png) 0 0;
}
.news #sl2 {  
    background: url(../../images/index/pl/news.png) 50% 0 ;
}
.news #sl3 {  
    background: url(../../images/index/pl/news.png) 100% 0;
}
.news #sl4 {  
    background: url(../../images/index/pl/news.png) 0 100%;
}
.news #sl5 {  
    background: url(../../images/index/pl/news.png) 50% 100%;
}
.news #sl6 {  
    background: url(../../images/index/pl/news.png) 100% 100%;
}

.doctors img { 
	background-size: 400%!important;
}

.doctors #sl1 {  
    background: url(../../images/index/pl/doctors.jpg) 0 0;
}
.doctors #sl2 {  
    background: url(../../images/index/pl/doctors.jpg) 33.3% 0;
}
.doctors #sl3 {  
    background: url(../../images/index/pl/doctors.jpg) 66.6% 0;
}
.doctors #sl4 {  
    background: url(../../images/index/pl/doctors.jpg) 100% 0;
}
.doctors #sl5 {  
    background: url(../../images/index/pl/doctors.jpg) 0 33.3%;
}
.doctors #sl6 {  
    background: url(../../images/index/pl/doctors.jpg) 33.3% 33.3%;
}
.doctors #sl7 {  
    background: url(../../images/index/pl/doctors.jpg) 66.6% 33.3%; 
}
.doctors #sl8 {  
    background: url(../../images/index/pl/doctors.jpg) 100% 33.3%;
}
.doctors #sl9 {  
    background: url(../../images/index/pl/doctors.jpg) 0 66.6%;
}
.doctors #sl10 {  
    background: url(../../images/index/pl/doctors.jpg) 33.3% 66.6%;
}
.doctors #sl11 { 
    background: url(../../images/index/pl/doctors.jpg) 66.6% 66.6%;
}
.doctors #sl12 {  
    background: url(../../images/index/pl/doctors.jpg) 100% 66.6%;
}
.doctors #sl13 {  
    background: url(../../images/index/pl/doctors.jpg) 0 100%;
}
.doctors #sl14 {  
    background: url(../../images/index/pl/doctors.jpg) 33.3% 100%;
}
.doctors #sl15 {  
    background: url(../../images/index/pl/doctors.jpg) 66.6% 100%;
}
.doctors #sl16 {  
    background: url(../../images/index/pl/doctors.jpg) 100% 100%;
}


/*
.customers img{
	background-size: 800%!important;
}

.customers #sl1 {  
    background: url(../../images/index/pl/customers.jpg) 0 0;
}
.customers #sl2 {  
    background: url(../../images/index/pl/customers.jpg) 14.2% 0;
}
.customers #sl3 {  
    background: url(../../images/index/pl/customers.jpg) 28.5% 0;
}
.customers #sl4 {  
    background: url(../../images/index/pl/customers.jpg) 42.8% 0;
}
.customers #sl5 {  
    background: url(../../images/index/pl/customers.jpg) 57.1% 0;
}
.customers #sl6 {  
    background: url(../../images/index/pl/customers.jpg) 71.4% 0;
}
.customers #sl7 {  
    background: url(../../images/index/pl/customers.jpg) 85.7% 0;
}
.customers #sl8 {  
    background: url(../../images/index/pl/customers.jpg) 100% 0;
}
.customers #sl9 {  
    background: url(../../images/index/pl/customers.jpg) 0 50%;
}
.customers #sl10 {  
    background: url(../../images/index/pl/customers.jpg) 14.2% 50%;
}
.customers #sl11 {  
    background: url(../../images/index/pl/customers.jpg) 28.5% 50%;
}
.customers #sl12 {  
    background: url(../../images/index/pl/customers.jpg) 42.8% 50%;
}
.customers #sl13 {  
    background: url(../../images/index/pl/customers.jpg) 57.1% 50%;
}
.customers #sl14 {  
    background: url(../../images/index/pl/customers.jpg) 71.4% 50%;
}
.customers #sl15 {  
    background: url(../../images/index/pl/customers.jpg) 85.7% 50%;
}
.customers #sl16 {  
    background: url(../../images/index/pl/customers.jpg) 100 50%;
}

*/
