

.bigconcept {
	opacity:0.3;
}

.bank {
	width: 220px !important;
}

.index100 {
	z-index: 100 !important;
}


.customers .img-circle {
	display: none;
}

.lists .one ul .customers .right { 
	float: left;
	width: 290px;
}

.polp {
	display: block;
}