
      <div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Meta Tags</h3>
  </div>
  <div class="panel-body" >
  <form class="form-horizontal">
    <cms-input    cms-input-id='metaTags_text_0' cms-input-label="Language tag (German url)"   cms-input-default='medmedo.de/'  cms-input-region="metaTags" ></cms-input>
    <cms-input  cms-input-id='metaTags_text_1' cms-input-id cms-input-label="Page Title"                  cms-input-region="metaTags" ></cms-input>
    <cms-input cms-input-id='metaTags_text_2' cms-input-label="Meta Description"       cms-input-default='Find in-depth information including symptoms, causes, diagnosis, treatments and more for'      cms-input-region="metaTags" ></cms-input>
    <cms-input cms-input-id='metaTags_text_3' cms-input-label="Open Graph Title"           cms-input-region="metaTags" ></cms-input>
    <cms-input cms-input-id='metaTags_text_4' cms-input-label="Open Graph URL"             cms-input-region="metaTags" ></cms-input>
    <cms-input cms-input-id='metaTags_text_5' cms-input-label="Open Graph Description"     cms-input-default='Find in-depth information including symptoms, causes, diagnosis, treatments and more for'   cms-input-region="metaTags" ></cms-input>
    <cms-input cms-input-id='metaTags_text_6' cms-input-label="Twitter URL"                cms-input-region="metaTags" ></cms-input>
    <cms-input cms-input-id='metaTags_text_7' cms-input-label="Twitter Title"              cms-input-region="metaTags" ></cms-input>
    <cms-input cms-input-id='metaTags_text_8' cms-input-label="Twitter Description"        cms-input-default='Find in-depth information including symptoms, causes, diagnosis, treatments and more for'  cms-input-region="metaTags" ></cms-input>

</div>
</div>
  </form>



<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Blog Data</h3>
  </div>
  <div class="panel-body" hidden>
                   <form class="form-horizontal">
    <cms-textarea cms-input-id='post_introduction'  cms-input-label="Post Introduction Paragraph"               cms-input-region="introduction" ></cms-textarea>
    <cms-picture cms-input-id='post_picture_10' cms-input-label="Post Picture 1"    cms-input-region="post" ></cms-picture>
    <cms-textarea cms-input-id='post_heading_11'  cms-input-label="Post Heading 1"               cms-input-region="post" ></cms-textarea>
    <cms-textarea cms-input-id='post_textarea_12'  cms-input-label="Post Paragraph 1"               cms-input-region="post" ></cms-textarea>

        <cms-picture cms-input-id='post_picture_13' cms-input-label="Post Picture 2"    cms-input-region="post" ></cms-picture>
    <cms-textarea cms-input-id='post_heading_14'  cms-input-label="Post Heading 2"               cms-input-region="post" ></cms-textarea>
    <cms-textarea cms-input-id='post_textarea_15'  cms-input-label="Post Paragraph 2"               cms-input-region="post" ></cms-textarea>

        <cms-picture cms-input-id='post_picture_16' cms-input-label="Post Picture 3"    cms-input-region="post" ></cms-picture>
    <cms-textarea cms-input-id='post_heading_17'  cms-input-label="Post Heading 3"               cms-input-region="post" ></cms-textarea>
    <cms-textarea cms-input-id='post_textarea_18'  cms-input-label="Post Paragraph 3"               cms-input-region="post" ></cms-textarea>

        <cms-picture cms-input-id='post_picture_19' cms-input-label="Post Picture 4"    cms-input-region="post" ></cms-picture>
    <cms-textarea cms-input-id='post_heading_20'  cms-input-label="Post Heading 4"               cms-input-region="post" ></cms-textarea>
    <cms-textarea cms-input-id='post_textarea_21'  cms-input-label="Post Paragraph 4"               cms-input-region="post" ></cms-textarea>

        <cms-picture cms-input-id='post_picture_22' cms-input-label="Post Picture 5"    cms-input-region="post" ></cms-picture>
    <cms-textarea cms-input-id='post_heading_23'  cms-input-label="Post Heading 5"               cms-input-region="post" ></cms-textarea>
    <cms-textarea cms-input-id='post_textarea_24'  cms-input-label="Post Paragraph 5"               cms-input-region="post" ></cms-textarea>

        <cms-picture cms-input-id='post_picture_25' cms-input-label="Post Picture 6"    cms-input-region="post" ></cms-picture>
    <cms-textarea cms-input-id='post_heading_26'  cms-input-label="Post Heading 6"               cms-input-region="post" ></cms-textarea>
    <cms-textarea cms-input-id='post_textarea_27'  cms-input-label="Post Paragraph 6"               cms-input-region="post" ></cms-textarea>

        <cms-picture cms-input-id='post_picture_28' cms-input-label="Post Picture 7"    cms-input-region="post" ></cms-picture>
    <cms-textarea cms-input-id='post_heading_29'  cms-input-label="Post Heading 7"               cms-input-region="post" ></cms-textarea>
    <cms-textarea cms-input-id='post_textarea_30'  cms-input-label="Post Paragraph 7"               cms-input-region="post" ></cms-textarea>

        <cms-picture cms-input-id='post_picture_31' cms-input-label="Post Picture 8"    cms-input-region="post" ></cms-picture>
    <cms-textarea cms-input-id='post_heading_32'  cms-input-label="Post Heading 8"               cms-input-region="post" ></cms-textarea>
    <cms-textarea cms-input-id='post_textarea_33'  cms-input-label="Post Paragraph 8"               cms-input-region="post" ></cms-textarea>

    <cms-picture cms-input-id='post_picture_37' cms-input-label="Post Picture 9"    cms-input-region="post" ></cms-picture>
    <cms-textarea cms-input-id='post_heading_38'  cms-input-label="Post Heading 9"               cms-input-region="post" ></cms-textarea>
    <cms-textarea cms-input-id='post_textarea_39'  cms-input-label="Post Paragraph 9"               cms-input-region="post" ></cms-textarea>
    <cms-picture cms-input-id='post_picture_40' cms-input-label="Post Picture 10"    cms-input-region="post" ></cms-picture>
    <cms-textarea cms-input-id='post_heading_41'  cms-input-label="Post Heading 10"               cms-input-region="post" ></cms-textarea>
    <cms-textarea cms-input-id='post_textarea_42'  cms-input-label="Post Paragraph 10"               cms-input-region="post" ></cms-textarea>
    <cms-picture cms-input-id='post_picture_43' cms-input-label="Post Picture 11"    cms-input-region="post" ></cms-picture>
    <cms-textarea cms-input-id='post_heading_44'  cms-input-label="Post Heading 11"               cms-input-region="post" ></cms-textarea>
    <cms-textarea cms-input-id='post_textarea_45'  cms-input-label="Post Paragraph 11"               cms-input-region="post" ></cms-textarea>
    <cms-picture cms-input-id='post_picture_46' cms-input-label="Post Picture 12"    cms-input-region="post" ></cms-picture>
    <cms-textarea cms-input-id='post_heading_47'  cms-input-label="Post Heading 12"               cms-input-region="post" ></cms-textarea>
    <cms-textarea cms-input-id='post_textarea_48'  cms-input-label="Post Paragraph 12"               cms-input-region="post" ></cms-textarea>

        <cms-textarea cms-input-id='post_textarea_49'  cms-input-label="Post Closing Paragraph"               cms-input-region="ending" ></cms-textarea>

   




</div>
</div>
  </form>






                 
                                                     