
      <div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Meta Tags</h3>
  </div>
  <div class="panel-body" >
  <form class="form-horizontal">
    <cms-input    cms-input-id='metaTags_text_0' cms-input-label="Language tag (German url)"   cms-input-default='medmedo.de/'  cms-input-region="metaTags" ></cms-input>
    <cms-input  cms-input-id='metaTags_text_1' cms-input-id cms-input-label="Page Title"                  cms-input-region="metaTags" ></cms-input>
    <cms-input cms-input-id='metaTags_text_2' cms-input-label="Meta Description"       cms-input-default='Find in-depth information including symptoms, causes, diagnosis, treatments and more for'      cms-input-region="metaTags" ></cms-input>
    <cms-input cms-input-id='metaTags_text_3' cms-input-label="Open Graph Title"           cms-input-region="metaTags" ></cms-input>
    <cms-input cms-input-id='metaTags_text_4' cms-input-label="Open Graph URL"             cms-input-region="metaTags" ></cms-input>
    <cms-input cms-input-id='metaTags_text_5' cms-input-label="Open Graph Description"     cms-input-default='Find in-depth information including symptoms, causes, diagnosis, treatments and more for'   cms-input-region="metaTags" ></cms-input>
    <cms-input cms-input-id='metaTags_text_6' cms-input-label="Twitter URL"                cms-input-region="metaTags" ></cms-input>
    <cms-input cms-input-id='metaTags_text_7' cms-input-label="Twitter Title"              cms-input-region="metaTags" ></cms-input>
    <cms-input cms-input-id='metaTags_text_8' cms-input-label="Twitter Description"        cms-input-default='Find in-depth information including symptoms, causes, diagnosis, treatments and more for'  cms-input-region="metaTags" ></cms-input>

</div>
</div>
  </form>



<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Blog Data</h3>
  </div>
  <div class="panel-body" hidden>
                   <form class="form-horizontal">
    <cms-picture cms-input-id='heading_text_9' cms-input-label="Post Picture"    cms-input-region="heading" ></cms-picture>
    <cms-textarea cms-input-id='post_introduction'  cms-input-label="Post Overview Text"               cms-input-region="introducation" ></cms-textarea>
    <cms-textarea cms-input-id='post_textarea_10'  cms-input-label="Post Paragraph 1"               cms-input-region="post" ></cms-textarea>
    <cms-textarea cms-input-id='post_textarea_11'  cms-input-label="Post Paragraph 2"               cms-input-region="post" ></cms-textarea>
    <cms-textarea cms-input-id='post_textarea_12'  cms-input-label="Post Paragraph 3"               cms-input-region="post" ></cms-textarea>
    <cms-textarea cms-input-id='post_textarea_13'  cms-input-label="Post Paragraph 4"               cms-input-region="post" ></cms-textarea>
    <cms-textarea cms-input-id='post_textarea_14'  cms-input-label="Post Paragraph 5"               cms-input-region="post" ></cms-textarea>
    <cms-textarea cms-input-id='post_textarea_15'  cms-input-label="Post Paragraph 6"               cms-input-region="post" ></cms-textarea>
    <cms-textarea cms-input-id='post_textarea_16'  cms-input-label="Post Paragraph 7"               cms-input-region="post" ></cms-textarea>
    <cms-textarea cms-input-id='post_textarea_17'  cms-input-label="Post Paragraph 8"               cms-input-region="post" ></cms-textarea>
    <cms-textarea cms-input-id='post_textarea_18'  cms-input-label="Post Paragraph 9"               cms-input-region="post" ></cms-textarea>
    <cms-textarea cms-input-id='post_textarea_19'  cms-input-label="Post Paragraph 10"               cms-input-region="post" ></cms-textarea>
    <cms-textarea cms-input-id='post_textarea_20'  cms-input-label="Post Paragraph 11"               cms-input-region="post" ></cms-textarea>
    <cms-textarea cms-input-id='post_textarea_21'  cms-input-label="Post Paragraph 12"               cms-input-region="post" ></cms-textarea>
    <cms-textarea cms-input-id='post_textarea_22'  cms-input-label="Post Paragraph 13"               cms-input-region="post" ></cms-textarea>
    <cms-textarea cms-input-id='post_textarea_23'  cms-input-label="Post Paragraph 14"               cms-input-region="post" ></cms-textarea>
    <cms-textarea cms-input-id='post_textarea_24'  cms-input-label="Post Paragraph 15"               cms-input-region="post" ></cms-textarea>
    <cms-textarea cms-input-id='post_textarea_25'  cms-input-label="Post Paragraph 16"               cms-input-region="post" ></cms-textarea>
    <cms-textarea cms-input-id='post_textarea_26'  cms-input-label="Post Paragraph 17"               cms-input-region="post" ></cms-textarea>
    <cms-textarea cms-input-id='post_textarea_27'  cms-input-label="Post Paragraph 18"               cms-input-region="post" ></cms-textarea>
    <cms-textarea cms-input-id='post_textarea_28'  cms-input-label="Post Paragraph 19"               cms-input-region="post" ></cms-textarea>
    <cms-textarea cms-input-id='post_textarea_29'  cms-input-label="Post Paragraph 20"               cms-input-region="post" ></cms-textarea>
    <cms-textarea cms-input-id='form_textarea_30'  cms-input-label="CRM Form Source Code"               cms-input-region="crm-form" ></cms-textarea>






</div>
</div>
  </form>






                 
                                                     