
      <div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Meta Tags</h3>
  </div>
  <div class="panel-body" >
  <form class="form-horizontal">
    <cms-input    cms-input-id='metaTags_text_0' cms-input-label="Language tag (German url)"   cms-input-default='medmedo.de/'  cms-input-region="metaTags" ></cms-input>
    <cms-input  cms-input-id='metaTags_text_1' cms-input-id cms-input-label="Page Title"                  cms-input-region="metaTags" ></cms-input>
    <cms-input cms-input-id='metaTags_text_2' cms-input-label="Meta Description"       cms-input-default='Find in-depth information including symptoms, causes, diagnosis, treatments and more for'      cms-input-region="metaTags" ></cms-input>
    <cms-input cms-input-id='metaTags_text_3' cms-input-label="Open Graph Title"           cms-input-region="metaTags" ></cms-input>
    <cms-input cms-input-id='metaTags_text_4' cms-input-label="Open Graph URL"             cms-input-region="metaTags" ></cms-input>
    <cms-input cms-input-id='metaTags_text_5' cms-input-label="Open Graph Description"     cms-input-default='Find in-depth information including symptoms, causes, diagnosis, treatments and more for'   cms-input-region="metaTags" ></cms-input>
    <cms-input cms-input-id='metaTags_text_6' cms-input-label="Twitter URL"                cms-input-region="metaTags" ></cms-input>
    <cms-input cms-input-id='metaTags_text_7' cms-input-label="Twitter Title"              cms-input-region="metaTags" ></cms-input>
    <cms-input cms-input-id='metaTags_text_8' cms-input-label="Twitter Description"        cms-input-default='Find in-depth information including symptoms, causes, diagnosis, treatments and more for'  cms-input-region="metaTags" ></cms-input>

</div>
</div>
  </form>




</div>
  </form>






                 
                                                     