


                 
                                                     
      <div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Meta Tags</h3>
  </div>
  <div class="panel-body" >
                   <form class="form-horizontal">
    <cms-input    cms-input-id='metaTags_text_0' cms-input-label="Language tag (English url)"   cms-input-default='http://medlanes.com/'  cms-input-region="metaTags" ></cms-input>
    <cms-input  cms-input-id='metaTags_text_1' cms-input-id cms-input-label="Page Title"                  cms-input-region="metaTags" ></cms-input>
    <cms-input cms-input-id='metaTags_text_2' cms-input-label="Meta Description"       cms-input-default='Hier finden Sie ausführliche Informationen zu Symptomen, Ursachen, Komplikationen, Diagnose und Behandlungen rund um das Thema'   cms-input-region="metaTags" ></cms-input>
    <cms-input cms-input-id='metaTags_text_3' cms-input-label="Open Graph Title"       cms-input-region="metaTags" ></cms-input>
    <cms-input cms-input-id='metaTags_text_4' cms-input-label="Open Graph URL"             cms-input-region="metaTags" ></cms-input>
    <cms-input cms-input-id='metaTags_text_5' cms-input-label="Open Graph Description"    cms-input-default='Hier finden Sie ausführliche Informationen zu Symptomen, Ursachen, Komplikationen, Diagnose und Behandlungen rund um das Thema'   cms-input-region="metaTags" ></cms-input>
    <cms-input cms-input-id='metaTags_text_6' cms-input-label="Twitter URL"                cms-input-region="metaTags" ></cms-input>
    <cms-input cms-input-id='metaTags_text_7' cms-input-label="Twitter Title"              cms-input-region="metaTags" ></cms-input>
    <cms-input cms-input-id='metaTags_text_8' cms-input-label="Twitter Description"        cms-input-default='Hier finden Sie ausführliche Informationen zu Symptomen, Ursachen, Komplikationen, Diagnose und Behandlungen rund um das Thema'  cms-input-region="metaTags" ></cms-input>




</div>
</div>
  </form>



<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Heading</h3>
  </div>
  <div class="panel-body" hidden>
                   <form class="form-horizontal">
    <cms-picture cms-input-id='heading_text_9' cms-input-label="Heading Picture"    cms-input-region="heading" ></cms-picture>
    <cms-input cms-input-id='heading_text_10'    cms-input-label="Heading Title"      cms-input-region="heading" ></cms-input>
    <cms-input cms-input-id='heading_text_11'    cms-input-label="Heading 2nd title"  cms-input-default="Alle Informationen werden von erfahrenen Ärzten validiert."  cms-input-region="heading" ></cms-input>


    <!-- Bread crumbs -->
    <cms-input cms-input-id='breadCrumbs_text_12' cms-input-label="Breadcrumbs 1st Link"        cms-input-default=''  cms-input-region="breadCrumbs" ></cms-input>
        <cms-input cms-input-id='breadCrumbs_text_13' cms-input-label="Breadcrumbs 1st Name"        cms-input-default=''  cms-input-region="breadCrumbs" ></cms-input>

    <cms-input cms-input-id='breadCrumbs_text_14' cms-input-label="Breadcrumbs 2nd Link"        cms-input-default=''  cms-input-region="breadCrumbs" ></cms-input>
        <cms-input cms-input-id='breadCrumbs_text_15' cms-input-label="Breadcrumbs 2nd Name"        cms-input-default=''  cms-input-region="breadCrumbs" ></cms-input>


</div>
</div>
  </form>



<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Content</h3>
  </div>
  <div class="panel-body" hidden>
                   <form class="form-horizontal">
                    <cms-textarea cms-input-id='description_textarea_16' cms-input-label="Beschreibung 1st Text"                cms-input-region="description" ></cms-textarea>
                    <cms-bullet cms-input-id='description_bullet_17' cms-input-label="Beschreibung Bullets 1"                   cms-input-region="description" ></cms-bullet>
                    <cms-textarea cms-input-id='description_textarea_18' cms-input-label="Beschreibung 2nd Text"                cms-input-region="description" ></cms-textarea>
                    <cms-bullet cms-input-id='description_bullet_19' cms-input-label="Beschreibung Bullets 2"                   cms-input-region="description" ></cms-bullet>
                    <cms-textarea cms-input-id='description_textarea_20' cms-input-label="Beschreibung 3rd Text"                cms-input-region="description" ></cms-textarea>
                    <cms-bullet cms-input-id='description_bullet_21' cms-input-label="Beschreibung Bullets 3"                   cms-input-region="description" ></cms-bullet>
                    <cms-textarea cms-input-id='description_textarea_22' cms-input-label="Beschreibung 4th Text"                cms-input-region="description" ></cms-textarea>
                    <cms-bullet cms-input-id='description_bullet_23' cms-input-label="Beschreibung Bullets 4"                   cms-input-region="description" ></cms-bullet>
                    <cms-textarea cms-input-id='description_textarea_24' cms-input-label="Beschreibung 5th Text"                cms-input-region="description" ></cms-textarea>

                    <cms-textarea cms-input-id='signs_textarea_25' cms-input-label="Anzeichen 1st Text" cms-input-region="signs" ></cms-textarea>
                    <cms-bullet cms-input-id='signs_bullet_26' cms-input-label="Anzeichen Bullets 1"    cms-input-region="signs" ></cms-bullet>
                    <cms-textarea cms-input-id='signs_textarea_27' cms-input-label="Anzeichen 2nd Text" cms-input-region="signs" ></cms-textarea>
                    <cms-bullet cms-input-id='signs_bullet_28' cms-input-label="Anzeichen Bullets 2"    cms-input-region="signs" ></cms-bullet>
                    <cms-textarea cms-input-id='signs_textarea_29' cms-input-label="Anzeichen 3rd Text" cms-input-region="signs" ></cms-textarea>
                    <cms-bullet cms-input-id='signs_bullet_30' cms-input-label="Anzeichen Bullets 3"    cms-input-region="signs" ></cms-bullet>
                    <cms-textarea cms-input-id='signs_textarea_31' cms-input-label="Anzeichen 4th Text" cms-input-region="signs" ></cms-textarea>
                    <cms-bullet cms-input-id='signs_bullet_32' cms-input-label="Anzeichen Bullets 4"    cms-input-region="signs" ></cms-bullet>
                    <cms-textarea cms-input-id='signs_textarea_33' cms-input-label="Anzeichen 5th Text" cms-input-region="signs" ></cms-textarea>


                    <cms-textarea cms-input-id='causes_textarea_34' cms-input-label="Ursachen 1st Text"    cms-input-region="causes" ></cms-textarea>
                    <cms-bullet cms-input-id='causes_bullet_35' cms-input-label="Ursachen Bullets 1"                   cms-input-region="causes" ></cms-bullet>
                    <cms-textarea cms-input-id='causes_textarea_36' cms-input-label="Ursachen 2nd Text"                cms-input-region="causes" ></cms-textarea>
                    <cms-bullet cms-input-id='causes_bullet_37' cms-input-label="Ursachen Bullets 2"                   cms-input-region="causes" ></cms-bullet>
                    <cms-textarea cms-input-id='causes_textarea_38' cms-input-label="Ursachen 3rd Text"                cms-input-region="causes" ></cms-textarea>
                    <cms-bullet cms-input-id='causes_bullet_39' cms-input-label="Ursachen Bullets 3"                   cms-input-region="causes" ></cms-bullet>
                    <cms-textarea cms-input-id='causes_textarea_40' cms-input-label="Ursachen 4th Text"                cms-input-region="causes" ></cms-textarea>
                    <cms-bullet cms-input-id='causes_bullet_41' cms-input-label="Ursachen Bullets 4"                   cms-input-region="causes" ></cms-bullet>
                    <cms-textarea cms-input-id='causes_textarea_42' cms-input-label="Ursachen 5th Text"                cms-input-region="causes" ></cms-textarea>

                    <cms-textarea cms-input-id='complications_textarea_43' cms-input-label="Komplikationen 1st Text"    cms-input-region="complications" ></cms-textarea>
                    <cms-bullet cms-input-id='complications_bullet_44' cms-input-label="Komplikationen Bullets 1"                   cms-input-region="complications" ></cms-bullet>
                    <cms-textarea cms-input-id='complications_textarea_45' cms-input-label="Komplikationen 2nd Text"                cms-input-region="complications" ></cms-textarea>
                    <cms-bullet cms-input-id='complications_bullet_46' cms-input-label="Komplikationen Bullets 2"                   cms-input-region="complications" ></cms-bullet>
                    <cms-textarea cms-input-id='complications_textarea_47' cms-input-label="Komplikationen 3rd Text"                cms-input-region="complications" ></cms-textarea>
                    <cms-bullet cms-input-id='complications_bullet_48' cms-input-label="Komplikationen Bullets 3"                   cms-input-region="complications" ></cms-bullet>
                    <cms-textarea cms-input-id='complications_textarea_49' cms-input-label="Komplikationen 4th Text"                cms-input-region="complications" ></cms-textarea>
                    <cms-bullet cms-input-id='complications_bullet_50' cms-input-label="Komplikationen Bullets 4"                   cms-input-region="complications" ></cms-bullet>
                    <cms-textarea cms-input-id='complications_textarea_51' cms-input-label="Komplikationen 5th Text"                cms-input-region="complications" ></cms-textarea>





                    <cms-textarea cms-input-id='diagnosis_textarea_52' cms-input-label="Diagnose 1st Text"                cms-input-region="diagnosis" ></cms-textarea>
                    <cms-bullet cms-input-id='diagnosis_bullet_53' cms-input-label="Diagnose Bullets 1"                   cms-input-region="diagnosis" ></cms-bullet>
                    <cms-textarea cms-input-id='diagnosis_textarea_54' cms-input-label="Diagnose 2nd Text"                cms-input-region="diagnosis" ></cms-textarea>
                    <cms-bullet cms-input-id='diagnosis_bullet_55' cms-input-label="Diagnose Bullets 2"                   cms-input-region="diagnosis" ></cms-bullet>
                    <cms-textarea cms-input-id='diagnosis_textarea_56' cms-input-label="Diagnose 3rd Text"                cms-input-region="diagnosis" ></cms-textarea>
                    <cms-bullet cms-input-id='diagnosis_bullet_57' cms-input-label="Diagnose Bullets 3"                   cms-input-region="diagnosis" ></cms-bullet>
                    <cms-textarea cms-input-id='diagnosis_textarea_58' cms-input-label="Diagnose 4th Text"                cms-input-region="diagnosis" ></cms-textarea>
                    <cms-bullet cms-input-id='diagnosis_bullet_59' cms-input-label="Diagnose Bullets 4"                   cms-input-region="diagnosis" ></cms-bullet>
                    <cms-textarea cms-input-id='diagnosis_textarea_60' cms-input-label="Diagnose 5th Text"                cms-input-region="diagnosis" ></cms-textarea>

                    <cms-textarea cms-input-id='treatment_textarea_61' cms-input-label="Behandlung 1st Text"                cms-input-region="treatment" ></cms-textarea>
                    <cms-bullet cms-input-id='treatment_bullet_62' cms-input-label="Behandlung Bullets 1"                   cms-input-region="treatment" ></cms-bullet>
                    <cms-textarea cms-input-id='treatment_textarea_63' cms-input-label="Behandlung 2nd Text"                cms-input-region="treatment" ></cms-textarea>
                    <cms-bullet cms-input-id='treatment_bullet_64' cms-input-label="Behandlung Bullets 2"                   cms-input-region="treatment" ></cms-bullet>
                    <cms-textarea cms-input-id='treatment_textarea_65' cms-input-label="Behandlung 3rd Text"                cms-input-region="treatment" ></cms-textarea>


                    <cms-input cms-input-id='backLink_text_66' cms-input-label="Back Link"                            cms-input-region="backLink" ></cms-input>
                    <cms-input cms-input-id='backLink_text_67' cms-input-label="Back Link Label"                cms-input-region="backLink" ></cms-input>





</div>
</div>

  </form>



                 
                                                     