
    	<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Meta Tags</h3>
  </div>
  <div class="panel-body" >
                   <form class="form-horizontal">
		<cms-input    cms-input-id='metaTags_text_0' cms-input-label="Language tag (German url)"   cms-input-default='medmedo.de/'  cms-input-region="metaTags" ></cms-input>
		<cms-input  cms-input-id='metaTags_text_1' cms-input-id cms-input-label="Page Title"                  cms-input-region="metaTags" ></cms-input>
    <cms-input cms-input-id='metaTags_text_2' cms-input-label="Meta Description"       cms-input-default='Find in-depth information including symptoms, causes, diagnosis, treatments and more for'      cms-input-region="metaTags" ></cms-input>
		<cms-input cms-input-id='metaTags_text_3' cms-input-label="Open Graph Title"           cms-input-region="metaTags" ></cms-input>
		<cms-input cms-input-id='metaTags_text_4' cms-input-label="Open Graph URL"             cms-input-region="metaTags" ></cms-input>
		<cms-input cms-input-id='metaTags_text_5' cms-input-label="Open Graph Description"     cms-input-default='Find in-depth information including symptoms, causes, diagnosis, treatments and more for'   cms-input-region="metaTags" ></cms-input>
		<cms-input cms-input-id='metaTags_text_6' cms-input-label="Twitter URL"                cms-input-region="metaTags" ></cms-input>
		<cms-input cms-input-id='metaTags_text_7' cms-input-label="Twitter Title"              cms-input-region="metaTags" ></cms-input>
		<cms-input cms-input-id='metaTags_text_8' cms-input-label="Twitter Description"        cms-input-default='Find in-depth information including symptoms, causes, diagnosis, treatments and more for'  cms-input-region="metaTags" ></cms-input>




</div>
</div>
  </form>



<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Heading</h3>
  </div>
  <div class="panel-body" hidden>
                   <form class="form-horizontal">
    <cms-picture cms-input-id='heading_text_9' cms-input-label="Heading Picture"    cms-input-region="heading" ></cms-picture>
		<cms-input   cms-input-id='heading_text_10'    cms-input-label="Heading Title"      cms-input-region="heading" ></cms-input>

    <!--  Questions page link  -->
    <cms-input cms-input-id='breadCrumbs_text_11' cms-input-label="Questions page Link"            cms-input-default=''  cms-input-region="breadCrumbs" ></cms-input>


    <!-- Bread crumbs -->
    <cms-input cms-input-id='breadCrumbs_text_12' cms-input-label="Breadcrumbs 1st Link"            cms-input-default=''  cms-input-region="breadCrumbs" ></cms-input>
    <cms-input cms-input-id='breadCrumbs_text_13' cms-input-label="Breadcrumbs 1st Name"        cms-input-default=''  cms-input-region="breadCrumbs" ></cms-input>

    <cms-input cms-input-id='breadCrumbs_text_14' cms-input-label="Breadcrumbs 2nd Link"            cms-input-default=''  cms-input-region="breadCrumbs" ></cms-input>
    <cms-input cms-input-id='breadCrumbs_text_15' cms-input-label="Breadcrumbs 2nd Name"        cms-input-default=''  cms-input-region="breadCrumbs" ></cms-input>


</div>
</div>
  </form>



<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Content</h3>
  </div>
  <div class="panel-body" hidden>
                    <form class="form-horizontal">
                    <cms-textarea cms-input-id='description_textarea_16'  cms-input-label="description 1st Paragraph"                    cms-input-region="description" ></cms-textarea>
                    <cms-textarea cms-input-id='description_textarea_17' cms-input-label="description 2nd Paragraph"                cms-input-region="description" ></cms-textarea>

                    <cms-input cms-input-id='purpose_subheading_18'  cms-input-label="Purpose Subheading 1 (If Necessary)"               cms-input-region="causes" ></cms-input>
                    <cms-textarea cms-input-id='purpose_textarea_19' cms-input-label="Purpose 1st Paragraph"                cms-input-region="causes" ></cms-textarea>
                    <cms-bullet cms-input-id='purpose_bullet_20' cms-input-label="Purpose Bullets 1"                   cms-input-region="causes" ></cms-bullet>


                    <cms-input cms-input-id='procedure_subheading_21'  cms-input-label="Procedure Subheading 1 (If Necessary)"               cms-input-region="signs" ></cms-input>
                    <cms-textarea cms-input-id='procedure_textarea_22' cms-input-label="Procedure 1st Paragraph"                cms-input-region="signs" ></cms-textarea>

                    <cms-input cms-input-id='complications_subheading_23'  cms-input-label="Complications Subheading 1 (If Necessary)"               cms-input-region="riskfactors" ></cms-input>
                    <cms-textarea cms-input-id='complications_textarea_24' cms-input-label="Complications 1st Paragraph"                cms-input-region="riskfactors" ></cms-textarea>
                    <cms-bullet cms-input-id='complications_bullet_25' cms-input-label="Complications Bullets 1"                   cms-input-region="riskfactors" ></cms-bullet>




                    <cms-textarea cms-input-id='results_textarea_26' cms-input-label="Results 1st Paragraph"                cms-input-region="treatment" ></cms-textarea>
                    <cms-input cms-input-id='results_subheading_27'  cms-input-label="Causes Subheading (If Necessary)"      cms-input-default='Causes'     cms-input-region="treatment" ></cms-input>
                    <cms-bullet cms-input-id='results_bullet_28' cms-input-label="Results  Bullets"                   cms-input-region="treatment" ></cms-bullet>
                    <cms-input cms-input-id='results_subheading_29'  cms-input-label="Results Subheading (If Necessary)"   cms-input-default='Results'       cms-input-region="treatment" ></cms-input>
                    <cms-bullet cms-input-id='results_bullet_30' cms-input-label="Results  Bullets "                   cms-input-region="treatment" ></cms-bullet>






</div>
</div>

  </form>



                 
                                                     