

<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Doctor Details</h3>
  </div>
  <div class="panel-body" >
                   <form class="form-horizontal">
                        <cms-picture cms-input-id='doctor_picture' cms-input-label="Doctor Picture : "     cms-input-region="doctor" ></cms-picture>
                        <cms-input cms-input-id='doctor_name' cms-input-label="Doctor Name : "     cms-input-region="doctor" ></cms-input>
                         <cms-input cms-input-id='doctor_speciality' cms-input-label="Doctor Speciality : "       cms-input-region="doctor" ></cms-input>


  </div>
</div>

  </form>



                 
                                                     