
    	<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Meta Tags</h3>
  </div>
  <div class="panel-body" >
                   <form class="form-horizontal">
		<cms-input    cms-input-id='metaTags_text_0' cms-input-label="Language tag (German url)"   cms-input-default='medmedo.de/'  cms-input-region="metaTags" ></cms-input>
		<cms-input  cms-input-id='metaTags_text_1' cms-input-id cms-input-label="Page Title"                  cms-input-region="metaTags" ></cms-input>
    <cms-input cms-input-id='metaTags_text_2' cms-input-label="Meta Description"       cms-input-default='Find in-depth information including symptoms, causes, diagnosis, treatments and more for'      cms-input-region="metaTags" ></cms-input>
		<cms-input cms-input-id='metaTags_text_3' cms-input-label="Open Graph Title"           cms-input-region="metaTags" ></cms-input>
		<cms-input cms-input-id='metaTags_text_4' cms-input-label="Open Graph URL"             cms-input-region="metaTags" ></cms-input>
		<cms-input cms-input-id='metaTags_text_5' cms-input-label="Open Graph Description"     cms-input-default='Find in-depth information including symptoms, causes, diagnosis, treatments and more for'   cms-input-region="metaTags" ></cms-input>
		<cms-input cms-input-id='metaTags_text_6' cms-input-label="Twitter URL"                cms-input-region="metaTags" ></cms-input>
		<cms-input cms-input-id='metaTags_text_7' cms-input-label="Twitter Title"              cms-input-region="metaTags" ></cms-input>
		<cms-input cms-input-id='metaTags_text_8' cms-input-label="Twitter Description"        cms-input-default='Find in-depth information including symptoms, causes, diagnosis, treatments and more for'  cms-input-region="metaTags" ></cms-input>




</div>
</div>
  </form>



<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Heading</h3>
  </div>
  <div class="panel-body" hidden>
                   <form class="form-horizontal">
    <cms-picture cms-input-id='heading_text_9' cms-input-label="Heading Picture"    cms-input-region="heading" ></cms-picture>
		<cms-input   cms-input-id='heading_text_10'    cms-input-label="Heading Title"      cms-input-region="heading" ></cms-input>

    <!--  Questions page link  -->
    <cms-input cms-input-id='breadCrumbs_text_11' cms-input-label="Questions page Link"            cms-input-default=''  cms-input-region="breadCrumbs" ></cms-input>


    <!-- Bread crumbs -->
    <cms-input cms-input-id='breadCrumbs_text_12' cms-input-label="Breadcrumbs 1st Link"            cms-input-default=''  cms-input-region="breadCrumbs" ></cms-input>
    <cms-input cms-input-id='breadCrumbs_text_13' cms-input-label="Breadcrumbs 1st Name"        cms-input-default=''  cms-input-region="breadCrumbs" ></cms-input>

    <cms-input cms-input-id='breadCrumbs_text_14' cms-input-label="Breadcrumbs 2nd Link"            cms-input-default=''  cms-input-region="breadCrumbs" ></cms-input>
    <cms-input cms-input-id='breadCrumbs_text_15' cms-input-label="Breadcrumbs 2nd Name"        cms-input-default=''  cms-input-region="breadCrumbs" ></cms-input>


</div>
</div>
  </form>



<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Content</h3>
  </div>
  <div class="panel-body" hidden>
                   <form class="form-horizontal">
                    <cms-input cms-input-id='description_subheading_16'  cms-input-label="Description Subheading "    cms-input-default='Description'    cms-input-region="description" ></cms-input>
                    <cms-textarea cms-input-id='description_textarea_17'  cms-input-label="Description 1st Paragraph"               cms-input-region="description" ></cms-textarea>
                    <cms-textarea cms-input-id='description_textarea_18'  cms-input-label="Description 2nd Paragraph"               cms-input-region="description" ></cms-textarea>
                    <cms-bullet cms-input-id='description_bullet_19' cms-input-label="Description Bullets"                   cms-input-region="description" ></cms-bullet>
                    <cms-input cms-input-id='description_subheading_20'  cms-input-label="Brand Names Subheading"    cms-input-default='Brand Names'    cms-input-region="description" ></cms-input>
                    <cms-bullet cms-input-id='description_bullet_21' cms-input-label="Brand Bullets"                   cms-input-region="description" ></cms-bullet>
        

                	<cms-textarea cms-input-id='beforeusing_textarea_22' cms-input-label="´Before Using 1st Paragraph" cms-input-region="signs" ></cms-textarea>
                    <cms-input cms-input-id='beforeusing_subheading_21'  cms-input-label="Allergies Subheading"  cms-input-default='Allergies' cms-input-region="signs" ></cms-input>
                    <cms-textarea cms-input-id='beforeusing_textarea_25' cms-input-label="Allergies Paragraph" cms-input-region="signs" ></cms-textarea>

                    <cms-input cms-input-id='beforeusing_subheading_24'  cms-input-label="Pediatric Use Subheading "    cms-input-default='Pedriatoc Use'           cms-input-region="signs" ></cms-input>
                    <cms-textarea cms-input-id='beforeusing_textarea_25' cms-input-label="Pediatric Use Paragraph" cms-input-region="signs" ></cms-textarea>

                      <cms-input cms-input-id='beforeusing_subheading_24'  cms-input-label="Geriatic Use Subheading "    cms-input-default='Geriatic Use'           cms-input-region="signs" ></cms-input>
                    <cms-textarea cms-input-id='beforeusing_textarea_25' cms-input-label="Geriatic Use Paragraph" cms-input-region="signs" ></cms-textarea>
                    <cms-input cms-input-id='beforeusing_subheading_24'  cms-input-label="Pregnancy Subheading "    cms-input-default='Pregnancy'           cms-input-region="signs" ></cms-input>
                    <cms-textarea cms-input-id='beforeusing_textarea_25' cms-input-label="Pregnance Paragraph" cms-input-region="signs" ></cms-textarea>
                    <cms-input cms-input-id='beforeusing_subheading_24'  cms-input-label="Breastfeeding Subheading "    cms-input-default='Breastfeeding'           cms-input-region="signs" ></cms-input>
                    <cms-textarea cms-input-id='beforeusing_textarea_25' cms-input-label="Breastfeeding Paragraph" cms-input-region="signs" ></cms-textarea>
                  

                  


                    <cms-textarea cms-input-id='druginteractions_textarea_34' cms-input-label="Drug Interactions 1st Paragraph"                cms-input-region="causes" ></cms-textarea>
                    <cms-bullet cms-input-id='druginteractions_bullet_35' cms-input-label="Drug Interactions Bullets 1"                   cms-input-region="causes" ></cms-bullet>
                    <cms-input cms-input-id='druginteractions_subheading_36'  cms-input-label="Other Possible interactions Subheading"  cms-input-default='Other Possible interactions'   cms-input-region="causes" ></cms-input>
                    <cms-textarea cms-input-id='druginteractions_textarea_37' cms-input-label="Other Possible interactions Paragraph"                cms-input-region="causes" ></cms-textarea>
                    <cms-input cms-input-id='druginteractions_subheading_39'  cms-input-label="Interactions with Medical Conditions Subheading"  cms-input-default='Interactions with Medical Conditions'             cms-input-region="causes" ></cms-input>
                    <cms-textarea cms-input-id='druginteractions_textarea_40' cms-input-label="Interactions with Medical Conditions Paragraph"                cms-input-region="causes" ></cms-textarea>
                    <cms-bullet cms-input-id='druginteractions_bullet_41' cms-input-label="Interactions with Medical Conditions Bullets "                   cms-input-region="causes" ></cms-bullet>


                    <cms-textarea cms-input-id='properuse_textarea_46' cms-input-label="Risk Factors 1st Paragraph"                cms-input-region="riskfactors" ></cms-textarea>
                    <cms-textarea cms-input-id='properuse_textarea_46' cms-input-label="Risk Factors 2nd Paragraph"                cms-input-region="riskfactors" ></cms-textarea>

                 
                    <cms-textarea cms-input-id='medicationdose_textarea_49' cms-input-label="Medication Dosage 1st Paragraph"                cms-input-region="complications" ></cms-textarea>
                    <cms-input cms-input-id='medicationdose_subheading_51'  cms-input-label="Missed Dose Subheading"   cms-input-default='Missed Dose'             cms-input-region="complications" ></cms-input>
                    <cms-textarea cms-input-id='complications_textarea_52' cms-input-label="Missed Dose Paragraph"                cms-input-region="complications" ></cms-textarea>
                  
       

                    <cms-textarea cms-input-id='precautions_textarea_60' cms-input-label="Precautions Paragraph"                cms-input-region="diagnosis" ></cms-textarea>
                  




</div>
</div>

  </form>



                 
                                                     