    	<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Meta Tags</h3>
  </div>
  <div class="panel-body" >
                            
  </script>
                   <form class="form-horizontal">
		<cms-input    cms-input-id='metaTags_text_0' cms-input-label="Language tag (German url)"   cms-input-default='medmedo.de/'  cms-input-region="metaTags" ></cms-input>
		<cms-input  cms-input-id='metaTags_text_1' cms-input-id cms-input-label="Page Title"                  cms-input-region="metaTags" ></cms-input>
    <cms-input cms-input-id='metaTags_text_2' cms-input-label="Meta Description"       cms-input-default='Find in-depth information including symptoms, causes, diagnosis, treatments and more for'      cms-input-region="metaTags" ></cms-input>
		<cms-input cms-input-id='metaTags_text_3' cms-input-label="Open Graph Title"           cms-input-region="metaTags" ></cms-input>
		<cms-input cms-input-id='metaTags_text_4' cms-input-label="Open Graph URL"             cms-input-region="metaTags" ></cms-input>
		<cms-input cms-input-id='metaTags_text_5' cms-input-label="Open Graph Description"     cms-input-default='Find in-depth information including symptoms, causes, diagnosis, treatments and more for'   cms-input-region="metaTags" ></cms-input>
		<cms-input cms-input-id='metaTags_text_6' cms-input-label="Twitter URL"                cms-input-region="metaTags" ></cms-input>
		<cms-input cms-input-id='metaTags_text_7' cms-input-label="Twitter Title"              cms-input-region="metaTags" ></cms-input>
		<cms-input cms-input-id='metaTags_text_8' cms-input-label="Twitter Description"        cms-input-default='Find in-depth information including symptoms, causes, diagnosis, treatments and more for'  cms-input-region="metaTags" ></cms-input>




</div>


</div>
  </form>



<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Heading</h3>
  </div>
  <div class="panel-body" hidden>
                   <form class="form-horizontal">
    <cms-picture cms-input-id='heading_text_9' cms-input-label="Heading Picture"    cms-input-region="heading" ></cms-picture>
		<cms-input   cms-input-id='heading_text_10'    cms-input-label="Heading Title"      cms-input-region="heading" ></cms-input>

    <!--  Questions page link  -->
    <cms-input cms-input-id='breadCrumbs_text_11' cms-input-label="Questions page Link"            cms-input-default=''  cms-input-region="breadCrumbs" ></cms-input>


    <!-- Bread crumbs -->
    <cms-input cms-input-id='breadCrumbs_text_12' cms-input-label="Breadcrumbs 1st Link"            cms-input-default=''  cms-input-region="breadCrumbs" ></cms-input>
    <cms-input cms-input-id='breadCrumbs_text_13' cms-input-label="Breadcrumbs 1st Name"        cms-input-default=''  cms-input-region="breadCrumbs" ></cms-input>

    <cms-input cms-input-id='breadCrumbs_text_14' cms-input-label="Breadcrumbs 2nd Link"            cms-input-default=''  cms-input-region="breadCrumbs" ></cms-input>
    <cms-input cms-input-id='breadCrumbs_text_15' cms-input-label="Breadcrumbs 2nd Name"        cms-input-default=''  cms-input-region="breadCrumbs" ></cms-input>


</div>
</div>
  </form>



<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Content</h3>
  </div>
  <div class="panel-body" hidden>
                   <form class="form-horizontal">

                    <cms-textarea cms-input-id='description_textarea_16'  cms-input-label="Description 1st Paragraph"               cms-input-region="description" ></cms-textarea>
                    <cms-textarea cms-input-id='description_textarea_17'  cms-input-label="Description 2nd Paragraph"               cms-input-region="description" ></cms-textarea>
                    <cms-input cms-input-id='description_subheading_18'  cms-input-label="Description Subheading (If Necessary)"               cms-input-region="description" ></cms-input>
                    <cms-textarea cms-input-id='description_textarea_19' cms-input-label="Description 3rd Paragraph"                cms-input-region="description" ></cms-textarea>
                    <cms-bullet cms-input-id='description_bullet_20' cms-input-label="Description Bullets"                   cms-input-region="description" ></cms-bullet>
        

<!--                     <cms-input cms-input-id='signs_subheading_21'  cms-input-label="Signs Subheading 1 (If Necessary)"               cms-input-region="signs" ></cms-input>
 -->                	<cms-textarea cms-input-id='signs_textarea_22' cms-input-label="Signs 1st Paragraph" cms-input-region="signs" ></cms-textarea>
                    <cms-bullet cms-input-id='signs_bullet_23' cms-input-label="Signs Bullets 1"    cms-input-region="signs" ></cms-bullet>
<!--                     <cms-input cms-input-id='signs_subheading_24'  cms-input-label="Signs Subheading 2 (If Necessary)"               cms-input-region="signs" ></cms-input>
 -->                    <cms-textarea cms-input-id='signs_textarea_25' cms-input-label="Signs 2nd Paragraph" cms-input-region="signs" ></cms-textarea>
                    <cms-bullet cms-input-id='signs_bullet_26' cms-input-label="Signs Bullets 2"    cms-input-region="signs" ></cms-bullet>
<!--                     <cms-input cms-input-id='signs_subheading_27'  cms-input-label="Signs Subheading 3 (If Necessary)"               cms-input-region="signs" ></cms-input>
 -->                    <cms-textarea cms-input-id='signs_textarea_28' cms-input-label="Signs 3rd Paragraph" cms-input-region="signs" ></cms-textarea>
                    <cms-bullet cms-input-id='signs_bullet_29' cms-input-label="Signs Bullets 3"    cms-input-region="signs" ></cms-bullet>
<!--                     <cms-input cms-input-id='signs_subheading_30'  cms-input-label="Signs Subheading 4 (If Necessary)"               cms-input-region="signs" ></cms-input>
 -->                    <cms-textarea cms-input-id='signs_textarea_31' cms-input-label="Signs 4th Paragraph" cms-input-region="signs" ></cms-textarea>
                    <cms-bullet cms-input-id='signs_bullet_32' cms-input-label="Signs Bullets 4"    cms-input-region="signs" ></cms-bullet>


<!--                     <cms-input cms-input-id='causes_subheading_33'  cms-input-label="Causes Subheading 1 (If Necessary)"               cms-input-region="causes" ></cms-input>
 -->                    <cms-textarea cms-input-id='causes_textarea_34' cms-input-label="Causes 1st Paragraph"                cms-input-region="causes" ></cms-textarea>
                    <cms-bullet cms-input-id='causes_bullet_35' cms-input-label="Causes Bullets 1"                   cms-input-region="causes" ></cms-bullet>
<!--                     <cms-input cms-input-id='causes_subheading_36'  cms-input-label="Causes Subheading 2 (If Necessary)"               cms-input-region="causes" ></cms-input>
 -->                    <cms-textarea cms-input-id='causes_textarea_37' cms-input-label="Causes 2nd Paragraph"                cms-input-region="causes" ></cms-textarea>
                    <cms-bullet cms-input-id='causes_bullet_38' cms-input-label="Causes Bullets 2"                   cms-input-region="causes" ></cms-bullet>
<!--                     <cms-input cms-input-id='causes_subheading_39'  cms-input-label="Causes Subheading 3 (If Necessary)"               cms-input-region="causes" ></cms-input>
 -->                    <cms-textarea cms-input-id='causes_textarea_40' cms-input-label="Causes 3rd Paragraph"                cms-input-region="causes" ></cms-textarea>
                    <cms-bullet cms-input-id='causes_bullet_41' cms-input-label="Causes Bullets 3"                   cms-input-region="causes" ></cms-bullet>
<!--                     <cms-input cms-input-id='causes_subheading_42'  cms-input-label="Causes Subheading 4  (If Necessary)"               cms-input-region="causes" ></cms-input>
 -->                    <cms-textarea cms-input-id='causes_textarea_43' cms-input-label="Causes 4th Paragraph"                cms-input-region="causes" ></cms-textarea>
                    <cms-bullet cms-input-id='causes_bullet_44' cms-input-label="Causes Bullets 4"                   cms-input-region="causes" ></cms-bullet>

<!--                     <cms-input cms-input-id='riskfactors_subheading_45'  cms-input-label="Risk Factors Subheading (If Necessary)"               cms-input-region="riskfactors" ></cms-input>
 -->                    <cms-textarea cms-input-id='riskfactors_textarea_46' cms-input-label="Risk Factors 1st Paragraph"                cms-input-region="riskfactors" ></cms-textarea>
                    <cms-bullet cms-input-id='riskfactors_bullet_47' cms-input-label="Risk Factors Bullets 1"                   cms-input-region="riskfactors" ></cms-bullet>
                 
<!--                     <cms-input cms-input-id='complications_subheading_48'  cms-input-label="Complications Subheading (If Necessary)"               cms-input-region="complications" ></cms-input>
 -->                    <cms-textarea cms-input-id='complications_textarea_49' cms-input-label="Complications 1st Paragraph"                cms-input-region="complications" ></cms-textarea>
                    <cms-bullet cms-input-id='complications_bullet_50' cms-input-label="Complications Bullets 1"                   cms-input-region="complications" ></cms-bullet>
<!--                     <cms-input cms-input-id='complications_subheading_51'  cms-input-label="Complications Subheading (If Necessary)"               cms-input-region="complications" ></cms-input>
 -->                    <cms-textarea cms-input-id='complications_textarea_52' cms-input-label="complications 2nd Paragraph"                cms-input-region="complications" ></cms-textarea>
                    <cms-bullet cms-input-id='complications_bullet_53' cms-input-label="Complications Bullets 2"                   cms-input-region="complications" ></cms-bullet>
<!--                     <cms-input cms-input-id='complications_subheading_54'  cms-input-label="Complications Subheading (If Necessary)"               cms-input-region="complications" ></cms-input>
 -->                    <cms-textarea cms-input-id='complications_textarea_55' cms-input-label="Complications 3rd Paragraph"                cms-input-region="complications" ></cms-textarea>
                    <cms-bullet cms-input-id='complications_bullet_56' cms-input-label="Complications Bullets 3"                   cms-input-region="complications" ></cms-bullet>
<!--                     <cms-input cms-input-id='complications_subheading_57'  cms-input-label="Complications Subheading (If Necessary)"               cms-input-region="complications" ></cms-input>
 -->                    <cms-textarea cms-input-id='complications_textarea_58' cms-input-label="Complications 4th Paragraph"                cms-input-region="complications" ></cms-textarea>
                    <cms-bullet cms-input-id='complications_bullet_59' cms-input-label="Complications Bullets 4"                   cms-input-region="complications" ></cms-bullet>
       

                    <cms-textarea cms-input-id='diagnosis_textarea_60' cms-input-label="Diagnosis 1st Paragraph"                cms-input-region="diagnosis" ></cms-textarea>
                    <cms-input cms-input-id='diagnosis_subheading_61'  cms-input-label="Diagnosis Subheading (If Necessary)"    cms-input-region="diagnosis" ></cms-input>
                    <cms-textarea cms-input-id='diagnosis_textarea_62' cms-input-label="Diagnosis 2nd Paragraph"                cms-input-region="diagnosis" ></cms-textarea>
                    <cms-bullet cms-input-id='diagnosis_bullet_63' cms-input-label="Diagnosis Bullets 2"                        cms-input-region="diagnosis" ></cms-bullet>
                    <cms-input cms-input-id='diagnosis_subheading_64'  cms-input-label="Diagnosis Subheading (If Necessary)"    cms-input-region="diagnosis" ></cms-input>
                    <cms-textarea cms-input-id='diagnosis_textarea_65' cms-input-label="Diagnosis 3rd Paragraph"                cms-input-region="diagnosis" ></cms-textarea>
                    <cms-bullet cms-input-id='diagnosis_bullet_66' cms-input-label="Diagnosis Bullets 3"                        cms-input-region="diagnosis" ></cms-bullet>
                    <cms-input cms-input-id='diagnosis_subheading_67'  cms-input-label="Diagnosis Subheading (If Necessary)"               cms-input-region="diagnosis" ></cms-input>
                    <cms-textarea cms-input-id='diagnosis_textarea_68' cms-input-label="Diagnosis 4th Paragraph"                cms-input-region="diagnosis" ></cms-textarea>
                    <cms-bullet cms-input-id='diagnosis_bullet_69' cms-input-label="Diagnosis Bullets 4"                   cms-input-region="diagnosis" ></cms-bullet>
     

                    <cms-textarea cms-input-id='treatment_textarea_70' cms-input-label="Treatment 1st Paragraph"                cms-input-region="treatment" ></cms-textarea>
                    <cms-input cms-input-id='treatment_subheading_71'  cms-input-label="Medications Subheading (If Necessary)"      cms-input-default='Medications'     cms-input-region="treatment" ></cms-input>
                    <cms-bullet cms-input-id='treatment_bullet_72' cms-input-label="Treatment Medications Bullets"                   cms-input-region="treatment" ></cms-bullet>
                    <cms-input cms-input-id='treatment_subheading_73'  cms-input-label="Home Remedies Subheading (If Necessary)"   cms-input-default='Home Remedies'       cms-input-region="treatment" ></cms-input>
                    <cms-bullet cms-input-id='treatment_bullet_74' cms-input-label="Treatment Remedies Bullets "                   cms-input-region="treatment" ></cms-bullet>
                    <cms-input cms-input-id='treatment_subheading_75'  cms-input-label="Therapies Subheading (If Necessary)"   cms-input-default='Therapies'            cms-input-region="treatment" ></cms-input>
                    <cms-bullet cms-input-id='treatment_bullet_76' cms-input-label="Treatment Therapies Bullets "                   cms-input-region="treatment" ></cms-bullet>
                    <cms-input cms-input-id='treatment_subheading_77'  cms-input-label="Other Subheading (If Necessary)"    cms-input-default='Other'           cms-input-region="treatment" ></cms-input>
                    <cms-bullet cms-input-id='treatment_bullet_78' cms-input-label="Treatment Other Bullets"                   cms-input-region="treatment" ></cms-bullet>
                    <cms-textarea cms-input-id='treatment_textarea_79' cms-input-label="Treatment 2nd Paragraph"                cms-input-region="treatment" ></cms-textarea>




</div>
</div>

  </form>



                 
                                                     