
    	<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Meta Tags</h3>
  </div>
  <div class="panel-body" >
                   <form class="form-horizontal">
		<cms-input    cms-input-id='metaTags_text_0' cms-input-label="Language tag (German url)"   cms-input-default='medmedo.de/'  cms-input-region="metaTags" ></cms-input>
		<cms-input  cms-input-id='metaTags_text_1' cms-input-id cms-input-label="Page Title"                  cms-input-region="metaTags" ></cms-input>
    <cms-input cms-input-id='metaTags_text_2' cms-input-label="Meta Description"       cms-input-default='Find in-depth information including symptoms, causes, diagnosis, treatments and more for'   cms-input-region="metaTags" ></cms-input>
		<cms-input cms-input-id='metaTags_text_3' cms-input-label="Open Graph Title"       cms-input-region="metaTags" ></cms-input>
		<cms-input cms-input-id='metaTags_text_4' cms-input-label="Open Graph URL"             cms-input-region="metaTags" ></cms-input>
		<cms-input cms-input-id='metaTags_text_5' cms-input-label="Open Graph Description"     cms-input-default='Find in-depth information including symptoms, causes, diagnosis, treatments and more for'   cms-input-region="metaTags" ></cms-input>
		<cms-input cms-input-id='metaTags_text_6' cms-input-label="Twitter URL"                cms-input-region="metaTags" ></cms-input>
		<cms-input cms-input-id='metaTags_text_7' cms-input-label="Twitter Title"              cms-input-region="metaTags" ></cms-input>
		<cms-input cms-input-id='metaTags_text_8' cms-input-label="Twitter Description"        cms-input-default='Find in-depth information including symptoms, causes, diagnosis, treatments and more for'  cms-input-region="metaTags" ></cms-input>


</div>
</div>
  </form>



<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Heading</h3>
  </div>
  <div class="panel-body" hidden>
                   <form class="form-horizontal">
    <cms-picture cms-input-id='heading_picture_9' cms-input-label="Heading Picture"    cms-input-region="heading" ></cms-picture>
		<cms-input cms-input-id='heading_text_10'    cms-input-label="Heading Title"      cms-input-region="heading" ></cms-input>
		<cms-input cms-input-id='heading_text_11'    cms-input-label="Heading 2nd title"  cms-input-default="All information is validated by expert doctors."  cms-input-region="heading" ></cms-input>
        <!-- Bread crumbs -->
    <cms-input cms-input-id='breadCrumbs_text_12' cms-input-label="Breadcrumbs 1st Link"            cms-input-default=''  cms-input-region="breadCrumbs" ></cms-input>
    <cms-input cms-input-id='breadCrumbs_text_13' cms-input-label="Breadcrumbs 1st Name"        cms-input-default=''  cms-input-region="breadCrumbs" ></cms-input>
    <cms-input cms-input-id='breadCrumbs_text_14' cms-input-label="Breadcrumbs 2nd Link"            cms-input-default=''  cms-input-region="breadCrumbs" ></cms-input>
    <cms-input cms-input-id='breadCrumbs_text_15' cms-input-label="Breadcrumbs 2nd Name"        cms-input-default=''  cms-input-region="breadCrumbs" ></cms-input>


</div>
</div>
  </form>



<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Content</h3>
  </div>
  <div class="panel-body" hidden>                   
                   <form class="form-horizontal">
            


                    <cms-textarea cms-input-id='overview_textarea_16' cms-input-label="Overview Text"      cms-input-region="overview" ></cms-textarea>

                    <cms-input cms-input-id='top_text_17'    cms-input-label="1st Disease link"    cms-input-region="top" ></cms-input>
                    <cms-input cms-input-id='top_text_18'    cms-input-label="1st Disease title"    cms-input-region="top" ></cms-input>
                    <cms-picture cms-input-id='top_picture_19' cms-input-label="Disease Picture"    cms-input-region="top" ></cms-picture>                   
                    <cms-textarea cms-input-id='top_textarea_20' cms-input-label="1st Disease title Text"      cms-input-region="top" ></cms-textarea>
                    <cms-input cms-input-id='top_text_21'    cms-input-label="Read more Link"    cms-input-region="top" ></cms-input>

                    <cms-input cms-input-id='top_text_22'    cms-input-label="2nd Disease link"    cms-input-region="top" ></cms-input>
                    <cms-input cms-input-id='top_text_23'    cms-input-label="2nd Disease title"    cms-input-region="top" ></cms-input>
                    <cms-picture cms-input-id='top_picture_24' cms-input-label=" 2nd Disease Picture"    cms-input-region="top" ></cms-picture>                   
                    <cms-textarea cms-input-id='top_textarea_25' cms-input-label="2nd Disease title Text"      cms-input-region="top" ></cms-textarea>
                    <cms-input cms-input-id='top_text_26'    cms-input-label="Read more Link"    cms-input-region="top" ></cms-input>

                    <cms-input cms-input-id='top_text_27'    cms-input-label="3rd Disease link"    cms-input-region="top" ></cms-input>
                    <cms-input cms-input-id='top_text_28'    cms-input-label="3rd Disease title"    cms-input-region="top" ></cms-input>
                    <cms-picture cms-input-id='top_picture_29' cms-input-label="3rd Disease Picture"    cms-input-region="top" ></cms-picture>                   
                    <cms-textarea cms-input-id='top_textarea_30' cms-input-label="3rd Disease title Text"      cms-input-region="top" ></cms-textarea>
                    <cms-input cms-input-id='top_text_31'    cms-input-label="Read more Link"    cms-input-region="top" ></cms-input>


                    <cms-input cms-input-id='top_text_32'    cms-input-label="4th Disease link"    cms-input-region="top" ></cms-input>
                    <cms-input cms-input-id='top_text_33'    cms-input-label="4th Disease title"    cms-input-region="top" ></cms-input>
                    <cms-picture cms-input-id='top_picture_34' cms-input-label="4th Disease Picture"    cms-input-region="top" ></cms-picture>                   
                    <cms-textarea cms-input-id='top_textarea_35' cms-input-label="4th Disease title Text"      cms-input-region="top" ></cms-textarea>
                    <cms-input cms-input-id='top_text_36'    cms-input-label="Read more Link"    cms-input-region="top" ></cms-input>

                    <cms-bullet cms-input-id='conditions_bullet_37' cms-input-label="Condition A-Z 1st Column"     cms-input-iterations='2'  cms-input-region="conditions1" ></cms-bullet>

                    <cms-bullet cms-input-id='conditions_bullet_38' cms-input-label="Condition A-Z 2nd Column"     cms-input-iterations='2'  cms-input-region="conditions2" ></cms-bullet>

                    <cms-bullet cms-input-id='conditions_bullet_39' cms-input-label="Condition A-Z 3rd Column"     cms-input-iterations='2'  cms-input-region="conditions3" ></cms-bullet>

                    <cms-bullet cms-input-id='conditions_bullet_40' cms-input-label="Condition A-Z 4th Column"     cms-input-iterations='2'  cms-input-region="conditions4" ></cms-bullet>


                    <cms-bullet cms-input-id='related_bullet_41' cms-input-label="Related Bullets "     cms-input-iterations='2'       cms-input-region="related" ></cms-bullet>
                    <cms-bullet cms-input-id='risks_bullet_42' cms-input-label="Risks Bullets "      cms-input-iterations='2'              cms-input-region="risks" ></cms-bullet>
                    <cms-bullet cms-input-id='test_bullet_43' cms-input-label="Tests Bullets "     cms-input-iterations='2'               cms-input-region="test" ></cms-bullet>
                    <cms-bullet cms-input-id='treatments_bullet_44' cms-input-label="Treatments Bullets " cms-input-iterations='2'                   cms-input-region="treatments" ></cms-bullet>








</div>
</div>

  </form>



                 
                                                     