

<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Question</h3>
  </div>
  <div class="panel-body" >
                   <form class="form-horizontal">
       
                         <cms-input cms-input-id='question_link' cms-input-label="Question specific page link: " cms-input-region="question" cms-input-display='none' ></cms-input>
                         <cms-input cms-input-id='question' cms-input-label="Question : "       cms-input-region="question" ></cms-input>
                                          <cms-picture cms-input-id='doctor_picture' cms-input-label="Doctor Picture : "     cms-input-region="question" ></cms-picture>
                        <cms-input cms-input-id='doctor_name' cms-input-label="Doctor Name : "     cms-input-region="question" ></cms-input>
                        <cms-textarea cms-input-id='answer' cms-input-label="Answer : "       cms-input-region="quesion" ></cms-textarea>


  </div>
</div>

  </form>



                 
                                                     