
    	<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Meta Tags</h3>
  </div>
  <div class="panel-body" >
                   <form class="form-horizontal">
		<cms-input    cms-input-id='metaTags_text_0' cms-input-label="Language tag (German url)"   cms-input-default='http://medmedo.de/'  cms-input-region="metaTags" ></cms-input>
		<cms-input  cms-input-id='metaTags_text_1' cms-input-id cms-input-label="Page Title"                  cms-input-region="metaTags" ></cms-input>
    <cms-input cms-input-id='metaTags_text_2' cms-input-label="Meta Description"       cms-input-default='Find medical answers to the question:'      cms-input-region="metaTags" ></cms-input>
		<cms-input cms-input-id='metaTags_text_3' cms-input-label="Open Graph Title"           cms-input-region="metaTags" ></cms-input>
		<cms-input cms-input-id='metaTags_text_4' cms-input-label="Open Graph URL"             cms-input-region="metaTags" ></cms-input>
		<cms-input cms-input-id='metaTags_text_5' cms-input-label="Open Graph Description"     cms-input-default='Find medical answers to the question:'   cms-input-region="metaTags" ></cms-input>
		<cms-input cms-input-id='metaTags_text_6' cms-input-label="Twitter URL"                cms-input-region="metaTags" ></cms-input>
		<cms-input cms-input-id='metaTags_text_7' cms-input-label="Twitter Title"              cms-input-region="metaTags" ></cms-input>
		<cms-input cms-input-id='metaTags_text_8' cms-input-label="Twitter Description"        cms-input-default='Find medical answers to the question:'  cms-input-region="metaTags" ></cms-input>




</div>
</div>
  </form>



<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Heading</h3>
  </div>
  <div class="panel-body" hidden>
                   <form class="form-horizontal">


    <!-- Bread crumbs -->
    <cms-input cms-input-id='breadCrumbs_text_12' cms-input-label="Breadcrumbs 1st Link"            cms-input-default=''  cms-input-region="breadCrumbs" ></cms-input>
    <cms-input cms-input-id='breadCrumbs_text_13' cms-input-label="Breadcrumbs 1st Name"        cms-input-default=''  cms-input-region="breadCrumbs" ></cms-input>


</div>
</div>
  </form>



<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Question</h3>
  </div>
  <div class="panel-body" >
                   <form class="form-horizontal">
       
                         <cms-input cms-input-id='question' cms-input-label="Question : "       cms-input-region="question" ></cms-input>
                         <cms-picture cms-input-id='doctor_picture' cms-input-label="Doctor Picture : "     cms-input-region="question" ></cms-picture>
                        <cms-input cms-input-id='doctor_name' cms-input-label="Doctor Name : "     cms-input-region="question" ></cms-input>
                        <cms-textarea cms-input-id='post_introduction' cms-input-label="Answer : "       cms-input-region="quesion" ></cms-textarea>


  </div>
  </div>



  </form>



                 
                                                     