
    	<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Meta Tags</h3>
  </div>
  <div class="panel-body" >
                   <form class="form-horizontal">
		<cms-input    cms-input-id='metaTags_text_0' cms-input-label="Language tag (German url)"   cms-input-default='medmedo.de/'  cms-input-region="metaTags" ></cms-input>
		<cms-input  cms-input-id='metaTags_text_1' cms-input-id cms-input-label="Page Title"                  cms-input-region="metaTags" ></cms-input>
    <cms-input cms-input-id='metaTags_text_2' cms-input-label="Meta Description"       cms-input-default='Find in-depth information including symptoms, causes, diagnosis, treatments and more for'      cms-input-region="metaTags" ></cms-input>
		<cms-input cms-input-id='metaTags_text_3' cms-input-label="Open Graph Title"           cms-input-region="metaTags" ></cms-input>
		<cms-input cms-input-id='metaTags_text_4' cms-input-label="Open Graph URL"             cms-input-region="metaTags" ></cms-input>
		<cms-input cms-input-id='metaTags_text_5' cms-input-label="Open Graph Description"     cms-input-default='Find in-depth information including symptoms, causes, diagnosis, treatments and more for'   cms-input-region="metaTags" ></cms-input>
		<cms-input cms-input-id='metaTags_text_6' cms-input-label="Twitter URL"                cms-input-region="metaTags" ></cms-input>
		<cms-input cms-input-id='metaTags_text_7' cms-input-label="Twitter Title"              cms-input-region="metaTags" ></cms-input>
		<cms-input cms-input-id='metaTags_text_8' cms-input-label="Twitter Description"        cms-input-default='Find in-depth information including symptoms, causes, diagnosis, treatments and more for'  cms-input-region="metaTags" ></cms-input>




</div>
</div>
  </form>



<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Heading</h3>
  </div>
  <div class="panel-body" hidden>
                   <form class="form-horizontal">
    <cms-picture cms-input-id='heading_text_9' cms-input-label="Heading Picture"    cms-input-region="heading" ></cms-picture>
		<cms-input   cms-input-id='heading_text_10'    cms-input-label="Heading Title"      cms-input-region="heading" ></cms-input>

    <!--  Questions page link  -->
    <cms-input cms-input-id='breadCrumbs_text_11' cms-input-label="Questions page Link"            cms-input-default=''  cms-input-region="breadCrumbs" ></cms-input>


    <!-- Bread crumbs -->
    <cms-input cms-input-id='breadCrumbs_text_12' cms-input-label="Breadcrumbs 1st Link"            cms-input-default=''  cms-input-region="breadCrumbs" ></cms-input>
    <cms-input cms-input-id='breadCrumbs_text_13' cms-input-label="Breadcrumbs 1st Name"        cms-input-default=''  cms-input-region="breadCrumbs" ></cms-input>

    <cms-input cms-input-id='breadCrumbs_text_14' cms-input-label="Breadcrumbs 2nd Link"            cms-input-default=''  cms-input-region="breadCrumbs" ></cms-input>
    <cms-input cms-input-id='breadCrumbs_text_15' cms-input-label="Breadcrumbs 2nd Name"        cms-input-default=''  cms-input-region="breadCrumbs" ></cms-input>


</div>
</div>
  </form>



<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Content</h3>
  </div>
  <div class="panel-body" hidden>
                    <form class="form-horizontal">
               <cms-textarea cms-input-id='description_textarea_16'  cms-input-label="description 1st Paragraph"                    cms-input-region="description" ></cms-textarea>
                    <cms-textarea cms-input-id='description_textarea_17' cms-input-label="description 2nd Paragraph"                cms-input-region="description" ></cms-textarea>

                    <cms-input cms-input-id='causes_subheading_18'  cms-input-label="Causes Subheading 1 (If Necessary)"               cms-input-region="causes" ></cms-input>
                    <cms-textarea cms-input-id='causes_textarea_19' cms-input-label="Causes 1st Paragraph"                cms-input-region="causes" ></cms-textarea>
                    <cms-bullet cms-input-id='causes_bullet_20' cms-input-label="Causes Bullets 1"                   cms-input-region="causes" ></cms-bullet>
                    <cms-input cms-input-id='causes_subheading_21'  cms-input-label="Causes Subheading 2 (If Necessary)"               cms-input-region="causes" ></cms-input>
                    <cms-textarea cms-input-id='causes_textarea_22' cms-input-label="Causes 2nd Paragraph"                cms-input-region="causes" ></cms-textarea>
                    <cms-bullet cms-input-id='causes_bullet_23' cms-input-label="Causes Bullets 2"                   cms-input-region="causes" ></cms-bullet>
                    <cms-input cms-input-id='causes_subheading_24'  cms-input-label="Causes Subheading 3 (If Necessary)"               cms-input-region="causes" ></cms-input>
                    <cms-textarea cms-input-id='causes_textarea_25' cms-input-label="Causes 3rd Paragraph"                cms-input-region="causes" ></cms-textarea>
                    <cms-bullet cms-input-id='causes_bullet_26' cms-input-label="Causes Bullets 3"                   cms-input-region="causes" ></cms-bullet>


                    <cms-textarea cms-input-id='riskfactors_textarea_27' cms-input-label="When to ask a doctor 1st Paragraph"                cms-input-region="riskfactors" ></cms-textarea>
                    <cms-bullet cms-input-id='riskfactors_bullet_28' cms-input-label="When to ask a doctor Bullets 1"                   cms-input-region="riskfactors" ></cms-bullet>
                    <cms-input cms-input-id='riskfactors_subheading_29'  cms-input-label="When to ask a doctor Subheading 1 (If Necessary)"      cms-input-default='When to seek Emergency Care'  cms-input-region="causes" ></cms-input>
                    <cms-textarea cms-input-id='riskfactors_textarea_30' cms-input-label="When to ask a doctor 2nd Paragraph"                cms-input-region="riskfactors" ></cms-textarea>
                    <cms-bullet cms-input-id='riskfactors_bullet_31' cms-input-label="When to ask a doctor Bullets 2"                   cms-input-region="riskfactors" ></cms-bullet>

                    <cms-textarea cms-input-id='treatment_textarea_32' cms-input-label="Treatment 1st Paragraph"                cms-input-region="treatment" ></cms-textarea>
                    <cms-input cms-input-id='treatment_subheading_33'  cms-input-label="Medications Subheading (If Necessary)"      cms-input-default='Medications'     cms-input-region="treatment" ></cms-input>
                    <cms-bullet cms-input-id='treatment_bullet_34' cms-input-label="Treatment Medications Bullets"                   cms-input-region="treatment" ></cms-bullet>
                    <cms-input cms-input-id='treatment_subheading_35'  cms-input-label="Home Remedies Subheading (If Necessary)"   cms-input-default='Home Remedies'       cms-input-region="treatment" ></cms-input>
                    <cms-bullet cms-input-id='treatment_bullet_36' cms-input-label="Treatment Remedies Bullets "                   cms-input-region="treatment" ></cms-bullet>
                    <cms-input cms-input-id='treatment_subheading_37'  cms-input-label="Therapies Subheading (If Necessary)"   cms-input-default='Therapies'            cms-input-region="treatment" ></cms-input>
                    <cms-bullet cms-input-id='treatment_bullet_38' cms-input-label="Treatment Therapies Bullets "                   cms-input-region="treatment" ></cms-bullet>
                    <cms-input cms-input-id='treatment_subheading_39'  cms-input-label="Other Subheading (If Necessary)"    cms-input-default='Other'           cms-input-region="treatment" ></cms-input>
                    <cms-bullet cms-input-id='treatment_bullet_40' cms-input-label="Treatment Other Bullets"                   cms-input-region="treatment" ></cms-bullet>
                    <cms-textarea cms-input-id='treatment_textarea_41' cms-input-label="Treatment 2nd Paragraph"                cms-input-region="treatment" ></cms-textarea>





</div>
</div>

  </form>



                 
                                                     