

<div class="form-group"  > 
    <label class="col-sm-2 control-label" for="{{idInputElement}}"  >{{labelInput}}</label> 
        <div class="col-sm-10"> 
            <textarea  id="{{idInputElement}}" elementid="{{idInputElement}}" class="form-control dataInput jqte" type='textarea'  region="{{regionInputElement}}">{{defaultValue}}</textarea>
        </div>
</div>


                                                      
 <script type="text/javascript">
$(document).ready(function(){
    $('textarea').autosize();    
});
</script>