/*CSS RESETS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/*globals*/

li,p,a,h1,h2,h3{
    font-family: 'Roboto';
}

p{
    font-weight: 300;
}
.sub-wrap{
    width: 990px;
    margin:0px auto;
    position:relative;
}

.content{
    float:left;
    width: 100%;
    margin-top:86px;
}








#treat {
position: absolute;
top: 76px;
width: 551px;
height: 0px;
background-color: white;
position: absolute;
border-top: none;
margin-left: 462px;
border-right: 1px solid #d8d8d8;
border-left: 1px solid #d8d8d8;
overflow: hidden;
z-index: 999999;


}

#treat li {

margin-left: 7px;
width: 233px;
margin-top: 11px;
font-family: helvetica;
font-size: 14px;
cursor: pointer;
color: #13315e;
margin-bottom:0px !important;
padding-bottom:0px !important;
padding-left:0px !important;
}

#treat li img{

margin-right: 5px ;

}


#treat li:hover {

text-decoration: underline;

}


#treat_img_wrapper {
width: 150px;
height: 150px;
border: 1px solid #d8d8d8;
margin-left: 387px;
margin-top: 0px;
background : url(../images/treatments/allergie.jpg);
}

#treat_img_wrapper img {
height: 180px ;
width : 180px;

}


li.col2 {
margin-left: -42px !important ;
}













/*header*/

header{
    float:left;
    width: 100%;
    position:fixed;
    left:0px;
    top:0px;
    background:#ffffff;
    z-index: 99999;
    border-bottom:1px solid #d8d8d8;
}
header .logo{
    float:left;
}

header .logo a{
    float:left;
    display:block;
    text-indent: -99999px;
    overflow:hidden;
    background:url(../images/global/logo.png) no-repeat;
    width: 204px;
    height: 40px;
    margin-top:23px;
}

header ul{
    float:right;
    margin-top:10px;
}

header ul li{
    float:left;
    padding:5px 25px;
    margin:25px 0px;
    border-right:1px solid #476178;
}

header ul li:last-of-type{
    padding-right:0px;
    border-right:none;
}

header ul li a{
    font-family: 'Roboto';
    font-weight: 500;
    color:#476178;
    font-size:16px;
    text-decoration: none;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

header ul li a:hover{
    opacity:.9;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.langs{
    float:right;
    position:absolute;
    top:5px;
    right:0px;
}

.langs a{
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 400;
    color:#324d60;
    font-size:11px;
}

.langs a:hover{
    text-decoration: underline;
}

/*footer*/

.fwrap{
    width: 990px;
    margin:0px auto;
    position:relative;
}

footer{
    float:left;
    padding-top:10px;
    padding-bottom:30px;
    width: 100%;
}

footer ul{
    float:left;
    width: 280px;
    margin-top:10px;
}

footer ul li{
    float:left;
    width: 100%;
    margin-top:10px;
}
footer ul li a{
    float:left;
    text-decoration: none;
    color:#ababab;
    font-size:14px;
    font-family: 'Roboto';
    font-weight: 300; 
}
footer ul li a:hover{
    text-decoration: underline;
}

footer .one{
    float:right;
    margin-top:10px;
    width: 425px;
}
footer .one p{
    float:left;
    font-size:14px;
    color:#ababab;
    font-family: 'Roboto';
    font-weight: 300; 
     margin-top:10px;
     margin-right:45px;
     line-height: 18px;

}
.copyrights{
    float:left;
    width: 100%;
    color:#13315e;
    margin-top:30px;
    font-size:13px;
}
footer .bot{
    float:left;
    width: 100%;
}
footer .bot p{
    font-family: 'Roboto';
    font-weight: 300; 
    font-size: 14px;
    color:#ababab;
    width: 100%;
    text-align: center;
}
footer .bot img{
    margin:30px auto;
    display:block;
    margin-bottom:6px;
}

.fullend{
    float:left;
    width: 100%;
    padding-bottom:20px;
    margin-top:30px;
}

.fullend .fwrap{
    border-bottom: 1px solid #d8d8d8;
    border-top: 1px solid #d8d8d8;
    padding-top:20px;
    height: 124px;
}


.mobconcept{
    display:none !important;
}
/*end footer*/



/*MEDIA QUERIES*/

/*pagewidth =  748*/
@media only screen 
and (min-width : 768px) 
and (max-width : 1023px){
    .sub-wrap{
        width: 748px;
    }
    header ul li{
        padding:5px 10px;
    }
   header .logo a{
        margin-top:22px;
    }
    .fwrap{
        width: 748px;
    }
    footer ul{
        width: 209px;

    }

    footer .one{
        width: 325px;
    }
    footer .one p{
        float:none;
        padding-bottom:20px;
    }
    .fullend .fwrap{
        border-bottom:none;
    }
    .heading .one img{
        width: 100%;
    }
    footer ul{
        margin-left:20px;
    }
    .doctor,.faq,.support,.terms,.privacy,.contact,.service,.imprint{
        margin-top:0px !important;
    }
}


/*pagewidth =  460*/
@media only screen 
and (min-width : 480px) 
and (max-width : 767px){
    .sub-wrap{
        width: 460px;
    }
    .fwrap{
        width: 460px;
    }
    header ul li{
        padding:5px 13px;
        margin:10px 0px;
    }
    footer ul{
        width: 153px;
    }

    footer .one{
        width: 100%;
        float:left;
        margin-top:35px;
    }
    footer .one p{
        float:none;
        padding-bottom:20px;
    }
    header{
        position:relative;
    }
    .content{
        margin-top:0px;
    }
    header ul{
        float:left;
        width: 100%;
        margin-top:0px;
    }
    header .logo a{
        margin-top:10px;
        margin-left:124px;
    }
    .langs {
    float: right;
    position: absolute;
    top: 25px;
    right: 61px;
    }
    #treat{
        margin-left:0px;
        width: 460px;
        top:97px;
    }
    .heading .one img{
        width: 100%;
    }
    footer .one p{
        margin-right:0px;
    }
    .fullend .fwrap{
    }
    .lists .one ul{
        width: 100%;
    }

    #treat_img_wrapper{
        display:none;
    }
    footer .one p{
        margin-left:20px;
    }
    footer ul{
        margin-left:20px;
    }
    footer .one img{
        margin-left:20px;
    }
    .doctor,.faq,.support,.terms,.privacy,.contact,.service,.imprint{
        margin-top:0px !important;
    }
}
/*pagewidth =  280*/
@media only screen 
and (max-width : 479px){
    .fwrap{
        width:300px;
    }

    .sub-wrap{
        width: 300px;
    }

    footer ul{
        width: 80px;
        margin-left:13px;
    }
    footer .one p{
        margin-left:13px;
        font-family: 'robotolight';
        font-size:14px;
    }
    footer .one{
        width: 100%;
        float:left;
        margin-top:20px;
    }
    footer .one p{
        float:none;
        padding-bottom:20px;
    }

    header ul li{
        padding:5px 5px;
        margin:5px 0px;
        border-right:none;
    }
    header ul li a{
        font-size: 12px;
    }
    header{
        position:relative;
    }
    .content{
        margin-top:0px;
    }
    header ul{
        float:left;
        width: 100%;
        margin-top:0px;
    }
    header .logo a{
        margin-top:10px;
        margin-left:2px;
    }
    .langs {
    float: right;
    position: absolute;
    top: 27px;
    right: 19px;
    }
    #treat{
        margin-left:0px;
        width: 280px;
        top:97px;
    }

    .heading .one img{
        width: 100%;
    }
    footer .one p{
        margin-right:0px;
    }
    .fullend .fwrap{
        height: 140px;
    }
    .lists .one ul{
        width: 100%;
    }
    #treat_img_wrapper{
        display:none;
    }
    .doctor,.faq,.support,.terms,.privacy,.contact,.service,.imprint{
        margin-top:0px !important;
    }

    .terms h1{
        font-size: 29px !important;
    }
}