
                            <div class="form-group">
                             <label for="inputURL" class="col-sm-2 control-label">Tags</label>
                             <div class="col-sm-10">
                               <tags-input  display-property='namePage'  ng-model="tags"  replace-spaces-with-dashes='false'>
                                     <auto-complete source="loadTags($query)"
                                           min-length="1"
                                           max-results-to-show="32"
                                           >
                                    </auto-complete>
                               </tags-input>

                               <input  id="{{idInputElement}}" elementid="{{idInputElement}}"  type="text" ng-model="tags" class="form-control dataInput"  region="tags" />
                            </div>
                          </div>