

<div class="form-group"  > 
    <label class="col-sm-2 control-label" for="{{idInputElement}}"  style='display:{{display}};'>{{labelInput}}</label> 
        <div class="col-sm-10"> 
            <input  id="{{idInputElement}}" elementid="{{idInputElement}}" value="{{defaultValue}}"   type="text"  class="form-control dataInput"  region="{{regionInputElement}}" style='display:{{display}};'/>
        </div>
</div>


                                                      