


<div ng-controller="ModalController">
    <script type="text/ng-template" id="assetsModal.html" >
        <div class="modal-header">
            <h3 class="modal-title">Select an Asset</h3>
        </div>
        <div class="modal-body">

   <!-- Assets Page -->

<i class="fa fa-spin fa-refresh fa-3x" id="loader"></i>
<div class="container" > 
   <button id='add-asset-button' class="btn btn-success add-asset-button" ng-click="setAddAsset()">New <span class="glyphicon glyphicon-plus-sign"></span></button>
  <!-- <input type="file" id="pictureFile" hidden>-->
    <div class="panel panel-primary" ng-show='add==true'>
  <div class="panel-heading">
    <h3 class="panel-title">Add a new Asset</h3>
  </div>
  <div class="panel-body">


                            <form class="form-horizontal">
                            <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >Asset Name</label>
                              <div class="col-sm-10">
                                <input  ng-model="newAsset.assetName" type="text" class="form-control" id="inputName"   placeholder="Asset Name">
                              </div>
                            </div>

                              <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >Asset Description</label>
                              <div class="col-sm-10">
                                <input  ng-model="newAsset.assetDescription" type="text" class="form-control" id="inputName"   placeholder="Asset Description">
                              </div>
                            </div>

                            <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >File</label>
                              <div class="col-sm-10">
                                <input file-model="newAsset.assetFile" type="file" class="form-control" id="inputName"    >
                              </div>
                            </div>


                              <div class="col-sm-offset-2 col-sm-10">
                                <button  id="createButton" type="submit" class="btn btn-success" ng-click ="addAsset()"  ng-disabled="!(newAsset.assetName)" >Create Asset <span class="glyphicon glyphicon-ok-sign"></span></button>
                              </div>


                                      



                          
                          </form>

</div>
</div>


  <!-- Notification growls -->
  <div class='notifications top-right-modal'></div>
  <div class='notifications top-left-modal'></div>

  		   <div class="clearfix col-md-9">
           <input ng-model="search" type='text' placeholder='Search an asset...' class='form-control search-asset' />
           </div>


  <div class="clearfix col-md-3">  
    <ul class="nav nav-pills pull-right nav-layout">


      <li ng-class="{'active':mode==1}" title="list"><a href="" ng-click="mode=1"><i class="fa fa-list fa-2x"></i></a></li>
      <li ng-class="{'active':mode==2}" title="thumbs"><a href="" ng-click="mode=2"><i class="fa fa-th fa-2x"></i></a></li>
      <li ng-class="{'active':mode==3}" title="big thumbs"><a href="" ng-click="mode=3"><i class="fa fa-th-large fa-2x"></i></a></li>
    </ul>
    </div>

    <hr>
  <div class="container" id="userList">
    <div class="row">
      <div dir-paginate-start="asset in assets |filter:search |itemsPerPage: 10   "  ng-class="{'col-xs-4':mode==1, 'col-xs-3':mode==2, 'col-xs-6':mode==3}">
        <div class="well">
          <a href=""  ng-click="selectAsset(asset.urlAsset)" ><img src="cms_assets/thumbnails/{{asset.urlAsset}}" class="img-responsive"></a>
          <h3 class="cap" ng-hide="mode==1">{{asset.nameAsset}}</h3><p>File : {{asset.urlAsset}}</p>
          <p ng-show="mode==3">
                     Description : {{asset.descriptionAsset}}<br> Size : {{Math.round(asset.sizeAsset/1024)}} KB <br>Type : {{asset.typeAsset}}<br>
                File : {{asset.urlAsset}}
          </p>
        </div>
      </div>
      <div ng-class="{'col-xs-8':mode==1, 'col-xs-6':mode==3}" ng-hide="mode==2||mode==3">
        <h2 class="cap">{{asset.nameAsset}}  <i ng-show="asset.typeAsset=='image'" class="fa fa-camera"></i></h2>
        <div class="row">
            <div class="col-sm-6">
              <p>
               Description : {{asset.descriptionAsset}}<br> Size : {{Math.round(asset.sizeAsset/1024)}} KB  <br>Type : {{asset.typeAsset}}<br>
                File : {{asset.urlAsset}}
              </p>
            </div>
            <div class="col-sm-6 text-right">
              <div class="hidden-xs">
                <a href="">{{u.user.email}}</a><br>
                <h3><span class="label label-primary">{{u.user.username}}</span></h3>
              </div>
            </div>
         </div>
      </div>
      <div dir-paginate-end="" ng-class="{'clearfix':mode==1}"></div>
      
    </div><!--/row-->
    <hr>
        <dir-pagination-controls template-url="js/directives/dirPagination.tpl.html"></dir-pagination-controls>
  </div><!--/container-->


        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>


    </script>

<div class="form-group"  > 
    <label class="col-sm-2 control-label" for="{{idInputElement}}"  >{{labelInput}}</label> 
        <div class="col-sm-10"> 
            <input type="text"  id="{{idInputElement}}" elementid="{{idInputElement}}" modal="{{ selected }}"  class="form-control dataInput select-picture"  region="{{regionInputElement}}"/><button ng-click="open('lg',idInputElement)" class="btn btn-success select-picture-button" >Select <span class="glyphicon glyphicon-camera"></span></button>
        </div>
   
</div>
<div class="form-group"  > 
     <label class="col-sm-2 control-label" for="{{idInputElement}}"  >{{labelInput}} Alt Tag</label> 
         <div class="col-sm-10"> 
            <input type="text"  id="{{idInputElement}}_alt" elementid="{{idInputElement}}_alt"   class="form-control dataInput"  region="{{regionInputElement}}"/>
        </div>
</div>

</div>
</div>
