<!DOCTYPE html>
<html>
<head>
    <title>Laravel/Angular CMS Test Dashboard</title>
</head>
<body>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/dashboard"><img alt="Brand" class='brand-logo' src="images/logopp-cms.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="#/dashboard">Pages </a></li>
        <li><a href="#/templates">Templates</a></li>
        <li><a href="#/assets">Assets</a></li>
        <li><a href="#/elements">Elements</a></li>



      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input ng-model="search.nameLanguage" type="text" class="form-control" placeholder="Search">


        </div>

                <div class="form-group">



</div>
      </form>
      <ul class="nav navbar-nav navbar-right" ng-controller="DashboardController">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Logged in as {{Data.name()}} ( {{Data.role()}} )<br><small> Last Login : {{Data.last_login()}}</small><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#/account">Account</a></li>
            <li><a ng-class="{'not-active':Data.role()!='Admin'}"  href="#/users">Users and Stats</a></li>
            <li><a ng-class="{'not-active':Data.role()!='Admin'}"  href="#/settings">Settings</a></li>
            <li class="divider"></li>
            <li><a ng-click='logout()'>Logout</a></li>
          </ul>



        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
            


              <div  class="col-md-12" >
  <div class='well'>
  <div class="panel panel-warning" >
  <div class="panel-heading">
    <h3 class="panel-title">My Account</h3>
  </div>
  <div class="panel-body">


                           <form class="form-horizontal">
                            <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >First Name</label>
                              <div class="col-sm-10">
                                <input  ng-model="myaccount.first_name" type="text" class="form-control" id="inputName" required   placeholder="Firstname">
                              </div>
                            </div>

                             <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >Last Name</label>
                              <div class="col-sm-10">
                                <input  ng-model="myaccount.last_name" type="text" class="form-control" id="inputName" required   placeholder="Lastname">
                              </div>
                            </div>
                                                 <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >Email Address</label>
                              <div class="col-sm-10">
                                <input  ng-model="myaccount.email" type="email" class="form-control" id="inputName"  required  placeholder="Email Address">
                              </div>
                            </div>
                                                 <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >User Name</label>
                              <div class="col-sm-10">
                                <input  ng-model="myaccount.username" type="text" class="form-control" id="inputName"  required  placeholder="Username">
                              </div>
                            </div>
                                                 <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >Password</label>
                              <div class="col-sm-10">
                                <input  ng-model="myaccount.password" type="password" class="form-control" id="inputName"  required  placeholder="Password">
                              </div>
                            </div>


                              <div class="col-sm-offset-2 col-sm-10">
                                <button  id="editButton" type="submit" class="btn btn-success" ng-click ="editAccount()" >Edit <span class="glyphicon glyphicon-ok-sign"></span></button>
                              </div>
                          </form>
</div>

</div>


</div>
               <div >
                                <button  id="newUser" type="submit" class="btn btn-success" ng-click ="setNew(true)" ng-show="edit==true"  >New User <span class="glyphicon glyphicon-plus"></span></button>
                              </div>
</div>
</div>

           
  <!-- Notification growls -->
  <div class='notifications top-right'></div>
  <div class='notifications top-left'></div>






</body>
</html>

