<!DOCTYPE html>
<html>
<head>
    <title>Laravel/Angular CMS Test Dashboard</title>
</head>
<body>
    <div >


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/dashboard"><img alt="Brand" class='brand-logo' src="images/logopp-cms.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="#/dashboard">Pages</a></li>
        <li><a href="#/templates">Templates</a></li>
        <li class="active" ><a href="#/assets">Assets <span class="sr-only">(current)</span></a></li>
        <li><a href="#/elements">Elements</a></li>



      </ul>
      <form class="navbar-form navbar-left" role="search">

      </form>
      <ul class="nav navbar-nav navbar-right" ng-controller="DashboardController" >
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Logged in as {{Data.name()}} ( {{Data.role()}} )<br><small> Last Login : {{Data.last_login()}}</small><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#/account">Account</a></li>
            <li><a ng-class="{'not-active':Data.role()!='Admin'}"  href="#/users">Users and Stats</a></li>
            <li><a ng-class="{'not-active':Data.role()!='Admin'}"  href="#/settings">Settings</a></li>
            <li class="divider"></li>
            <li><a ng-click='logout()'>Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
<i class="fa fa-spin fa-refresh fa-3x" id="loader"></i>
<div class="container" > 
  <!-- <input type="file" id="pictureFile" hidden>-->








    <div ng-controller="AssetsController" class="panel panel-primary" >
  <div class="panel-heading">
    <h3 class="panel-title">Add a new Asset</h3>
  </div>
  <div class="panel-body" hidden>


                            <form class="form-horizontal">
                            <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >Asset Name</label>
                              <div class="col-sm-10">
                                <input  ng-model="newAsset.assetName" type="text" class="form-control" id="inputName"   placeholder="Asset Name">
                              </div>
                            </div>

                              <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >Asset Description</label>
                              <div class="col-sm-10">
                                <input  ng-model="newAsset.assetDescription" type="text" class="form-control" id="inputName"   placeholder="Asset Description">
                              </div>
                            </div>

                            <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >File</label>
                              <div class="col-sm-10">
                                <input file-model="newAsset.assetFile" type="file" class="form-control" id="inputName"    >
                              </div>
                            </div>


                              <div class="col-sm-offset-2 col-sm-10">
                                <button  id="createButton" type="submit" class="btn btn-success" ng-click ="addAsset()"  ng-disabled="!(newAsset.assetName)" >Create Asset <span class="glyphicon glyphicon-ok-sign"></span></button>
                              </div>
                          </form>

</div>
</div>

  <!-- Notification growls -->
  <div class='notifications top-right-modal'></div>
  <div class='notifications top-left-modal'></div>

         <div class="clearfix col-md-9">
           <input ng-model="search.nameAsset" type='text' placeholder='Search an asset...' class='form-control search-asset' />
           </div>


  <div class="clearfix col-md-3">  
    <ul class="nav nav-pills pull-right nav-layout">


      <li ng-class="{'active':mode==1}" title="list"><a href="" ng-click="mode=1"><i class="fa fa-list fa-2x"></i></a></li>
      <li ng-class="{'active':mode==2}" title="thumbs"><a href="" ng-click="mode=2"><i class="fa fa-th fa-2x"></i></a></li>
      <li ng-class="{'active':mode==3}" title="big thumbs"><a href="" ng-click="mode=3"><i class="fa fa-th-large fa-2x"></i></a></li>
    </ul>
    </div>

    <hr>




  <div class="container" id="userList">
    <div class="row">
      <div dir-paginate-start="asset in assets | filter:search  | itemsPerPage: 10 "  ng-class="{'col-xs-4':mode==1, 'col-xs-3':mode==2, 'col-xs-6':mode==3}">
        <div class="well assetSquare" ng-controller="AssetsController" >
      <button class="btn btn-default btn-danger" type="button" ng-disabled="Data.role()=='Editor'" ng-click="deleteAssetOpen('sm',asset.idAsset)">
      <span class="glyphicon glyphicon-minus-sign"></span> </button>
      <button class="btn btn-default btn-warning" type="button" ng-disabled="Data.role()=='Editor'" ng-click="setEditAsset('bg',asset)">
        <span class="glyphicon glyphicon-pencil"></span> </button>


          
          <a href=""   ><img src="cms_assets/thumbnails/{{asset.urlAsset}}" class="img-responsive"></a>
          <h3 class="cap" ng-hide="mode==1">{{asset.nameAsset}}</h3><p>File : {{asset.urlAsset}}</p>
          <p ng-show="mode==3">
                     Description : {{asset.descriptionAsset}}<br> Size : {{Math.round(asset.sizeAsset/1024)}} KB  <br>Type : {{asset.typeAsset}}<br>
                File : {{asset.urlAsset}}
          </p>
        </div>
      </div>
      <div ng-class="{'col-xs-8':mode==1, 'col-xs-6':mode==3}" ng-hide="mode==2||mode==3">
        <h2 class="cap">{{asset.nameAsset}}  <i ng-show="asset.typeAsset=='image'" class="fa fa-camera"></i></h2>
        <div class="row">
            <div class="col-sm-6">
              <p>
               Description : {{asset.descriptionAsset}}<br> Size : {{Math.round(asset.sizeAsset/1024)}} KB <br>Type : {{asset.typeAsset}}<br>
                File : {{asset.urlAsset}}
              </p>
            </div>
            <div class="col-sm-6 text-right">
              <div class="hidden-xs">
                <a href="">{{u.user.email}}</a><br>
                <h3><span class="label label-primary">{{u.user.username}}</span></h3>
              </div>
            </div>
         </div>
      </div>
      <div dir-paginate-end="" ng-class="{'clearfix':mode==1}"></div>
      
    </div><!--/row-->
    <hr>

    <dir-pagination-controls template-url="js/directives/dirPagination.tpl.html"></dir-pagination-controls>
  </div><!--/container-->


<!-- Delete Modal Box -->
<div ng-controller="ModalController">
    <script type="text/ng-template" id="deleteAssetModal.html" >
        <div class="modal-header">
            <h3 class="modal-title">Delete an Asset</h3>
        </div>
        <div class="modal-body">

        <p>Are you sure that you want to delete this Asset ? </p>

        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">No</button>
                        <button class="btn btn-danger" ng-click="deleteAsset()">Yes </button>

        </div>
        </script>




<!-- Edit Modal Box -->
<div ng-controller="ModalController">
    <script type="text/ng-template" id="editAssetModal.html" >
        <div class="modal-header">
            <h3 class="modal-title">Edit an Asset</h3>
        </div>
        <div class="modal-body">

          <form class="form-horizontal">
                            <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >Name</label>
                              <div class="col-sm-10">
                                <input  ng-model="asset.nameAsset" type="text" class="form-control" id="inputName"   placeholder="Name">
                              </div>
                            </div>

                              <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >Description</label>
                              <div class="col-sm-10">
                                <input  ng-model="asset.descriptionAsset" type="text" class="form-control" id="inputName"   placeholder="Description">
                              </div>
                            </div>

                            <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >File</label>
                              <div class="col-sm-10">
                                <input file-model="asset.assetFile" type="file" class="form-control" id="inputName"    >
                              </div>
                            </div>
                          </form>

        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                        <button class="btn btn-success" ng-click="editAsset()">Edit Asset </button>

        </div>
</script>

