<!DOCTYPE html>
<html>
<head>
  <title>Laravel/Angular CMS Dashboard</title>
</head>
<body>


  <div ng-controller="ElementController" >

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/dashboard"><img alt="Brand" class='brand-logo' src="images/logopp-cms.png"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#/dashboard">Pages</a></li>
            <li><a href="#/templates">Templates</a></li>
            <li><a href="#/assets">Assets</a></li>
            <li class="active"><a href="#/elements">Elements<span class="sr-only">(current)</span></a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right" ng-controller="ElementController" >
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Logged in as {{Data.name()}} ( {{Data.role()}} )<br><small> Last Login : {{Data.last_login()}}</small><span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#/account">Account</a></li>
                <li><a ng-class="{'not-active':Data.role()!='Admin'}"  href="#/users">Users and Stats</a></li>
                <li><a ng-class="{'not-active':Data.role()!='Admin'}"  href="#/settings">Settings</a></li>
                <li class="divider"></li>
                <li><a ng-click='logout()'>Logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="col-md-12">
      <nav class="navbar navbar-default">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="dropdown" style='float:left;'>
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            {{currentElementName}} 
            <span class="caret"></span>
          </button>


          <script type="text/javascript">
//jQuery for preventing default on page search
$('.dropdown-menu input,select').click(function(e){
  e.stopPropagation();
});
</script>
<ul   class="dropdown-menu page-dropdown" role="menu" aria-labelledby="dropdownMenu1">
 <div class="col-sm-6">

  <input ng-model="search.nameElement" type='text' class='form-control page-search' placeholder='Element Name...'/>
</div>

<div class="col-sm-6">


  <select  id='searchTemplate' ng-model="search.idTemplate" type='select' class='form-control page-search'  ng-options="t.idTemplate as t.nameTemplate for t in templates" ng-init="search.idTemplate = templates[1].nameTemplate" >

  </select>


</div>
<li ng-repeat="element in elements | filter:search" role="presentation"><a role="menuitem" tabindex="-1"  ng-click="setElement(element.urlElement,element.nameElement,element.idElement);" >{{element.nameElement}} </a></li>

</ul>
</div>

<div class="dropdown" style='float:left;'>
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    {{currentLanguageName}} 
    <span class="caret"></span>
  </button>
  <ul  class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li ng-repeat="language in languages" role="presentation"><a role="menuitem" tabindex="-1" ng-click="getLanguage(currentElementId,language.idLanguage,language.nameLanguage);" >{{language.nameLanguage}} </a></li>


  </ul>
</div>
<div class="dropdown" style='float:left;'>


  <button class="btn btn-default btn-success" type="button"  ng-click="setAdd(true);">
    New Element <span class="glyphicon glyphicon-plus-sign"></span> 
    
  </button>

  <button class="btn btn-default btn-danger" type="button" ng-disabled="!(currentElementId)||Data.role()=='Editor'" ng-click="deleteElement('sm',currentElementId)">
    Delete Element <span class="glyphicon glyphicon-minus-sign"></span> 
    
  </button>
</div>
</nav>

</div> 





<div  class="col-md-12" style='height:1100px'>
  <div id='add-form' ng-show='add==true' class='well well-lg resize'>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">New Element Configuration</h3>
      </div>
      <div class="panel-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label" >Element Name</label>
            <div class="col-sm-10">
              <input  ng-model="newElement.elementName" type="text" class="form-control" id="inputName"    placeholder="Element Name">
            </div>
          </div>

                          <div class="form-group">
                            <label for="inputURL" class="col-sm-2 control-label">Element specific page URL </label>
                              <div class="col-sm-10">
                                <input ng-model="newElement.elementUrl1"   type="text" class="form-control" id="inputURL" placeholder="File name without extension">
                              </div>
                          </div>

                          <div class="form-group">
                             <label for="inputURL" class="col-sm-2 control-label">Tags</label>
                             <div class="col-sm-10">
                               <input name="tags-jquery-edit" id="tags-jquery-element" class='form-control' value="" />
                                 <script type="text/javascript">
                                     $('#tags-jquery-element').tagsInput();

                                 </script>
                            </div>
                          </div>

                         <div class="form-group">
                          <label for="inputURL" class="col-sm-2 control-label">Template</label>

                          <input ng-model="newElement.currentLanguage"  ng-init="newElement.currentLanguage=1" hidden >

                          <input type='text' ng-model="newElement.createdBy" ng-init="newElement.createdBy=Data.name()"  hidden >  
                          <div class="col-sm-10">
                            <select id='templateDropdown' ng-model="newElement.idTemplate" type='select' class='form-control'  ng-options="t.idTemplate as t.nameTemplate for t in templates"  ng-init="newElement.idTemplate = templates[1].nameTemplate" >

                            </select>
                          </div>
                        </div>

                        <div class="form-group">
                              <div class="col-sm-offset-2 col-sm-10">
                               <button ng-show='add==true' id="createButton" type="submit" class="btn btn-success" ng-click ="validateElement()"  ng-disabled="!(newElement.idTemplate)" >Create Element <span class="glyphicon glyphicon-ok-sign"></span></button>
                           </div>

                        </div>
                      </form>

                    </div>
                  </div>


                  <!-- New Element input fields -->
                  <div id='formTemplate' ng-include src="templateContent" > </div> 
                  <!--  -->






                </div>

                <div class="col-sm-offset-2 col-sm-10">
                  <button ng-show='add==true' id="createButton" type="submit" class="btn btn-success" ng-click ="createElement()"  ng-disabled="!(newElement.idTemplate)" >Add Content <span class="glyphicon glyphicon-ok-sign"></span></button>
                </div>






                <div ng-show='edit==true' class='well well-lg resize' ng-src="{{currentElementUrl}}">




                  <div class="panel panel-primary">
                    <div class="panel-heading">
                      <h3 class="panel-title">Edit Element Configuration</h3>
                    </div>
                    <div class="panel-body">




                      <form class="form-horizontal">
                        <div class="form-group">
                          <label for="inputName" class="col-sm-2 control-label" >Element Name</label>
                          <div class="col-sm-10">
                            <input  ng-model="editConfig.nameElement" type="text" class="form-control" id="inputName"   placeholder="Element Name">
                          </div>
                        </div>
                        
                          <div class="form-group">
                            <label for="inputURL" class="col-sm-2 control-label">Question specific page URL</label>
                              <div class="col-sm-10">
                                <input ng-model="editConfig['urlElement']"   type="text" class="form-control" id="inputURL" placeholder="File name without extension">
                              </div>
                          </div>

             <!--        
                          <div class="form-group">
                             <label for="inputURL" class="col-sm-2 control-label">Tags</label>
                             <div class="col-sm-10">
                                   <tags-input  display-property='namePage'  ng-model="tags"  replace-spaces-with-dashes='false'>
                                     <auto-complete source="loadTags($query)"
                                           min-length="1"
                                           max-results-to-show="32"
                                           >
                                    </auto-complete>
                               </tags-input>
                            </div>
                          </div> -->
                             <div class="form-group">
                             <label for="inputURL" class="col-sm-2 control-label">Tags</label>
                               <div class="col-sm-10">
                                  <input name="tags-jquery-element-edit" id="tags-jquery-element-edit" class='form-control' value="" />
                                 <script type="text/javascript">
                                    $('#tags-jquery-element-edit').tagsInput();
                                 </script>
                              </div>
                              </div>

                            <div class="col-sm-12">
                                 <p class="help-block text-right"><strong>Last Edited by :</strong> {{editConfig.createdBy}} <strong>at</strong> {{editConfig.updated_at}}</p>
                              </div>

                         <div class="form-group">
                           <input ng-model="editConfig.currentLanguage"  ng-init="editConfig.currentLanguage=1" hidden >

                           <input type='text' ng-model="editConfig.createdBy" ng-init="editConfig.createdBy=Data.name()"  hidden >  
                         </div>
                         
                         <div class="form-group">

                         </div>




                       </form>




                     </div>
                   </div>


                   <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">Element Content</h3>
                    </div>
                    <div class="panel-body">




                     <form id='edit-form' class="form-horizontal">



                      <div id='formTemplate' ng-include src="templateContentEdit" > </div> 

                    </form>

                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-success" ng-click ="editElement()"   >Save Changes <span class="glyphicon glyphicon-ok-sign"></span></button>
                    </div>


                  </div>
                </div>
              </div>

        


          </div>


          <!-- Notification growls -->
          <div class='notifications top-right'></div>
          <div class='notifications top-left'></div>





          <!-- Delete Modal Box -->
          <div ng-controller="ModalController">
            <script type="text/ng-template" id="deleteModal.html" >
            <div class="modal-header">
            <h3 class="modal-title">Delete an Element</h3>
            </div>
            <div class="modal-body">

            <p>Are you sure that you want to delete the actual element ? </p>

            <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">No</button>
            <button class="btn btn-danger" ng-click="deleteElement()">Yes </button>

            </div>






            </body>
            </html>

