<div class='login-container'>
<div id="login" class="col-md-6 centered">

		<img src='images/logopp-cms.png'  />
		<hr>

<div id="login-form">
<form  ng-model="loginData" ng-submit="loginSubmit()" >

<div class="form-group"><input id="username" type="text" class='form-control'  ng-model="loginData.username" placeholder='Username'/></div>
<!--password-->
<div class="form-group"><input id="password" type="password" class='form-control'  ng-model="loginData.password" placeholder='Password'/></div>
<!--submit-->
<div class="form-group"><button class="btn btn-success pull-right" type="submit"  >Login</button></div>
</form></div>
</div>
</div>