<!DOCTYPE html>
<html>
<head>
    <title>Laravel/Angular CMS Test Dashboard</title>
</head>
<body>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/dashboard"><img alt="Brand" class='brand-logo' src="images/logopp-cms.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="#/dashboard">Pages </a></li>
        <li><a href="#/templates">Templates</a></li>
        <li><a href="#/assets">Assets</a></li>
        <li><a href="#/elements">Elements</a></li>



      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input ng-model="search.nameLanguage" type="text" class="form-control" placeholder="Search">


        </div>

                <div class="form-group">



</div>
      </form>
      <ul class="nav navbar-nav navbar-right" ng-controller="DashboardController">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Logged in as {{Data.name()}} ( {{Data.role()}} )<br><small> Last Login : {{Data.last_login()}}</small><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#/account">Account</a></li>
            <li><a href="#/users">Users and Stats</a></li>
            <li><a href="#/settings">Settings</a></li>
            <li class="divider"></li>
            <li><a ng-click='logout()'>Logout</a></li>
          </ul>



        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    

  <div  class="col-md-6">


  <div class='well'>
    <div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Brands</h3>
  </div>
  <div class="panel-body">



        <table class="table table-striped">
            <tr>
                <th></th>
                <th></th>
                <th>Brand Name</th>
                <th>Brand Domain</th>
                <th>Brand Folder Name</th>
                <th>Created by</th>
            </tr>
            <tr ng-repeat="brand in brands">
                <td><button class="btn btn-success btn-xs" ng-click="setEdit2(brand.idBrand,true);">Edit</button></td>
                <td><button class="btn btn-danger btn-xs" ng-click="removeBrand(brand.idBrand);">Delete</button></td>
                <td>{{brand.nameBrand}}</td>
                <td>{{brand.domainBrand}}</td>
                <td>{{brand.folderBrand}}</td>
                <td>{{brand.createdBy}}</td>
            </tr>
        </table>
        </div>
</div>
</div>
</div>
</div>
<!-- Brands -->
 <div  class="col-md-6" >
  <div class='well'>
    <div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Add a new Brand</h3>
  </div>
  <div class="panel-body">


                            <form class="form-horizontal">
                            <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >Brand Name</label>
                              <div class="col-sm-10">
                                <input  ng-model="newBrand.brandName" type="text" class="form-control" id="inputName"   placeholder="Brand Name">
                              </div>
                            </div>

                             <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >Brand Folder Name</label>
                              <div class="col-sm-10">
                                <input  ng-model="newBrand.brandFolder" type="text" class="form-control" id="inputName"   placeholder="Brand Folder Name">
                              </div>
                            </div>

                              <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >Brand Domain</label>
                              <div class="col-sm-10">
                                <input  ng-model="newBrand.brandDomain" ng-init='newBrand.brandDomain="http://"' type="text" class="form-control" id="inputName" style='text-transform: lowercase;'  placeholder="Brand Domain">
                              </div>
                            </div>

                               <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >Brand Languages</label>
                          <div class="col-sm-10">
                            <div ng-repeat="language in languages ">
                                <input  ng-model="newBrand['brandLanguages'+(language.idLanguage)]"  type="checkbox"    >{{language.nameLanguage}}
                                <input  ng-model="newBrand['defaultLanguage'+(language.idLanguage)]"  type="Radio" name='defaultLanguage'  ng-value="true"  >Default Language
                              </div>
                            </div>
                          </div>
                              <input type='text' ng-model="newBrand.createdBy" ng-init="newBrand.createdBy=Data.name()"  hidden >  
                              <div class="col-sm-offset-2 col-sm-10">
                                <button  id="createBrandButton" type="submit" class="btn btn-success" ng-click ="createBrand()"  ng-disabled="!(newBrand.brandName)" >Create Brand <span class="glyphicon glyphicon-ok-sign"></span></button>
                              </div>
                          </form>

</div>
</div>


  <div class="panel panel-warning" ng-show="edit2==true" >
  <div class="panel-heading">
    <h3 class="panel-title">Edit a Brand</h3>
  </div>
  <div class="panel-body">


                            <form class="form-horizontal">
                            <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >Brand Name</label>
                              <div class="col-sm-10">
                                <input  ng-model="editBrand.nameBrand" type="text" class="form-control" id="inputName"   placeholder="Brand Name">
                              </div>
                            </div>

                                               <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >Brand Folder Name</label>
                              <div class="col-sm-10">
                                <input  ng-model="editBrand.folderBrand" type="text" class="form-control" id="inputName"   placeholder="Brand Folder Name">
                              </div>
                            </div>


                                               <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >Brand Domain</label>
                              <div class="col-sm-10">
                                <input  ng-model="editBrand.domainBrand" type="text" class="form-control" id="inputName"   placeholder="Brand Domain">
                              </div>
                            </div>
                            <div class="col-sm-offset-2 col-sm-10">
                                <button  id="createButton" type="submit" class="btn btn-success" ng-click ="brandEdit()"  ng-disabled="!(editBrand.nameBrand)" >Edit Brand <span class="glyphicon glyphicon-ok-sign"></span></button>
                            </div>

                          </form>
</div>
</div>
</div>
</div>
</div>          
  

<!-- End Brands -->




<!-- Languages -->

  <div  class="col-md-6">


  <div class='well'>
    <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Languages</h3>
  </div>
  <div class="panel-body">



        <table class="table table-striped">
            <tr>
                <th></th>
                <th></th>
                <th>Title</th>
                <th>Language Prefix</th>

            </tr>
            <tr ng-repeat="language in languages | filter:search">
                <td><button class="btn btn-success btn-xs" ng-click="setEdit(language.idLanguage,true);">Edit</button></td>
                <td><button class="btn btn-danger btn-xs" ng-click="removeLanguage(language.idLanguage);">Delete</button></td>
                <td>{{language.nameLanguage}}</td>
                <td>{{language.prefix}}</td>

            </tr>
        </table>
        </div>
</div>
</div>
</div>
</div>

  <div  class="col-md-6" >
  <div class='well'>
    <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Add a new Language</h3>
  </div>
  <div class="panel-body">


                            <form class="form-horizontal">
                            <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >Language Name</label>
                              <div class="col-sm-10">
                                <input  ng-model="newLanguage.languageName" type="text" class="form-control" id="inputName"   placeholder="Language Name">
                              </div>
                            </div>

                             <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >Language Prefix</label>
                              <div class="col-sm-10">
                                <input  ng-model="newLanguage.languageURL" type="text" class="form-control" id="inputName" style='text-transform: lowercase;'  placeholder="Language URL">
                              </div>
                            </div>

                                  <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >Language Domain</label>
                              <div class="col-sm-10">
                                <input  ng-model="newLanguage.languageDomain" ng-init='newLanguage.languageDomain="http://"' type="text" class="form-control" id="inputName" style='text-transform: lowercase;'  placeholder="Language Domain">
                              </div>
                            </div>


                              <div class="col-sm-offset-2 col-sm-10">
                                <button  id="createButton" type="submit" class="btn btn-success" ng-click ="createLanguage()"  ng-disabled="!(newLanguage.languageName)" >Create Language <span class="glyphicon glyphicon-ok-sign"></span></button>
                              </div>
                          </form>

</div>
</div>


  <div class="panel panel-primary" ng-show="edit==true" >
  <div class="panel-heading">
    <h3 class="panel-title">Edit a Language</h3>
  </div>
  <div class="panel-body">


                            <form class="form-horizontal">
                            <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >Language Name</label>
                              <div class="col-sm-10">
                                <input  ng-model="editLanguage.nameLanguage" type="text" class="form-control" id="inputName"   placeholder="Language Name">
                              </div>
                            </div>

                                               <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >Language Prefix</label>
                              <div class="col-sm-10">
                                <input  ng-model="editLanguage.prefix" type="text" class="form-control" id="inputName"   placeholder="Language URL">
                              </div>
                            </div>


                                               <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >Language Domain</label>
                              <div class="col-sm-10">
                                <input  ng-model="editLanguage.domainLanguage" type="text" class="form-control" id="inputName"   placeholder="Language Domain">
                              </div>
                            </div>

           

                              <div class="col-sm-offset-2 col-sm-10">
                                <button  id="createButton" type="submit" class="btn btn-success" ng-click ="languageEdit()"  ng-disabled="!(editLanguage.nameLanguage)" >Edit Language <span class="glyphicon glyphicon-ok-sign"></span></button>
                              </div>

                          </form>
</div>
</div>
</div>
</div>
</div>
<!-- End Languages -->

           
  <!-- Notification growls -->
  <div class='notifications top-right'></div>
  <div class='notifications top-left'></div>






</body>
</html>

