<!DOCTYPE html>
<html>
<head>
    <title>Laravel/Angular CMS Test Dashboard</title>
</head>
<body>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/dashboard"><img alt="Brand" class='brand-logo' src="images/logopp-cms.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="#/dashboard">Pages </a></li>
        <li class="active"><a href="#/templates">Templates<span class="sr-only">(current)</span></a></li>
        <li><a href="#/assets">Assets</a></li>
        <li><a href="#/elements">Elements</a></li>



      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input ng-model="search.nameTemplate" type="text" class="form-control" placeholder="Search">


        </div>

                <div class="form-group">

 <div class="dropdown" style='float:left;'>
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        {{currentLanguageName}} 
    <span class="caret"></span>
  </button>
  <ul  class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li ng-repeat="language in languages" role="presentation"><a role="menuitem" tabindex="-1" ng-click="getLanguage(language.nameLanguage,language.idLanguage);" >{{language.nameLanguage}} </a></li>
  </ul>
</div>

 <div class="dropdown" style='float:left;'>
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        {{currentBrandName}} 
    <span class="caret"></span>
  </button>
    <ul  class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li ng-repeat="brand in brands" role="presentation"><a role="menuitem" tabindex="-1" ng-click="getBrand(brand.nameBrand,brand.idBrand);" >{{brand.nameBrand}} </a></li>
  </ul>
</div>


</div>
      </form>
      <ul class="nav navbar-nav navbar-right" ng-controller="DashboardController" >
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Logged in as {{Data.name()}} ( {{Data.role()}} )<br><small> Last Login : {{Data.last_login()}}</small><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#/account">Account</a></li>
         <li><a ng-class="{'not-active':Data.role()!='Admin'}"  href="#/users">Users and Stats</a></li>
            <li><a ng-class="{'not-active':Data.role()!='Admin'}"  href="#/settings">Settings</a></li>
            <li class="divider"></li>
            <li><a ng-click='logout()'>Logout</a></li>
          </ul>



        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
            

  <div  class="col-md-6">


  <div class='well'>
    <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Templates</h3>
  </div>
  <div class="panel-body ">
    <div class="table-responsive" style='overflow-x:auto;'>
      <table class="table">
          <tr>
              <th></th>
              <th></th>
              <th>Title</th>
              <th>Template URL</th>
              <th>Inputs Template URL</th>
              <th>Type</th>

          </tr>
          <tr ng-repeat="template in templates | filter:search">
              <td><button class="btn btn-success btn-xs" ng-click="setEdit(template.idTemplate,true);" ng-disabled="Data.role()=='Editor'">Edit</button></td>
              <td><button class="btn btn-danger btn-xs" ng-click="removeTemplate(template.idTemplate);" ng-disabled="Data.role()=='Editor'">Delete</button></td>
              <td>{{template.nameTemplate}}</td>
              <td>{{template.urlTemplate}}</td>
              <td>{{template.inputsTemplate}}</td>
              <td>{{template.type}}</td>
          </tr>
      </table>
    </div>
  </div>
</div>
</div>
</div>
</div>

              <div  class="col-md-6" >
  <div class='well'>




    <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Add a new template</h3>
  </div>
  <div class="panel-body">


                            <form class="form-horizontal">
                            <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >Template Name</label>
                              <div class="col-sm-10">
                                <input  ng-model="newTemplate.templateName" type="text" class="form-control" id="inputName"   placeholder="Template Name">
                              </div>
                            </div>

                            <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >Template file</label>
                              <div class="col-sm-10">
                                <input  file-model="newTemplate.templateFile" type="file" class="form-control" id="inputName"    placeholder="Select the template file">
                              </div>
                            </div>

                               <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >Inputs template file</label>
                              <div class="col-sm-10">
                                <input  file-model="newTemplate.inputsFile" type="file" class="form-control" id="inputName"   placeholder="Select inputs template file">
                              </div>
                            </div>

                                     <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >Type</label>
                              <div class="col-sm-10">
                                <select  ng-model="newTemplate.typeTemplate" type="text" class="form-control" id="inputName" >
                                    <option>Page</option>
                                    <option>Element</option>
                                </select>
                              </div>
                            </div>


                              <div class="col-sm-offset-2 col-sm-10">
                                <button  id="createButton" type="submit" class="btn btn-success" ng-click ="createTemplate()"  ng-disabled="!(newTemplate.templateName)" >Create Template <span class="glyphicon glyphicon-ok-sign"></span></button>
                              </div>
                          </form>

</div>
</div>


  <div class="panel panel-primary" ng-show="edit==true" >
  <div class="panel-heading">
    <h3 class="panel-title">Edit a template</h3>
  </div>
  <div class="panel-body">


                            <form class="form-horizontal">
                            <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >Template Name</label>
                              <div class="col-sm-10">
                                <input  ng-model="editTemplate.nameTemplate" type="text" class="form-control" id="inputName"   placeholder="Template Name">
                              </div>
                            </div>

                            <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >Template file</label>
                              <div class="col-sm-10">
                                <input  file-model="editTemplate.urlTemplate" type="file" class="form-control" id="inputName"    placeholder="Template file">
                              </div>
                            </div>

                               <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >Inputs template file</label>
                              <div class="col-sm-10">
                                <input  file-model="editTemplate.inputsTemplate" type="file" class="form-control" id="inputName"   placeholder="Inputs template file">
                              </div>
                            </div>

                              <div class="col-sm-offset-2 col-sm-10">
                                <button  id="createButton" type="submit" class="btn btn-success" ng-click ="templateEdit()"  ng-disabled="!(editTemplate.nameTemplate)" >Edit Template <span class="glyphicon glyphicon-ok-sign"></span></button>
                              </div>

                          </form>
</div>
</div>
</div>
</div>
</div>

           
  <!-- Notification growls -->
  <div class='notifications top-right'></div>
  <div class='notifications top-left'></div>






</body>
</html>

