<!DOCTYPE html>
<html>
<head>
    <title>Laravel/Angular CMS Test Dashboard</title>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/dashboard"><img alt="Brand" class='brand-logo' src="images/logopp-cms.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="#/dashboard">Pages </a></li>
        <li><a href="#/templates">Templates</a></li>
        <li><a href="#/assets">Assets</a></li>
        <li><a href="#/elements">Elements</a></li>



      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input ng-model="search.nameLanguage" type="text" class="form-control" placeholder="Search">


        </div>

                <div class="form-group">



</div>
      </form>
      <ul class="nav navbar-nav navbar-right" ng-controller="DashboardController">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Logged in as {{Data.name()}} ( {{Data.role()}} )<br><small> Last Login : {{Data.last_login()}}</small><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#/account">Account</a></li>
            <li><a href="#/users">Users and Stats</a></li>
            <li><a href="#/settings">Settings</a></li>
            <li class="divider"></li>
            <li><a ng-click='logout()'>Logout</a></li>
          </ul>



        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
            

  <div  class="col-md-12">


  <div class='well'>
    <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Users Stats</h3>
  </div>
  <div class="panel-body">



        <table class="table table-striped">
            <tr>
                <th></th>
                <th></th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Username</th>
                <th>Role</th>
                <th>Last Login</th>
                <th>N° Of Created Pages</th>




            </tr>
            <tr ng-repeat="user in users | filter:search">
                <td><button class="btn btn-success btn-xs" ng-click="setEdit(user.id,true);">Edit</button></td>
                <td><button class="btn btn-danger btn-xs" ng-click="removeUser(user.id);">Delete</button></td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.username}}</td>
                <td>{{user.role}}</td>
                <td>{{user.last_login}}</td>
                <td >{{user.pageCount}}</td>
            </tr>
        </table>
        </div>

        <div class='charts-holder'>
          <h3>Pages per User</h3>
          <canvas  id="doughnut" class="chart chart-doughnut"
            chart-data="numberPages" chart-labels="userNames" chart-legend="true">
          </canvas> 
          <p>Total Number of Pages : {{totalPages}}</p>
          <p>Total Number of Assets : {{totalAssetsNumber}}</p>
          <p>Total Number of Elements : {{totalElementsNumber}}</p>

        </div>
</div>


    <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Pages Stats</h3>
  </div>
  <div class="panel-body">

       <div class="col-sm-2">
            <input id='start' ng-model="startDate" type='text' class='form-control page-search' placeholder='Start Date'/>
      </div>
      <div class="col-sm-2">
            <input id='end' ng-model="endDate" type='text' class='form-control page-search' placeholder='End Date'/>
      </div>
      <script>
  $(function() {
    $( "#start" ).datepicker({
  dateFormat: "yy-mm-dd"
});
    $( "#end" ).datepicker({
  dateFormat: "yy-mm-dd"
});
  });
  </script>
      <div class="col-sm-2">
            <input ng-model="searchPages.createdBy" type='text' class='form-control page-search' placeholder='Created By...'/>
      </div>
      <div class="col-sm-2">
            <input ng-model="searchPages.namePage" type='text' class='form-control page-search' placeholder='Page Name...'/>
      </div>
      <div class="col-sm-2">
            <select  id='searchBrand' ng-model="searchPages.idBrand" type='select' class='form-control page-search'  ng-options="t.idBrand as t.nameBrand for t in brands" ng-init="search.idBrand = brands[1].nameBrand" >
            </select>
      </div>
            <div class="col-sm-1">
            <button type="submit" class="btn btn-success" ng-click ="getPagesByDate(startDate,endDate)"   >Get Pages Stats <span class="glyphicon glyphicon-ok-sign"></span></button>
      </div>
            <div class="col-sm-6">
              <p ng-show="pagesByDate.length"><b>Total Number of Pages with this filters: {{(pagesByDate|filter:searchPages).length}}<b></p>
            </div>

            <table class="table table-striped">

            <tr>
               <th>Page Name</th>
                <th>Page URL</th>
                <th>Created By</th>
                <th>Time Created</th>
                <th>Active</th>
                <th>Tags</th>
                <th>Edited / Activated By</th>
                <th>Time Edited</th>

            </tr>
            <tr ng-repeat="page in pagesByDate | filter:searchPages">
                <td>{{page.namePage}}</td>
                <td><a href='http://medlanes.com/cms/cms_pages/{{page.urlPage}}' target='_blank'>{{page.urlPage}}</a></td>
                <td>{{page.createdBy}}</td>
                <td>{{page.created_at}}</td>
                <td>{{page.active}}</td>
                <td>{{page.tags}}</td>
                <td>{{page.editedBy}}</td>
                <td>{{page.updated_at}}</td>

            </tr>
        </table>
         <p ng-show="!pagesByDate.length">There are no pages in this date range</p>
        </div>

</div>



<!-- Elements Stats -->

    <div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Elements Stats</h3>
  </div>
  <div class="panel-body">

       <div class="col-sm-2">
            <input id='startElement' ng-model="startDateElement" type='text' class='form-control page-search' placeholder='Start Date'/>
      </div>
      <div class="col-sm-2">
            <input id='endElement' ng-model="endDateElement" type='text' class='form-control page-search' placeholder='End Date'/>
      </div>
      <script>
  $(function() {
    $( "#startElement" ).datepicker({
  dateFormat: "yy-mm-dd"
});
    $( "#endElement" ).datepicker({
  dateFormat: "yy-mm-dd"
});
  });
  </script>
      <div class="col-sm-2">
            <input ng-model="searchElements.createdBy" type='text' class='form-control page-search' placeholder='Created By...'/>
      </div>
      <div class="col-sm-2">
            <input ng-model="searchElements.nameElement" type='text' class='form-control page-search' placeholder='Element Name...'/>
      </div>
      <div class="col-sm-2">
            <select  id='searchLanguage' ng-model="searchElements.idLanguage" type='select' class='form-control page-search'  ng-options="t.idLanguage as t.nameLanguage for t in languages" ng-init="searchElements.idLanguage = languages[1].nameElement" >
            </select>
      </div>
            <div class="col-sm-1">
            <button type="submit" class="btn btn-success" ng-click ="getElementsByDate(startDateElement,endDateElement)"   >Get Elements Stats <span class="glyphicon glyphicon-ok-sign"></span></button>
      </div>
            <div class="col-sm-6">
              <p ng-show="elementsByDate.length"><b>Total Number of Elements with this filters: {{(elementsByDate|filter:searchElements).length}}<b></p>
            </div>

            <table class="table table-striped">

            <tr>
               <th>Element Name</th>
                <th>Created By</th>
                <th>Time Created</th>
                <th>Tags</th>
                <th>Time Edited</th>

            </tr>
            <tr ng-repeat="element in elementsByDate | filter:searchElements">
                <td>{{element.nameElement}}</td>
                <td>{{element.createdBy}}</td>
                <td>{{element.created_at}}</td>
                <td>{{element.tags}}</td>            
                <td>{{element.updated_at}}</td>

            </tr>
        </table>
         <p ng-show="!elementsByDate.length">There are no elements in this date range</p>
        </div>

</div>



<!-- Assets Stats -->

    <div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Assets Stats</h3>
  </div>
  <div class="panel-body">

       <div class="col-sm-2">
            <input id='startAsset' ng-model="startDateAsset" type='text' class='form-control page-search' placeholder='Start Date'/>
      </div>
      <div class="col-sm-2">
            <input id='endAsset' ng-model="endDateAsset" type='text' class='form-control page-search' placeholder='End Date'/>
      </div>
      <script>
  $(function() {
    $( "#startAsset" ).datepicker({
  dateFormat: "yy-mm-dd"
});
    $( "#endAsset" ).datepicker({
  dateFormat: "yy-mm-dd"
});
  });
  </script>
      <div class="col-sm-2">
            <input ng-model="searchAssets.createdBy" type='text' class='form-control page-search' placeholder='Created By...'/>
      </div>
      <div class="col-sm-2">
            <input ng-model="searchAssets.descriptionAsset" type='text' class='form-control page-search' placeholder='Asset Description...'/>
      </div>

            <div class="col-sm-1">
            <button type="submit" class="btn btn-success" ng-click ="getAssetsByDate(startDateAsset,endDateAsset)"   >Get Assets Stats <span class="glyphicon glyphicon-ok-sign"></span></button>
      </div>
            <div class="col-sm-6">
              <p ng-show="assetsByDate.length"><b>Total Number of Assets with this filters: {{(assetsByDate|filter:searchAssets).length}}<b></p>
            </div>

            <table class="table table-striped">

            <tr>
               <th>Asset Name</th>
                <th>Time Created</th>
                <th>Description</th>
                <th>Time Edited</th>

            </tr>
            <tr ng-repeat="asset in assetsByDate | filter:searchAssets">
                <td>{{asset.nameAsset}}</td>
                <td>{{asset.created_at}}</td>
                <td>{{asset.descriptionAsset}}</td>            
                <td>{{asset.updated_at}}</td>

            </tr>
        </table>
         <p ng-show="!assetsByDate.length">There are no assets in this date range</p>
        </div>

</div>


</div>
</div>

</div>



              <div  class="col-md-12" >
  <div class='well'>




    <div class="panel panel-success" ng-show="add==true" >
  <div class="panel-heading">
    <h3 class="panel-title">Add a new User</h3>
  </div>
  <div class="panel-body">


                            <form class="form-horizontal">
                            <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >First Name</label>
                              <div class="col-sm-10">
                                <input  ng-model="newUser.firstName" type="text" class="form-control" id="inputName" required   placeholder="Firstname">
                              </div>
                            </div>

                             <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >Last Name</label>
                              <div class="col-sm-10">
                                <input  ng-model="newUser.lastName" type="text" class="form-control" id="inputName" required   placeholder="Lastname">
                              </div>
                            </div>
                                                 <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >Email Address</label>
                              <div class="col-sm-10">
                                <input  ng-model="newUser.email" type="email" class="form-control" id="inputName"  required  placeholder="Email Address">
                              </div>
                            </div>
                                                 <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >User Name</label>
                              <div class="col-sm-10">
                                <input  ng-model="newUser.username" type="text" class="form-control" id="inputName"  required  placeholder="Username">
                              </div>
                            </div>
                                                 <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >Password</label>
                              <div class="col-sm-10">
                                <input  ng-model="newUser.password" type="password" class="form-control" id="inputName"  required  placeholder="Password">
                              </div>
                            </div>

                                     <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >Role</label>
                              <div class="col-sm-10">
                                <select  ng-model="newUser.role" type="text" class="form-control" id="inputName" >
                                    <option>Admin</option>
                                    <option>Manager</option>
                                    <option class="nav-select">Editor</option>
                                </select>
                              </div>
                            </div>



                              <div class="col-sm-offset-2 col-sm-10">
                                <button  id="createButton" type="submit" class="btn btn-success" ng-click ="createUser()"  ng-disabled="!(newUser.username)" >Add User<span class="glyphicon glyphicon-ok-sign"></span></button>
                              </div>
                          </form>

</div>
</div>


  <div class="panel panel-warning" ng-show="edit==true" >
  <div class="panel-heading">
    <h3 class="panel-title">Edit a User</h3>
  </div>
  <div class="panel-body">


                           <form class="form-horizontal">
                            <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >First Name</label>
                              <div class="col-sm-10">
                                <input  ng-model="editUser.first_name" type="text" class="form-control" id="inputName" required   placeholder="Firstname">
                              </div>
                            </div>

                             <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >Last Name</label>
                              <div class="col-sm-10">
                                <input  ng-model="editUser.last_name" type="text" class="form-control" id="inputName" required   placeholder="Lastname">
                              </div>
                            </div>
                                                 <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >Email Address</label>
                              <div class="col-sm-10">
                                <input  ng-model="editUser.email" type="email" class="form-control" id="inputName"  required  placeholder="Email Address">
                              </div>
                            </div>
                                                 <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >User Name</label>
                              <div class="col-sm-10">
                                <input  ng-model="editUser.username" type="text" class="form-control" id="inputName"  required  placeholder="Username">
                              </div>
                            </div>
                                                 <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >Password</label>
                              <div class="col-sm-10">
                                <input  ng-model="editUser.password" type="password" class="form-control" id="inputName"  required  placeholder="Password">
                              </div>
                            </div>

                                     <div class="form-group">
                              <label for="inputName" class="col-sm-2 control-label" >Role</label>
                              <div class="col-sm-10">
                                <select  ng-model="editUser.role" type="text" class="form-control" id="inputName" >
                                    <option>Admin</option>
                                    <option>Manager</option>
                                    <option class="nav-select">Editor</option>
                                </select>
                              </div>
                            </div>



                              <div class="col-sm-offset-2 col-sm-10">
                                <button  id="editButton" type="submit" class="btn btn-success" ng-click ="editUserFunction()"  ng-disabled="!(editUser.username)" >Edit User<span class="glyphicon glyphicon-ok-sign"></span></button>
                              </div>
                          </form>
</div>

</div>


</div>
               <div >
                                <button  id="newUser" type="submit" class="btn btn-success" ng-click ="setNew(true)" ng-show="edit==true"  >New User <span class="glyphicon glyphicon-plus"></span></button>
                              </div>
</div>
</div>

           
  <!-- Notification growls -->
  <div class='notifications top-right'></div>
  <div class='notifications top-left'></div>





</body>
</html>

