/*RESETTER*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Globals*/

body,html{
	float:left;
}
body{
	line-height: 1.3em; font-family: Verdana, Helvetica,Arial,sans-serif;
	color:#333;
}
input,select,textarea{
	font-family: roboto, Helvetica, Arial, sans-serif;
}
b{
	font-weight: bold;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
.sub-wrap{
	width: 1024px;
	margin:0px auto;
}

.content{
	float:left;
	width: 100%;
}
input,textarea,select{
	border:1px solid #3f3f3f;
}

/*Header*/

header{
	float:left;
	width: 100%;
	height: 30px;
}

header a{
	float:right;
	font: 700 italic 18px Roboto, Arial, sans-serif;
	text-decoration: underline;
	color:#80deea;
	font-weight: bold;
	margin-top:4px;
	margin-right:10px;
}
header a:hover{
	text-decoration: underline;
}

.head a{
	float:left;
	display:block;
}
/*Privacy*/
.privacy {
 	min-height: 300px;
 	overflow-y: auto;
 	overflow-x: hidden;
}

/*Footer*/ 

footer{
	margin-top:10px;
	float:left;
	width: 100%;
	margin-bottom:0px;
	background: #0065a2;
	padding: 20px 0; 
	padding-top:25px;
}
footer .mini-wrap-two {
	width: 100%;
}
footer .mini-wrap-two .one {
	width: 250px;
	float: left;
}


footer a{
	text-decoration: none;
	color: rgba(255, 255, 255, 1);
}

footer a:hover{
	text-decoration: underline;
}

footer a{
	float:left;	
	color: rgba(255, 255, 255, 1);
	margin-right:35px;
	margin-left:10px;
	font-size:15px;
	font-family: Roboto, Arial, sans-serif;
}
footer a:last-of-type {
	margin-right: 0;
}
footer p{
	float:left;
	font-size:12px;
	color: #fff;
}
footer .mini-wrap-two {
	width: 930px;
	margin: 0 auto;
}
footer .mini-wrap-two .one li {
	width: 100%;
	display: inline-block;
}
footer .mini-wrap-two .one li a{
	font-size: 12px;
}
footer .mini-wrap-two .two {
	width: 200px;
}
footer h2{
	float:left;
	width: 100%;
	font-size:12px;
	text-align: center;
	color: rgba(95, 95, 95, 0.5);
}

.mini-wrap-one {
	margin:0px auto;
}

.head h1 {
  color: #b0bec5;
  font-weight: bold;
  float: left;
  margin-top: -13px;
  margin-left: 59px;
}

.support {
	font-family: roboto, sans-serif;
	font-size: 12px;
	color: #ffffff;
	float: left;
	text-align: left;
	margin-right:50px;
}

.supported {
	max-width: 200px;
	max-height: 85px;
	padding-left: 25px;
}

footer .mini-wrap-two .one .berlin {
	float: left;
	width: 100%;
	font-family: roboto, sans-serif;
	font-size: 12px;
	color: #ffffff;
	text-align: left;
}
footer .mini-wrap-two .one .berlin img {
	max-width: 35px;
	max-height: 40px;
	float: left;
	margin-right: 10px;
}
footer .mini-wrap-two .one .copyrigt {
	font-size: 12px;
	line-height: 45px;
}
.sub-content {
	padding: 30px 0;
}
/* header progress bar
-----------------------
*/
#checkoutprogress {
	background: #fff;
	height: 56px;
	position: relative;
	z-index: -1;
}
#progress {
	border-top: 1px solid #f2f2f2;
    max-width: 100%;
    width: 100%;
    height: 56px;
    padding: 0;
    clear: none;
    text-align: center;
    overflow: hidden;
}

#progress li {
    display: inline-block;
    padding: 15px 36px 15px 38px;
    background: #fff;
    position: relative;
    margin: 0 1px;
    text-align: left;
    max-width: 253px;
    color: #333;
    margin-left: -5px;
    text-indent: 7px;
}

#progress li i{
	display: inline-block;
	height: 34px;
    width: 34px;
    background: url(../images/icons/tab-icons.png) 0 0;
    float: left;
    margin-top: -6px;
    margin-right: 5px;
}
#progress li i.ask-queston-icon {
	background-position: -77px -34px;
}
#progress li i.add-info-icon {
	background-position: -1px -68px;
}
#progress li i.option-info-icon {
	background-position: -76px -102px;
}
#progress li i.answer-icon {
	background-position: -1px -1px;
}
#progress li:before,
#progress li:after {
    content: '';
    border-left: 28px solid #e6e6e6;
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    left: 0;
}
#progress li:before {
	top: -1px;
}
#progress li:after {
	top: 0;
    border-left: 27px solid #ffffff;
    border-top: 27px solid transparent;
    border-bottom: 27px solid transparent;
    z-index: 20;
}

#progress li.active {
    background: #1366a4;
    color: #fff;
}
#progress li.active i.ask-queston-icon {
	background-position: -40px -34px;
}
#progress li.active i.add-info-icon {
	background-position: -40px -68px;
}
#progress li.active i.option-info-icon {
	background-position: -40px -102px;
}
#progress li.active i.answer-icon {
	background-position: -40px -1px;
}
#progress li:first-child b{
	background: #1366a4;
    position: absolute;
    top: 0;
    width: 1000px;
    height: 100%;
    z-index: -1;
     right: 100%;
}
#progress.waitingroom {
	background: #1366a4;
}
#progress li.active:after,
#progress li.active:before {
    border-left-color: #fff;
}

#progress>li:first-child:after {
	border-left: 28px solid #1366a4;
}
#progress li.active:after,
#progress>li.active+li:after,
#progress>li.active:last-child+li:after {
    border-left: 28px solid #1366a4;
    z-index: 20;
}

#progress>li.active:last-child+li:before {
	border-left: 28px solid #e6e6e6;
}
#progress.waitingroom>li:last-child {
	background: none;
}

#progress p{
	margin-top:3px;
}