body {
	font-family: Roboto, Arial, sans-serif;
}
.left{
	width: 400px;
	float:left;
}

.head{
	float:left;
	width: 100%;
}

.head p{
	color:#ffa000;
	font-weight: bold;
	float:left;
	margin-top: -13px;
	margin-left:59px;
}

.head h1 {
  color: #3e4545;
  font: 700 15px roboto light, sans-serif;
  float: left;
  margin-top: -2px;
  margin-left: 80px;
}

.below{
	float:left;
	width: 427px;
	margin-top:30px;
	background: #ff8a65;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #ffffff;
	margin-left: 55px;
	position: relative;
}
.below:before{
	top: -16px;
    left: 0;
    margin-left: 0;
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border: 20px solid rgba(255,138,101,0);
    border-left-color: #ff8a65;
}

.below p{
	float:left;
	width: 100%;
	font:700 22px/50px Roboto, Arial, sans-serif;
	text-align: center;
	height: 50px ;
}

.below p b{
	color:#ffa000;
	font-weight: bold;
}
.bg-medical {
	width: 100%;
	height: 600px;
	background: url(../images/ask-a-doctor-image-header.png) no-repeat center right;
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	padding-top: 0px;
	margin-top: 0;
}
.bg-medical .sub-wrap {
	height: 504px;
	padding-top: 30px;
}
.right{
	float:right;
	width: 600px;
}

.right > p{
	font-weight: bold;
	font-size:14px;
}

.right .one{
	margin-top:0px;
	float:left;
	padding:10px;
	width: 100%;
}
.right .one .pull-left { 
	float: left;
 }
.right .one .btn {
	background: rgba(255,255,255, 0.8);
	font-size: 15px;
	font-family: roboto, sans-serif;
	color: #3e4545;
	text-decoration: none;
	padding: 5px 25px;
	float: right;
	margin-top: 5px;
	margin-right: 40px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;

}
.bx-viewport{
	padding-top:7px;
	height: 168px!important;
}
.right .one img{
	margin-right:10px;
	text-align: center;
}

.right .one .two{

	margin-bottom:5px;
	margin-top:5px;
	text-align: center;
	padding: 5px 15px;
	display: table-cell;
	vertical-align: bottom;
	position: relative;
}
.right .one .two:after{
	top: 15px;
    right: 0;
    margin-left: 0;
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border: 8px solid rgba(255,160,0,0);
    border-left-color: #ffa000;
}
.right .one .two:last-of-type:after {
	border: none;
}
.right .one p{
	color:#ffa000;
	font-weight: 400;
	font-size:12px;
}


.question{
	float:left;
	margin-top: 50px;
	width: 100%;
	min-height: 334px;
	position: relative;
}
.question h1 {
	font-size: 36px;
	padding-bottom: 40px;
	color: #3f3f3f;
}
.medical-assist {
	width: 334px;
	height: 334px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	z-index: 5;
	background: #ccc;
	right: 0;
	border: 22px solid #fff;
	background-image: url(../images/medical.jpg);
}
.choose{
	float:left;
	width: 141px;
	margin-top:0px;
	background: #e3e5e5;
}

.choose h2{
	background:rgb(255, 255, 255);
	padding:3px 5px 0px;
	width: 135px;
	float:left;
	min-height: 37px;
	font-family: Roboto, Arial, sans-serif;
	font-weight: 400;
	color:#4e5757;
	font-size:15px;
	text-align: center;
	line-height: 35px;
	cursor:pointer;
	border-left: 1px solid #c7caca;
	border-top: 1px solid #c7caca;
	border-bottom: 1px solid #c7caca;
	margin-bottom: 1px;
}


.choose h2 span {
	padding-top: 15px;
}
.choose h2:hover, .choose h2.active {
	background:#0065a2;
	color:#ffffff;
	border-left: 1px solid #0065a2;
	border-top: 1px solid #0065a2;
	border-bottom: 1px solid #0065a2;
}

.emailerror {
    display: none;
    padding: 8px 10px;
    position: absolute;
    color: #333;
    border: 2px solid #FF0303;
    bottom: 21px;
    left: 309px;
    width: 208px;
    background: url("../images/x.png") no-repeat 90% 50%;
    -webkit-background-size: 20px auto;
    background-size: 15px auto;
    background-color: #fff;
    font-size: 14px;
    cursor: pointer;
}


.spanchange{
	background:#1B92AB;
	color:#ffffff;
}


.text{
	margin-left:5px;
	padding:20px;
	background:#0065a2;
	float:left;
	width: 648px;
	box-sizing: border-box;
}

.text textarea{
	float:left;
	width: 96%;
	padding:2%;
	height: 177px;
	font-size:16px;
	margin:0px;
	border:none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.text .bottom{
	float:left;
	width: 100%;
	margin-top:0px;
}

.text .bottom .changetext{
	float:left;
	width: 100%;
	font-weight: bold;
	color:#ffffff;
	font-size:14px;
}

.text .bottom .one{
	float:right;
	margin-top:0px;
	width: 100%;
	margin-top: 20px;
}

.text .bottom .one p{
	float:left;
	margin-right:5px;
	color:#ffffff;
	font-size:18px;
	margin-top:10px;
	margin-left:59px;
}
.email, .password {
	float: right;
}


.password {
	margin-top: 5px;
	margin-right: 0px;
	position:relative;
	right:232px;
    float: right;
    margin-top: 10px;
}
.password input {
	width: 200px;
}
.text .bottom .one .spillerror {
	font-size: 12px;
	text-decoration: none;
}


.text .bottom .one input{
	height: 35px;
	width: 200px;
	float:right;
	font-size: 12px;
	margin-top:0px;
	padding-left:15px;
	padding-right: 15px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.customer-content a{
		display:block;
		background: #ffa200;
}

.text .bottom .one a,.customer-content a{
	background: #ffa200;
	height: 38px;
	line-height: 38px;
	margin-top: -6px;
	float:right;
	overflow:hidden;
	text-align: center;
	color: #fff;
	margin-top: 0px;
	margin-left:20px;
	font-family: roboto, sans-serif;
	font-size: 20px;
	padding-left: 25px;
	padding-right: 25px;
	cursor:pointer;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
}

.customer-content a {
	float: left;
    text-decoration: none;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 25px;
    padding-right: 25px;
}
.text .bottom .one a:hover,
.customer-content a:hover{
	opacity:.8;
}

.z{
	display:none;
}

.sliders{
	float:left;
	width: 100%;
	margin-top:22px;
}

.sliders .one{
	width: 100%;
	float:left;
}
.sliders .our-doc-one {
	float: left;
}
.sliders .our-doc-one .bxslider {
	padding-top: 35px;
	
	margin-top: 20px;
}
.sliders .our-doc-one .bx-viewport {
	height: 255px!important;

}
.sliders .our-doc-one .bxslider li {
	position: relative;
	-webkit-transition: -webkit-transform 0.3s linear;
    -moz-transition: -moz-transform 0.3s linear;
    -o-transition: -o-transform 0.3s linear;
    transition: transform 0.3s linear;

}
.sliders .our-doc-one .certified-doctor{
	position: absolute;
	top: 30px;
    left: 55%;
	z-index: 1;
}

.sliders .news-one {
	width: 100%;
	min-height: 50px;
	margin-right: 0
}

.sliders .one:last-of-type{
	float:right;
	margin-right: 0;
}

.sliders .one:first-of-type{
	margin-right:60px;
}

.sliders .one > p{
	font-weight: bold;
	font-size:14px;
}
.clearfix:after {
    visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}


.sliders .one > h2 {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 34px;
  color: #5f5f5f;
  padding-bottom: 15px;
  text-align: center;
}
.sliders .our-doc-one > h2 {
	padding: 20px 0 30px; 
}
.concept-seen-on {
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	margin-top: 0px;
}
.sliders .news-one {
	width: 1024px;
	margin: 0 auto!important;
	float: none!important;

}
.sliders .news-one >h2{
	margin-top: 20px;
	border-bottom: 0;
	padding-bottom: 0;
	font-size: 10px;
	text-align: left;
}

.sliders .one .box{
	float:left;
	width: 100%;
	min-height: 270px;
	margin-top:5px;
}
.sliders .news-one .box {
	min-height: 50px;
	margin-top: 0;
	padding: 15px 0;
}

.sliders .one .box .bg{
	float:left;
	width: 143px;
	height: 40px;
	display:block;
	margin:15px;
	background-repeat: no-repeat;
}
.sliders .one .box .bg:last-of-type {
	margin-right: 0
}
.sliders .one .midbox .customer-content {
	width: 407px;
	position: absolute;
	top: 185px;
	box-sizing: border-box;
	padding: 20px;
	left: 60%;
}
.sliders .one .midbox p{
	font-size:14px;
	padding:10px;
	line-height: 18px;
	color: #9e9e9e;
}
.sliders .one .midbox .customer-content p {
	font-family: Roboto, Arial, sans-serif;
	font-size: 20px;
	font-style: italic;
	line-height: 28px;
	color: #4e5757;
}
.sliders .one .midbox h1{
	float:right;
	padding-right:10px;
	font-weight: bold;
	font-size:12px;
	text-align: right;
}

.sliders .one .box3 p{
	font-size:13px;
	display:inline-block;
	float:none;
	line-height: 18px;
}
.sliders .one .box3 p:first-of-type{
	font-size:16px;
	padding-top:10px;
	line-height: 30px;
}
.sliders .one .box3 img{
	margin-right:10px;
	margin-bottom:10px;
	margin-top: 20px;
	margin-left: 20px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.sliders .one .box3 h1{
	padding-right:10px;
	font-weight: bold;
	padding-top:10px;
	font-size:12px;
	text-align: left;
}
.sliders .one .box3{
	position:relative;
	background-color: #e8eeee;
	padding: 20px 0 30px;
    margin-bottom: 38px;
}
.sliders .one .box3 .media-profile {
	float: left;
	width: 104px;
}
.sliders .one .box3 .media-profile span {
	font-size: 13px;
	text-align: center;
	display: block;
	margin-top: 5px;
}
.sliders .one .box3 .media-profile img {
	display: block;
}
.sliders .one .box3 .stars {
	width: 83px;
    margin: 0 auto;
}
.sliders .one .box3 .star {
    fill: #ff9009;
}
.sliders .one .box3 .doct-desc {
	float: left;
	width: 205px;
}
.icon_s {
    width: 12px;
    height: 12px;
}
.midbox{
	position:relative;
}
.our-doc-one .bxslider li {
	background-color: #fff;
	margin-right: 20px;
	height: 158px;
	-webkit-box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.12);
	-moz-box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.12);
	box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.12);
}
.customer-testimonials h2 {
	margin-bottom: -85px;
	position: relative;
	z-index: 1;
}
.customer-testimonials .midbox {
	height: 658px;
	position: relative;
}
.customer-testimonials .midbox p{
	position: relative;
	z-index: 1;
}
.customer-testimonials .bx-viewport {
	height: auto!important;
}
.bx-controls-direction{
	 width: 37px;
	 margin: 0 auto;
	 margin-top: 20px;
}
.customer-testimonials .bx-controls-direction,
.bx-controls-direction {
	position: absolute;
	z-index: 1;
	top: 300px;
	width: 100%;
	left: 0;
	box-sizing: border-box;
}
.bx-controls-direction {
	top: 110px;
}
.bx-prev{
	margin-left: 35px!important;
}

.bx-prev ,.bx-next {
	color : #1B92AB;
	background:url(../images/slider-nav.png) no-repeat;
	width: 37px;
	height: 58px;
	display: block;
	text-indent: -5555px;
}
.bx-next  {
	margin-right: 35px!important;
}
.sliders .one .box .b1{
	background:url(../images/today.png) no-repeat;
}
.sliders .one .box .b2{
	background:url(../images/today.png) no-repeat;
	background-position: 0 -46px;
}
.sliders .one .box .b3{
	background:url(../images/today.png) no-repeat;
	background-position: 0 -86px;
}
.sliders .one .box .b4{
	background:url(../images/today.png) no-repeat;
	background-position: 0 -130px;
}
.sliders .one .box .b5{
	background:url(../images/today.png) no-repeat;
	background-position: 0 -172px;
}
.sliders .one .box .b6{
	background:url(../images/today.png) no-repeat;
	background-position: 0 -215px;
}


/*  Active Slide CSS
---------------------
*/
.active-slide {
	-webkit-transition: -webkit-transform 0.3s linear;
    -moz-transition: -moz-transform 0.3s linear;
    -o-transition: -o-transform 0.3s linear;
    transition: transform 0.3s linear;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
    width: 330px!important;
    height: 170px!important;
}

.press-logos{
	height: 80px;
    position: relative;
    font-family: 'roboto light', sans-serif;
    font-size: 18px;
    font-size: 1.125rem;
     line-height: 80px;
    line-height: 1.5rem;
    color: #5f5f5f;
    padding: 0 0;
    margin: 0px auto 0;
    line-height: 80px;
}


.press-logos .news {
    display: inline-block;
    vertical-align: top;
    padding-right: 24px;
}

.press-logos .logo-block {
    display: inline-block;
    padding-right: 32px;
    vertical-align: middle;
    line-height: 100px;
}
.press-logos .cls-2 {
        fill: #5f5f5f;
        opacity: 0.8;
      }
.showcross{
	display:none;
}

.testimonial{
	width:100%;
	height: 662px;
	float:left;
}

.testimonial img {
	position: absolute;
	width: 100% 
}

.testimonial p:nth-child(2) {
    font-weight: bold;
}
.testimonial p:nth-child(3) {
    font-weight: bold;
}


.bx-controls-auto {
	display:none !important;
}

.bx-next, .bx-prev  {
	padding: 0;
	margin: 0;
	border: 0;
	font-size: 12px;
	float: left;
}
.bx-next{
	float: right;
	background-position: -58px 0;
}




.z{
	display:none;
}

.ctafmp{
	font-size:13px !important;
	text-decoration: none;
	display:none;
	background:none !important;
	box-shadow: none;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0) !important;
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0) !important;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0) !important;
}

.ctafmp:hover{
	color: rgb(243, 225, 68) !important;
}