body {
	background: #e8eeee;
	font-family: Roboto, Arial;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
.header-wrapper {
	background: #fff;
	padding-top: 30px;
	padding-bottom: 40px;
}

.left{
	width: 650px;
	float:left;
}

.head{
	float:left;
	width: 100%;
}

.head h1 {
  color: #3e4545;
  font: 15px Roboto light, Arial,sans-serif;
  float: left;
  margin-top: -2px;
  margin-left: 80px;
}

.head p{
  color: #3e4545;
  font: 700 15px Roboto light, Arial,sans-serif;
  float: left;
  margin-top: -2px;
  margin-left: 80px;
}


.below{
	float:left;
	width: 100%;
	margin-top:60px;
}

.below p{
	float:left;
	width: 100%;
	font-size:18px;
	text-align: center;
}

.below p b{
	color:#f46200;
	font-weight: bold;
}


.right{
	float:right;
	width: 320px;
}

.right > p{
	font-weight: bold;
	font-size:14px;
}

.right .one {
    margin-top: 270px;
    float: left;
    padding: 10px;
    position: relative;
}
.doc {
    width: 252px;
    height: auto;
    position: absolute;
}
.right .one h3 {
    margin-bottom: 20px;
    padding-left: 8px;
}
.right .one p {
    float: left;
    color: #0065a2;
    font-family: Roboto, Arial;
    font-weight: 500;
    font-size: 12px;
}
.right .one img{
	float:left;
	display: none;
}

.right .one .two{
	margin-bottom: 15px;
    margin-top: 5px;
    text-align: center;
    padding: 5px 15px 5px 45px;
    display: table-cell;
    vertical-align: bottom;
    position: relative;
}
.right .one .two:first-of-type:before {
    background: url(../images/payment-how-it-works.png) 0 0px;
}
.right .one .two:last-of-type:before {
    border: none;
    background: url(../images/payment-how-it-works.png) 0 -116px;
}
.right .one .two:before {
    top: 0px;
    left: 5px;
    margin-left: 0;
    content: " ";
    position: absolute;
    width: 30px;
    height: 30px;
    background: url(../images/payment-how-it-works.png) 0 -60px;
}
.right .one p{
    float: left;
    color: #0065a2;
    font-family: Roboto, Arial;
    font-weight: 500;
    font-size: 15px;
}
.header-wrapper .left {
	width: 400px;
}
.header-wrapper .right {
  float: right;
  width: 600px;
}
.header-wrapper .right .one {
	float: none;
}
.header-wrapper .right .one img {
	display: block;
}
.header-wrapper .right .one {
	margin-top: 0;
}
.header-wrapper .right .one .btn {
	background: rgba(255,255,255, 0.5);
	font-size: 12px;
	color: #3e4545;
	text-decoration: none;
	padding: 5px 25px;
	float: right;
	margin-top: 5px;
	margin-right: 60px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #e5e6e6;
}
.steps{
	float:left;
	width: 100%;
	margin-top:20px;
}

.obox{
	float:left;
	width: 100%;
	font-family: Roboto, Arial;
}

.obox h1{
	float:left;
	color:#3e4545;
	font-family: roboto;
	font-size: 36px;
	width: 100%;
	margin-top:25px;
	margin-bottom:20px;
}

.obox p{
	float:left;
	width: 100%;
	font-size:14px;
}
.obox > p{
	margin-bottom:30px;
}
.obox > a{
	margin-left:161px;
}
.skip{
	float:left;
	font-size:15px;
	color:#1366a4;
	text-decoration: underline;
	margin-top:12px;
	cursor:pointer;
}

.inputs{
	float:left;
	width: 100%;
	margin-top:10px;
	font-family: Roboto, Arial;
}

.inputs .one{
	float:left;
	width: 100%;
	margin-bottom:20px;
}

.inputs .one p{
	float:left;
	font-size:16px;
	font-weight: 300;
	color: #fff;
	width: 160px;
	background: #1366a4;
	text-align: center;
	padding: 8px 0;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
}
.inputs .opt-textarea p {
	float: none;
	width: 606px;
	text-align: left;
	text-indent: 25px;
}
.inputs .one input{
	float:left;
	padding:0px 10px 0px 10px;
	height: 34px;
	width: 180px;
	border: 1px solid #dbdbdb;
	text-indent: 4px;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
	font-family: roboto, sans-serif;
	font-size: 15px;
}

.inputs .one select{
	width: 201px;
	height: 36px;
	padding:0px 10px 0px 10px;
	border: 1px solid #dbdbdb;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
	font-family: roboto, sans-serif;
	font-size: 15px;
}

.inputs .one textarea{
	width: 560px;
	padding:20px;
	max-width: 560px;
	border: 1px solid #dbdbdb;
	max-height: 122px;
	text-indent: 4px;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
	font-family: roboto, sans-serif;
	font-size: 15px;
}

.continue{
	float:left;
	display:block;
	width: 160px;
	height: 45px;
	line-height: 45px;
	background:#ffa200;
	overflow:hidden;
	margin-right:20px;
	margin-left:0;
	color: #fff;
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
	padding-bottom: 4px;
}

.continue:hover{
	opacity:0.8;
}

.skip:hover{
	color:#b0bec5;
}

.doc{
	width: 252px;
	height: auto;
	padding-top: 10px;
}

.right .two{
	float:left;
	padding:5px;
}

.made-in {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 5px;
	padding-top: 20px;
	max-width: 35px;
	max-height: 40px;
}

.berlin {
	float: left;
	width: 100%;
	font-family: roboto, sans-serif;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}


#age{
	text-align: center;
	width: 40px !important;
	padding-left:20px !important;
	padding-right:20px !important;
}