body {
	    background: #e8eeee;
	     font-family: Roboto, Arial;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
.left{
	width: 930px;
	float:left;
}

.head{
	float:left;
	width: 100%;
}

.head p {
    color: #3e4545;
    font: 700 15px Roboto light, sans-serif;
    float: left;
    margin-top: -2px;
    margin-left: 80px;
}
.header-wrapper {
    background: #fff;
    padding-top: 30px;
    padding-bottom: 40px;
}
.header-wrapper .left {
	width: 400px;
}
.header-wrapper .right {
  float: right;
  width: 600px;
}
.header-wrapper .right .one {
	float: none;
}
.header-wrapper .right .one img {
	display: block;
}
.header-wrapper .right .one {
	margin-top: 0;
}
.header-wrapper .right .one .btn {
	background: rgba(255,255,255, 0.5);
	font-size: 12px;
	color: #3e4545;
	text-decoration: none;
	padding: 5px 25px;
	float: right;
	margin-top: 5px;
	margin-right: 60px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #e5e6e6;
}
.below{
	float:left;
	width: 100%;
	margin-top:60px;
}

.below p{
	float:left;
	width: 100%;
	font-size:18px;
	text-align: center;
}

.below p b{
	color:#f46200;
	font-weight: bold;
}


.right{
	float:right;
	width: 260px;
}

.right > p{
	font-weight: bold;
	font-size:14px;
}

.right .one {
    margin-top: 270px;
    float: left;
    padding: 10px;
    position: relative;
}
.doc {
    width: 252px;
    height: auto;
    position: absolute;
}
.right .one h3 {
    margin-bottom: 20px;
    padding-left: 8px;
}
.right .one p {
    float: left;
    color: #0065a2;
    font-family: Roboto, Arial;
    font-weight: 500;
    font-size: 12px;
}
.right .one img{
	float:left;
	display: none;
}

.right .one .two{
	width: 100%;
	margin-bottom: 15px;
    margin-top: 5px;
    text-align: center;
    padding: 5px 15px 5px 60px;
    display: table-cell;
    vertical-align: bottom;
    position: relative;
}

.right .one p{
	float:left;
	color:#1b92ab;
	font-size:12px;
	text-align: left;
}


.steps{
	float:left;
	width: 100%;
	margin-top:20px;
}

.obox{
	float:left;
	width: 100%;
	position:relative;
}

.obox h1{
	float: left;
	color: #3e4545;
    font: 700 15px Roboto light, sans-serif;
	font-size: 32px;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 10px;
}

.obox p{
	float:left;
	width: 100%;
	font-size:15px;
	padding-bottom: 40px;
}


.obox > a{
	margin-left:161px;
}

.obox img{
	position:absolute;
	top:35px;
	right:0px;
}



.watch{
	float:right;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	position:absolute;
	right:10px;
	top:20px;
	border: 1px solid #f00;
	width: 280px;
	height: 77px;
	padding-left:30px;
	background:url(../images/appointment_stopwatch.gif) no-repeat 6px 6px;
}
.watch p{
	text-align: center;
	width: 100%;
	font-weight: bold;
	color:#1b92ab;
	font-size: 14px;
	margin-top: 6px;
}

.paymentswap{
	float:left;
	width: 100%;
	margin-top:20px;
}

.paymentswap .one{
	float:left;
	margin-top:10px;
	width: 100%;
}

.paymentswap .one p{
	float:left;
	width: 150px;
	margin-top:5px;
	font-size:12px;
}

.paymentswap .one input{
	height: 21px;
	float:left;
}

.paymentswap .one select{
	height: 30px;
	float:left;
}

.helper{
	float:left;
	margin-left:20px;
	margin-top:5px;
}

.paymentswap .two{
	float:left;
	margin-top:10px;
	width: 100%;
	margin-bottom:20px;
}

.paymentswap .two p{
	font-size:12px;
	float:left;
}

.paymentswap .two p a{
	color:#1B92AB;
	text-decoration: underline;	
}

.paymentswap .two p a:hover{
	color:#b0bec5;
}

.paymentswap .two img{
	float:left;
	margin-right:10px;
}

.obox a{
	color:#1B92AB;
}

.obox a:hover{
	color:#b0bec5;
}

.endcta{
	float:left;
	width: 100%;
}

.endcta a{
	margin-left:188px;
	display:block;
	width: 152px;
	height: 42px;
	background:url(../images/continue.gif)no-repeat;
	text-indent: -88999px;
	overflow:hidden;
	float:left;
}

.endcta a:hover{
	opacity:.8;
}

.endcta img{
	float:right;
}

.right .two{
	float:left;
	padding:5px;
	margin-top:240px;
	background-color: #ffffff;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
}


.doc{
	width: 252px;
	height: auto;
}

.right .how{
	float:left;
	width: 280px;
	padding:20px;
	background:#eaf9fc;
	margin-top:20px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.right .how h1{
	font-size:16px;
	font-weight: bold;
	margin-bottom:10px;
}

.right .how p{
	font-size:12px;
	font-weight: bold;
}

.right .how p a{
	color:#1B92AB;
}

.right .how span{
	font-size:11px;
}

.right .how p a:hover{
	color:#b0bec5;
}


.right .who{
	float:left;
	width: 280px;
	padding:20px;
	background:#F4EFE0;
	margin-top:20px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
.right .who img{
	display:block;
	margin:0px auto;
}

.right .who p{
	font-size:12px;
	float:left;
	width: 100%;
	margin-top:10px;
	margin-bottom:10px;
}

.right .who h1{
	font-weight: bold;
	font-size:12px;
	font-style:italic;
}


.right .what{
	float:left;
	width: 280px;
	padding:20px;
	position:relative;
	background:#F4EFE0;
	margin-top:20px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
.right .what img{
	position:absolute;
}

.right .what p{
	font-size:12px;
	float:left;
	margin-top:10px;
	margin-bottom:10px;
	width: 250px;
	margin-left:20px;
	margin-right:20px;
}

.right .what h1{
	font-weight: bold;
	font-size:12px;
	font-style:italic;
	float:right;
	width: 100%;
	text-align: right;
}

.mini{
	float:left;
	width: 100%;
	padding-bottom: 22px;
}

.mini .l{
	float:left;
	width: 350px;
	background:#fff;
	border:1px solid #daedf1;
	padding: 25px 0 15px;
	margin-right: 145px;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
	margin-left: 0px;
	position: relative;
}

.mini .r{
	float:left;
	width: 300px;
	padding:10px;
}


.mini .l .one{
	float:left;
	width: 300px;
	margin-left: 25px;
	margin-bottom: 5px;
}
.mini .l .one .profile-avatar {
	float: left;
}
.mini .l .one .profile-desc {
	float: left;
	width: 200px;
}
.mini .l .one .odoc{
	margin-bottom:10px;
	margin-right:10px;
	float:left;
}

.mini .l .one h1{
	font-size:12px;
}

.mini .l .one p{
	font-size:15px;
}

.bluetext{
	font-weight: bold;
	color:#5f5f5f;
	font-size:14px;
	margin-top:10px;
	margin-bottom:5px;
	padding: 8px 32px;
}

.mini .l .two{
	float:left;
	border:1px solid #399;
	width: 260px;
	padding:10px;
	background:#ffffff;
}

.mini .l .two .half{
	float:left;
}

.mini .l .two .half p{
	width: 100%;
	font-size:12px;
	text-align: center;
}

.mini .box{
	width: 264px;
	padding:10px;
	margin: 0 auto;
	background:#ffffff;
}

.mini .box p{
	font-size:14px;
	width: 100%;
	float:left;
	padding-bottom:5px;
}
.mini .box .z > p:nth-of-type(1){
	font-size:14px;
	font-weight: 	bold;
}

.mini .box p.desc {
	width: 100%;
}
.mini .box h1{
	font-size:11px;
	float:right;
	width: 155px;
	font-weight: bold;
}

.mini .box .z{
	float:left;
	padding-bottom:10px;
	width: 100%;
}

.r > p{
	line-height: 14px;
	font-size:11px;
}


.r .two{
	float:left;
	position:relative;
	width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.r .two > p{
	padding-bottom:30px;
	font-size:14px;
	float:left;
	width: 100%;
}
.r .two #range-one{
	margin: 25px 0px 25px 0px;
	float:left;
	width: 6px;
	border-radius:0px !important;

}
.r .two .noUi-target {
	width: 330px;
	height: 10px;
}
.r .two .noUi-horizontal .noUi-handle {
	background: #1366a4;
	border: 0;
	width: 28px;
	height: 28px;
	top: -10px;
	left: -1px;
	border: 8px solid #fff;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	z-index: 2;
}
.r .two #range-two{
	margin: 25px 0px 25px 0px;
	float:left;
	width: 6px;
	border-radius:0px !important; 
}


.r .two .text{
	margin-top: -9px;
	margin-left: 5px;
}

.r .two .text p{
	float:left;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 31%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size:14px;
    padding-top: 15px;
	padding-bottom:35px;
	text-align: center;
	padding-left: 1px;
}
.r .two .text p:first-of-type {
	text-align: left;
}
.r .two .text p:last-of-type {
	text-align: right;
}
.noUi-target{
	margin-left:0px;
}

.scroll{
	float:left;
	width: 100%;
}

.r .last{
	float:left;
	width: 100%;
	position:relative;
}

.r .last p{
	font-size:15px;
	font-weight: bold;
}
.bluebox{
	color:#0065a2;
}
.bluebox:hover{
	color:#0065a2;
}
/* Slider handle color
------------------------
*/
.noUi-horizontal .noUi-origin {
	background: #fff;
	cursor:pointer;
 -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}
.noUi-horizontal .noUi-origin:hover{
	opacity:.8;
}
.noUi-horizontal .noUi-base {
	background: #3191d9;
	border: 0;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
	z-index: 1;
}
.noUi-horizontal .lowslider {
	width: 26px;
	height: 26px;
	background: #f00;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position: absolute;
	display: inline-block;
	z-index: 1;
	top: -8px;
}
.noUi-vertical .noUi-handle {
	background-color: #1366a4;
	border: 3px solid #fff;
}
.two .noUi-vertical {
	height: 190px;
}

/* New Slider Styles
------------------------
*/
.slide-wrapepr-new {
	width: 320px;
	position: relative;
	clear: both;
}
.slide-wrapepr-new .slide-base {
	width: 320px;
	height: 4px;
	background: #fff;
	position: absolute;
	top: 20px;
}
#navi {
	width: 320px;
	height: 4px;
}
#navi li,
#navi1 li {
	list-style: none;
	margin-right: 91px;
	float: left;
	position: relative;
	z-index: 1;
}
#navi li:last-child,
#navi1 li:last-child  {
	margin-right: 0;
}
#navi li a,
#navi1 li a  {
	display: block;
	width: 46px;
	height: 46px;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 23px;
	background-color: white;
/*	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;*/
	box-sizing: border-box;
}
#navi li a:hover,
#navi1 li a:hover  {
	 background-color: #d5e9f8;
	 /*border: 14px solid #fff;*/
}
#navi li a.active,
#navi1 li a.active
{
	box-sizing: border-box;
    background-color: #0065a2;
	border: 14px solid #fff;
}
.submit{
	float:left;
	display:block;
	width: 335px;
	height: 45px;
	line-height: 45px;
	background:#ffa200;
	overflow:hidden;
	margin-top:35px;
	margin-left:0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);

}

.submit:hover{
	opacity:0.8;
}

.sliderheader {
	font-size: 18px;

}
