h1 {
	margin: 30px 0;
	font-size: 24px;
	font-weight: bold;
	color: #1b92ab;
}

p {
	margin: 5px 0;
}

header {
	float: none;
}

.one {
	width: 1024px;
	margin: 0 auto;
}

p:first-child {
	margin: 20px 0;
	color: #1b92ab;
}

.center {
   margin: 0 0  0 60px;
} 

.center:first-child {
    margin: 20px;
}

.center:last-child {
	margin-bottom: 20px;
}

.head p{
	color:#f90;
	font-weight: bold;
	float:left;
	margin-left:58px;
}

.head{
	float:left;
	width: 100%;
}



.left{
	width: 650px;
	float:left;
}

.head{
	float:left;
	width: 100%;
}

.head p{
	color:#f90;
	font-weight: bold;
	float:left;
	margin-top: -13px;
	margin-left:59px;
}


.below{
	float:left;
	width: 100%;
	margin-top:60px;
}

.below p{
	float:left;
	width: 100%;
	font-size:18px;
	text-align: center;
}

.below p b{
	color:#f46200;
	font-weight: bold;
}


.right{
	float:right;
	width: 320px;
}

.right > p{
	font-weight: bold;
	font-size:14px;
}

.right .one{
	margin-top:10px;
	float:left;
	border:1px solid #e2e2e2;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	background:#ECF9FB;
	padding:10px;
	width: 300px;

}

.right .one img{
	float:left;
}

.right .one .two{
	float:left;
	width: 100%;
	margin-bottom:5px;
	margin-top:5px;
}

.right .one p{
	float:left;
	color:#1b92ab;
	font-weight: bold;
	font-size:14px;
}
.one{
	float:left;
}

h1{
	float:left;
	width: 100%;
}