body {
	    background: #e8eeee;
	     font-family: Roboto, Arial;
}
.left{
	width: 650px;
	float:left;
}

.head{
	float:left;
	width: 100%;
}

.head p {
    color: #3e4545;
    font: 700 15px Roboto light,sans-serif;
    float: left;
    margin-top: -2px;
    margin-left: 80px;
}
.header-wrapper {
    background: #fff;
    padding-top: 30px;
    padding-bottom: 40px;
}
.header-wrapper .left {
	width: 400px;
}
.header-wrapper .right {
  float: right;
  width: 600px;
}
.header-wrapper .right .one {
	float: none;
}
.header-wrapper .right .one img {
	display: block;
}
.header-wrapper .right .one {
	margin-top: 0;
}
.header-wrapper .right .one .btn {
	background: rgba(255,255,255, 0.5);
	font-size: 15px;
	font-family: roboto light, sans-serif;
	color: #3e4545;
	text-decoration: none;
	padding: 5px 25px;
	float: right;
	margin-top: 5px;
	margin-right: 60px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: 1px solid #e5e6e6;
}


.below{
	float:left;
	width: 100%;
	margin-top:60px;
}

.below p{
	float:left;
	width: 100%;
	font-size:18px;
	text-align: center;
}

.below p b{
	color:#f46200;
	font-weight: bold;
}


.right{
	float:right;
	width: 320px;
}

.right > p{
	font-weight: bold;
	font-size:14px;
}


.right .one img{
	float:left;
}

.right .one .two{
	float:left;
	width: 100%;
	margin-bottom:5px;
	margin-top:5px;
}

.right .one p{
	float:left;
	color:#1b92ab;
	font-weight: bold;
	font-size:14px;
}


.steps{
	float:left;
	width: 100%;
	margin-top:50px;
}

.obox{
	float:left;
	width: 100%;
}

.obox h1{
	float:left;
	color:#1B92AB;
	font-weight: bold;
	font-size:22px;
	width: 100%;
	margin-top:15px;
	margin-bottom:10px;
}

.obox p{
	float:left;
	width: 100%;
	font-size:14px;
}
.obox > p{
	margin-bottom:30px;
}
.obox > a{
	margin-left:161px;
}
.skip{
	float:left;
	font-size:12px;
	color:#1B92AB;
	text-decoration: underline;
	font-weight: bold;
	margin-top:10px;
}

.inputs{
	float:left;
	width: 100%;
	margin-top:10px;
}

.inputs .one{
	float:left;
	width: 100%;
	margin-bottom:10px;
}

.inputs .one p{
	float:left;
	font-size:12px;
	font-weight: bold;
	margin-right:10px;
	width: 150px;
	margin-top:4px;
}

.inputs .one input{
	float:left;
	height: 21px;
	width: 160px;
	border: 1px solid #1b92ab;
}

.inputs .one select{
	width: 162px;
	height: 26px;
	border: 1px solid #1b92ab;
}

.inputs .one textarea{
	width: 400px;
	max-width: 400px;
	border: 1px solid #1b92ab;
	max-height: 122px;
}

.continue{
	float:left;
	display:block;
	width: 152px;
	height: 42px;
	background:url(../images/continue.gif) no-repeat;
	text-indent: -88888px;
	margin-right:20px;
	margin-left:159px;
}

.continue:hover{
	opacity:0.8;
}

.skip:hover{
	color:#f90;
}

.doc{
	width: 252px;
	height: auto;
}

.right .two{
	float:left;
	margin-top:334px;
	padding:5px;
	-webkit-box-shadow: 3px 5px 8px 2px rgba(225, 225, 225, 0.8);
	box-shadow: 3px 5px 8px 2px rgba(225, 225, 225, 0.8);
}


.obox{
	margin-top:30px !important;
}
.obox h1 {
	font-size: 36px;
	color: #3e4545;
	font-weight: 300;
	position: relative;
}
.obox h1:after {
	content: '';
	background: url("../images/tick-green.png");
	width: 34px;
	height: 34px;
	position: absolute;
	top: -7px;
	left: 197px;
}
.obox h1 span {
	font-size: 26px;
	color: #3e4545;
	padding: 30px 0;
	display: block;
	padding-left: 2px;
	padding-bottom:30px;
}
.thanks{
	float:left;
	width: 100%;
}


.thanks .box{
	float:left;
	width: 670px;
	border:1px solid #fff;
	background:#fff;
	padding:5px 30px 40px;
	-webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.18);
	-moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.18);
	box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.18);
	box-sizing:border-box;
}
.thanks .box h2 {
	font-size: 22px;
	color: #ffa200;
	font-weight: 300;
	margin: 35px 0 10px;
}
.thanks .box .one{
	width: 100%;
	margin-top:5px;
}


.thanks .box .one img{
	float:left;
	margin-right:10px;
}
.thanks .box .one p{
	float:left;
	margin-top:10px;
	line-height: 25px;
	font-size:18px;
}

.thanks .box .one p span {
	color: #0065a2;
	font-size: 24px;
	font-weight: 300;
	padding-right: 12px;
}

.thanks .box h1{
	float:left;
	width: 100%;
	color:#f90;
	font-weight: bold;
}

.thanks .box > p{
	float:left;
	margin-top:30px;
	font-size:12px;
	margin-left:40px;
}

.thanks .out{
	float:left;
	margin-left:30px;
	margin-top:10px;
}

.thanks .out p{
	float:left;
	width: 100%;
	font-size:14px;
}
.medical-seal img {
	margin-top: 180px;
}
.content-padd {
	padding-bottom:  295px;
}
.blueout{
	color:#1b92ab;
}

