.index .heading {
float: left;
width: 100%;
background: url(../../images/global/heading-pharmacist.jpg) no-repeat center center;
background-size: 100%;
/*height: 738px;*/
}

.lists .one {
	background: rgba(77,177,164,0.1);
	min-height: 330px; 
}

.news .right {
  float: left !important;
  width: 275px !important;
}

.doc > img {
   border-radius: 50%;
  }

.rightside .doc .one p {
     width: 102% !important;
}

.news #sl1 {  
    display: none;
}
.news #sl2 {  
    display: none;
}
.news #sl3 {  
    display: none;
}
.news #sl4 {  
    display: none;
}
.news #sl5 {  
    display: none;
}
.news #sl6 {  
    display: none;
}

.staticlink .news p {
    display: none;
}


.staticlink .news .whatever p {
    display: block;
}

.whatever ul li {
  font-size: 14px;
  line-height: 22px;
  color: #696969;
  font-family: 'roboto';
}

.whatever ul {
   margin: -20px 0 0 0;
   font-weight: bold;
}


.lists .one {
  padding: 13px;
}

.lists .one > p {
  color: #696969;
}


.lists .one ul li .right p {
   color: #696969;
   padding-bottom: 10px;
  }

  .lists .one:first-of-type {
      margin-right: 10px;
   }

.whatever ul li:first-child {
  margin-top: 20px;
}




.doctors #sl1 {  
    background: url(../../images/index/an/doctors.jpg) 0 0;
}
.doctors #sl2 {  
    background: url(../../images/index/an/doctors.jpg) 33.3% 0;
}
.doctors #sl3 {  
    background: url(../../images/index/an/doctors.jpg) 66.6% 0;
}
.doctors #sl4 {  
    background: url(../../images/index/an/doctors.jpg) 100% 0;
}
.doctors #sl5 {  
    background: url(../../images/index/an/doctors.jpg) 0 33.3%;
}
.doctors #sl6 {  
    background: url(../../images/index/an/doctors.jpg) 33.3% 33.3%;
}


.customers #sl1 {  
    background: url(../../images/index/an/customers.jpg) 0 0;
}
.customers #sl2 {  
    background: url(../../images/index/an/customers.jpg) 14.2% 0;
}
.customers #sl3 {  
    background: url(../../images/index/an/customers.jpg) 28.5% 0;
}
.customers #sl4 {  
    background: url(../../images/index/an/customers.jpg) 42.8% 0;
}
.customers #sl5 {  
    background: url(../../images/index/an/customers.jpg) 57.1% 0;
}
.customers #sl6 {  
    background: url(../../images/index/an/customers.jpg) 71.4% 0;
}
.customers #sl7 {  
    background: url(../../images/index/an/customers.jpg) 85.7% 0;
}
.customers #sl8 {  
    background: url(../../images/index/an/customers.jpg) 100% 0;
}









/*MEDIA QUERIES*/


/*pagewidth =  748*/
@media only screen 
and (min-width : 768px) 
and (max-width : 1023px){

  .index .heading{
      background: url(../../images/global/heading.jpg) no-repeat 16% 64%;
  }
  .lists .one {
    min-height: 0;
  }
}

@media only screen 
and (min-width : 1024px) 
and (max-width : 1200px){
    .index .heading{
        background: url(../../images/global/heading.jpg) no-repeat 60% center;
    }

}