

    <script type="text/javascript">
             // jQuery code to generate bullet points 
                      var index = 2 ;
                    	$('.add-bullet-button').unbind().click(function(e) {
                        e.stopPropagation() ;
                    	var region = $(this).parent('div').attr('region') ; 
                      var iterations = $(this).parent('div').attr('iterations') ; 
                      var id = $(this).parent('div').attr('elementid') ; 

                       console.log(iterations);


                       if(iterations == '' ) 


                       {

                        iterations = 1 ;

                         }

                       for (var i=0;i<iterations;i++)
                       {

                      bulletId = id+'_'+index ;
                    	 $(this).parent('div').parent('div').append('<div><input id="'+bulletId+'_docname" elementid="'+bulletId+'_docname" type="bullet" class="form-control dataInput bullet-input" placeholder="Doctor Name"  region="'+region+'"/><input id="'+bulletId+'" elementid="'+bulletId+'" type="bullet" class="form-control dataInput bullet-input" placeholder="Question" region="'+region+'"/><textarea id="'+bulletId+'_answer" elementid="'+bulletId+'_answer" type="bullet" class="form-control dataInput bullet-input jqte"  region="'+region+'">Answer</textarea><button  class="btn btn-danger delete-bullet-button" ><span class="glyphicon glyphicon-minus-sign"></span></button><hr></div>');
                       index ++ ; 

                    }

                      });



                          // Delete Generated field
                         $('.bullets').on('click','.delete-bullet-button',function() {  
                          $(this).parent('div').remove() ; 
                            });


                      

                </script>
<div class="form-group"  > 
    <label class="col-sm-2 control-label" for="{{idInputElement}}">{{labelInput}}</label> 
        <div class="col-sm-10 bullets {{idInputElement}}"> 
           <div  elementid='{{idInputElement}}' region="{{regionInputElement}}" iterations="{{iterationsInputElement}}" >
 
            <button  class="btn btn-success add-bullet-button" style='margin: 0px 0px;' ><span class="glyphicon glyphicon-plus-sign"></span></button>
           </div>
        </div>
</div>


                                                      